{% extends 'teacher/base.html' %}
{% block Activity %}
active
{% endblock %}

{% block content %}
{% load static %}
{% load i18n %}
    <!-- main wrapper start -->
    
    <section class="main-wrapper">
        <div class="row page-title-wrapper dash-title-wrapper align-items-center">
            <div class="col-md-4">
                 <!-- time-period start -->
             
                 <h3 class="page-title">{% trans "Activities" %}</h3>
              
                <!-- time-period end -->
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <div class="search-wrapper mt-2">
                    <form>
                        <div class="form-group">
                            <span>
                                <img src="{% static 'img/website/search.png' %}" alt="search-icon">
                            </span>
                            <input type="text" id="serchActivity" class="form-control" placeholder="{% trans 'Search Activity' %}">
                        </div>
                    </form>
                </div>
                </div>
                
            </div>
            
            
            <div class="col-md-4">
                <div class="text-right">
                <!-- time-period start -->
                    <div class="time-period">
                        <form class="form-inline">
                            <label for="Time ">{% trans "Select Period" %}</label>
                            <div class="input-group datepicker date ml-1" data-date-format="dd.mm.yyyy">                          
                                <input type="text" placeholder="DD/MM/YYYY" class="form-control " name="daterange" value=" ">
                                <div class="input-group-append icon">
                                    <span class="">
                                        <img src="{% static 'img/website/calendar.png' %}" alt="calendar">
                                    </span>
                                </div>                          
                            </div>
                        </form>
                    </div>                    
                    <!-- time-period end -->             
                </div>             
            </div>
        </div>
        <!-- title row end -->
        <!-- all activites section start -->
        <section id="activity">
        {% for activity in activities %}
        {% if activity.student_report_data.student.studio.id == teacher_obj.studio.id %}
        
            <div class="row activity-wrapper">        
                <div class="col-sm-12">
                    <h3 class="page-title color-black">Date : {{activity.student_report_data.created_at|date:'d F,Y'}}</h3>
                        <ul class="all-student-list activity-list">
                            
                            <ul id="{{activity.student_report_data.student.id}}{{activity.lesson.subject.id}}{{activity.lesson.id}}" class="score all-student-list activity-list">
                                {% for comment in comments %}
                                    {% if comment.subject.id == activity.lesson.subject.id and comment.lesson.id == activity.lesson.id and comment.commented_on_id == activity.student_report_data.student.id and comment.commented_by_id == teacher_obj.id %}
                                    <li>
                                        <a href="javascript:void(0)">
                                            <span>
                                                <img src="{{activity.student_report_data.student.image.url}}" alt="user">
                                            </span>
                                            <h6 class="name">
                                                    <span>{{teacher_obj.full_name|title}}</span>
                                                    commented on <span>{{activity.student_report_data.student.full_name|title}}</span> for {% if activity.student_report_data.student.gender == 'Male'  %} his {% else %} her {% endif %}{{activity.lesson.subject.subject_name}} Lesson - <span>{{comment.message}}</span>
                                            </h6>
                                            
                                            <div class="count">
                                                {{activity.student_report_data.created_at|time:'f A'}}
                                            </div>
                                        </a>
                                    
                                    </li>
                                    {% endif %}
                                {% endfor %}
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>
                                            <img src="{{activity.student_report_data.student.image.url}}" alt="user">
                                        </span>
                                        
                                        <h6 class="name">
                                            
                                            <span>{{activity.student_report_data.student.full_name|title}}</span>
                                            was given a rating {{activity.student_report_data.well_being.well_being_scale}} for Well Being Score in {{activity.lesson.subject.subject_name}} Lesson by <span>{{teacher_obj.full_name|title}}</span>
                                        </h6>
                                        
                                        <div class="count">
                                            {{activity.student_report_data.created_at|time:'f A'}}
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span>
                                            <img src="{{activity.student_report_data.student.image.url}}" alt="user">
                                        </span>
                                        <h6 class="name">
                                                <span>{{activity.student_report_data.student.full_name|title}}</span>
                                                was given a rating {{activity.student_report_data.over_all_rating.overall_rating}} for Overall Effort in {{activity.lesson.subject.subject_name}} Lesson by <span>{{teacher_obj.full_name|title}}</span>
                                        </h6>
                                        
                                        <div class="count">
                                            {{activity.student_report_data.created_at|time:'f A'}}
                                        </div>
                                    </a>
                                
                                </li>
                                
                            </ul>

                            <li>
                                <a href="javascript:void(0)">
                                    <span>
                                        <img src="{{activity.student_report_data.student.image.url}}" alt="user">
                                    </span>
                                    
                                    <h6 class="name">
                                        <span>{{activity.student_report_data.student.full_name|title}}</span>
                                        was given a rating {{activity.student_report_data.behaviour_data.value}} for {{activity.student_report_data.behaviour_data.behaviour.behaviour}} in {{activity.lesson.subject.subject_name}} Lesson by <span>{{teacher_obj.full_name|title}}</span>
                                        
                                    </h6>
                                    
                                    <div class="count">
                                        {{activity.student_report_data.created_at|time:'f A'}}
                                    </div>
                                </a>
                            </li>
                        </ul>
                </div>           
            </div>
        {% endif %}
        {% endfor %}
        </section>
        <!-- all activites section end -->
      
        <!-- <div class="row justify-content-end">
            <div class="col-sm-12">
                 <nav aria-label="Page" class="pagination-cst">
                    <ul class="pagination justify-content-end">
                        {% if activities.has_previous %}
                            <li class="page-item aerrow">
                                <a class="page-link" href="?page=1" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li class="page-item aerrow">
                                <a class="page-link" href="?page={{ activities.previous_page_number }}" aria-label="Previous">
                                    <span class="sr-only1">{% trans "Previous" %}</span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="page-item active"><a class="page-link" href="?page={{ activities.number }}">{{ activities.number }}</a></li>
                        {% if activities.has_next %}
                            <li class="page-item aerrow">
                                <a class="page-link" href="?page={{ activities.next_page_number }}" aria-label="Next">
                                <span class="sr-only1">{% trans "Next" %}</span>
                                </a>
                            </li>
                            <li class="page-item aerrow">
                                <a class="page-link" href="?page={{ activities.paginator.num_pages }}" aria-label="Next">
                                <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                 </nav>
            </div>
        </div> -->
    </section>
    <!-- main wrapper end -->
{% endblock %}

{% block js %}  
    <script src="{% static 'js/website/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/website/daterangepicker.min.js' %}"></script>

    <script>
        $(function() {
          $('input[name="daterange"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            },
            opens: 'left'
          });
        });
        $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                var currentUrl = window.location.href;
                $.ajax({        
                    method: "POST",
                    url: currentUrl,
                    data:{
                        'date_range':$(this).val()
                    },
                    success: function(data){
                        console.log("success")
                        
                        // console.log("**********",data.activities.length)
                        $('.activity-wrapper').remove();
                        $('.justify-content-end').remove();
                        // console.log("Remove div");
                        // console.log('{{teacher_obj.studio.id }}');
                        
                        for(var i=0; i<data.activities.length; i++){
                        if(data.activities[i]['filtered_activity']['studio_id'] == '{{teacher_obj.studio.id }}'){
                        var div = 
                            `<div class="row activity-wrapper">        
                                <div class="col-sm-12">
                                    <h3 class="page-title color-black">Date : `+data.activities[i]['filtered_activity']['created_at_date']+`</h3>
                                    <ul class="all-student-list activity-list">
                                        <ul id="`+data.activities[i]['filtered_activity']['student_id']+data.activities[i]['filtered_activity']['subject_id']+data.activities[i]['filtered_activity']['lesson_id']+`" class="score all-student-list activity-list">
                                            `;
                                            for(j=0;j<data.comments.length; j++){
                                                if(data.comments[j]['subject'] === data.activities[i]['filtered_activity']['subject_id'] && data.comments[j]['lesson'] === data.activities[i]['filtered_activity']['lesson_id'] && data.comments[j]['commented_on_id'] === data.activities[i]['filtered_activity']['student_id'] && data.comments[j]['commented_by_id'] === data.teacher_obj){
                                                div += `
                                                    <li>
                                                        <a href="javascript:void(0)">
                                                            <span>
                                                                <img src="`+data.activities[i]['filtered_activity']['student_image']+`" alt="user">
                                                            </span>
                                                            <h6 class="name">
                                                                    <span>{{teacher_obj.full_name|title}}</span>
                                                                    commented on <span>`+data.activities[i]['filtered_activity']['full_name']+`</span> for `;
                                                                    if(data.activities[i]['filtered_activity']['gender'] === "Male"){ div+='his' }else{ div+='her' }  div +=` `+data.activities[i]['filtered_activity']['subject_name']+` Lesson - <span>`+data.comments[j]['message']+`</span>
                                                            </h6>
                                                            
                                                            <div class="count">
                                                                `+data.activities[i]['filtered_activity']['created_at_time']+`
                                                            </div>
                                                        </a>
                                                    
                                                    </li>
                                                    `;
                                                }
                                            }
                                        div += `
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <span>
                                                        <img src="`+data.activities[i]['filtered_activity']['student_image']+`" alt="user">
                                                    </span>
                                                    
                                                    <h6 class="name">
                                                        
                                                        <span>`+data.activities[i]['filtered_activity']['full_name']+`</span>
                                                        was given a rating `+data.activities[i]['filtered_activity']['well_being_scale']+` for Well Being Score in `+data.activities[i]['filtered_activity']['subject_name']+` Lesson by <span>{{teacher_obj.full_name|title}}</span>
                                                    </h6>
                                                    
                                                    <div class="count">
                                                        `+data.activities[i]['filtered_activity']['created_at_time']+`
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <span>
                                                        <img src="`+data.activities[i]['filtered_activity']['student_image']+`" alt="user">
                                                    </span>
                                                    <h6 class="name">
                                                            <span>`+data.activities[i]['filtered_activity']['full_name']+`</span>
                                                            was given a rating `+data.activities[i]['filtered_activity']['overall_rating']+` for Overall Effort in `+data.activities[i]['filtered_activity']['subject_name']+` Lesson by <span>{{teacher_obj.full_name|title}}</span>
                                                    </h6>
                                                    
                                                    <div class="count">
                                                        `+data.activities[i]['filtered_activity']['created_at_time']+`
                                                    </div>
                                                </a>
                                            
                                            </li>
                                        </ul>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span>
                                                    <img src="`+data.activities[i]['filtered_activity']['student_image']+`" alt="user">
                                                </span>
                                                
                                                <h6 class="name">
                                                    <span>`+data.activities[i]['filtered_activity']['full_name']+`</span>
                                                    was given a rating `+data.activities[i]['filtered_activity']['behaviour_value']+` for `+data.activities[i]['filtered_activity']['behaviour_name']+` in `+data.activities[i]['filtered_activity']['subject_name']+` Lesson by <span>{{teacher_obj.full_name|title}}</span>
                                                    
                                                </h6>
                                                
                                                <div class="count">
                                                    `+data.activities[i]['filtered_activity']['created_at_time']+`
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>`;
                            
                           document.querySelector('#activity').innerHTML += div;
                        }
                            
                        }
                        var checkdate = document.getElementsByClassName('page-title color-black');
                        var check_score = document.getElementsByClassName('score');
                        
                        var datelist= [];
                        var data;
                        var scoreList = []
                        var score;
                        
                        //   console.log("length",checkdate.length);
                        for(var i=0; i<checkdate.length; i++){
                            data = checkdate[i].textContent;
                            scoreId = check_score[i].id;

                            if(scoreList.indexOf(scoreId) !== -1 ){
                                // console.log("IF removed data",scoreId);
                                check_score[i].style.display = 'none';
                            }
                            else{
                                // console.log("ELSE push",scoreId);
                                scoreList.push(scoreId);
                            }
                        
                            if(datelist.indexOf(data) !== -1){
                                // console.log("IF removed data",data);
                                checkdate[i].style.display = 'none';   
                            }
                            else{
                                // console.log("ELSE push",data);
                                datelist.push(data);
                            }   
                        }
                    }
                });
        });
    </script>

<script>
    var checkdate = document.getElementsByClassName('page-title color-black');
    var check_score = document.getElementsByClassName('score');
    
    var datelist= [];
    var data;
    var scoreList = []
    var score;
    
  //   console.log("length",checkdate.length);
    for(var i=0; i<checkdate.length; i++){
        data = checkdate[i].textContent;
        scoreId = check_score[i].id;

        if(scoreList.indexOf(scoreId) !== -1 ){
            // console.log("IF removed data",scoreId);
            check_score[i].style.display = 'none';
        }
        else{
            // console.log("ELSE push",scoreId);
            scoreList.push(scoreId);
        }
      
        if(datelist.indexOf(data) !== -1){
            // console.log("IF removed data",data);
            checkdate[i].style.display = 'none';   
        }
        else{
            // console.log("ELSE push",data);
            datelist.push(data);
        }    
    }
</script>
<script>
    $(document).ready(function(){
        $("#serchActivity").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".all-student-list li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        });
    });
</script>
{% endblock %}

{% block Activities %} active {% endblock %}
