{% extends 'teacher/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <!-- main wrapper start -->
    <section class="main-wrapper">
        <div class="row page-title-wrapper align-items-center">
            <div class="col-lg-3 col-md-12">
                <h3 class="page-title">
                    {% trans "All Students" %}
               </h3>
            </div>
           
            <div class="col-lg-9 col-md-12 student-select-cst">                
                
                <div class="lesson-drpdown pull-right">
                    <form id="filter_form" class="form-inline" method="POST" data-url="/teacher/students/">                      
                        <div class="top-custom-select form-control ml-2">
                            {% if levelExists == False %}
                            <select id="level" class="level" name="level" onchange="chngeSubmit('level')" disabled>
                            {% else %}
                            <select id="level" class="level" name="level" onchange="chngeSubmit('level')">
                            {% endif %}
                                {% if levels %}
                                <option>{{levels}}</option>
                                {% for level in level %}
                                    {% if levels != level.level %}
                                    <option>{{level.level}}</option>
                                    {% endif %}
                                {% endfor %}
                                
                                {% else %}
                                <option>{% trans "Select Level" %}</option>
                                {% for level in level %}
                                <option>{{level.level}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        
                        </div>
                        <div class="top-custom-select form-control ml-2">
                            <select id="age_range" class="age_range" name="age_range" onchange="chngeSubmit('age_range')">
                                {% if ages %}
                                <option>{{ages}}</option>
                                <option>4-5</option>
                                <option>5-6</option>
                                <option>6-7</option>
                                <option>7-8</option>
                                <option>8-9</option>
                                <option>9-10</option>
                                <option>10-11</option>
                                <option>11-12</option>
                                {% else %}
                                <option>{% trans "Select Age" %}</option>
                                <option>4-5</option>
                                <option>5-6</option>
                                <option>6-7</option>
                                <option>7-8</option>
                                <option>8-9</option>
                                <option>9-10</option>
                                <option>10-11</option>
                                <option>11-12</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="top-custom-select form-control ml-2">
                            <select id="stud_name" class="stud_name" name="stud_name" onchange="chngeSubmit('stud_name')">
                                {% if names %}
                                <option>{{names}}</option>
                                {% for name in all_students %}
                                    {% if names != name.full_name %}
                                    <option>{{name.full_name}}</option>
                                    {% endif %}
                                {% endfor %}
                                {% else %}
                                <option>{% trans "Select Name" %}</option>
                                {% for name in all_students %}
                                <option>{{name.full_name}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>                                        
                    </form>
                    
                </div>
            </div>
        
        </div>
        <div class="row  justify-content-center mt-3 ">
            <div   class="col-lg-4 col-md-6">
                   <div class="search-wrapper search-student-wrapper">
                       <form>
                           <div class="form-group">
                               <span>
                                   <img src="{% static 'img/website/search.png' %}" alt="search-icon">
                               </span>
                             <input type="text" id= "search_data" class="form-control" placeholder="{% trans 'Search Student' %}" onkeyup="searchSubmit()">
                           </div>
                       </form>
                   </div>
                   <script>
                    function searchSubmit() {
                        console.log("in search")
                        var input, filter, ul, li, a, i, txtValue;
                        input = document.getElementById("search_data");
                        filter = input.value.toUpperCase();
                        ul = document.getElementById("rowListt");
                        console.log("ulllll" , ul)
                        li = $(ul).find('li')
                        console.log("liiii" , li)
                        for (i = 0; i < li.length; i++) {
                            a = li[i].getElementsByTagName("a")[0];
                            console.log("aaaaaa" , a)
                            txtValue = a.textContent || a.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                li[i].style.display = "";
                            } else {
                                li[i].style.display = "none";
                            }
                        }
                    }
                    </script>
                    
               </div></div>
          <!-- title row end -->
       <!-- all student section start -->
       <div class="row">
           <div class="col-sm-12">
                <ul class="all-student-list" id="rowListt">
                    {% for l in all_students %}
                    <!-- <h3> {{l.image}} </h3> -->
                    <li id="{{l.id}}">
                        <a href="/teacher/student/{{l.id}}">
                            <span>
                                {% if l.image.url == None %}
                                <img src="{{l.image}}" alt="student pic">
                                {% else %}
                                <img src="{{l.image.url}}" alt="student pic">
                                {% endif %}
                                <!-- <img src="{{l.image}}" alt="student pic"> -->
                            </span>
                            <h6 class="name">
                                {{l.full_name}}
                            </h6>
                            <div id="score_{{student.id}}" class="count">
                                
                                    {% for s in l.avgScore %}
                                            {{s|floatformat:2}}             
                                    {% endfor %}
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
           </div>           
       </div>
       <!-- all student section end -->
       <!-- <div class="row justify-content-end">
           <div class="col-sm-12">
                <nav aria-label="Page" class="pagination-cst">
                    <ul class="pagination justify-content-end">
                    <li class="page-item disabled aerrow">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item aerrow">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                </nav>
           </div>
       </div> -->
    </section>
    <!-- main wrapper end -->


  {% endblock %}

  {% block Students %} active {% endblock %}
<!-- {% for l in all_student %}

Name - {{l.full_name}}<br/>
image - {{l.image}}<br/>

<br/>
{% endfor %} -->
