{% extends 'teacher/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <!-- main wrapper start -->
    <section class="main-wrapper">
        <div class="row">
            <div class="col-md-4 col-lg-3 col-xl-2 p-0">
                <div class="left-bg-wrapper">
                   <div class="student-info-wrapper">
                        <div class="stud-pic">
                            <img src="{{ teacher_obj.image.url }}" alt="student pic">
                        </div>
                       
                        <ul class="stud-info-list mt-3">
                            <li><p>{% trans "Teacher" %}</p></li>
                            <li><p>{{teacher_obj.full_name}}</p></li>
                            <li><p>{% trans "Lesson" %}</p></li>
                            <li><p id="lesson_name">EX1-EN01</p></li>
                            <li><p>{% trans "Subject" %}</p></li>
                            <li><p id="lesson_subject">English</p></li>
                            <li><p>{% trans "Time" %}</p></li>
                            <li><p id="schedule_time">4:30 PM</p></li>
                            <li><p>{% trans "Date" %}</p></li>
                            <li><p id="schedule_date">27/02/2020</p></li>
                            <li><p>{% trans "Room" %}</p></li>
                            <li><p id="schedule_room">R4</p></li>
                        </ul>
                   </div>
                </div>
            </div>
            <!-- col-md-2 end -->
            <div class="col-md-8 col-lg-9 col-xl-10">
                <div class="right-wrapper">
                    <div class="row page-title-wrapper">
                        <div class="col-lg-4 col-md-12">
                            <h3 class="page-title">{% trans "Lesson Reports" %}</h3>
                        </div>
                        <div class="col-md-8">
                            <div class="lesson-drpdown pull-righ">
                            <form class="form-inline">


                                <div class="top-custom-select form-control ml-auto">
                                    <select class="dropdown-change" id="levels_dropdown" data-url="{% url 'get-lessons' %}">
                                        <option value="all" selected>{% trans "All Levels" %}</option>
                                        {% for level in levels %}
                                            <option value="{{ level.id }}">{{ level.level }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="top-custom-select form-control ml-auto">
                                    <select class="dropdown-change" id="teacher_subjects" data-url="{% url 'get-lessons' %}">
                                        <option value="all" selected>{% trans "All Subjects" %}</option>
                                        {% for subject in subjects %}
                                            <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="top-custom-select form-control ml-auto">
                                    <select class="" id="list-of-lessons">
                                            <option value="List of Lessons" selected disabled>{% trans "Lessons" %}</option>
                                    </select>
                                </div>

                            </form>
                            </div>
                        </div>
                    </div>
                   <!-- title row end -->            
                    <div class="row mt-4">               
                        <div class="col-lg-6">
                            <div class="score-card  border">
                                <h5 class="chart-title">
                                     {% trans "Behavior Chart" %}
                                </h5>
                                <div id="behaviourchart" style="width: 100%; height: 442px; background-color: #FFFFFF;" >
                               </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="score-card  border">
                                <h5 class="chart-title">
                                    {% trans "Motivation Scale" %}
                                </h5>
                                <div id="motivationchart" style="width: 100%; height: 442px; background-color: #FFFFFF;" ></div>
                            </div>
                        </div>

                    <div class="col-lg-6">
                            <div class="score-card  border">
                                <h5 class="chart-title">
                                    {% trans "Average Score Line" %}
                                </h5>
                                <div id="averagechart" style="width: 100%; height: 442px; background-color: #FFFFFF;" ></div>
                            </div>
                        </div>

                    <div class="col-lg-6">
                            <div class="score-card  border">
                                <h5 class="chart-title">
                                    {% trans "Wellbeing Scale" %}
                                </h5>
                                <div id="wellbeingchart" style="width: 100%; height: 442px; background-color: #FFFFFF;" ></div>
                            </div>
                        </div>
                    </div>
                    <!-- chart row end -->               
                </div>
                <!-- right-wrapper end -->
            </div>
            <!-- col-md-10 end -->
        </div>
        <!-- row end -->
    </section>
    <!-- main wrapper end -->
    {% endblock %}

{% block Analytics %} active {% endblock %}

{% block chart %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
<canvas id="myChart123"></canvas>

<script>
    var bg_color;
    var dict = { "english": "#F3ACB3", "entrepreneur": "#1691B3", "technology": "#F6BE57", "creative design": "#EB5858", "default": ["#0f6b84", "#678388", "#9a5653", "#FFEB3B", "#FF9800", "#673AB7"] };
    var ctx = document.getElementById("myChart123");
    var tid;
    var clrs = ["#F3ACB3", "#F6BE57", "#EB5858", "#1691B3"];
$('#list-of-lessons').on('change', function () {

        var endpoint = '/api/chart/data/analytics/'
        var selected_lesson = $('#list-of-lessons').val()
        if(tid=="onReady")
        {
            selected_lesson = "{{ latest_schedule.lesson.id }}";
        }
        $.ajax({
            method: "POST",
            url: endpoint,
            data: {
                'LessonId':selected_lesson ,
            },
            success: function (data) {
                console.log("dattaaaaa", data);
                $('#behaviourchart').empty()
                $('#motivationchart').empty()
                $('#averagechart').empty()
                $("#wellbeingchart").empty()

                $('#lesson_name').text(data["schedule_obj"]["lesson_code"]);
                $('#lesson_subject').text(data["schedule_obj"]["subject"]);
                $('#schedule_time').text(data["schedule_obj"]["time"]);
                $('#schedule_date').text(data["schedule_obj"]["date"]);
                $('#schedule_room').text(data["schedule_obj"]["room"]);

                if(data['subject']=="english" || data['subject']=="entrepreneur" || data['subject']=="technology" || data['subject']=="creative design")
                {
                    bg_color=dict[data["subject"]]
                }
                else
                {
                    min = Math.ceil(0);
                    r=Math.floor(Math.random() * (5 - min + 1)) + min;
                    bg_color=dict["default"][r]
                }
                setMotivationalChart(data);
                setWellbeing(data);
                set_chart(data["chart"]["behaviour_chart"],data["chart"]["behaviour_avg_chart"]);
                set_chart_line(data["chart"]["average_chart"],data["chart"]["behaviour_chart"]);
                if(tid=="onReady") {
                    $('#list-of-lessons').val("{{ latest_schedule.lesson.id }}")
                    tid="";
                }


            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

});

$('.dropdown-change').on('change', function () {
            var selected_subject = $('#teacher_subjects option:selected').val();
            var selected_level = $('#levels_dropdown option:selected').val();
            var url = $('#teacher_subjects').attr('data-url');

    if(tid=="onReady"){


             selected_level="{{ latest_schedule.lesson.level.id }}";

             selected_subject="{{ latest_schedule.lesson.subject.id }}";

             $('#teacher_subjects').val(selected_subject);
             $('#levels_dropdown').val(selected_level);
    }
             $.ajax({
                url: url,
                type: "GET",
                data: {
                    selected_subject_name: selected_subject,
                    selected_level_name: selected_level,
                },

                success: function (data) {
                    console.log('success lesson data', data);
                    var options = '<option selected disabled>{% trans "Lessons" %}</option>';
                    for (i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].id + '">' + data[i].lesson_code + '</option>';
                    }
                    $('#list-of-lessons').html(options);

                    if (tid=="onReady") {
                        var x = document.getElementById("list-of-lessons");
                        var event = new Event('change');
                        x.dispatchEvent(event);
                    }
                },

                error: function (data) {
                    console.log('fail', data);
                }
            })
        });


</script>
<script>

function set_chart(object,object2) {
   chartHtml = `<canvas id="myChart_1" height="400"></canvas>`;

        $('#behaviourchart').append(chartHtml)
        var ctx = $('#myChart_1');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
               // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                labels: object['labels'],
                datasets: [
                    {
                    label: "Average",
                    // lineTension :0,
                    data: object2['data'],
                    borderColor: '#43b1bf',
                    // border:
                    pointBackgroundColor: "black",
                    fontColor: '#000000',
                    type: 'line',
                    fill: false,
                },
                {
                    label: object['label'],
                    data: object['data'],
                    backgroundColor: bg_color,
                    fontColor: '#000000',

                    borderWidth: 1,

                }]
            },
            /*options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }*/
            options: {
                maintainAspectRatio: false,
                // code for showing bar value on the the top of bar
                hover: {
                    "animationDuration": 0
                },
                animation: {
                    "duration": 1,
                    "onComplete": function () {
                        var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';

                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                                var data = dataset.data[index].toFixed(2);
                                ctx.fillText(data, bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                },
                legend: {
                      "display": false
                },
                tooltips: {
                   // "enabled": false
                },
                scales: {
                    xAxes: [{
                        barPercentage: 0.2,
                        gridLines: {
                            display: true,
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            fontColor: 'rgb(98, 207, 227)'
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: true,
                            zeroLineColor: 'black'
                        },
                        // display: false,

                        ticks: {
                            // max: Math.max(...data.datasets[0].data) + 10,
                            // display: false,
                            beginAtZero: true,
                            fontColor: 'rgb(98, 207, 227)'
                        }
                    }],
                }
                // end of code for showing bar value on the the top of bar

            }
        });
    }
    function set_chart_line(object,obj2) {
    chartHtml = `<canvas id="myChart_3" height="400"></canvas>`;

        $('#averagechart').append(chartHtml)
        var ctx = $('#myChart_3');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
               // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                labels: Object.keys(object),
                datasets: [
                {
                    label: "{% trans 'Avg. Score' %}",
                    lineTension :0,
                    borderColor: '#43b1bf',
                    pointBackgroundColor: "black",
                    data: Object.values(object),
                    // borderColor: bg_color,
                    fill: false,
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                      "display": false
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            beginAtZero: true,
                            fontColor: 'rgb(98, 207, 227)'
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            //beginAtZero: true,
                            fontColor: 'rgb(98, 207, 227)'
                        }
                    }]
                //     legend: {
                //       "display": false
                // },
                }
            }

        });
    }

</script>

<script>
var mypieChart;
default_count_motiv = 0;
    function setMotivationalChart(data) {
        console.log("data0000000000000",data)
        console.log("in set Motivational chart");
        chartHtml = `<canvas id="motivational_scale" style="display:"block"></canvas>`;

        $('#motivationchart').append(chartHtml)

        let pie_colors_motivation = [];
        console.log("dat 123-0-----------------",data, 'moti0----',data['motivation'])
        console.log("Object.keys(data[-----------------",Object.keys(data["motivation"]))
        Object.keys(data["motivation"]).forEach(data => {
            console.log("data--------------in for each----",data)
        })
        console.log("pie_labels",Object.keys(data["motivation"]))
        console.log("pie_data", Object.values(data["motivation"]))
        console.log("pie_colors_motivation----------",pie_colors_motivation)
        var chartId = document.getElementById("motivational_scale");
        var rating = Object.keys(data["rating_data"])
        var rating_value = Object.values(data["rating_data"])

        var myChart = new Chart(chartId, {
            type: 'bar',
            data: {
                labels: Object.keys(data["motivation"]),
                datasets: [{
                    data: Object.values(data['motivation_avg']),
                    type: 'line',
                    fill: false,
                    // lineTension :0,
                    pointBackgroundColor: "black",
                    borderColor: '#43b1bf',
                    },
                    {
                    label: "{% trans 'overall rating' %}",

                    backgroundColor: bg_color,
                    data: Object.values(data["motivation"])
                }]
            },
            options: {

                hover: {
                    "animationDuration": 0
                },
                animation: {
                    "duration": 1,
                    "onComplete": function () {
                        var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';

                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                                var data = dataset.data[index];
                                ctx.fillText(data, bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                },
                //responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        barPercentage: 0.2,
                        gridLines: {
                            display: true,
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            fontColor: 'rgb(98, 207, 227)'
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: true,
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            fontColor: 'rgb(98, 207, 227)',
                            min: data["min_max_data"]["min rating"],
                            max: data["min_max_data"]["max rating"],
                            stepSize: 1,
                            suggestedMin: 0.5,
                            suggestedMax: 5.5,
                            callback: function (value, index, rating) {
                                if(parseInt(value) || parseInt(value)==0)
                                   return data["rating_data"][value]
                            }
                        },

                    }],
                },
                legend: {
                    display: false
                },
            }
        });
    }

    function setWellbeing(data) {
        console.log("in set well being chart");
        chartHtml = `<canvas id="well_being_scale" style="display:"block"></canvas>`;

        $('#wellbeingchart').append(chartHtml)
        var chartId = document.getElementById("well_being_scale");
        var well = Object.keys(data["wellbeing_data"])
        var well_value = Object.values(data["wellbeing_data"])

        var myChart = new Chart(chartId, {
            type: 'line',
            data: {
                labels: Object.keys(data["wellbeing"]),
                datasets: [
                    /*{
                    data: Object.values(data['wellbeing_avg']),
                    type: 'line',
                    fill: false,
                    },*/
                    {
                    fill: false,
                    label: "{% trans 'wellbeing rating' %}",
                    lineTension :0,
                    borderColor: '#43b1bf',
                    data: Object.values(data["wellbeing"])
                }]
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
                scales: {
                    xAxes: [{
                        gridLines: {
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            //beginAtZero: true,
                            fontColor: 'rgb(98, 207, 227)'
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            min: data["min_max_data"]["min wellbeing"],
                            max: data["min_max_data"]["max wellbeing"],
                            stepSize: 1,
                            fontColor: 'rgb(98, 207, 227)',
                            suggestedMin: 0.5,
                            suggestedMax: 5.5,
                            callback: function (value, index, well) {
                                if(parseInt(value) || parseInt(value)==0)
                                   return data["wellbeing_data"][value]
                            }
                        },
                    }],

                },
                legend: {
                   display: false
                },
            }
        });
    }
    $(document).ready(function () {

        $('#lesson_name').text('{{ latest_schedule.lesson.lesson_code }}');
        $('#lesson_subject').text('{{ latest_schedule.lesson.subject.subject_name }}');
        $('#schedule_time').text('{{ latest_schedule.class_start_time }}');
        $('#schedule_date').text('{{ latest_schedule.scheduled_date }}');
        $('#schedule_room').text('{{ latest_schedule.room_number }}');

            tid = "onReady";
        var x = document.getElementsByClassName("dropdown-change");
                var event = new Event('change');
                x[0].dispatchEvent(event);
                x[1].dispatchEvent(event);

    });
</script>
{% endblock %}

    {% block js %}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <script src="{% static 'js/website/amcharts.js' %}"></script>  
        <script src="{% static 'js/website/chalk.js' %}"></script> 
        <script src="{% static 'js/website/pie.js' %}"></script>  
        <script src="{% static 'js/website/piechart.js' %}"></script>  
        <script src="{% static 'js/website/serial.js' %}"></script>  
        <script src="{% static 'js/website/column-chart.js' %}"></script>  
        <script src="{% static 'js/website/motivation-chart.js' %}"></script>  
        <script src="{% static 'js/website/line-chart.js' %}"></script>  
        <script src="{% static 'js/website/moment.min.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'js/website/daterangepicker.min.js' %}"></script>
    
    <script>
        $(function() {
          $('input[name="daterange"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            },
            opens: 'left'
          });
        });
        $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });
    </script>
    {% endblock %}
     