{% extends "teacher/base.html" %}
{% block title %}
| Announcements
{% endblock %}

{% block Announcement %}
active
{% endblock %}

{% block content %}
{% load static %}
{% load i18n %}
    <!-- main wrapper start -->
    <section class="main-wrapper">
        <div class="row page-title-wrapper">
            <div class="col-sm-12">
                <h3 class="page-title">{% trans "Announcements" %}</h3>
            </div>       
        </div>
       <!-- title row end -->
       <!-- all activites section start -->
       <div class="row activity-wrapper">
         
          {% for announcement in announcements %}
            {% if announcement.admin %}
            <div id="{{announcement.id}}" class="col-sm-12">
              <h3 class="page-title color-black">{% trans "Date" %} : {{announcement.date}}</h3>
                  <ul class="all-student-list activity-list notify-list">
                      <li>
                          <a href="javascript:void(0)">                            
                              <h6 class="name">
                                  {{announcement.announcement}}
                              </h6>
                              <div class="count">
                                {{announcement.time}}
                              </div>
                          </a>
                      </li>
                  </ul>
            </div>
            {% endif %}
            {% if announcement.studio == teacher_obj.studio.id  %}
            <div id="{{announcement.id}}" class="col-sm-12">
              <h3 class="page-title color-black">{% trans "Date" %} : {{announcement.date}}</h3>
                  <ul class="all-student-list activity-list notify-list">
                      <li>
                          <a href="javascript:void(0)">                            
                              <h6 class="name">
                                  {{announcement.announcement}}
                              </h6>
                              <div class="count">
                                {{announcement.time}}
                              </div>
                          </a>
                      </li>
                  </ul>
            </div>
            {% endif %}
          {% endfor %}          
       </div>
       <!-- all activites section end -->
       
       <!-- <div class="row justify-content-end">
           <div class="col-sm-12">
                <nav aria-label="Page" class="pagination-cst">
                    <ul class="pagination justify-content-end">
                    <li class="page-item disabled aerrow">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item aerrow">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                </nav>
           </div>
       </div> -->
    </section>
    <!-- main wrapper end -->
{% endblock %}

{% block js %}

    <!-- boostrap js start -->
    <script src="{% static 'js/website/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/website/daterangepicker.min.js' %}"></script> 
    <script src="{% static 'js/website/custom.js' %}"></script> 
    
    <script>
      var checkdate = document.getElementsByClassName('page-title color-black');
    //   var divTag = document.getElementsByClassName('col-sm-12');
    //   var ulTag = document.getElementsByClassName("all-student-list");
      var datelist= [];
      var data;
      var Id;
    //   console.log("length",checkdate.length);
      for(var i=0; i<checkdate.length; i++){
        data = checkdate[i].textContent;   
        // console.log("Datelist");
        // console.log(datelist);
        if(datelist.indexOf(data) !== -1){
            // console.log("IF removed data",data);
            checkdate[i].style.display = 'none';   
            // divTag[i-1].append(checkdate[i].parentNode.children[0]);
            // divTag[i-1].append(checkdate[i].parentNode.children[1]);
            // document.querySelector('.all-student-list').append(checkdate[i].parentNode.children[1]);        
        }
        else{
        //   console.log("ELSE push",data);
          datelist.push(data);
        }
        // console.log(data);    
      }
    </script>
{% endblock %}