{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/ico" href="{% static 'img/website/icon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/website/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/daterangepicker.css' %}">

    {% block css %} {% endblock %}

    <title>{% trans "CURIOO" %}</title>
    <style>
        .wrong-msg-icon i {
            color: #e41e1e;
            font-size: 88px;
        }
        .error-title {
            text-align: center;
            font-size: 24px;
            margin: 20px 0 30px 0;
            color: #e41e1e;
            font-weight: bold;
            letter-spacing: 1px;
        }
        .notification .badge {
          position: absolute;
          top: +27px;
          right: +99px;
          padding: 3px 6px;
          border-radius: 50%;
          background-color: #ff0900;
          color: white;
        }
    </style>
</head>

<body class="p-30">
    <div id="loader">
        <div id="loader-svg">
        <img src="{% static 'css/ajax-loader.gif' %}">
        </div>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript">
        $(document).ready(function(){
        // alert('1')
        // $('.product_loader.base').css('display', 'block');
        $('#loader').css('display', 'none');
        
        })
        </script>
        
        </div>
  <section class="header-top-panel">
    <div class="float-right">
        <ul class="">
            <li {% block faq %} {% endblock %}><a href="{% url 'faq/' %}">{% trans "FAQ" %}</a></li>
            <li {% block helpdesk %} {% endblock %}><a href="{% url 'helpdesk/' %}"  style="margin-right: -10px;">{% trans "Help Desk" %}</a></li>
            <li >
                {% get_available_languages as languages %}
                {% get_current_language as LANGUAGE_CODE %}
                <div class="top-custom-select">
                    <select id="lenguage_selector">
                        <option value="">{% trans "Language" %}</option>
                        {% for lang_code, lang_name in languages %}
                            <option value={{ lang_code }} {% if LANGUAGE_CODE == lang_code %} selected {% endif %}>{{ lang_name }}</option>
                        {% endfor %}

                    </select>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- top header end -->

<!-- main header start -->
<header class="nav-wrapper header-white">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{% url 'index/' %}">
            <img src="{% static 'img/website/logo.png' %}" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% block Lessons %} {% endblock %}">
                        <a class="nav-link"  href="{% url 'lessons/' %}" title="Lessons">{% trans "Lessons" %}<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% block Activity %} {% endblock %}">
                        <a class="nav-link " href="{% url 'activities/' %}" title="Activities">{% trans "Activities" %}</a>
                    </li>
                    <li class="nav-item {% block Students %} {% endblock %}">
                        <a class="nav-link" href="{% url 'students/' %}" title="Students">{% trans "Students" %}</a>
                    </li>
                    <li class="nav-item {% block Analytics %} {% endblock %}">
                        <a class="nav-link" href="{% url 'analytics/' %}"  title="Analytics">{% trans "Analytics" %}</a>
                    </li>
                    <li class="nav-item {% block Calender %} {% endblock %}">
                        <a class="nav-link" href="{% url 'calender/' %}" title="Calender">{% trans "Calendar" %}</a>
                    </li>
                    <li class="nav-item {% block Announcement %} {% endblock %}">
                        <a class="nav-link" href="{% url 'announcement/' %}" title="Announcements">{% trans "Announcements" %}</a>
                    </li>
                </ul>

            </div>
        <div class="form-inline">
            <div class="notification">
                <a href="{% url 'notify/' %}" class="nav-item {% block notification %} {% endblock %}">
                        <img src="{% static 'img/website/notify.png' %}"/>
                        {% block notify_num %}
                        
                        <span class="badge" id="notification_count">{{count}}</span>

                        {% endblock %}
                </a>
            </div>
            <div class="user-dropdown">
                <a href="#">
                    <span class="user-pic"><img src="{{ image.url }}"></span>
                    <span class="user-name"><i class="fa fa-angle-down"></i></span>
                </a>
                <ul class="dropdown-list hide">
                    <li><a href="{% url 'profile/' %}" title="Profile">{% trans "Profile" %}</a></li>
                    <li><a href="{% url 'calender/' %}" title="schedule">{% trans "View my schedule" %}</a></li>
                    <li><a href="{% url 'lesson/' %}" title="lessons">{% trans "View my lessons" %}</a></li>
                    <li><a href="javascript:void(0)" data-url="{% url 'logout/' %}" title="sign-out" id="logout">{% trans "Sign out" %}</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- header end -->
<!-- main header end -->
    {% block content %}

    {% endblock %}


    <!-- boostrap js start -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'js/website/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/website/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/website/daterangepicker.min.js' %}"></script>
    <script src="{% static 'js/website/fontawesome.min.js' %}"></script> 
    <script src="{% static 'js/website/custom-select.js' %}"></script> 
    <script src="{% static 'js/website/custom.js' %}"></script>  
    <script id="filterlesson" src="{% static 'js/website/fliterLesson.js' %}"></script>    
    <script src="{% static 'js/website/logout.js' %}"></script>
    <script src="{% static 'js/website/helpdesk.js' %}"></script>
    <script src="{% static 'js/website/change-password.js' %}"></script>
    <script src="{% static 'js/website/faq.js' %}"></script>
    <script src="{% static 'js/website/student.js' %}"></script>
<script src="{% static 'js/website/startClass.js' %}"></script>

      <script>
        $('#lenguage_selector').on('change', function () {
            console.log($('#lenguage_selector option:selected').val());
            var selected_value = $('#lenguage_selector option:selected').val();
            var csrf_token = "{{ csrf_token }}";
            if(selected_value != ""){
                $.ajax({
                    // url: "{% url 'changeLanguage' %}",
                    headers: {"X-CSRFToken": csrf_token},
                    url: "{% url 'set_language' %}",
                    type: "POST",
                    data: {'language': selected_value},
                    success: function (data) {
                        console.log('success', data);

                        function redirect() {
                            window.location.reload();
                        }

                        setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds

                    },
                    error: function (data) {
                        console.log('fail', data);
                        console.log('text', data.responseText);
                        openErrorModal(data.responseText);
                    }
                });
                event.stopImmediatePropagation();
                event.preventDefault();
            }
        })
    </script>


    
    {% block js %} {% endblock %}

    {% block chart %} {% endblock %}
</body>

</html>
