{% extends 'teacher/base.html' %}
{% load static %}
{% load i18n %}
{% block css %}

<link href="{% static 'css/website/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'css/website/daygrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'css/website/timegrid/main.css' %}" rel='stylesheet' />
<link rel="stylesheet" href="{% static 'css/website/style.css' %}">
<link rel="stylesheet" href="{% static 'css/website/responsive.css' %}">


{% endblock %}
{% block content %}

<!-- main wrapper start -->
<section id="dashboard">

    <div class="row">
        <div class="col-lg-12  add-class">
            <div class="main-wrapper">
                <h3 class="page-title mb-3">{% trans "Your Schedule" %}</h3>

                <div id='calendar-container'>
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 class-hide">
            <div class="main-wrapper" id="showHere">

            </div>
        </div>

    </div>
    <script>
        var code = [];
        var roomNum = [];
        var subject = [];
        var time = [];
        var date = [];
    </script>
    {% for item in class %}
    <script>
        code.push("{{item.lesson.lesson_code}}");
        roomNum.push("{{item.room_number}}");
        subject.push("{{item.lesson.subject.subject_name}}");
        time.push("{{item.class_start_time}}");
        date.push("{{item.scheduled_date}}");
    </script>
    {% endfor %}

</section>
<!-- main wrapper end -->
{% endblock %}

{% block calender %} class="active" {% endblock %}
<!-- boostrap js start -->

{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script>


<!-- calender css -->
<script src="{% static 'js/website/core/main.js' %}"></script>
<script src="{% static 'js/website/interaction/main.js' %}"></script>
<script src="{% static 'js/website/daygrid/main.js' %}"></script>
<script src="{% static 'js/website/timegrid/main.js' %}"></script>
<script src="{% static 'js/website/list/main.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var default_count = 0;
        var calendarEl = document.getElementById('calendar');
        var events_calender = [];
        console.log("abc-------", code);

        console.log("length ---", code.length);
        for (var item in code) {
            console.log(code[item]);
            console.log(roomNum[item]);
            console.log(subject[item]);
            console.log(time[item]);
            console.log(date[item]);
            console.log((new Date(date[item] + ' UTC')).toISOString().split("T")[0]);

            events_calender.push({
                title: code[item],
                url: (new Date(date[item] + ' UTC')).toISOString().split("T")[0],
                start: (new Date(date[item] + ' UTC')).toISOString().split("T")[0],
                // start: '2020-03-12',
                // end: '2019-06-12T12:30:00'
            });
        }
        var data_global;
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid', 'timeGrid'],
            header: {
                left: 'title',
                center: '',
                right: 'prev,next today'
            },
            defaultDate: (new Date()).toISOString().split("T")[0],
            navLinks: true, // can click day/week names to navigate views
            selectable: false,
            selectMirror: true,
            editable: true,

            eventLimit: true,
            events: events_calender,
            eventDurationEditable: true,
            eventClick: function (info) {
                info.jsEvent.preventDefault(); // don't let the browser navigate
                try {
                    document.getElementById("date_details").remove();
                    document.getElementById("info_ok").remove();
                } catch (error) {
                    console.log("in catch onclick");
                }

                if (info.event.url) {
                    // window.open(info.event.url);
                    console.log("hiiii", info.event.url);
                    $.ajax({
                        type: "post",
                        url: "/teacher/calender/",
                        data: {
                            date: info.event.url,
                        },
                        success: function (data) {
                        
                            data_global = data;
                            console.log("dateeeee", data);
                            console.log('------', data['show_date'])
                            console.log('***********', data['show_date'][0]['room_number']);
                            



                            var new_date = `<div class="border-grey" id="date_details"><h3 class="bg-bluea">${data.dates}</h3>
                                    <div class="pad-3a0 bor-bottom bg-blue-a">{% trans "Details" %}</div>
                                    `;
                            // $("#showHere").append(new_date);

                            for (var i = 0; i < data['show_date'].length; i++) {
                                console.log('in for')
                                console.log('12345', data)
                                var schedule_id = data['show_date'][i]['id'];
                                var lesson_id = data['show_date'][i]['lesson'];
                                console.log("iddddd", schedule_id);
                                console.log("lesson_id", lesson_id);
                                console.log("subject name", typeof(data['subject'][i]))
                                var color = data['dict'][data['subject'][i].toLowerCase()]
                                
                                var new_startclass;

                                var new_details = `<div class="pad-3a0 bor-bottom"><div class="detail-title-a">
                                     <p><span>{% trans "Room" %}:</span>${data['show_date'][i]['room_number']}</p>
                                    <p><span>{% trans "Subject" %}:</span>${data['subject'][i]}</p>
                                    <p><span>{% trans "Lesson" %}:</span>${data['code'][i]}</p>
                                    <p><span>{% trans "Time" %}:</span>${data['show_date'][i]['class_start_time']}</p>

                                 </div>`;

                                currentDate = (new Date()).toISOString().split("T")[0].split("-");
                                id_date = (new Date(data.dates + ' UTC')).toISOString().split("T")[0].split("-");

                                console.log("datesssss", currentDate, id_date);
                                if (parseInt(currentDate[0]) > parseInt(id_date[0])) {
                                    console.log("hide start year");
                                    new_startclass = `<div class="mt-2 mx-auto d-block max-230 "><a id="${schedule_id}" href="/teacher/lesson/report/${lesson_id}" class="btn max-width-a83 btn-color" style="background: ${color}; border:1px solid ${color}" >{% trans "Insights" %}</a></div>`;
                                    new_details = new_details + new_startclass;
                                }
                                else if(parseInt(currentDate[0]) < parseInt(id_date[0]))
                                {
                                    console.log("hide next start year");
                                    new_startclass = `<div class="mt-2 mx-auto d-block max-230 "><a id="${schedule_id}" href="/teacher/lesson/view/${lesson_id}" class="btn btn-bg max-width-a83" >{% trans "View" %}</a></div>`;
                                    new_details = new_details + new_startclass;
                                }
                                else {
                                    if (parseInt(currentDate[1]) > parseInt(id_date[1])) {
                                        console.log("hide start month");
                                        new_startclass = `<div class="mt-2 mx-auto d-block max-230 "><a id="${schedule_id}" href="/teacher/lesson/report/${lesson_id}" class="btn max-width-a83 btn-color" style="background: ${color}; border:1px solid ${color}">{% trans "Insights" %}</a></div>`;
                                        new_details = new_details + new_startclass;
                                    }
                                    else if(parseInt(currentDate[1]) < parseInt(id_date[1]))
                                    {
                                        console.log("hide next start month");
                                        new_startclass = `<div class="mt-2 mx-auto d-block max-230 "><a id="${schedule_id}" href="/teacher/lesson/view/${lesson_id}" class="btn btn-bg max-width-a83" >{% trans "View" %}</a></div>`;
                                        new_details = new_details + new_startclass;
                                    }
                                    else {
                                        if (parseInt(currentDate[2]) > parseInt(id_date[2])) {
                                            console.log("hide start day");
                                            new_startclass = `<div class="mt-2 mx-auto d-block max-230 "><a id="${schedule_id}" href="/teacher/lesson/report/${lesson_id}" class="btn max-width-a83 btn-color" style="background: ${color}; border:1px solid ${color}" >{% trans "Insights" %}</a></div>`;
                                            new_details = new_details + new_startclass;
                                        }
                                        else if(parseInt(currentDate[2]) < parseInt(id_date[2]))
                                        {
                                            console.log("hide next day");
                                            new_startclass = `<div class="mt-2 mx-auto d-block max-230 "><a id="${schedule_id}" href="/teacher/lesson/view/${lesson_id}" class="btn btn-bg max-width-a83">{% trans "View" %}</a></div>`;
                                            new_details = new_details + new_startclass;
                                        }
                                        else {
                                            new_startclass = `<div class="mt-2 mx-auto d-block max-230 ">
                                      <a  id="${schedule_id}_${data['show_date'][i]['end_class']}_${data['show_date'][i]['class_start_time']}" class="btn btn-bg max-width-a83" onclick="startClass(this.id)">{% trans "Start Lesson" %}</a>`;
                                      console.log("abc abc abc" , data['show_date'][i]['end_class']);
                                      if(data['show_date'][i]['end_class'] != null)
                                      {
                                        new_insight = `<a id="${schedule_id}" href="/teacher/lesson/report/${lesson_id}" class="btn max-width-a83 btn-color" style="background: ${color}; border:1px solid ${color}" >{% trans "Insights" %}</a>`;
                                        new_details = new_details + new_startclass + new_insight + `</div>`;
                                      }
                                      else{
                                        new_details = new_details + new_startclass + `</div>`;
                                      }
                                      

                                        }
                                    }
                                }
                                //  else if(currentDate.getDate() > id_date.getDate())
                                //  {
                                //    alert("less than");
                                //  }


                                // new_startclass = `<div class="mt-2 mx-auto d-block max-230 ">
                                //          <a  id="${schedule_id}_${data['show_date'][i]['end_class']}" class="btn btn-bg max-width-a83" onclick="startClass(this.id)">Start Lesson</a></div>
                                //        </div>`;
                                // var new_insights = `<div class="mt-2 mx-auto d-block max-230 mt-3">
                                //   <a href="lesson-reports.html" class="btn max-width-a83 btn-pink" >Insights</a></div></div>`;

                                // new_details = new_details + new_startclass;
                                // console.log("------new details",new_details);

                                new_date = new_date + new_details + `</div>`;
                                console.log("------new date",new_date);


                            }
                            $("#showHere").append(new_date);
                            var new_ok = `<div class="pad-3a0 mb-4 " id="info_ok">
                    <a  class="btn btn-bg max-width-a83 wid-100 click-ok" id="click_ok" onclick="clickOk()">{% trans "Ok" %}</a>
                              </div></div>
                      `;
                            $("#showHere").append(new_ok);

                        },
                        error: function (e) {
                            console.log('e--', e);
                        }
                    });
                    // console.log("dateeeee" , dates);

                }
            }
        });

        calendar.render();
    });
  

    function startClass(id_class) {
        console.log("in strt class", id_class);
        endclass = id_class.split("_");
        console.log("endclass split", id_class.split("_"));
        console.log("class_start_time[2]",endclass[2]);
        console.log("current time",(new Date().toISOString().split("T")[1].split(".")[0]));
        current_time = new Date().toISOString().split("T")[1].split(".")[0];
        if (endclass[1] == "null") {
            if(endclass[2] >= current_time)
            {
                swal({
                    title: "{% trans 'Warning' %}",
                    text: "{% trans 'You cannot Start the Class now, There is still time left' %}",
                    icon: "warning",
                });
            }
            else{
                window.location.href = '/teacher/lesson/start/' + endclass[0] + '/';
                // alert("in else");
            }
            // console.log(endclass[0]);
        }
        else {
            swal({
                    title: "{% trans 'Warning' %}",
                    text: "{% trans 'You cannot Start the Class now, It has already ended!' %}",
                    icon: "warning",
                });
        }
    }

    



    function clickOk() {
        // alert("clicked ok");
        $(".add-class").addClass("col-lg-12");
        $(".add-class").removeClass("col-lg-8");
        $(".col-lg-4").addClass("class-hide");
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".fc-event-container").click(function (){
            // alert("click date");
            $(".add-class").removeClass("col-lg-12");
            $(".add-class").addClass("col-lg-8");
            $(".col-lg-4").removeClass("class-hide");

        });
        $(".fc-button-group").click(function (){
            $(".fc-event-container").click(function (){
            // alert("click date");
            $(".add-class").removeClass("col-lg-12");
            $(".add-class").addClass("col-lg-8");
            $(".col-lg-4").removeClass("class-hide");
            });
        });
        $(".fc-today-button").click(function (){
            $(".fc-event-container").click(function (){
            // alert("click date");
            $(".add-class").removeClass("col-lg-12");
            $(".add-class").addClass("col-lg-8");
            $(".col-lg-4").removeClass("class-hide");
            });
        });
    });
</script>


<script>
    $(document).ready(function(){
        // text = "Start Lesson"
        // $(function() {
            $( ".fc-event-container" ).click(function(){
                // alert("mouse")
                var fg = $(this).find("a")
                console.log("------fg---",$(this).find("a"))
            })
        // });
    })
</script>

{% endblock %}
{% block Calender %} active {% endblock %}
