<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
        <h1>Hello World</h1>
        <div class='col-sm-6'>
            <canvas id="myChart"></canvas>
        </div>
        <div class='col-sm-6'>
            <canvas id="myChart2" ></canvas>
        </div>


    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>

<script>
var endpoint = '/api/chart/data/'
console.log("endpoint--",endpoint)
var defaultData = []
var labels = [];
$.ajax({        
    method: "GET",
    url: endpoint,
    
    success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    // alert('chart')
    var ctx = document.getElementById("myChart");
    console.log("ctx--",ctx)
    var ctx2 = document.getElementById("myChart2");
    console.log("ctx2--",ctx2)

    var myChart = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Votes',
            data: defaultData,
            backgroundColor: [
                'rgba(0, 0, 0, 0.1)',
                'rgba(0, 0, 0, 0.1)',
                'rgba(0, 0, 0, 0.1)',
                'rgba(0, 0, 0, 0.1)',
                'rgba(0, 0, 0, 0.1)',
                'rgba(0, 0, 0, 0.1)'
            ],
            borderColor: [
                'rgba(0, 0, 0, 0.1)',
                'rgba(0, 0, 0, 0.1)',
                'rgba(0, 0, 0, 0.1)',
                'rgba(0, 0, 0, 0.1)',
                'rgba(0, 0, 0, 0.1)',
                'rgba(0, 0, 0, 0.1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

//     var myChart = new Chart(ctx, {
//     type: 'polarArea',
//     data: {
//         labels: labels,
//         datasets: [{
//             label: '# of Votes',
//             data: defaultData,
//             backgroundColor: [
//                 'rgba(255, 99, 132, 0.2)',
//                 'rgba(54, 162, 235, 0.2)',
//                 'rgba(255, 206, 86, 0.2)',
//                 'rgba(75, 192, 192, 0.2)',
//                 'rgba(153, 102, 255, 0.2)',
//                 'rgba(255, 159, 64, 0.2)'
//             ],
//             borderColor: [
//                 'rgba(255,99,132,1)',
//                 'rgba(54, 162, 235, 1)',
//                 'rgba(255, 206, 86, 1)',
//                 'rgba(75, 192, 192, 1)',
//                 'rgba(153, 102, 255, 1)',
//                 'rgba(255, 159, 64, 1)'
//             ],
//             borderWidth: 1
//         }]
//     },
//     options: {
//         scales: {
//             yAxes: [{
//                 ticks: {
//                     beginAtZero:true
//                 }
//             }]z
//         }
//     }
// });
}
// var ctx = document.getElementById("myChart");



</script>




