{% extends 'teacher/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    
    <!-- main wrapper start -->
    <section class="main-wrapper">
        <div class="row page-title-wrapper">
             <div class="col-8">
                 <h3 class="page-title">
                     {% trans "How can we help ?" %}
                 </h3>
                 
             </div>
             <div class="col-4">
             <div class="pull-right search-wrapper">
                 <form>
                     <div class="form-group">
                         <span>
                             <img src="{% static 'img/website/search.png' %}" alt="search-icon">
                         </span>
                       <input type="text" class="form-control" placeholder="Search Question" id="search_data" >
                     </div>
                 </form>
             </div>
         </div>        
     </div>
    <!-- title row end --> 
               <!-- faq wrapper start -->
             <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
             <div class="faq-wrapper">
                 <script>
                     var faq_count = 0;
                 </script>
                 <div class="row" >
                     <div class="col-sm-12">
                       <h5 class="fq-title">{% trans "Frequently Asked Questions" %}</h5>
                       <div class="accordion" id="accordionExample">
                         {% for faq in faq_data %}
                           <div class="card">
                             <div class="card-header" id="headingOne">
                               <h2 class="mb-0">
                                 <button id="ques_{{faq.id}}" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ans_{{faq.id}}" aria-expanded="false" aria-controls="ans_{{faq.id}}">
                                   {{faq.id}}. {{faq.question}}
                                 </button>
                               </h2>
                             </div>
                         
                             <div id="ans_{{faq.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                               <div class="card-body">
                                 {{faq.answer}}
                               </div>
                             </div>
                           </div>
                           <script>
                               if(faq_count == 0)
                               {
                                 $("#ques_{{faq.id}}").removeClass("collapsed");
                                 $("#ques_{{faq.id}}").attr("aria-expanded", "true");
                                 $("#ans_{{faq.id}}").addClass("show");
                                 faq_count++;
                               }
                               console.log("count---", faq_count);
                               
                           </script>
                           {% endfor %}
                         </div>
                         
                     </div>
                 </div>
               </div>
               <!-- faq wrapper end -->
     </div>
 
     <!-- main wrapper end -->
 
{% endblock %}

{% block faq %} class="active" {% endblock %}

{% block js %} 
<script src="{% static 'js/website/bootstrap-datepicker.min.js' %}"></script> 
{% endblock %}