{% extends 'teacher/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- main wrapper start -->
    <section class="main-wrapper login-wrapper">
      <div class="t-profile-wrapper ">
          <div class="row justify-content-center">
              <div class="col-sm-10 col-md-6 col-xl-4 ">
                <span class="user-pic help-desk-pic">
                    <img src="{% static 'img/website/helpdesk.png' %}" alt="user pic">
                </span>
                <form id="help-desk-form" autocomplete="on" method="POST" enctype="multipart/form-data" data-url="/teacher/helpdesk/">{% csrf_token %}
                <div class="help-desk-form">
                    <h3 class="page-title mt-3 mb-3">{% trans "Help Desk" %}</h3>
                    
                        <div class="form-group">                            
                            <input type="text" class="form-control border-btm" placeholder="{% trans 'Name' %}" name="name" required>
                        </div>
                        <div class="form-group">                            
                            <input type="text" class="form-control border-btm" placeholder="{% trans 'Position' %}" name="position" required>
                        </div>
                        <div class="form-group">                            
                            <div class="top-custom-select help-desk-select">
                                <select class="form-control border-btm" name="studio" required>
                                    <option value="select">{% trans "Select Studio" %}</option>
                                    {% for studio in studio %}
                                        <option value="{{ studio.id }}">{{studio.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">                            
                            <input type="email" class="form-control border-btm" placeholder="{% trans 'Email' %}" name="email" required>
                        </div>
                        <div class="form-group">                            
                            <textarea required class="form-control border-btm" placeholder="{% trans 'Message' %}" rows="4" name="message"></textarea>
                        </div>
                         <div class="form-group upload-file-block"> 
                              <label for="file" style="cursor: pointer;">{% trans "Upload File" %}</label>
                            <div class="upload-btn-wrapper">
                                <button class="btn btn-bg">{% trans "Upload" %}</button>
                                <input type="file"  accept="image/*" name="myfile" onchange="uploadFile(event,'help-desk-file_1')" id="help-desk-file_1" >
                            </div>
                            
                            <ul class="img-list-wrapper help-desk-images">
                            </ul>
                        </div>
                </div>
                <button type="submit" class="btn btn-bg btn-block" data-toggle="modal">{% trans "Send" %}</button>
            </form>
              </div>
          </div>
      </div>
      
     
    </section>
    <!-- main wrapper end -->

    <!-- modal start -->
     <!-- sucess modal start -->
    <div class="modal fade forgot-modal success-modal" id="successmodal" tabindex="-1" role="dialog" aria-labelledby="successmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">            
            <div class="modal-body">
                <button type="button" class="close modal-close-btn help-desk-close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="title">Success</h3>
                <div class="sucs-img">
                    <img src="{% static 'img/login/sucs-img.png' %}">
                </div>
                <p>{% trans "Data sent successfully." %}</p>
            </div>
            </div>
        </div>
    </div>
    <!-- sucess modal end -->

    <!-- error modal start -->
    <div class="modal fade forgot-modal error-modal show" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="errormodalLabel" aria-hidden="true" style="display: none;text-align: center;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">            
            <div class="modal-body">
                <button type="button" class="close modal-close-btn help-desk-close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="error-title">{% trans "Ooops..!!" %}</h3>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p class="text-center error-msg"></p>
            </div>
            </div>
        </div>
    </div>
    <!-- error modal end -->
    <!-- modal end -->
{% endblock %}

{% block helpdesk %} class="active" {% endblock %}



