{% extends 'teacher/base.html' %}
<!-- {% for l in lessonDetails %}

    lesson_code -- {{l.lesson_code}} <br>
    subject -- {{l.subject}} <br>
    total_students -- {{l.total_students}} <br>
    room -- {{l.room}} <br>
    teacher -- {{l.teacher}} <br>
    startTime -- {{l.startTime}} <br>
    endTime -- {{l.endTime}} <br>

    {% for student in l.student %}
        student Name - {{ student.full_name }}<br/>
        student image - {{ student.image }}<br/>

    {% endfor %}


<br/>
{% endfor %} -->
{% load i18n %}

{% load static %}

{% block content %}
    <!-- main wrapper start -->
    {% for l in lessonDetails %}

    <section class="main-wrapper">
        <div class="class-detail-wrapper">
            <div class="row ">
                <div class="col-sm-12">
                    <h3 class="page-title">{{l.lesson_code}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <ul class="class-info">
                        <li>
                            <span class="dt">{% trans "Aggregate Student Score" %}</span>
                            <span class="dd">{{l.total_students}}</span>
                        </li>
                        <li>
                            <span class="dt">{% trans "Subject" %}</span>
                            <span class="dd">{{l.subject.subject_name}}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                    <ul class="class-info">
                        <li>
                            <span class="dt">{% trans "Teacher" %}</span>
                            <span class="dd">{{l.teacher.full_name}}</span>
                        </li>
                        <li>
                            <span class="dt">{% trans "Room" %}</span>
                            <span class="dd">{{l.room}}</span>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                    <ul class="class-info">
                        {% for date in l.schedule_data %}
                        <li>
                            <span class="dt">{% trans "Scheduled Date" %}</span>
                            <span class="dd">{{date.scheduled_date}}</span>
                        </li>
                        {% endfor %}
                        <li>
                            <span class="dt">{% trans "Time" %}</span>
                            <span class="dd timings">{{l.startTime}} to {{ l.endTime }}</span>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        
       <!-- class detail end -->
       <!-- all student section start -->
    

       <div class="row">
        
           <div class="col-sm-12">
                <ul class="all-student-list">
                    {% for student in l.student %}
                    <li>
                        <a href="/teacher/student/{{student.id}}">
                            <span>
                                <img src="{{ student.image }}" alt="user">
                            </span>
                            <h6 class="name">
                                {{ student.full_name }}
                            </h6>
                            <div id="score_{{student.id}}" class="count">
                                <script>
                                    var count = 0;
                                </script>
                                
                                {% for s in l.student_report_data  %}       
                                    {% if s.subject.id == l.subject.id and student.id == s.student.id and s.lesson.id == l.id %}
                                        <script>if (count < 1){
                                                var value = "{{s.score}}";
                                                console.log("valueee",typeof(value)); 
                                                document.getElementById("score_{{student.id}}").textContent = parseFloat(value).toFixed(2);
                                                count++;
                                            }
                                        </script>
                                    {% endif %}
                                    
                                {% endfor %}
                            </div>
                        </a>
                    </li>
                    {% endfor %} 
                </ul>
           </div>
                     
       </div>
    

       <!-- all student section end -->
       <!-- <div class="row justify-content-end">
           <div class="col-sm-12">
                <nav aria-label="Page" class="pagination-cst">
                    <ul class="pagination justify-content-end">
                    <li class="page-item disabled aerrow">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item aerrow">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                </nav>
           </div>
       </div> -->
    </section>
    {% endfor %}

    <!-- main wrapper end -->
    {% endblock %}
    
    {% block Lessons %} active {% endblock %}
