{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/ico" href="{% static 'img/website/icon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/website/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/website/daterangepicker.css' %}" />
    <link rel="stylesheet" href="{% static 'css/website/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/responsive.css' %}">

    <title>{% trans "CURIOO" %}</title>
    <style>.notification .badge {
      position: absolute;
      top: +27px;
      right: +99px;
      padding: 3px 6px;
      border-radius: 50%;
      background-color: #ff0900;
      color: white;
    }</style>
</head>

<body class="p-30">
    <div id="loader">
        <div id="loader-svg">
        <img src="{% static 'css/ajax-loader.gif' %}">
        </div>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript">
        $(document).ready(function(){
        // alert('1')
        // $('.product_loader.base').css('display', 'block');
        $('#loader').css('display', 'none');
        
        })
        </script>
        
        </div>
    <section class="header-top-panel">
        <div class="float-right">
            <ul class="">
                <li><a href="{% url 'faq/' %}">{% trans "FAQ" %}</a></li>
                <li><a href="{% url 'helpdesk/' %}">{% trans "Help Desk" %}</a></li>
                <li>
                    {% get_available_languages as languages %}
                    {% get_current_language as LANGUAGE_CODE %}
                    <div class="top-custom-select">
                        <select id="lenguage_selector">
                            <option value="">{% trans "Language" %}</option>
                            {% for lang_code, lang_name in languages %}
                                <option value={{ lang_code }} {% if LANGUAGE_CODE == lang_code %} selected {% endif %}>{{ lang_name }}</option>
                            {% endfor %}
                          
                        </select>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- top header end -->

    <!-- main header start -->
    <header class="nav-wrapper header-white">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{% url 'index/' %}">
                <img src="{% static 'img/website/logo.png' %}" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link"  href="{% url 'lessons/' %}" title="Lessons">{% trans "Lessons" %}<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {% block Activity %} {% endblock %}">
                            <a class="nav-link " href="/teacher/activities/" title="Activities">{% trans "Activities" %}</a>
                        </li>
                        <li class="nav-item {% block Students %} {% endblock %}">
                            <a class="nav-link" href="{% url 'students/' %}" title="Students">{% trans "Students" %}</a>
                        </li>
                        <li class="nav-item {% block Analytics %} {% endblock %}">
                            <a class="nav-link" href="{% url 'analytics/' %}" title="Analytics">{% trans "Analytics" %}</a>
                        </li>
                        <li class="nav-item {% block Calender %} {% endblock %}">
                            <a class="nav-link" href="{% url 'calender/' %}" title="Calendar">{% trans "Calendar" %}</a>
                        </li>
                        <li class="nav-item {% block Announcement %} {% endblock %}">
                            <a class="nav-link" href="{% url 'announcement/' %}" title="Announcements">{% trans "Announcements" %}</a>
                        </li>
                    </ul>

            </div>
            <div class="form-inline">
                <div class="notification">
                    <a href="{% url 'notify/' %}">
                        <span class="">
                            <img src="{% static 'img/website/notify.png' %}"/>{% block notify_num %} 
                            
                            <span class="badge" id="notification_count">{{count}}</span>
    
                            {% endblock %}
                        </span>
                    </a>
                </div>
                <div class="user-dropdown">
                    <a href="#">
                        <span class="user-pic"><img src="{{ image.url }}"></span>
                        <span class="user-name"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-list hide">
                        <li><a href="{% url 'profile/' %}" title="Profile">{% trans "Profile" %}</a></li>
                        <li><a href="#" onclick="alert('in progress')" title="schedule">{% trans "View my schedule" %}</a></li>
                        <li><a href="{% url 'lesson/' %}" title="lessons">{% trans "View my lessons" %}</a></li>
                        <li><a href="javascript:void(0)" data-url="{% url 'logout/' %}" title="sign-out" id="logout">{% trans "Sign out" %}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- header end -->
    <!-- main header end -->

    <!-- main wrapper start -->
    <section class="main-wrapper" id="dashboard">
        <div class="row page-title-wrapper dash-title-wrapper align-items-center">
            <div class="col-md-4">
                 <!-- time-period start -->
             
                  <a class="btn btn-bg max-width-83" href="{% url 'lesson/' %}">{% trans "My Lessons" %}</a>
              
                <!-- time-period end -->
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <div class="search-wrapper mt-2">
                    <form>
                        <div class="form-group">
                            <span>
                                <img src="{% static 'img/website/search.png' %}" alt="search-icon">
                            </span>
                        <input type="text" class="form-control" placeholder="{% trans 'Search Lesson Code' %}"  id="search_lesson">
                        </div>
                    </form>
                </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="text-right">
                <!-- time-period start -->
                    <div class="time-period">
                        <form class="form-inline">
                            <label for="Time ">{% trans "Time Period" %}</label>
                            <div class="input-group datepicker date ml-1" data-date-format="dd.mm.yyyy">                          
                                <input type="text" placeholder="DD/MM/YYYY" class="form-control " name="daterange" value=" ">
                                <div class="input-group-append icon">
                                    <span class="">
                                        <img src="{% static 'img/website/calendar.png' %}" alt="calendar">
                                    </span>
                                </div>                          
                            </div>
                        </form>
                    </div>                    
                    <!-- time-period end -->             
                </div>             
            </div>
        </div>
        <div class="row" id="searchLesson">
            <div class="col-lg-4">
                <div >
                    <div class="score-card p20 dashboard-details  back-blue d-flex align-items-center">
                    <div class="detail  pad-30">
                        <span>
                            <img src="{% static 'img/website/group1.png' %}" alt="score">
                        </span>
                    </div>
                    <div class="detail pad-30" onclick="location.href='/teacher/students/'">
                        <h6 class="font-20">{% trans "All Students" %}</h6>
                        
                                <h5 class="font-42">{{all_students_count}}</h5>
                            
                    </div>
                </div>
            </div>
            </div>
            <script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script>
            <script>
                var default_count = 0;
                var unknown_color = {}
            </script>
            {% for l in lesson %}
            
            <div class="col-lg-4 lesson-details" >
                <div class="score-card border1">
                        <div id="{{l.lesson_code}}" class="detail detaila text-center pad-20 colora1" >
                        <span>
                            <p class="font-16 text-right start_time">{{l.start_time}}</p>
                            
                            <h6 class="font1-20 lesson_code" >  <img src="{% static 'img/website/curioo.png' %}" alt="effort" class="mr-3 ">{{l.lesson_code}}</h6>
                        </span>
                            <div class="effect-card">
                    <ul>
                        <li>
                            {% trans "Student Number" %}
                            <p class="total_students">{{l.total_students}}</p>
                        </li>
                            <li>
                                {% trans "Lesson Code" %}
                            <p class="lesson_code">{{l.lesson_code}}</p>
                        </li>
                            <li>
                            {% trans "Subject" %}
                            <p class="subject">{{l.subject}}</p>
                        </li>
                            <li>
                            {% trans "Teacher" %}
                            <p class="teacher">{{l.teacher}}</p>
                        </li>
                            <li>
                                {% trans "Scheduled Date" %}
                            <p class="start_time">{{l.scheduled_date}}</p>
                        </li>
                            <li>
                            {% trans "Room" %}
                            <p class="room">{{l.room}}</p>
                        </li>
                    </ul>
                    </div>
                    </div>
                    
                    <div class="width-100">
                        <a id="view_{{l.lesson_code}}" class="width-col-50" href="{% url 'lesson/view/' lesson_id=l.lesson_id %}"><div class="pad-10 text-center font-16 border-right-a"><img src="{% static 'img/website/view.png' %}" class="mr-1" alt="effort">{% trans "View" %}</div></a>
                        <a id="insight_{{l.lesson_code}}" href="{% url 'lesson/report/' lesson_id=l.lesson_id %}" class="width-col-50"><div class="pad-10 text-center font-16"><img src="{% static 'img/website/insights.png' %}" class="mr-1 mb-1" alt="effort">{% trans "Insights" %}</div></a>
                        
                    </div>
                </div>

            </div>
           
            <script>
                 var borderColor = { 
                "english": "#F3ACB3", 
                "entrepreneur": "#1691B3", 
                "technology": "#F6BE57", 
                "creative design": "#EB5858", 
                "default": ["#0f6b84", "#678388", "#9a5653", "#FFEB3B", "#FF9800", "#673AB7"] };

                
                // console.log("subjectName ", subjectName);
                var el = document.getElementsByClassName("score-card border1");
                var color;
                
                $("#{{l.lesson_code}}").hover(function(){
                    console.log("{{l.lesson_code}}")
                    var subjectName = "{{l.subject}}".toLowerCase();
                    if (borderColor.hasOwnProperty(subjectName)) {
                        console.log("if if", subjectName)
                        color = borderColor[subjectName];
                    }else{
                        if (unknown_color.hasOwnProperty(subjectName)){
                            console.log("in if ");
                            
                            color = unknown_color[subjectName];
                            console.log("default in if color", unknown_color);
                        }else{
                            console.log("in second else");
                            
                            unknown_color[subjectName] = borderColor["default"][default_count]
                            color = unknown_color[subjectName];
                            default_count++;
                            console.log("default count", default_count);
                            console.log("default color", unknown_color);
                        }
                        
                    }
                    document.getElementById('{{l.lesson_code}}').parentElement.style.border = '2px solid '+color;
                    document.getElementById('view_{{l.lesson_code}}').style.borderTop = '1px solid '+color;
                    document.getElementById('insight_{{l.lesson_code}}').style.borderLeft = '1px solid '+color;
                    document.getElementById('insight_{{l.lesson_code}}').style.borderTop = '1px solid '+color;
                    // document.getElementById('{{l.lesson_code}}').parentElement.childNodes.style.border = '1px solid '+color; 
                    // $(".colora1").style.borderColor = "black";
                }, function () {
                    // $(".colora1").style.borderColor = "blue";
                    document.getElementById('{{l.lesson_code}}').parentElement.style.border = '0px solid '+color;
                    document.getElementById('view_{{l.lesson_code}}').style.borderTop = '0px solid '+color;
                    document.getElementById('insight_{{l.lesson_code}}').style.borderLeft = '0px solid '+color;
                    document.getElementById('insight_{{l.lesson_code}}').style.borderTop = '0px solid '+color;
                    // document.getElementById('{{l.lesson_code}}').parentElement.childNodes.style.border = '0px solid '+color; 
                });
            </script>
            {% endfor %}
                    
     </div>
    
    </section>
    <!-- main wrapper end -->

    <!-- boostrap js start -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <!-- <script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'js/website/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/website/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/website/daterangepicker.min.js' %}"></script>
    <script src="{% static 'js/website/fontawesome.min.js' %}"></script> 
    <script src="{% static 'js/website/custom-select.js' %}"></script> 
     <script src="{% static 'js/website/custom.js' %}"></script>  
     <script src="{% static 'js/website/fliterLesson.js' %}"></script>    
     <script src="{% static 'js/website/logout.js' %}"></script> 
    <script src="{% static 'js/website/faq.js' %}"></script>
    <script src="{% static 'js/website/helpdesk.js' %}"></script>
    <script src="{% static 'js/website/change-password.js' %}"></script>

    <script>
        $('#lenguage_selector').on('change', function () {
            console.log($('#lenguage_selector option:selected').val());
            var selected_value = $('#lenguage_selector option:selected').val();
            var csrf_token = "{{ csrf_token }}";
            if(selected_value != ""){
                $.ajax({
                    // url: "{% url 'changeLanguage' %}",
                    headers: {"X-CSRFToken": csrf_token},
                    url: "{% url 'set_language' %}",
                    type: "POST",
                    data: {'language': selected_value},
                    success: function (data) {
                        console.log('success', data);

                        function redirect() {
                            window.location.reload();
                        }

                        setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds

                    },
                    error: function (data) {
                        console.log('fail', data);
                        console.log('text', data.responseText);
                        openErrorModal(data.responseText);
                    }
                });
                event.stopImmediatePropagation();
                event.preventDefault();
            }
        })
    </script>


     <script>
        $(function() {
          $('input[name="daterange"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            },
            opens: 'left'
          });
        });
         
    </script>
     
</body>

</html>
