{% extends 'teacher/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <!-- main wrapper start -->
    <section class="main-wrapper">
        <div class="row">
            <div class="col-md-4 col-lg-3 col-xl-2 p-0">
                <div class="left-bg-wrapper">
                   <div class="student-info-wrapper">
                        <div class="stud-pic">
                            <img src="{{ image.url }}" alt="student pic">
                        </div>
                       
                        <ul class="stud-info-list mt-3">
                            <li><p>{% trans "Teacher" %}</p></li>
                            <li><p id="teacher_name"></p></li>
                            <li><p>{% trans "Lesson" %}</p></li>
                            <li><p id="lesson_name"></p></li>
                            <li><p>{% trans "Subject" %}</p></li>
                            <li><p id="lesson_subject"></p></li>
                            <li><p>{% trans "Time" %}</p></li>
                            <li><p id="schedule_time"></p></li>
                            <li><p>{% trans "Date" %}</p></li>
                            <li><p id="schedule_date"></p></li>
                            <li><p>{% trans "Room" %}</p></li>
                            <li><p id="schedule_room"></p></li>
                        </ul>
                   </div>
                </div>
            </div>
            <!-- col-md-2 end -->
            <div class="col-md-8 col-lg-9 col-xl-10">
                <div class="right-wrapper">
                    <div class="row page-title-wrapper">
                        <div class="col-lg-4 col-md-12">
                            <h3 class="page-title">{% trans "Lesson Reports" %}</h3>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <div class="pull-right class-report-time">
                                
                            </div>
                        </div>
                    </div>
                   <!-- title row end -->            
                    <div class="row mt-4">               
                        <div class="col-lg-6">
                            <div class="score-card  border">
                                <h5 class="chart-title">
                                        {% trans "Behavior Chart" %}
                                </h5>
                                <div id="behaviourchart" style="width: 100%; height: 442px; background-color: #FFFFFF;" >
                               </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="score-card  border">
                                <h5 class="chart-title">
                                    {% trans "Motivation Scale" %}
                                </h5>
                                <div id="motivationchart" style="width: 100%; height: 442px; background-color: #FFFFFF;" ></div>
                            </div>
                        </div>

                    <!-- <div class="col-lg-6">
                            <div class="score-card  border">
                                <h5 class="chart-title">
                                    Average Score Line
                                </h5>
                                <div id="averagechart" style="width: 100%; height: 442px; background-color: #FFFFFF;" ></div>
                            </div>
                        </div>

                    <div class="col-lg-6">
                            <div class="score-card  border">
                                <h5 class="chart-title">
                                    Wellbeing Scale
                                </h5>
                                <div id="wellbeingchart" style="width: 100%; height: 442px; background-color: #FFFFFF;" ></div>
                            </div>
                        </div> -->
                    </div>
                    <!-- chart row end -->               
                </div>
                <!-- right-wrapper end -->
            </div>
            <!-- col-md-10 end -->
        </div>
        <!-- row end -->
    </section>
    <!-- main wrapper end -->
    {% endblock %}

{% block Lessons %} active {% endblock %}

{% block chart %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
<canvas id="myChart123"></canvas>

<script>
    var bg_color;
    var dict = { "english": "#F3ACB3", "entrepreneur": "#1691B3", "technology": "#F6BE57", "creative design": "#EB5858", "default": ["#0f6b84", "#678388", "#9a5653", "#FFEB3B", "#FF9800", "#673AB7"] };
    var ctx = document.getElementById("myChart123");
    var tid;
    var clrs = ["#F3ACB3", "#F6BE57", "#EB5858", "#1691B3"];
$('#list-of-lessons').on('change', function () {

        var endpoint = '/api/chart/data/analytics/'
        var selected_lesson = $('#list-of-lessons').val()
        if(tid=="onReady")
        {
            selected_lesson = "{{ latest_schedule.lesson.id }}";
        }
        $.ajax({
            method: "POST",
            url: endpoint,
            data: {
                'LessonId':selected_lesson ,
            },
            success: function (data) {
                console.log("dattaaaaa", data);
                $('#behaviourchart').empty()
                $('#motivationchart').empty()
                $('#averagechart').empty()
                $("#wellbeingchart").empty()

                $('#lesson_name').text(data["schedule_obj"]["lesson_code"]);
                $('#lesson_subject').text(data["schedule_obj"]["subject"]);
                $('#schedule_time').text(data["schedule_obj"]["time"]);
                $('#schedule_date').text(data["schedule_obj"]["date"]);
                $('#schedule_room').text(data["schedule_obj"]["room"]);

                if(data['subject']=="english" || data['subject']=="entrepreneur" || data['subject']=="technology" || data['subject']=="creative design")
                {
                    bg_color=dict[data["subject"]]
                }
                else
                {
                    min = Math.ceil(0);
                    r=Math.floor(Math.random() * (5 - min + 1)) + min;
                    bg_color=dict["default"][r]
                }
                setMotivationalChart(data);
                setWellbeing(data);
                set_chart(data["chart"]["behaviour_chart"]);
                set_chart_line(data["chart"]["average_chart"],data["chart"]["behaviour_chart"]);
                if(tid=="onReady") {
                    $('#list-of-lessons').val("{{ latest_schedule.lesson.id }}")
                    tid="";
                }


            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })

});

</script>
<script>

function set_chart(object,object2) {
   chartHtml = `<canvas id="myChart_1" height="400"></canvas>`;

        $('#behaviourchart').append(chartHtml)
        var ctx = $('#myChart_1');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
               // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                labels: object['labels'],
                datasets: [
                    {
                    label: "Average",
                    // lineTension :0,
                    data: object2['data'],
                    borderColor: '#43b1bf',
                    // border:
                    pointBackgroundColor: "black",
                    fontColor: '#000000',
                    type: 'line',
                    fill: false,
                },
                {
                    label: object['label'],
                    data: object['data'],
                    backgroundColor: bg_color,
                    fontColor: '#000000',

                    borderWidth: 1,

                }]
            },
            /*options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }*/
            options: {
                maintainAspectRatio: false,
                // code for showing bar value on the the top of bar
                hover: {
                    "animationDuration": 0
                },
                animation: {
                    "duration": 1,
                    "onComplete": function () {
                        var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';

                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                                var data = dataset.data[index].toFixed(2);
                                ctx.fillText(data, bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                },
                legend: {
                      "display": false
                },
                tooltips: {
                   // "enabled": false
                },
                scales: {
                    xAxes: [{
                        barPercentage: 0.2,
                        gridLines: {
                            display: true,
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            fontColor: 'rgb(98, 207, 227)'
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: true,
                            zeroLineColor: 'black'
                        },
                        // display: false,

                        ticks: {
                            // max: Math.max(...data.datasets[0].data) + 10,
                            // display: false,
                            beginAtZero: true,
                            fontColor: 'rgb(98, 207, 227)'
                        }
                    }],
                }
                // end of code for showing bar value on the the top of bar

            }
        });
    }
</script>

<script>
var mypieChart;
default_count_motiv = 0;
    function setMotivationalChart(data) {
        console.log("data0000000000000",data)
        console.log("in set Motivational chart");
        chartHtml = `<canvas id="motivational_scale" style="display:"block"></canvas>`;

        $('#motivationchart').append(chartHtml)

        let pie_colors_motivation = [];
        console.log("dat 123-0-----------------",data, 'moti0----',data['motivation'])
        console.log("Object.keys(data[-----------------",Object.keys(data["motivation"]))
        Object.keys(data["motivation"]).forEach(data => {
            console.log("data--------------in for each----",data)
        })
        console.log("pie_labels",Object.keys(data["motivation"]))
        console.log("pie_data", Object.values(data["motivation"]))
        console.log("pie_colors_motivation----------",pie_colors_motivation)
        var chartId = document.getElementById("motivational_scale");
        var rating = Object.keys(data["rating_data"])
        var rating_value = Object.values(data["rating_data"])

        var myChart = new Chart(chartId, {
            type: 'bar',
            data: {
                labels: Object.keys(data["motivation"]),
                datasets: [{
                    data: Object.values(data['motivation_avg']),
                    type: 'line',
                    fill: false,
                    // lineTension :0,
                    pointBackgroundColor: "black",
                    borderColor: '#43b1bf',
                    },
                    {
                    label: "{% trans 'overall rating' %}",

                    backgroundColor: bg_color,
                    data: Object.values(data["motivation"])
                }]
            },
            options: {

                hover: {
                    "animationDuration": 0
                },
                animation: {
                    "duration": 1,
                    "onComplete": function () {
                        var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';

                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                                var data = dataset.data[index];
                                ctx.fillText(data, bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                },
                //responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        barPercentage: 0.2,
                        gridLines: {
                            display: true,
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            fontColor: 'rgb(98, 207, 227)'
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: true,
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            fontColor: 'rgb(98, 207, 227)',
                            min: data["min_max_data"]["min rating"],
                            max: data["min_max_data"]["max rating"],
                            stepSize: 1,
                            suggestedMin: 0.5,
                            suggestedMax: 5.5,
                            callback: function (value, index, rating) {
                                if(parseInt(value) || parseInt(value)==0)
                                   return data["rating_data"][value]
                            }
                        },

                    }],
                },
                legend: {
                    display: false
                },
            }
        });
    }
    // }

    
    $(document).ready(function () {

        $('#lesson_name').text('{{ scheduleDetails.lesson.lesson_code }}');
        $('#lesson_subject').text('{{ scheduleDetails.lesson.subject.subject_name }}');
        $('#schedule_time').text('{{ scheduleDetails.class_start_time }}');
        $('#schedule_date').text('{{ scheduleDetails.scheduled_date }}');
        $('#schedule_room').text('{{ scheduleDetails.room_number }}');
        $('#teacher_name').text('{{ scheduleDetails.teacher.full_name }}');
    });
</script>
{% endblock %}

    {% block js %}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        
        <script type="text/javascript" src="{% static 'js/website/daterangepicker.min.js' %}"></script>
    
    <script>
        $(function() {
          $('input[name="daterange"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            },
            opens: 'left'
          });
        });
        $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            var date_range = $('input[name="daterange"]').val()
            console.log('date_range--lesson report',date_range)
        
        
            $.ajax({
                method: "post",
                url: '/teacher/lesson/report/date/',
                data: {
                    'date_range':date_range,
                    'LessonId':`{{ scheduleDetails.lesson.id }}`
                },
                success: function (data) {
                    console.log("dattaaaaa", data);
                    // $('#behaviourchart').empty()
                    // $('#motivationchart').empty()
                    // $('#averagechart').empty()
                    // $("#wellbeingchart").empty()

                    // $('#lesson_name').text(data["schedule_obj"]["lesson_code"]);
                    // $('#lesson_subject').text(data["schedule_obj"]["subject"]);
                    // $('#schedule_time').text(data["schedule_obj"]["time"]);
                    // $('#schedule_date').text(data["schedule_obj"]["date"]);
                    // $('#schedule_room').text(data["schedule_obj"]["room"]);

                    if(`{{ scheduleDetails.lesson.subject.subject_name }}`=="english" || `{{ scheduleDetails.lesson.subject.subject_name }}`=="entrepreneur" || `{{ scheduleDetails.lesson.subject.subject_name }}`=="technology" || `{{ scheduleDetails.lesson.subject.subject_name }}`=="creative design")
                    {
                        bg_color=dict[`{{ scheduleDetails.lesson.subject.subject_name }}`]
                    }
                    else
                    {
                        min = Math.ceil(0);
                        r=Math.floor(Math.random() * (5 - min + 1)) + min;
                        bg_color=dict["default"][r]
                    }
                    // setWellbeing(data);
                    var e = document.getElementById("behaviourchart")
              var child = e.lastElementChild;
              while (child){
                e.removeChild(child)
                child = e.lastElementChild;
              }
              var e = document.getElementById("motivationchart")
              var child = e.lastElementChild;
              while (child){
                e.removeChild(child)
                child = e.lastElementChild;
              }
              
              setMotivationalChart(data);

                    if(Object.keys(data).length != 0){
                        set_chart(data["chart"]["behaviour_chart"]);
                    }
                    // set_chart_line(data["chart"]["average_chart"],data["chart"]["behaviour_chart"]);
                    // if(tid=="onReady") {
                    //     $('#list-of-lessons').val("{{ latest_schedule.lesson.id }}")
                    //     tid="";
                    // }
                },
                error: function (error_data) {
                    console.log("error")
                    console.log(error_data)
                }
            })

        
            });
    </script>

    <script>
        $(document).ready(function(){

var endpoint = '/api/chart/data/analytics/'
var selected_lesson = `{{ scheduleDetails.lesson.id }}`

$.ajax({
    method: "POST",
    url: endpoint,
    data: {
        'LessonId':selected_lesson ,
    },
    success: function (data) {
        console.log("dattaaaaa", data);
        // $('#behaviourchart').empty()
        // $('#motivationchart').empty()
        // $('#averagechart').empty()
        // $("#wellbeingchart").empty()

        // $('#lesson_name').text(data["schedule_obj"]["lesson_code"]);
        // $('#lesson_subject').text(data["schedule_obj"]["subject"]);
        // $('#schedule_time').text(data["schedule_obj"]["time"]);
        // $('#schedule_date').text(data["schedule_obj"]["date"]);
        // $('#schedule_room').text(data["schedule_obj"]["room"]);
        var subname = `{{ scheduleDetails.lesson.subject.subject_name }}`
        subname = subname.toLowerCase()
        console.log("check if condition ---",subname)

        if(subname=="english" || subname=="entrepreneur" || subname=="technology" || subname=="creative design")
        {
            bg_color=dict[subname]
            console.log("check lesson color ----if--",bg_color)
        }
        else
        {
            min = Math.ceil(0);
            r=Math.floor(Math.random() * (5 - min + 1)) + min;
            bg_color=dict["default"][r]
            console.log("check lesson color ----else--",bg_color)

        }
        setMotivationalChart(data);
        // setWellbeing(data);
        // set_chart(data["chart"]["behaviour_chart"]);
        set_chart(data["chart"]["behaviour_chart"],data["chart"]["behaviour_avg_chart"]);

        // set_chart_line(data["chart"]["average_chart"],data["chart"]["behaviour_chart"]);
        // if(tid=="onReady") {
        //     $('#list-of-lessons').val("{{ latest_schedule.lesson.id }}")
        //     tid="";
        // }


    },
    error: function (error_data) {
        console.log("error")
        console.log(error_data)
    }
})



        })


        function setMotivationalChart(data) {
        console.log("data0000000000000",data)
        console.log("in set Motivational chart");
        chartHtml = `<canvas id="motivational_scale" style="display:"block"></canvas>`;

        $('#motivationchart').append(chartHtml)

        let pie_colors_motivation = [];
        console.log("dat 123-0-----------------",data,Object.keys(data).length)
        // console.log("Object.keys(data[-----------------",Object.keys(data["motivation"]))
        if(Object.keys(data).length != 0){

        Object.keys(data["motivation"]).forEach(data => {
            console.log("data--------------in for each----",data)
        })
    }

        // console.log("pie_labels",Object.keys(data["motivation"]))
        // console.log("pie_data", Object.values(data["motivation"]))
        console.log("pie_colors_motivation----------",pie_colors_motivation)
        var chartId = document.getElementById("motivational_scale");
        var rating = Object.keys(data["rating_data"])
        var rating_value = Object.values(data["rating_data"])

        var myChart = new Chart(chartId, {
            type: 'bar',
            data: {
                labels: Object.keys(data["motivation"]),
                datasets: [{
                    label: "overall rating",
                    backgroundColor: bg_color,
                    data: Object.values(data["motivation"])
                }]
            },
            options: {

                hover: {
                    "animationDuration": 0
                },
                animation: {
                    "duration": 1,
                    "onComplete": function () {
                        var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';

                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                                var data = dataset.data[index];
                                ctx.fillText(data, bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                },
                //responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        barPercentage: 0.2,
                        gridLines: {
                            display: true,
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            fontColor: 'rgb(98, 207, 227)'
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: true,
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            min: data["min_max_data"]["min rating"],
                            max: data["min_max_data"]["max rating"],
                            stepSize: 1,
                            fontColor: 'rgb(98, 207, 227)',
                            suggestedMin: 0.5,
                            suggestedMax: 5.5,
                            callback: function (value, index, rating) {
                                if(parseInt(value) || parseInt(value)==0)
                                   return data["rating_data"][value]
                            }
                        },
                    }],
                },
                legend: {
                    //display: false
                },
            }
        });
    }
    </script>
    {% endblock %}
     