{% load static %}
<!-- <!DOCTYPE html>
<html>
    Dear {{ first_name }} <br><br>
            Please click on the link given below to validate your email address for Curioo Kids<br><br>
            <a href={{ url }}><b>Reset Your Password</b></a><br><br>
    Regards,<br>Curioo Kids team.
</html> -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    
    <title>all form tech</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
  <style type="text/css">
		body{
			margin:0;
			padding:0;
			-webkit-text-size-adjust:100% !important;
			-ms-text-size-adjust:100% !important;
			-webkit-font-smoothing:antialiased !important;
		}
		img{
			border:0 !important;
			outline:none !important;
		}
		p{
			margin:0 !important;
			padding:0 !important;
		}
		table{
			border-collapse:collapse;
			mso-table-lspace:0;
			mso-table-rspace:0;
		}
		td,a,span{
			border-collapse:collapse;
			mso-line-height-rule:exactly;
		}
		.ExternalClass *{
			line-height:100%;
		}
		.defaultlink a{
			color:inherit !important;
			text-decoration:none !important;
		}
		.g_img+div{
			display:none;
		}
		.mcnPreviewText{
			display:none !important;
		}
		.tpl-content{
			padding:0 !important;
		}
		.black a{
			color:#393c41;
			text-decoration:none;
			font-weight:bold;
		}
		.white a{
			color:#ece2db;
			text-decoration:underline;
		}
		.gray a{
			color:#b2b4b4;
			text-decoration:none;
		}
	 
	@media only screen and (min-width:481px) and (max-width:599px){
		.main_table{
			width:100% !important;
		}
           .wrapper{
			width:100% !important;
		}
		.hide{
			display:none !important;
		}
		.full_img{
			width:100% !important;
			height:auto !important;
		}
		.aside15{
			padding:0 15px !important;
		}
		.pad-10{
			padding:20px 10px  !important;
		}
	
		.ptop{
			padding-top:30px !important;
		}

		.pbottom{
			padding-bottom:30px !important;
		}
			.width_10{
		width:10px  !important;
		}
		.h20{
			height:20px !important;
			font-size:1px !important;
			line-height:1px !important;
		}
}				

		@media screen and (max-width: 480px){
		.main_table{
				width:100% !important;
		}
			.wrapper{
			width:100% !important;
		}
		.pad-10{
			padding:20px 10px  !important;
		}
			.full_img{
			width:100% !important;
			height:auto !important;
		}
			.full_img img{
			width:100% !important;
			height:auto !important;
		}
			.font{
				font-size: 28px !important;
				line-height: 32px !important;
			}
			
			.ptop{
			padding-top:30px !important;
		}
			.h20{
		height:20px !important;
			font-size:1px !important;
			line-height:1px !important;
		}
		.width_10{
		width:10px  !important;
		}
			.hide{
			display:none !important;
		}
			u+.body .full_wrap{
			width:100vw !important;
		}


}			</style></head>
  <body class="body" style="margin:0px auto; padding:0px;" bgcolor="#f7f7f7">
   
    <!-- == Body Section == -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="full_wrap" bgcolor="#f7f7f7">
      <tr>
        <td align="center" valign="top">
          <!-- == Banner Section == -->
          
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="full_wrap" bgcolor="#f7f7f7">
            <tr>
              <td align="center" valign="top">
                <table align="center" width="620" border="0" cellspacing="0" cellpadding="0" class="main_table" style="width:620px;table-layout:fixed;">
  <tr>
    <td  style="padding:0 10px;"><table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"  bgcolor="#fff" >
					
					
					<tr><td height="20" class="h20" style="line-height: 0px; font-size: 0px;"  bgcolor="#f7f7f7">&nbsp;</td></tr>
            
					<!--logo  section-->
					<tr><td height="30"  style="line-height: 0px; font-size: 0px;">&nbsp;</td></tr>
					<tr>
					    <td align="center" bgcolor="#ffffff" style="padding: 0px 30px;"  ><a href="#" target="_blank" style="text-decoration: none;"><img id="logo-img" src="{% static 'img/website/logo-img.png' %}" height="auto" alt="curioo logo" style="display: block;font-family: Helvetica, Arial, 'sans-serif'; line-height: 45px; font-size: 26px; font-style: italic; color: #000000; max-width: 172px; "  border="0" class="full_img"/></a></td>
				  </tr>
					<!--//logo  section-->
					
					<!--banner image section1-->
					<tr><td height="5"style="line-height: 0px; height:5px; font-size: 0px;">&nbsp;</td></tr>
					
					<tr><td valign="top" align="center" ><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="border:8px solid #;">
  <tbody>
     <tr>
    <td align="left" class="pad-10" style="background-color:#ffffff; padding:20px; line-height:20px; font-size:15px; color:#000000; font-family:Arial, Helvetica, sans-serif;">
    
    </td>
    </tr>
    	
        

	  
     
    <tr>
    <td align="left" class="pad-10" style="background-color:#ffffff; padding:0px 20px 20px; line-height:22px; font-size:15px;  color:#000000; font-family:Arial, Helvetica, sans-serif;"><b>Hi {{ first_name }}, <br> {% if role_creation %}Welcome to Curiookids!!<br> You have been appointed as a {{ appointed_role }} at {{ studio }} Studio. </b><br>We are delighted to have you with us, {% endif %}Please {% if password == None %} set {% else %} reset {% endif %} your password by clicking the button below
    
    </td>
    </tr>
       <tr>
    <td style="padding:0px 20px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  <td align="center" class="pad-10" style="    background-color: #6cc6d9; padding:10px 20px; line-height:20px; font-size:15px; color:#fff; font-weight:bold; font-family:Arial, Helvetica, sans-serif;"><a href="{{ url }}" style="text-decoration:none; display:block; color:#fff; " >Click here to {% if password == None %} set {% else %} reset {% endif %} your password </a>

  </tr>
</table>
</td>
    
   
    </tr>
     <tr>
    <td align="left" class="pad-10" style="background-color:#ffffff; padding:20px 20px 20px; line-height:22px; font-size:15px;  color:#000000; font-family:Arial, Helvetica, sans-serif;">Thanks, <br />
The Curiookids
    
    </td>
    </tr>
    <tr><td height="30"  style="line-height: 0px; font-size: 0px;" >&nbsp;</td></tr>
	 
   
	  
    
	 
  </tbody>
</table>
</td></tr>
  
    
						<!--//banner image section1-->
					<!--banner image section2-->
                    <tr><td valign="top" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody>
	 
	 
   
	  
	  
    
	    
	  
    
	   
	 
	
  </tbody>
</table>
</td></tr>
					
					<!--//banner image section2-->
					
					
					  
                </table></td>
  </tr>
</table>

              </td>
            </tr>
          
          </table>
        
      </td>
    </tr>
  </table>
  <!-- == //Body Section == -->
 <script>
     $(document).ready(function() {
         console.log("log")
        document.getElementById("logo-img").src = "{{image}}";
     });
     
 </script>
  </body>
</html>