{% extends 'teacher/base.html' %}
{% load static %}
{% block content %}
{% load i18n %}
    <!-- main wrapper start -->
    <section class="main-wrapper" id="dashboard">
        <div class="row page-title-wrapper dash-title-wrapper align-items-center">
            <div class="col-md-4">
                 <!-- time-period start -->
             
                 <h3 id="id_myLesson" class="page-title">{% trans "My Lessons" %}</h3>
              
                <!-- time-period end -->
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <div class="search-wrapper mt-2">
                    <form>
                        <div class="form-group">
                            <span>
                                <img src="{% static 'img/website/search.png' %}" alt="search-icon">
                            </span>
                        <input type="text" class="form-control" placeholder="{% trans 'Search Lesson' %}" id="search_lesson">
                        </div>
                    </form>
                </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="text-right">
                <!-- time-period start -->
                    <div class="time-period">
                        <form class="form-inline">
                            <label for="Time ">{% trans "Time Period" %}</label>
                            <div class="input-group datepicker date ml-1" data-date-format="dd.mm.yyyy">                          
                                <input type="text" placeholder="DD/MM/YYYY" class="form-control " name="daterange" value=" ">
                                <div class="input-group-append icon">
                                    <span class="">
                                        <img src="{% static 'img/website/calendar.png' %}" alt="calendar">
                                    </span>
                                </div>                          
                            </div>
                        </form>
                    </div>                    
                    <!-- time-period end -->             
                </div>             
            </div>
        </div>
        
        <script>
            var default_count = 0;
            var unknown_color = {};
        </script>
        <div class="scroll-wrapper-400">
            <div class="row" id="searchLesson">
                <div class="col-lg-4">
                    <div class="score-card p20 dashboard-details  back-blue d-flex align-items-center">
                        <div class="detail  pad-30">
                            <span>
                                <img src="{% static 'img/website/group1.png' %}" alt="score">
                            </span>
                        </div>
                        <div class="detail pad-30" onclick="location.href='/teacher/students/'">
                            <h6 class="font-20">{% trans "All Students" %}</h6>
                            <h5 class="font-42">{{student_count}}</h5>
                        </div>
                    </div>
                </div>
                {% for lesson,value in my_lesson.items %}
                {% if lesson == "teachers_lessons" %}
                {% for k,v in value.items %}
                {% for k1,v1 in v.items %}
                <div class="col-lg-4 lesson-details" id="show_count">
                    <div class="score-card border1">
                            <div id="{{v1.lesson_code}}" class="detail detaila text-center pad-20 colora1">
                            <span>
                                <p class="font-16 text-right">{{ v1.time }}</p>
                                
                                <h6 class="font1-20">  <img src="{% static 'img/website/curioo.png' %}" alt="effort" class="mr-3"> {{ v1.lesson_code }}</h6>
                            </span>
                                <div class="effect-card">
                        <ul>
                            <li>
                                {% trans "Student Number" %}
                                <p>{{ v1.totalStudents }}</p>
                            </li>
                                <li>
                                    {% trans "Lesson Code" %}
                                <p>{{ v1.lesson_code }}</p>
                            </li>
                                <li>
                                {% trans "Subject" %}
                                <p>{{ v1.subject }}</p>
                            </li>
                                <li>
                                {% trans "Teacher" %}
                                <p>{{ name }}</p>
                            </li>
                                <li>
                                    {% trans "Scheduled Date" %}
                                <p>{{ v1.scheduled_date }}</p>
                            </li>
                                <li>
                                {% trans "Room" %}
                                <p>{{ v1.room }}</p>
                            </li>
                        </ul>
                        </div>
                        </div>
                        
                        <div class="width-100">
                            {% if v1.scheduled_date < todayDate %}

                            <a id="view_{{v1.lesson_code}}" class="width-col-50" href="{% url 'lesson/view/' lesson_id=v1.lesson_id %}"><div class="pad-10 text-center font-16 border-right-a"><img src="{% static 'img/website/view.png' %}" class="mr-1" alt="effort">{% trans "View" %}</div></a>
                            <a id="insight_{{v1.lesson_code}}" href="/teacher/lesson/report/{{v1.lesson_id}}" class="width-col-50"><div class="pad-10 text-center font-16"><img src="{% static '/img/website/insights.png' %}" class="mr-1" alt="effort">{% trans "Insights" %}</div></a>
                            {% else %}
                            <a id="view_{{v1.lesson_code}}" class="width-col-50" href="{% url 'lesson/view/' lesson_id=v1.lesson_id %}"><div class="pad-10 text-center font-16 border-right-a"><img src="{% static 'img/website/view.png' %}" class="mr-1" alt="effort">{% trans "View" %}</div></a>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
                <script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script>
            <script>
                 var borderColor = { 
                "english": "#F3ACB3", 
                "entrepreneur": "#1691B3", 
                "technology": "#F6BE57", 
                "creative design": "#EB5858", 
                "default": ["#0f6b84", "#678388", "#9a5653", "#FFEB3B", "#FF9800", "#673AB7"] };

                
                // console.log("subjectName ", subjectName);
                var el = document.getElementsByClassName("score-card border1");
                var color;
                
                $("#{{v1.lesson_code}}").hover(function(){
                    console.log("{{v1.lesson_code}}")
                    var subjectName = "{{v1.subject}}".toLowerCase();
                    if (borderColor.hasOwnProperty(subjectName)) {
                        console.log("if if", subjectName)
                        color = borderColor[subjectName];
                    }else{
                        if (unknown_color.hasOwnProperty(subjectName)){
                            console.log("in if ");
                            
                            color = unknown_color[subjectName];
                            console.log("default in if color", color);
                        }else{
                            console.log("in second else");
                            
                            unknown_color[subjectName] = borderColor["default"][default_count]
                            color = unknown_color[subjectName];
                            default_count++;
                            console.log("default count", unknown_color);
                            console.log("default color", color);
                        }
                    }
                    document.getElementById('{{v1.lesson_code}}').parentElement.style.border = '2px solid '+color;
                    document.getElementById('view_{{v1.lesson_code}}').style.borderTop = '1px solid '+color;
                    // document.getElementById('insight_{{v1.lesson_code}}').style.borderLeft = '1px solid '+color;
                    // document.getElementById('insight_{{v1.lesson_code}}').style.borderTop = '1px solid '+color;
                    // document.getElementById('{{v1.lesson_code}}').parentElement.childNodes.style.border = '1px solid '+color; 
                    // $(".colora1").style.borderColor = "black";
                }, function () {
                    // $(".colora1").style.borderColor = "blue";
                    document.getElementById('{{v1.lesson_code}}').parentElement.style.border = '0px solid '+color;
                    document.getElementById('view_{{v1.lesson_code}}').style.borderTop = '0px solid '+color;
                    // document.getElementById('insight_{{v1.lesson_code}}').style.borderLeft = '0px solid '+color;
                    // document.getElementById('insight_{{v1.lesson_code}}').style.borderTop = '0px solid '+color;
                    // document.getElementById('{{v1.lesson_code}}').parentElement.childNodes.style.border = '0px solid '+color; 
                });
            </script>
                {% endfor %}
                {% endfor %}

                {% endif %}
                {% endfor %}
               
                </div>
               
    
                   <div class="text-right">
                              
                              <a class="btn btn-bg max-width-83" id="view_more">{% trans "View more" %}</a>
                                
                            </div>

        </div>
        
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script>

        <script>
            console.log("len" , $('[id=show_count]').length);
            var len = $('[id=show_count]').length;
            var i=0;
            if(len > 5)
            {
                // alert("in if");
                $('[id]').each(function () {
                    $('[id="' + this.id + '"]:gt(4)').hide();
                });
                $("#view_more").click(function(){
                    // alert("view more");
                    $('[id]').each(function () {
                        $('[id="' + this.id + '"]:gt(4)').show();
                    });
                    $("#view_more").hide();
                    $("#today_Mylesson").hide();
                    var arrow = `<h3 class="page-title mb-4">   <a href="/teacher/lesson/" style="color: inherit;"><i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>{% trans "Back" %}</a></h3>`
                    $("#id_myLesson").prepend(arrow);

                });
            }
            // else{
            //     alert("in else");
            // }
        </script>
        <div class=" mt-5" id="today_Mylesson">
            <h3 class="page-title mb-4 mt-1">{% trans "Your Today's Lessons" %}</h3>
            <div class="table-responsive scroll-wrapper-a400">
    <table class="table" id="my-class">
    <thead>
      <tr>
        <th>{% trans "Lesson" %}</th>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "Time" %}</th>
         <th>{% trans "Room" %}</th>
         <th>{% trans "Actions" %}</th>
        
      </tr>
    </thead>
    <tbody>
        {% for lesson,value in my_lesson.items %}
        {% if lesson == "today_lessons" %}
        {% for k,v in value.items %}
      <tr>
        <td>{{ v.lessonCode }}</td>
        <td>{{ v.subject }}</td>
        <td>{{ v.start_time }}</td>
        <td>{{ v.room }}</td>
        {% for sub,color in color_dict.items %}
        <script>
            if ("{{sub}}" == "{{v.subject}}".toLowerCase()){
                var color = "{{color}}"
            }
        </script>
        {% endfor %}

        <td> <a id="start_{{v.scheduleId}}" class="btn btn-bg max-width-a83" data-url="/teacher/lesson/start/{{ v.scheduleId }}/" >{% trans "Start Lesson" %}</a>
            <a id="insight_{{v.scheduleId}}" href="/teacher/lesson/report/{{v.lesson_id}}"  class="btn max-width-a83 btn-color" >{% trans "Insights" %}</a>
            <script>
                document.getElementById("insight_{{v.scheduleId}}").style.background = color;
            </script>
    </td>
  </tr>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>

      if("{{v.end_class}}" != "None")
      {
        $(document).ready(function(){
            $("#insight_{{v.scheduleId}}").show();
            $("#start_{{v.scheduleId}}").removeAttr("href");
                $("#start_{{v.scheduleId}}").click(function(){
                    swal({
                        title: "Warning",
                        text: `{% trans "You cannot Start the Class now, It has already ended!" %}`,
                        icon: "warning",
                        });
                });
        });
      }
      else{
        // $(document).ready(function(){
            $("#insight_{{v.scheduleId}}").hide();  
            $("#start_{{v.scheduleId}}").click(function(){

                var url = $("#start_{{v.scheduleId}}").attr("data-url")
                console.log("url--",url)
                // splitEle = ele.split('_')
                scheduleId = "{{v.scheduleId}}"
                $.ajax({
                    type: "GET",
                    url: url,
                    data: {'schedule_id':scheduleId},
                    success: function (data) {
                        console.log('data--',data)
                        window.location.href='/teacher/lesson/start/'+scheduleId+'/'

                    },
                    error: function (data) {
                        console.log('An error occurred.');
                        console.log("data---",data);
                        $("#startclasserrormodal").css("display","block")
                        $("#s").addClass('show')
                        $("#startclasserrormodal").removeAttr('aria-hidden')
                        // $("#forgotpwd").css('display','none')
                        // $("#forgotpwd").removeClass('show')
                        // $("#forgotpwd").attr('aria-hidden','true')
                        $(".error-msg").text(data["responseJSON"]["message"])
                        $("body").addClass('modal-open')
                        // $("body").removeAttr('style')
                        $('.modal-backdrop').remove()

                    },
                });
            })
        // });
      }
      
</script>
  {% endfor %}
  {% endif %}
{% endfor %}
</tbody>
</table>
</div>
        </div>
    
        
     
    
    </section>
    <div class="modal fade forgot-modal error-modal show" id="startclasserrormodal" tabindex="-1" role="dialog" aria-labelledby="errormodalLabel" aria-hidden="true" style="display: none;text-align: center;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">            
            <div class="modal-body">
                <button type="button" class="close modal-close-btn startclass-close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="error-title">{% trans "Ooops..!!" %}</h3>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p class="text-center error-msg"></p>
            </div>
            </div>
        </div>
    </div>
    <!-- main wrapper end -->
    {% endblock %}
    {% block js %} 
     
     <script>
       $(function() {
          $('input[name="daterange"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            },
            opens: 'left'
          });
        });
        $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
        console.log("Applied");        
        
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        console.log($(this).val());
        // studioId = document.getElementById("teacher_studio").value;
        // active_status = document.getElementById("teacher_status").value;
        data = {"date_range":$(this).val()}
        $.ajax({
          url:'/teacher/mylesson/filter/',
          type:'POST',
          data:data,
          success: function (data) {
              console.log("date --- dattaaaaa", data);
              var lessonCode;
              var default_date_count = 0;
              var borderColor = { 
                "english": "#F3ACB3", 
                "entrepreneur": "#1691B3", 
                "technology": "#F6BE57", 
                "creative design": "#EB5858", 
                "default": ["#0f6b84", "#678388", "#9a5653", "#FFEB3B", "#FF9800", "#673AB7"] };
              $('.lesson-details').remove()
                for(var i=0; i<data.length; i++){
                    var div = 
                `<div class="col-lg-4 lesson-details" >
                <div class="score-card border1 ">
                        <div id="`+data[i]["lesson_code"]["lesson_code"]+`" class="detail detaila text-center pad-20 colora1">
                            <input id="hid_`+data[i]["lesson_code"]["lesson_code"]+`" type="hidden" value="`+data[i]["lesson_code"]["subject_name"]+`">
                            <span>
                            <p class="font-16 text-right">`+data[i]['lesson_code']['start_time']+`</p>
                            
                            <h6 class="font1-20">  <img src="/static/img/website/curioo.png" alt="effort" class="mr-3">` +data[i]["lesson_code"]["lesson_code"]+`</h6>
                        </span>
                            <div class="effect-card">
                    <ul>
                        <li>
                            {% trans "Student Number" %}
                            <p>`+data[i]['lesson_code']['students']+`</p>
                        </li>
                            <li>
                                {% trans "Lesson Code" %}
                            <p>`+data[i]["lesson_code"]["lesson_code"]+`</p>
                        </li>
                            <li>
                            {% trans "Subject" %}
                            <p>`+data[i]["lesson_code"]["subject_name"]+`</p>
                        </li>
                            <li>
                            {% trans "Teacher" %}
                            <p>`+data[i]['lesson_code']['teacher']+`</p>
                        </li>
                            <li>
                                {% trans "Scheduled Date" %}
                            <p>`+data[i]['lesson_code']['scheduled_date']+`</p>
                        </li>
                            <li>
                            {% trans "Room" %}
                            <p>`+data[i]['lesson_code']['room']+`</p>
                        </li>
                            
                    </ul>
                    </div>
                    </div>
                    
                    <div class="width-100">
                        `;
                        
                        if (data[i]['lesson_code']['today'] > data[i]['lesson_code']['schedule_date']){
                            insights_bool = true
                            div = div +
                            `<a id="view_`+data[i]['lesson_code']['lesson_code']+`" class="width-col-50" href="/teacher/lesson/view/`+data[i]['lesson_id']+`"><div class="pad-10 text-center font-16 border-right-a"><img src="/static/img/website/view.png" class="mr-1" alt="effort">{% trans "View" %}</div></a>
                            <a id="insight_`+data[i]['lesson_code']['lesson_code']+`" href="#" onclick="alert('show lesson report in progress')" class="width-col-50"><div class="pad-10 text-center font-16"><img src="/static/img/website/insights.png" class="mr-1 mb-1" alt="effort">{% trans "Insights" %}</div></a> </div>
                            </div>`;
                        }else{
                            div = div + `<a id="view_`+data[i]['lesson_code']['lesson_code']+`" class="width-col-50" href="/teacher/lesson/view/`+data[i]['lesson_id']+`"><div class="pad-10 text-center font-16 border-right-a"><img src="/static/img/website/view.png" class="mr-1" style="float:center;" alt="effort">{% trans "View" %}</div></a></div></div>`;
                        }
                   
           
            $('#searchLesson').append(div);
            console.log("code-----",data[i]['lesson_code']['lesson_code'])
            var lessonCode = data[i]['lesson_code']['lesson_code']
            var subName = data[i]["lesson_code"]["subject_name"]

            console.log("lessonCode", lessonCode)
                
                $("#"+lessonCode).hover(function(){
                    console.log("code in hover-----",this.id)

                    var subjectName = document.getElementById("hid_"+this.id).value.toLowerCase();
                    if (borderColor.hasOwnProperty(subjectName)) {
                        console.log("if if", subjectName)
                        color = borderColor[subjectName];
                    }else{
                        if (unknown_color.hasOwnProperty(subjectName)){
                            console.log("in if ");
                            
                            color = unknown_color[subjectName];
                            console.log("default in if color", color);
                        }else{
                            console.log("in second else");
                            
                            unknown_color[subjectName] = borderColor["default"][default_count]
                            color = unknown_color[subjectName];
                            default_count++;
                            console.log("default count", unknown_color);
                            console.log("default color", color);
                        }
                        
                    }
                    document.getElementById(this.id).parentElement.style.border = '2px solid '+color;
                    document.getElementById('view_'+this.id).style.borderTop = '1px solid '+color;
                    if (insights_bool == true){
                    document.getElementById('insight_'+this.id).style.borderLeft = '1px solid '+color;
                    document.getElementById('insight_'+this.id).style.borderTop = '1px solid '+color;
                }
                }, function () {
                    document.getElementById(this.id).parentElement.style.border = '0px solid '+color;
                    document.getElementById('view_'+this.id).style.borderTop = '0px solid '+color;
                    if (insights_bool == true){
                        document.getElementById('insight_'+this.id).style.borderLeft = '0px solid '+color;
                        document.getElementById('insight_'+this.id).style.borderTop = '0px solid '+color;
                        
                    }
                });
                insights_bool = false

            }

            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })
    })
    </script>

     <script>

if($('.lesson-details').length > 5){
    $('#view_more').show()
}else{
    $('#view_more').hide()
}
</script>

{% endblock %}
{% block Lessons %} active {% endblock %}
