{% extends 'teacher/base.html' %}
{% load static %}
{% load i18n %}
{% block css %}

<link href="{% static 'css/website/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'css/website/daygrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'css/website/timegrid/main.css' %}" rel='stylesheet' />
<link rel="stylesheet" href="{% static 'css/website/style.css' %}">
<link rel="stylesheet" href="{% static 'css/website/responsive.css' %}">


{% endblock %}
{% block notify_num %} {% endblock %}
{% block content %}


    <!-- main wrapper start -->
    <section class="main-wrapper">
        <div class="row page-title-wrapper">
            <div class="col-sm-12">
                <h3 class="page-title">{% trans "Notifications" %}</h3>
            </div>       
        </div>
       <!-- title row end -->
       <!-- all activites section start -->
       {% for notify in data %}
       <div class="row activity-wrapper">        
           <div id="subMain" class="col-sm-12">
               <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script>

                <script>
                    // console.log("date" , "{{notify.date}}");
                    var showDate = 0;
                    // console.log("----***----" , showDate);
                    try {
                        showDate = document.getElementById("showDate_"+"{{notify.date}}"+"").textContent;
                        showDate = showDate.split(":")[1];
                        // console.log("--------" , showDate);
                        
                    } catch (error) {
                        console.log("in catch");
                    }
                    
                    if("{{notify.date}}" == showDate)
                    {
                        console.log("****same****");
                    }
                    else{
                        // console.log("***else***");
                        var append_date = `<h3 id="showDate_{{notify.date}}" class="page-title color-black" value="{{notify.date}}">{% trans "Date" %} :{{notify.date}}</h3>`;
                        $("#subMain").append(append_date);
                    }
                </script>
                <ul class="all-student-list activity-list notify-list">
                    <li>
                        <a href="javascript:void(0)">                            
                            <h6 class="name">
                                {{notify.notification}}.
                            </h6>
                            <div class="count">
                                {{notify.time}}
                            </div>
                        </a>
                    </li>
                </ul>
           </div>           
       </div>
       {% endfor %}
       <!-- all activites section end -->
       <!-- <div class="row justify-content-end">
           <div class="col-sm-12">
                <nav aria-label="Page" class="pagination-cst">
                    <ul class="pagination justify-content-end">
                    <li class="page-item disabled aerrow">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item aerrow">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                </nav>
           </div>
       </div> -->
    </section>
    <!-- main wrapper end -->
    {% endblock %}
    {% block js %} 
    <!-- boostrap js start -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script>

    <script src="{% static 'js/website/bootstrap-datepicker.min.js' %}"></script>     

    {% endblock %}

    {% block notification %} active {% endblock %}

    