 {% load static %}

<!--<html>{{ id }} {{ usertType }}
    {% if success %}
     {{ success }}
    {% else %}
    {{ error }}
    {% endif %}
    <form method="post"> 
        {% csrf_token %}
        <input type="hidden" value="website" name="device">
        <input type="text" placeholder="new pass" value="123" name="password"/>
        <input type="text" placeholder="con pass" value="123" name="confirm_password"/>
        <input type="submit" value="submit"/>
    </form>
</html> -->


<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuriooKids  |  Set Password</title>
  

   <link rel="icon"  type="image/ico" href="{% static 'img/icon.png' %}"> 
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/mystyle-coman.css' %}" rel="stylesheet">
    <link href="{% static 'css/media.css' %}" rel="stylesheet">
      <link href="{% static 'css/admin-style.css' %}" rel="stylesheet">

</head>

<body>
    {% if success %}
     {{ success }}
    {% else %}
    {{ error }}
    {% endif %}
    <div id="wrapper">
      <!-- Reset Password in html -->
    {% if forgot or password == None %}
       <div class=" coman-modal coman-modal-a" id="sign-in">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content  text-center">
                <a href="#"><img src="{% static 'img/logo-modal.png' %}" alt=""></a>
                  <h1>{% if password == None %} Set Password {% else %} Reset Password {% endif %} </h1>
                  <!--<div class="row"><b>Hi {{name}},</b><p>
Welcome to Curiookids!!
You have been appointed as a teacher at CURIOOKids Studio.
We are delighted to have you with us, Please {% if password == None %} set {% else %} reset {% endif %}  your password by clicking the button below</p></div>-->
                    <form id="reset-password-form" {% if password == None %} data-url="/setPassword/{{user_code}}/" {% else %} data-url="/resetPassword/{{user_code}}/" {% endif %} method="post">{% csrf_token %}
                        <input type="hidden" value="website" name="device">

                        <div class="form-group pass-word">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input type="Password" class="form-control" name="password" placeholder="Enter New Password" required>
                        </div>
                         <div class="form-group pass-word">
                           <i class="fa fa-lock" aria-hidden="true"></i>
                            <input type="Password" class="form-control" name="confirm_password" placeholder="Enter Confirm  Password" required>
                         </div>
                        
                      <button type="submit" class="btn btn-primary" >{% if password == None %} Set Password {% else %} UPDATE {% endif %}</button>
                    </form>
             </div>
        </div>
    </div>
  </div>
    {% else %}
        <div class=" coman-modal coman-modal-a" id="sign-in">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content  text-center">
                <a href="#"><img src="{% static 'img/logo-modal.png' %}" alt=""></a>
                <h2>You have already set the password!</h2>
                <p><a href="/login/" target="_blank">Click Here</a> to login.</p>
            </div>
        </div>
        </div>
    {% endif %}

   <!-- success modal start -->
  <div class="modal coman-modal  fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-a" role="document">
      <div class="modal-content text-center">
          
          
           <h1>Successful</h1>
           <div class="success-msg-icon">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
               
           </div>
           <p>Password has been changed successfully <br><a href="/login/" target="_blank">Click Here</a> to login with your new password</p>
           
      </div>
    </div>
  </div>
  <!-- success modal end -->
    <!-- error modal start -->
    <div class="modal coman-modal  fade" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="errormodalLabel" aria-hidden="true" style="display: none;text-align: center;">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content">            
            <div class="modal-body">
                <button type="button" class="close modal-close-btn error-close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="error-title">Oops..!</h3>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p class="text-center error-msg"></p>
            </div>
            </div>
        </div>
    </div>
    <!-- error modal end -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/website/reset-password.js' %}"></script>
    

</body>
</html>
