{% extends 'teacher/base.html' %}

{% block Lessons %} active {% endblock %}

{% block content %}
{% load i18n %}
{% load static %}
<!-- all_students -- {{ classDetails.all_students }} </br>
lesson_code -- {{ classDetails.lesson_code }} </br>
subject -- {{ classDetails.subject }} </br>
total_students -- {{ classDetails.total_students }} </br>
room -- {{ classDetails.room }} </br>
teacher -- {{ classDetails.teacher }} </br>
timings -- {{ classDetails.timings }} </br> -->

<!-- main wrapper start -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script>

{% for l in classDetails %}
<section class="main-wrapper">
    <div class="class-detail-wrapper">
        <div class="row " style="align-items: center;">
            <div class="col-6">
                <h3 class="page-title">{{ l.lesson_code }}</h3>
            </div>
            <div class="col-6">
                <div class="pull-right btn-end-lesson">
                    <a id="end_{{schedule_id}}_{{lesson_id}}" onclick="sendData(this.id)" class="btn btn-bg btn-end-lesson">{% trans "End Lesson" %}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <ul class="class-info">
                    <li>
                        <span class="dt">{% trans "Aggregate Student Score" %}</span>
                        <span class="dd">{{ l.total_students }}</span>
                    </li>
                    <li>
                        <span class="dt">{% trans "Subject" %}</span>
                        <span class="dd">{{ l.subject.subject_name }}</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4">
                <ul class="class-info">
                    <li>
                        <span class="dt">{% trans "Time" %}</span>
                        <span class="dd">{{ l.startTime }} to {{ l.endTime }}</span>
                    </li>
                    <li>
                        <span class="dt">{% trans "Room" %}</span>
                        <span class="dd">{{ l.room }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- class detail end -->
    <!-- all student section start -->
    <div class="row">
        <div class="col-sm-12">
            <ul class="all-student-list">
                
                {% for student in l.student %}
                <li>
                    <a href="#" id="student_data_{{student.id}}" data-toggle="modal" data-target="#ongoingclass{{student.id}}">
                        <span>
                            <img src="{{ student.image }}" alt="user">
                        </span>
                        <h6 class="name">
                            {{ student.full_name }}
                        </h6>
                        
                        <div id="score_{{student.id}}" class="count">
                            <script>
                                var count = 0;
                            </script>
                             
                            {% for s in l.student_report_data  %}
                               
                                {% if s.subject.id == l.subject.id and student.id == s.student.id and s.lesson.id == l.id %}
                                    <script>if (count < 1){
                                            var value = "{{s.score}}";
                                            console.log("valueee",value); 
                                            document.getElementById("score_{{student.id}}").textContent = parseFloat(value).toFixed(2);
                                            
                                            var dt = document.getElementById("student_data_{{student.id}}");
                                            dt.dataset.target = "#warningmodal{{student.id}}";
                                            console.log("Data---",dt.dataset.target);
                                            
                                            count++;
                                        }
                                    </script>
                                {% endif %}
                                
                            {% endfor %}
                        </div>
                    </a>
                </li>
                
                {% endfor %}
            </ul>
            
        </div>
    </div>
    <!-- all student section end -->
    <!-- <div class="row justify-content-end">
        <div class="col-sm-12">
            <nav aria-label="Page" class="pagination-cst">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled aerrow">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item aerrow">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div> -->
</section>
<!-- main wrapper end -->

{% for student in l.student %}
<!-- modal start -->
<!-- forgot modal start -->
<div class="modal fade ongoing-class" id="ongoingclass{{student.id}}" tabindex="-1" role="dialog"
    aria-labelledby="ongoingclassLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">

                    <div class="col-md-4 col-lg-3 pr-0">
                        <div class="left-bg-wrapper">
                            <div class="student-info-wrapper">
                                <div class="stud-pic">
                                    <img src="{{ student.image }}" alt="student pic">
                                </div>
                                <h6 class="sname">{{ student.full_name }}</h6>
                                <div class="class-score">
                                    <p>Total Score</p>
                                    <p id="score_{{student.id}}" class="score-count">
                                        
                                        {% for s in l.student_report_data  %}
                                            {% if s.subject.id == l.subject.id and student.id == s.student.id  and s.lesson.id == l.id %}
                                                {{s.score|floatformat:2}}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 col-lg-9">
                        <div class="add-point-tab">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                        onclick="show_subject({{student.id}})" href="#Subjects{{ student.id }}"
                                        role="tab" aria-controls="Subjects" aria-selected="true">
                                        {% trans "Subjects" %}
                                    </a>
                                    <a class="nav-item nav-link" id="effort-tab" data-toggle="tab"
                                        onclick="show_effort({{student.id}})" href="#effort{{ student.id }}" role="tab"
                                        aria-controls="effort" aria-selected="false">
                                        {% trans "Overall Effort" %}
                                    </a>
                                    <a class="nav-item nav-link" id="scale-tab" data-toggle="tab"
                                        onclick="show_scale({{student.id}})" href="#scale{{ student.id }}" role="tab"
                                        aria-controls="scale" aria-selected="false">
                                        {% trans "Wellbeing Scale" %}
                                    </a>
                                    <a class="nav-item nav-link" id="comment-tab" data-toggle="tab"
                                        onclick="show_comment({{student.id}})" href="#comment{{ student.id }}"
                                        role="tab" aria-controls="comment" aria-selected="false">
                                        {% trans "Add Comment" %}
                                    </a>

                                </div>

                            </nav>
                            
                            <div class="tab-content" id="nav-tabContent">
                                <!-- <form id="commentForm{{student.id}}" data-url="/teacher/lesson/start/comment/{{student.id}}/" method="POST"></form> -->
                                <form id="myForm{{student.id}}" data-url="/teacher/lesson/student/review/" method="POST">
                                    <div class="tab-pane fade show active" id="Subjects{{ student.id }}" role="tabpanel"
                                        aria-labelledby="Subjects-tab">
                                        <h3 class="page-title mt-4">{{ l.subject.subject_name }} {% trans "Lesson" %}
                                            <a class="info" data-toggle="tooltip" data-html="true" data-placement="left"
                                                title="<div class='tooltip-cst'><ul><li>1.Rarely</li><li>2.Sometimes</li><li>3.Usually</li><li>4.Always</li></u></div>">
                                                <img src="{% static 'img/website/info.png' %}" alt="info">
                                            </a>
                                        </h3>
                                        
                                        <input type="hidden" name="lesson_id" id="lesson_id" value="{{l.id}}">
                                        <input type="hidden" name="subject_id" id="subject_id" value="{{l.subject.id}}">
                                        <input type="hidden" name="student_id" id="student_id" value="{{student.id}}">
                                        {% for behav in l.subject_behaviour %}
                                        <!-- subject wrapper start -->
                                        <div class="subject-wrapper">
                                            <h6>{{behav.behaviour}}</h6>
                                            <div class="radio-wrapper">
                                                <span class="icon">
                                                    <img src="{% static 'img/website/task.png' %}" alt="task">
                                                </span>
                                                <div class="radio-custom">

                                                    <p>
                                                        <input type="radio" checked
                                                            id="{{behav.behaviour|lower}}_{{ student.id }}_1"
                                                            value="{{behav.id}} 1"
                                                            name="behaviour {{ student.id }}_{{behav.id}}" >
                                                        <label
                                                            for="{{behav.behaviour|lower}}_{{ student.id }}_1">1</label>
                                                    </p>
                                                    <p>
                                                        <input type="radio"
                                                            id="{{behav.behaviour|lower}}_{{ student.id }}_2"
                                                            value="{{behav.id}} 2"
                                                            name="behaviour {{ student.id }}_{{behav.id}}">
                                                        <label
                                                            for="{{behav.behaviour|lower}}_{{ student.id }}_2">2</label>
                                                    </p>
                                                    <p>
                                                        <input type="radio"
                                                            id="{{behav.behaviour|lower}}_{{ student.id }}_3"
                                                            value="{{behav.id}} 3"
                                                            name="behaviour {{ student.id }}_{{behav.id}}">
                                                        <label
                                                            for="{{behav.behaviour|lower}}_{{ student.id }}_3">3</label>
                                                    </p>
                                                    <p>
                                                        <input type="radio"
                                                            id="{{behav.behaviour|lower}}_{{ student.id }}_4"
                                                            value="{{behav.id}} 4"
                                                            name="behaviour {{ student.id }}_{{behav.id}}">
                                                        <label
                                                            for="{{behav.behaviour|lower}}_{{ student.id }}_4">4</label>
                                                    </p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <!-- subject wrapper end -->

                                        {% endfor %}

                                    </div>
                                    <div style="display: none;" class="tab-pane fade" id="effort{{ student.id }}"
                                        role="tabpanel" aria-labelledby="effort">
                                        <h3 class="page-title mt-4">{{ l.subjectsubject_name }} Lesson</h3>
                                        <h3 class=" mt-1 mb-5 page-title1">{% trans "Overall Effort Scale" %}</h3>
                                        <!-- subject wrapper start -->
                                        <div class="subject-wrapper mb-40">
                                            <div class="radio-wrapper effort-wrapper overall-cst">
                                                <div class="radio-custom effort-100">

                                                    {% for overallscale in l.overall_rating_scales %}
                                                    <p>
                                                        <input type="radio" checked
                                                            id="overallscale_{{student.id}}_{{overallscale.id}}"
                                                            value="{{overallscale.id}}" name="overallscale" >
                                                        <label
                                                            for="overallscale_{{student.id}}_{{overallscale.id}}">{{ overallscale.overall_rating|title }}</label>
                                                    </p>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                        <!-- subject wrapper end -->
                                    </div>
                                    <div style="display: none;" class="tab-pane fade" id="scale{{ student.id }}"
                                        role="tabpanel" aria-labelledby="scale">
                                        <h3 class="page-title mt-4">{{ l.subject.subject_name }} Lesson</h3>
                                        <h3 class="page-title1 mt-1 mb-5">{% trans "Wellbeing Scale" %}</h3>
                                        <!-- subject wrapper start -->
                                        <div class="subject-wrapper mb-40">
                                            <div class="well-wrapper">
                                                <div class="radio-img">
                                                    {% for wellscale in l.well_being_scales %}
                                                    <p>
                                                        <input type="radio" checked id="well_being_scale"
                                                            class="{{wellscale.well_being_scale|lower}}"
                                                            value="{{wellscale.id}}" name="well_being_scale" >
                                                        <label for="well_being_scale">
                                                            {{ wellscale.well_being_scale|title }}
                                                        </label>
                                                    </p>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                        <!-- subject wrapper end -->
                                    </div>
                                    
                                    <!-- </form> -->

                                    <div style="display: none;" class="tab-pane fade" id="comment{{ student.id }}"
                                        role="tabpanel" aria-labelledby="comment">
                                        <h3 class="page-title mt-4">{{ l.subject.subject_name }} Lesson</h3>
                                        <div class="row mt-3">
                                            <div class="col-sm-12">
                                                
                                                    <div class="form-group">
                                                        <input type="hidden" name="schedule_id" id="schedule_id"
                                                            value="{{schedule_id}}">
                                                        <input type="hidden" name="comment_by_role" id="comment_by_role"
                                                            value="{{l.teacher.position.lower}}">
                                                        <input type="hidden" name="comment_by_id" id="comment_by_id"
                                                            value="{{l.teacher.id}}">
                                                        <input type="hidden" name="comment_on_role" id="comment_on_role"
                                                            value="student">
                                                        <input type="hidden" name="comment_on_id" id="comment_on_id"
                                                            value="{{student.id}}">
                                                        <input type="hidden" name="subject_id" id="subject_id"
                                                            value="{{l.subject.id}}">

                                                        <textarea class="form-control" name="message"
                                                            id="exampleFormControlTextarea1" rows="6"
                                                            placeholder="Type here..." ></textarea>
                                                    </div>

                                                    <div class="btn-wrapper">
                                                            <button type="submit" class="btn btn-primary {% if l.subject.subject_name|lower  == 'entreprenuer' %}  btn-entreprenuer  {% endif %} {% if l.subject.subject_name|lower  == 'english' %}  btn-english  {% endif %} {% if l.subject.subject_name|lower  == 'technology' %}  btn-technology  {% endif %} {% if l.subject.subject_name|lower  == 'creative design' %}  btn-creativedesign  {% endif %}"
                                                            data-toggle="modal" onclick="return checkComment({{student.id}})" data-target="#successmodal{{student.id}}">{% trans "Finish" %}</button>

                                                    </div>
                                            </div>
                                        </div>
                                        <!-- post comment end -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="comment-wrapper">
                                                    <h3 class="page-title mb-3 comment-title mt-3">{% trans "Previous Comments" %}</h3>
                                                    <ul id="comment_{{student.id}}" class="comment-list">

                                                        {% if not l.comments %}
                                                        <h3>{% trans "No Comments found..." %}</h3>
                                                        {% else %}
                                                        {% for comment in l.comments %}
                                                        
                                                        {% if comment.subject.id == l.subject.id and comment.commented_on_id == student.id and comment.lesson.id == l.id %}
                                                        <li>
                                                            <span class="user-pic">
                                                                <img src="{{l.teacher.image.url}}" alt="user pic">
                                                            </span>
                                                            <div class="comment-text">
                                                                <h6>{{comment.commented_by_role|capfirst}}</h6>
                                                                <p>{{comment.message}}
                                                                </p>
                                                            </div>
                                                            <div class="timestamp">
                                                                <p>
                                                                    {{comment.created_at|time:"H:i A"}}
                                                                </p>
                                                                <p>
                                                                    {{comment.created_at|date:"d/m/Y"}}
                                                                </p>
                                                            </div>
                                                        </li>
                                                        {% endif %}
                                                        {% if comment.subject.id == l.subject.id and comment.commented_on_id != student.id and forloop.first %}
                                                        <h3>{% trans "No Comments found..." %}</h3>
                                                        {% endif %}
                                                        {% endfor %}
                                                        {% endif %}

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- comment sectione end -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- forgot modal end -->
<!-- sucess modal start -->
<div class="modal fade forgot-modal success-modal" id="successmodal{{student.id}}" tabindex="-1" role="dialog"
    aria-labelledby="successmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- <a href="/teacher/lesson/start/{{student.id}}/" type="button"
                    class="close modal-close-btn forgot-close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a> -->
                <h3 class="title">{% trans "Success" %}</h3>
                <div class="sucs-img">
                    <img src="{% static 'img/login/sucs-img.png' %}">
                </div>
                <p>{% trans "Review Added Successfully." %}</p>
            </div>
        </div>
    </div>
</div>
<!-- sucess modal end -->

<!-- Warning modal start -->
<div class="modal fade forgot-modal success-modal" id="warningmodal{{student.id}}" tabindex="-1" role="dialog"
    aria-labelledby="successmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close modal-close-btn forgot-close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 style="color: red;" class="title">Warning</h3>
                <div class="sucs-img" style="font-size: 5rem;color: red;">
                    <i class="fa fa-exclamation-circle"></i>
                </div>
                <p>You already reviewed "{{student.full_name}}"</p>
            </div>
        </div>
    </div>
</div>
<!-- Warning modal end -->
<!-- modals end -->

{% endfor %}
{% endfor %}

<script>
    function show_subject(student_id) {
        var subj = document.getElementById('Subjects' + student_id);
        var effort = document.getElementById('effort' + student_id);
        var scale = document.getElementById('scale' + student_id);
        var commment = document.getElementById('comment' + student_id);
        
        subj.style.display = 'block';
        effort.style.display = 'none';
        scale.style.display = 'none';
        commment.style.display = 'none';
    }

    function show_effort(student_id) {







        var subj = document.getElementById('Subjects' + student_id);
        var effort = document.getElementById('effort' + student_id);
        var scale = document.getElementById('scale' + student_id);
        var commment = document.getElementById('comment' + student_id);
        
        subj.style.display = 'none';
        effort.style.display = 'block';
        scale.style.display = 'none';
        commment.style.display = 'none';
    }

    function show_scale(student_id) {
        var subj = document.getElementById('Subjects' + student_id);
        var effort = document.getElementById('effort' + student_id);
        var scale = document.getElementById('scale' + student_id);
        var commment = document.getElementById('comment' + student_id);
        
        subj.style.display = 'none';
        effort.style.display = 'none';
        scale.style.display = 'block';
        commment.style.display = 'none';
    }

    function show_comment(student_id) {
        var subj = document.getElementById('Subjects' + student_id);
        var effort = document.getElementById('effort' + student_id);
        var scale = document.getElementById('scale' + student_id);
        var commment = document.getElementById('comment' + student_id);
        
        subj.style.display = 'none';
        effort.style.display = 'none';
        scale.style.display = 'none';
        commment.style.display = 'block';
    }
</script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script>

<script src="{% static 'js/website/jquery-validate.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static 'js/website/startClass.js' %}"></script>


<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script> -->
<script>



function sendData(end_id) {
        
        var len = $('[class=count]').length;
        console.log("lenn" , len);
        count = 0;
        for(var i=1; i<=len; i++)
        {
            console.log("for i of ",i);
            // view = document.getElementsByClassName("count")[i-1].id;
            countList = []
            console.log(".length----",$(".count").length)
            console.log("-====++++",$(".count"))
            for(var j = 0; j<$(".count").length; j++){
                view = $('.count')[j]["innerText"]
                countList.push(view)
            }
            console.log("countList-----",countList)
            view = $('.count').attr('id')
            console.log("view----",view)
            view = $("#"+view).text();
            console.log("te---",view)
            console.log("id id id" , document.getElementsByClassName("count")[i-1].id);
            // console.log("viewww 63" , view.split(" ")[63].split(";")[0]);
            console.log("viewww*****0" , view.split(" ")[0]);
            console.log("---view----normal",view);
            if(countList[i] == 0 || countList[i] == "")
            {
                console.log("in if---",i);
                swal({
                    title: "{% trans 'Warning' %}",
                    text: "{% trans 'You cannot end the Class before rating all the students!' %}",
                    icon: "warning",
                    buttons: true
                });
                // break;
            }
            // else if(view.split(" ")[63].split(";")[0] == 0)
            // {
            //     console.log("in if else---",i);
            //     swal({
            //         title: "Warning",
            //         text: "You cannot end the Class before rating all the students!",
            //         icon: "warning",
            //         buttons: true
            //     });
            //     break;
            // }
            else{
                console.log("else iiii-----",i);
                count = count + 1;
            }
        }
        console.log("count****",count);
        if(count == len)
        {
            console.log("enddddd", end_id);
            swal({
                title: "{% trans 'Are you sure?' %}",
                text: "{% trans 'You will not be able to start this class again!' %}",
                icon: "warning",
                buttons: true
                }).then(function (isConfirm) {
                if (isConfirm) {
                    console.log("enddddd", end_id);
                    $.ajax({
                        type: "post",
                        url: "/teacher/lesson/",
                        data: {
                            id: end_id,
                            type: true
                        }
                    });
                    setTimeout(function () {
                        var lesson_id = end_id.split('_')
                        lesson_id = parseInt(lesson_id[2])
                        console.log("lesson id--",lesson_id)
                        window.location.href = '/teacher/lesson/report/'+lesson_id
                    }, 1000);
                }
            });
        }
    }
</script>

{% endblock %}