Id - {{ student_data.id }} </br>
Name - {{student_data.full_name}}<br/>
student_code - {{student_data.student_code}}<br/>
gender - {{student_data.gender}}<br/>
age - {{student_data.age}}<br/>
school_name - {{student_data.school_name}}<br/>
school_grade - {{student_data.school_grade}}<br/>
father_name - {{student_data.father_name}}<br/>
father_phone - {{student_data.father_phone}}<br/>
mother_name - {{student_data.mother_name}}<br/>
mother_phone - {{student_data.mother_phone}}<br/>
image - {{student_data.image}}<br/>

<div class="mychart">

</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>

<script>
    var endpoint = '/api/chart/data/'
    console.log("endpoint--",endpoint)
    var defaultData = []
    var labels = [];
    subjects = [1,2]
    console.log("----type--",typeof(subjects), subjects.length)
    // list : [subjects]
    $.ajax({        
        method: "POST",
        url: endpoint,
        data:{
            'studentId':"{{ student_data.id }}",
            'subjectId': subjects
        },
        success: function(data){
            // console.log(data.labels[1]); 
            for(var i=0; i<subjects.length; i++){
                console.log(i);
                
                labels = data.labels[subjects[i]]
                defaultData = data.default[subjects[i]]
                setChart(i,labels,defaultData)
            }           
            
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })
    
    function setChart(subLen,labels,defaultData){
        // alert('chart')
            console.log(labels);
            chartHtml = `<canvas id="myChart_`+subLen+`"></canvas>`
            $('.mychart').append(chartHtml)
            // var ctx = document.getElementById("myChart");
            // console.log("ctx--",ctx)
            var chartId = document.getElementById("myChart_"+subLen);
            console.log("chartId--",chartId)
        
            var myChart = new Chart(chartId, {
            type: 'bar',
            
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: defaultData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        
            });
        
}

</script>
