{% extends 'teacher/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<!-- main wrapper start -->
<section class="main-wrapper">
    <div class="row">
        <div class="col-md-4 col-lg-3 col-xl-2 p-0">
            <div class="left-bg-wrapper">
                <div class="student-info-wrapper">
                    <div class="stud-pic">
                        <img src="{{student_data.image}}" alt="student pic">
                    </div>
                    <h6 class="sname">{{student_data.full_name}}</h6>
                    <ul class="stud-info-list">
                        <li>
                            <p>{% trans "Student Id" %}</p>
                        </li>
                        <li>
                            <p>{{student_data.student_code}}</p>
                        </li>
                        <li>
                            <p>{% trans "Gender" %}</p>
                        </li>
                        <li>
                            <p>{{student_data.gender}}</p>
                        </li>
                        <li>
                            <p>{% trans "Age" %}</p>
                        </li>
                        <li>
                            <p>{{student_data.age}}</p>
                        </li>
                        <li>
                            <p>{% trans "Grade" %}</p>
                        </li>
                        <li>
                            <p>{{student_data.school_grade}} </p>
                        </li>
                        <li>
                            <p>{% trans "School" %}</p>
                        </li>
                        <li>
                            <p>{{student_data.school_name}}</p>
                        </li>
                        <!-- <li>
                            <p>Curioo Level</p>
                        </li>
                        <li>
                            <p>{{student_data.level}}</p>
                        </li>
                        <li>
                            <p>Curioo Major</p>
                        </li>
                        <li>
                            <p>{{student_data.major}}</p>
                        </li> -->
                        <li>
                            <p>{% trans "Father Name" %}</p>
                        </li>
                        <li>
                            <p>{{student_data.father_name}}</p>
                        </li>
                        <li>
                            <p>{% trans "Father Contact" %}</p>
                        </li>
                        <li>
                            <p>{{student_data.father_phone}}</p>
                        </li>
                        <li>
                            <p>{% trans "Mother Name" %}</p>
                        </li>
                        <li>
                            <p>{{student_data.mother_name}}</p>
                        </li>
                        <li>
                            <p>{% trans "Mother Contact" %}</p>
                        </li>
                        <li>
                            <p>{{student_data.mother_phone}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- col-md-2 end -->
        <div class="col-md-8 col-lg-9 col-xl-10">
            <div class="right-wrapper ">
                <div class="row page-title-wrapper lesson-head-row align-items-center">
                    <div class="col-md-5">
                        <h3 class="page-title">{% trans "Progress Report" %}</h3>
                    </div>
                    <div class="col-md-7">
                        <!-- time-period start -->
                        <div class="time-period  pull-right">
                            <form class="form-inline">
                                <label for="Time ">{% trans "Time Period" %}</label>
                                <div class="input-group datepicker date ml-1" data-date-format="dd.mm.yyyy">
                                    <input type="text" placeholder="DD/MM/YYYY" class="form-control " name="daterange"
                                        value=" ">
                                    <div class="input-group-append icon">
                                        <span class="">
                                            <img src="{% static 'img/website/calendar.png' %}" alt="calendar">
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- time-period end -->
                    </div>
                    <!-- col end -->
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="score-card">
                            <div class="detail">
                                <span>
                                    <img src="{% static 'img/website/score.png' %}" alt="score">
                                </span>
                            </div>
                            <div class="detail">
                                <h6>{% trans "Average Score" %}</h6>
                                <h5  id="avg_final_show"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="score-card">
                            <div class="detail">
                                <span>
                                    <img src="{% static 'img/website/scale.png' %}" alt="scale" id="wellBeingImg">
                                </span>
                            </div>
                            <div class="detail">
                                <h6>{% trans "Wellbeing Scale" %}</h6>
                                <h5 id="well_being_high"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="score-card">
                            <div class="detail">
                                <span>
                                    <img src="{% static 'img/website/effort.png' %}" alt="effort">
                                </span>
                            </div>
                            <div class="detail">
                                <h6 id="overallText"></h6>
                                <h5  id="overall_highest"></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- score card row end -->
                <div class="row mb-4">
                    <div class="col-xl-5 col-lg-6">
                        <div class="score-card pie-chart-card border p-0">
                            <h5 class="chart-title pt-4 pr-3 pl-3">
                                {% trans "Aptitude Chart" %}
                            </h5>
                            <div id="chartdiv1"></div>
                            <script>
                                var sub_data = {};
                                var default_count = 0;
                                var sub_id = [];
                                var dict = { "english": "#F3ACB3", "entrepreneur": "#1691B3", "technology": "#F6BE57", "creative design": "#EB5858", "default": ["#0f6b84", "#678388", "#9a5653", "#FFEB3B", "#FF9800", "#673AB7"] };
                            </script>
                            <ul class="pie-legend-bottom pieBtnContainer">
                                {% for k, v in subjectObj.items %}
                                hellllooo {{k}}, {{v}}
                                {% endfor %}
                                {% for k, v in subjectObj.items %}
                                <li id="sub_{{k}}" onclick="showGraph(this.id);">
                                    <a id="yellow" href="javascript:void(0)">
                                        <h6 id="percent_{{k}}">{{k}}</h6>
                                        <p id="Name_{{k}}">{{v}}</p>
                                        <script>
                                            if (dict.hasOwnProperty("{{v}}".toLowerCase())) {
                                                document.getElementById("sub_{{k}}").style.background = dict["{{v}}".toLowerCase()];
                                                sub_id.push(parseInt("{{k}}"));
                                                sub_data["{{v}}".toLowerCase()] = [];
                                                sub_data["{{v}}".toLowerCase()].push(dict["{{v}}".toLowerCase()])
                                                sub_data["{{v}}".toLowerCase()].push("{{k}}")
                                            } else {
                                                document.getElementById("sub_{{k}}").style.background = dict["default"][default_count];
                                                sub_id.push(parseInt("{{k}}"));
                                                sub_data["{{v}}".toLowerCase()] = [];
                                                sub_data["{{v}}".toLowerCase()].push(dict["default"][default_count])
                                                sub_data["{{v}}".toLowerCase()].push("{{k}}")
                                                // sub_data["{{v}}".toLowerCase()] = dict["default"][default_count];
                                                default_count++;
                                            }                                         
                                        </script>
                                    </a>
                                </li>
                                {% endfor %}


                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="score-card  pie-chart-card border column-responsive colChartContainer">

                            <div id="subcharts" class="mychart">
                                {% for k, v in subjectObj.items %}
                                <h5 style="display: none;" id="subTitle_{{k}}" class="chart-title">{{v}} Behavioral Chart</h5>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <!-- chart row end -->
                <!-- score card row end -->
                <div class="row">
                    <div class="col-xl-7 col-lg-6">
                        <div class="score-card border">
                            <h5 class="chart-title">
                                {% trans "Motivation Scale" %}
                            </h5>
                            <div id="motivation-ch" style="width: 100%; height: 442px; background-color: #FFFFFF;">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="score-card border">
                            <h5 class="chart-title">
                                {% trans "Wellbeing Scale" %}
                            </h5>
                            <div id="scale-chart" style="width: 100%; height: 442px; background-color: #FFFFFF;"
                                style="width: 10px !important; height: 100px !important;"></div>
                        </div>
                    </div>
                </div>
                <!-- chart row end -->
            </div>
            <!-- right-wrapper end -->
        </div>
        <!-- col-md-10 end -->
    </div>
    <!-- row end -->
</section>
<!-- main wrapper end -->

{% endblock %}

{% block chart %}
<!-- ----------------------------------chart-click -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
<canvas id="myChart123"></canvas>




<script type="text/javascript">
    var mypieChart;
    function setPieChart(pie_values) {
        pie_labels = []
        pie_colors = []
        for (var key in pie_values){
            pie_labels.push(document.getElementById("Name_" +key).innerHTML)
            pie_colors.push(sub_data[document.getElementById("Name_" +key).innerHTML.toLowerCase()][0])
            console.log("--------Key", pie_colors);
        }
        console.log("in set pie chart");
        chartHtml = `<canvas id="pie_` + 1 + `" style="display:"block"></canvas>`;
        $('#chartdiv1').append(chartHtml)
        // var ctx = document.getElementById("myChart");
        // console.log("ctx--",ctx)
        var chartId = document.getElementById("pie_" + 1);
        // Chart.defaults.global.defaultFontColor = 'red';
        mypieChart = new Chart(chartId, {
            type: 'pie',
            data: {
                labels: pie_labels,
                datasets: [{
                    // label: pie_labels,
                    backgroundColor: pie_colors,
                    data: Object.values(pie_values)
                }]
            }
        });
    }
    default_count = 0;
    function setChart(i, subLen, labels, defaultData, data) {
        // alert('chart')
        var data_list = Object.values(data["default"][subLen]);
        console.log("data_list", data_list);
        console.log("data", Object.values(data["default"][subLen]));
        console.log("22222222222", labels);
        console.log("subject overall average", data["all_avg_data"][subLen])
        var dis = "none";
        if (i == 0) {
            dis = "block";
        }
        if (dict.hasOwnProperty(document.getElementById("Name_" + subLen).innerHTML.toLowerCase())) {
            bckclr = dict[document.getElementById("Name_" + subLen).innerHTML.toLowerCase()];
        } else {
            bckclr = dict["default"][default_count];
            default_count++;
        }

        console.log("ididd", bckclr);


        document.getElementById("subTitle_" + subLen).style.display = dis;
        chartHtml = `<canvas id="myChart_` + subLen + `" style="display:` + dis + `;">
        </canvas>`
        $('.mychart').append(chartHtml)
        // var ctx = document.getElementById("myChart");
        // console.log("ctx--",ctx)
        var chartId = document.getElementById("myChart_" + subLen);
        // Chart.defaults.global.defaultFontColor = 'red';
        Chart.defaults.global.defaultFontColor = 'black';
        console.log("chartId--", chartId)
        console.log("Subject id ", subLen)
        var myChart = new Chart(chartId, {
            type: 'bar',

            data: {
                labels: Object.keys(data["default"][subLen]),
                datasets: [{
                    data: Object.values(data["all_avg_data"][subLen]),
                    type: 'line',
                    fontColor:'red',
                    fill: false,
                    borderColor: "#43b1bf",
                    pointBackgroundColor: "black",
                    },{
                    label: $("#subTitle_"+subLen).text(),
                    data: Object.values(data["default"][subLen]),
                    backgroundColor: bckclr,
                    scaleFontColor: "#ff0000",

                    
                    // borderColor: [
                    //     'rgba(255,99,132,1)',
                    //     'rgba(54, 162, 235, 1)',
                    //     'rgba(255, 206, 86, 1)',
                    //     'rgba(75, 192, 192, 1)',
                    //     'rgba(153, 102, 255, 1)',
                    //     'rgba(255, 159, 64, 1)'
                    // ],
                    borderWidth: 1
                }]
            },
            options: {
                // code for showing bar value on the the top of bar 
                "hover": {
                    "animationDuration": 0
                },
                
                "animation": {
                    "duration": 1,
                    "onComplete": function () {
                        var chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily, Chart.defaults.global.defaultFontColor);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';

                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                                try{
                                    var data = dataset.data[index].toFixed(2);
                                }catch(e){
                                    var data = dataset.data[index]
                                }
                                console.log("data,,",data)
                                ctx.fillText(data, bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                },
                legend: {
                      "display": false,
                      
                },
                tooltips: {
                    "enabled": false
                },
                scales: {
                    xAxes: [{
                        barPercentage: 0.2,
                        gridLines: {
                            display: true,
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            fontColor: 'rgb(98, 207, 227)'
                        }
                    }],
                    yAxes: [{
                        // display: false,

                        ticks: {
                            // max: Math.max(...data.datasets[0].data) + 10,
                            // display: false,
                            beginAtZero: true,
                            fontColor: 'rgb(98, 207, 227)'
                        }
                    }],
                }
                // end of code for showing bar value on the the top of bar 

            }
        });
    }
    default_count_motiv = 0
    function setMotivationalChart(data) {
        console.log("data0000000000000",data)
        console.log("in set Motivational chart");
        chartHtml = `<canvas id="motivational_scale" style="display:"block"></canvas>`;

        $('#motivation-ch').append(chartHtml)
        // var ctx = document.getElementById("myChart");
        // console.log("ctx--",ctx)


        let pie_colors_motivation = [];
        console.log("dat 123-0-----------------",data, 'moti0----',data['motivation'])
        console.log("Object.keys(data[-----------------",Object.keys(data["motivation"]))
        let motivation_lables = []
        Object.keys(data["motivation"]).forEach(data => {
            console.log("data--------------in for each----",data)
            console.log("----------------",dict[document.getElementById("Name_" + data).innerHTML.toLowerCase()])
            motivation_lables.push(document.getElementById("Name_" + data).innerHTML)
            pie_colors_motivation.push(sub_data[document.getElementById("Name_" +data).innerHTML.toLowerCase()][0])
            // if (dict.hasOwnProperty(document.getElementById("Name_" + data).innerHTML.toLowerCase())) {
            //     pie_colors_motivation.push(dict[document.getElementById("Name_" + data).innerHTML.toLowerCase()]);
            // } else {
            //     pie_colors_motivation.push(dict["default"][default_count_motiv]);
            //     default_count_motiv++;
            // }
        })
        console.log("pie_colors_motivation----------",pie_colors_motivation)



        var chartId = document.getElementById("motivational_scale");
        var myChart = new Chart(chartId, {
            type: 'bar',
            data: {
                labels: motivation_lables,
                datasets: [{
                    data: Object.values(data["avg_motivational_dict"]),
                    type: 'line',
                    fill: false,
                    borderColor: "#43b1bf",
                    fontColor: 'black',
                    },{
                    label: '# of Votes',
                    backgroundColor: pie_colors_motivation,
                    data: Object.values(data["motivation"])
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        barPercentage: 0.2,
                        gridLines: {
                            display: true,
                            zeroLineColor: 'black'
                        },
                        ticks: {
                            fontColor: 'rgb(98, 207, 227)'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: data["overall_minmax"][0],
                            max: data["overall_minmax"][1],
                            stepSize: 1,
                            fontColor: 'rgb(98, 207, 227)',
                            suggestedMin: 0.5,
                            suggestedMax: 5.5,
                            callback: function (label, index, labels) {
                                return data["overall_labels"][label]                                
                            }
                        },
                    }],
                },
                legend: {
                    display: false
                },
            }
        });
    }
    function setWellbeing(data) {
        console.log("in set well being chart", data);
        chartHtml = `<canvas id="well_being_scale" style="display:"block"></canvas>`;
        well_being_labels = []
        $('#scale-chart').append(chartHtml)
        Object.keys(data["wellbeing"]).forEach(key => {
            console.log("Short Form ", data["subject_code_dict"][key])
            subject_lesson_count = []
            subject_lesson_count.push(data["subject_code_dict"][key])
            subject_lesson_count.push(data["lesson_count"][key])
            well_being_labels.push(subject_lesson_count)
        })
        console.log("well_being_labels-------",well_being_labels);
        
        // var ctx = document.getElementById("myChart");
        // console.log("ctx--",ctx)
        var chartId = document.getElementById("well_being_scale");
        var myChart = new Chart(chartId, {
            type: 'line',
            data: {
                labels: well_being_labels,
                datasets: [{
                    fill: false,
                    label: '# of Votes',
                    lineTension: 0, 
                    borderColor: "#43b1bf",
                    data: Object.values(data["wellbeing"])
                }]
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: data["wellbeing_minmax"][0],
                            max: data["wellbeing_minmax"][1],
                            stepSize: 1,
                            suggestedMin: 0.5,
                            suggestedMax: 5.5,
                            callback: function (label, index, labels) {
                                return data["wellbeing_labels"][label]                                
                            }
                            // callback: function (label, index, labels) {
                            //     switch (label) {

                            //         // case 0:
                            //         //     return 'Negative';
                            //         // case 1:
                            //         //     return 'Neutral';
                            //         // case 2:
                            //         //     return 'Upbeat';
                            //         // case 3:
                            //         //     return 'Very-Good';
                            //     }
                            // }
                        },
                    }],
                    xAxes: [{
                        distribution: 'linear',
                        ticks: {
                            autoSkip:false,
                            // maxTicksLimit:10,
                            // source: 'auto'
                        }
                    }]
                },
                legend: {
                    display: false
                },
            }
        });
    }
    var ctx = document.getElementById("myChart123");
    
    var clrs = ["#F3ACB3", "#F6BE57", "#EB5858", "#1691B3"];
    $(document).ready(function () {
        var endpoint = '/api/chart/data/'
        console.log("endpoint--", endpoint)
        var defaultData = []
        var labels = [];
        console.log("IDs", sub_id);
        subjects = sub_id
        console.log("----type--", typeof (subjects), subjects.length)
        // list : [subjects]
        $.ajax({
            method: "POST",
            url: endpoint,
            data: {
                'studentId': "{{ student_data.id }}",
                'subjectId': subjects
            },
            success: function (data) {
                console.log("dattaaaaa-> chart data", data);

                document.getElementById("overall_highest").innerHTML = Object.keys(data["highest_motivation"]).length;
                document.getElementById("well_being_high").innerHTML = Object.keys(data["wellbeing_valueKey"]).length;
                document.getElementById("avg_final_show").innerHTML = data["avg_final_show"]+ "%";
                
                if(data["wellbeingId"] == 4)
                {
                    console.log("gooood4",document.getElementById("wellBeingImg").src = "{% static 'img/website/VeryGood-select.png' %}")
                }
                if(data["wellbeingId"] == 3)
                {
                    console.log("gooood3",document.getElementById("wellBeingImg").src = "{% static 'img/website/Upbeat-select.png' %}")
                }
                if(data["wellbeingId"] == 2)
                {
                    console.log("gooood2",document.getElementById("wellBeingImg").src = "{% static 'img/website/Nuetral-select.png' %}")
                }
                if(data["wellbeingId"] == 1)
                {
                    console.log("gooood1",document.getElementById("wellBeingImg").src = "{% static 'img/website/negative-selected.png' %}")
                }


                for(var id in data["overallScale"])
                {
                    if(data["overallId"] == data["overallScale"][id].id)
                    {
                        console.log("goooodoverall",document.getElementById("overallText").innerHTML = "Overall " + data["overallScale"][id].overall_rating)
                    }
                    
                }    

                pie_labels = [];
                pie_colors = [];
                pie_values = {};
                overall_summ = 0
                for (var key_pie in data['default']) {
                    var list_values = Object.values(data["default"][key_pie])
                    console.log("List_values", list_values);
                    var sum = 0;
                    for (var v = 0; v < list_values.length; v++) {
                        sum = sum + parseInt(list_values[v]);
                    }
                    overall_summ = overall_summ + sum / list_values.length;
                    pie_values[key_pie] = sum / list_values.length;
                }
                for (key_pie in pie_values) {
                    console.log("key", key_pie);
                    document.getElementById("percent_" + key_pie).innerHTML = ((pie_values[key_pie] * 100) / overall_summ).toFixed(1) + "%";
                    pie_values[key_pie] = ((pie_values[key_pie] * 100) / overall_summ).toFixed(1);
                }

                // for (var key in sub_data) {
                //     console.log('key:::q1', key,"123456789",sub_data)
                //     pie_labels.push(key);
                //     pie_colors.push(sub_data[key][0]);
                //     console.log(sub_data[key]);
                // }
                console.log("pie_colors", pie_colors);
                console.log("Pie labels", pie_labels);
                for (var i = 0; i < subjects.length; i++) {
                    console.log(i);
                    console.log("subject data", sub_data);
                    labels = data.labels[subjects[i]]
                    defaultData = data.default[subjects[i]]
                    //removing extra decimals----------
                    for (var decimal_key in data["default"][i]) {
                        data["default"][i][decimal_key] = data["default"][i][decimal_key].toFixed(2);
                    }
                    console.log("decimal_key ", Object.values(data["default"]));
                    setChart(i, subjects[i], labels, defaultData, data)
                }
                console.log("===========================================")
                console.log("pie_lables", pie_labels)
                console.log("pie_values", pie_values)
                console.log("pie_colors", pie_colors)
                console.log("===========================================")
                setPieChart(pie_values);
                console.log("data6666666666666",data)
                setMotivationalChart(data);
                setWellbeing(data);
                console.log("defaultData---", defaultData);
            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })
        // bar chart
        
        // pie chart function
        
        // motivational chart (bar chart)

        

        // wellbeing (line chart) scale

        
    })
</script>



<script>
    //Date Range picker function to change graph according to the date filter
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            },
            opens: 'left'
        });
    });
    $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
        console.log("Applied");        
        
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        console.log($(this).val());
        $.ajax({        
            method: "POST",
            url: '/teacher/student/searchLesson/',
            data:{
                'date_range':$(this).val(),
                'studentId': "{{ student_data.id }}"
            },
            success: function(data) {
                console.log("filter data", data);
                document.getElementById("overall_highest").innerHTML = Object.keys(data["highest_motivation"]).length;
                document.getElementById("well_being_high").innerHTML = Object.keys(data["wellbeing_valueKey"]).length;
                document.getElementById("avg_final_show").innerHTML = data["avg_final_show"]+ "%";
                
                if(data["wellbeingId"] == 4)
                {
                    console.log("gooood4",document.getElementById("wellBeingImg").src = "{% static 'img/website/VeryGood-select.png' %}")
                }
                else if(data["wellbeingId"] == 3)
                {
                    console.log("gooood3",document.getElementById("wellBeingImg").src = "{% static 'img/website/Upbeat-select.png' %}")
                }
                else if(data["wellbeingId"] == 2)
                {
                    console.log("gooood2",document.getElementById("wellBeingImg").src = "{% static 'img/website/Nuetral-select.png' %}")
                }
                else if(data["wellbeingId"] == 1)
                {
                    console.log("gooood1",document.getElementById("wellBeingImg").src = "{% static 'img/website/negative-selected.png' %}")
                }
                else{
                    console.log("gooood",document.getElementById("wellBeingImg").src = "{% static 'img/website/scale.png' %}")
                }

                console.log("goooodoverall",document.getElementById("overallText").innerHTML = "");
                for(var id in data["overallScale"])
                {
                    if(data["overallId"] == data["overallScale"][id].id)
                    {
                        console.log("goooodoverall",document.getElementById("overallText").innerHTML = "Overall " + data["overallScale"][id].overall_rating)
                    }
                }
                pie_labels = [];
                pie_colors = [];
                pie_values = {};
                overall_summ = 0
                for (var key_pie in data['default']) {
                    var list_values = Object.values(data["default"][key_pie])
                    console.log("List_values", list_values);
                    var sum = 0;
                    for (var v = 0; v < list_values.length; v++) {
                        sum = sum + parseInt(list_values[v]);
                    }
                    overall_summ = overall_summ + sum / list_values.length;
                    pie_values[key_pie] = sum / list_values.length;
                }
                for (key_pie in pie_values) {
                    console.log("key", key_pie);
                    document.getElementById("percent_" + key_pie).innerHTML = ((pie_values[key_pie] * 100) / overall_summ).toFixed(1) + "%";
                    pie_values[key_pie] = ((pie_values[key_pie] * 100) / overall_summ).toFixed(1);
                }
                var i = 0;
                var e = document.getElementById("subcharts")
                var child = e.lastElementChild;  
                while (child) { 
                    e.removeChild(child); 
                    child = e.lastElementChild; 
                } 
                default_count = 0;
                for (var key in sub_data) {
                    try{
                        if (Object.keys(data['default']).includes(sub_data[key][1])){
                            console.log('key:::q1', key,"123456789",sub_data)
                            pie_labels.push(key);
                            pie_colors.push(sub_data[key][0]);
                            doc = `<h5 style="display: none;" id="subTitle_`+sub_data[key][1]+`" class="chart-title">`+key+`</h5>`
                            $("#subcharts").append(doc);
                            document.getElementById("sub_"+sub_data[key][1]).style.display = "block";
                            setChart(i, sub_data[key][1], data.labels[sub_data[key][1]], data.default[sub_data[key][1]], data)
                            i++;
                        }else{
                            console.log("sub_)data",sub_data[key][1]);
                            document.getElementById("sub_"+sub_data[key][1]).style.display = "none";
                        }
                    }catch(err){
                        console.log(err);
                    }
                }
                console.log("pie_colors", pie_colors);
                console.log("Pie labels", pie_values);
                
                //Empty Motivational Chart and set new according to date filter 
                var e = document.getElementById("motivation-ch")
                var child = e.lastElementChild;  
                while (child) { 
                    e.removeChild(child); 
                    child = e.lastElementChild; 
                } 
                setMotivationalChart(data)
                
                //Empty Well Being Chart and set new according to date filter 
                var e = document.getElementById("scale-chart")
                var child = e.lastElementChild;  
                while (child) { 
                    e.removeChild(child); 
                    child = e.lastElementChild; 
                }
                setWellbeing(data)

                //Empty Pie Chart and set new according to date filter 
                var e = document.getElementById("chartdiv1")
                var child = e.lastElementChild;  
                while (child) { 
                    e.removeChild(child); 
                    child = e.lastElementChild; 
                } 
                setPieChart(pie_values)
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        });
    });
</script>


<script>
    // bar chart function hide show according to subject
    function showGraph(subId) {
        // alert('1')
        
        console.log("11111155555111111", subjects, "2222222555222", subId.split("_")[1], "33333555333");
        for (var i = 0; i < subjects.length; i++) {
            console.log('subject55555555555', subjects[i]);
            try{
                document.getElementById("subTitle_" + subjects[i]).style.display = "none";
                document.getElementById("myChart_" + subjects[i]).style.display = "none";
            }catch(err){
            console.log(err)
            }
        }
        console.log("subID", subId.split("_")[1])
        document.getElementById("myChart_" + subId.split("_")[1]).style.display = "block";
        document.getElementById("subTitle_" + subId.split("_")[1]).style.display = "block";
        
    }
</script>

{% endblock %}


{% block Students %} active {% endblock %}


{% block js %}
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script> -->
<!-- <script src="{% static 'js/website/amcharts.js' %}"></script> -->
<!-- <script src="{% static 'js/website/chalk.js' %}"></script> -->
<!-- <script src="{% static 'js/website/pie.js' %}"></script> -->
<!-- <script src="{% static 'js/website/piechart.js' %}"></script> -->
<script src="{% static 'js/website/serial.js' %}"></script>
<!-- <script src="{% static 'js/website/column-chart.js' %}"></script> -->
<!-- <script src="{% static 'js/website/motivation-chart.js' %}"></script> -->
<!-- <script src="{% static 'js/website/line-chart.js' %}"></script> -->
<script src="{% static 'js/website/moment.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/website/daterangepicker.min.js' %}"></script>
{% endblock %}


<!-- 
Name - {{student_data.full_name}}<br/>
student_code - {{student_data.student_code}}<br/>
gender - {{student_data.gender}}<br/>
age - {{student_data.age}}<br/>
school_name - {{student_data.school_name}}<br/>
school_grade - {{student_data.school_grade}}<br/>
father_name - {{student_data.father_name}}<br/>
father_phone - {{student_data.father_phone}}<br/>
mother_name - {{student_data.mother_name}}<br/>
mother_phone - {{student_data.mother_phone}}<br/>
image - {{student_data.image}}<br/>
 -->