{% extends "teacher/base.html" %}
{% block title %}
| Profile
{% endblock %}

{% block Profile %}
active
{% endblock %}

{% block content %}
{% load static %}
{% load i18n %}

    <!-- main wrapper start -->
    <section class="main-wrapper login-wrapper">
      <div class="t-profile-wrapper ">
          <div class="row justify-content-center">
              <div class="col-sm-6 col-lg-4 ">
                {% for teacher in  teacher_data %}

                <span class="user-pic">
                    <img src="{{teacher.image}}" alt="user pic">
                </span>

                <ul class="class-info tchr-profile">
                    <li>

                        <span class="dt">{% trans "Teacher" %}</span>
                        <span class="dd">{{teacher.full_name}}</span>
                    </li>
                    <li>
                        <span class="dt">{% trans "Contact" %}</span>
                        <span class="dd">{{teacher.phone}}</span>
                    </li>
                    <li>
                        <span class="dt">{% trans "Email ID" %}</span>
                        <span class="dd">{{teacher.email}}</span>
                    </li>
                </ul>
              {% endfor %}

                <button type="button" class="btn btn-bg btn-block" data-toggle="modal" data-target="#changepwd">{% trans "Change Password" %}</button>
              </div>
          </div>
      </div>
      
     
    </section>
    <!-- main wrapper end -->

    <!-- modal start -->
     <!-- forgot modal start -->
     <div class="modal fade forgot-modal" id="changepwd" tabindex="-1" role="dialog" aria-labelledby="changepwdLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">            
                <div class="modal-body">
                    <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="title">{% trans "Change Password" %}</h3>
                    <form id="change-password-form" data-url="/teacher/changepassword/" method="POST">                   
                        <div class="form-group">                        
                            <input type="password" name="old_password" class="form-control border-btm" required placeholder="{% trans 'Enter your old password' %}">
                        </div>
                        <div class="form-group">                        
                            <input type="password" name="new_password" class="form-control border-btm" required  placeholder="{% trans 'Enter your new password' %}">
                        </div>
                        <div class="form-group">                        
                            <input type="password" name="cnew_password" class="form-control border-btm" required  placeholder="{% trans 'Confirm your new password' %}">
                        </div>
                    
                        <button type="submit" class="btn btn-block btn-bg" data-toggle="modal" >{% trans "Done" %}</button>
                        <button type="reset" class="btn btn-block btn-border" data-dismiss="modal">{% trans "Cancel" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- forgot modal end -->
    <!-- sucess modal start -->
    <div class="modal fade forgot-modal success-modal" id="successmodal" tabindex="-1" role="dialog" aria-labelledby="successmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">            
            <div class="modal-body">
                <button type="button" class="close modal-close-btn change-model-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="title">{% trans "Done" %}</h3>
                <div class="sucs-img">
                    <img src="{% static 'img/website/sucs-img.png' %}">
                </div>
                <p>{% trans "Your password has been successfully changed." %}</p>
            </div>
            </div>
        </div>
    </div>
    <!-- sucess modal end -->
    <!-- error modal start -->
    <div class="modal fade forgot-modal error-modal" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="errormodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">            
            <div class="modal-body">
                <button type="button" class="close modal-close-btn change-model-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="error-title">{% trans "Ooops..!!" %}</h3>
                <div class="wrong-msg-icon" style="text-align: center;">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p class="text-center error-msg"></p>
            </div>
            </div>
        </div>
    </div>
    <!-- error modal end -->
    <!-- modal end -->
{% endblock %}