<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>acc_active_email.html</title>
</head>
<body>
activate u r account
<a href="{{url}}">click here for set passwd</a>
</body>
</html>