<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add student</h1>
<form action="" method="post">
    {% csrf_token %}
    add new student:<input type="text" name="add_Student"> <br>
<!--    lesson:<input type="text" name="lesson"> <br>-->
    <input type="submit" name="submit">
</form>
</body>
</html>