<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>All Learning Consultant</h1>
	<table border="2">
  <tr>
    <th>LC Id</th>
    <th>Name</th>
    <th>Center</th>
  </tr>
  {% for data in lc_data %}
  <tr>
    <td>{{data.learning_consultant_code}}</td>
    <td>{{data.full_name}}</td>
    <td>pcode:{{data.center.center_code}}&nbsp;=== cname:{{data.center.name}}&nbsp;===ccity:{{data.center.city}}</td>
    <td><a href="{% url 'details_learning_consultant' data.id %}"><button>View</button></a></td>
    <td><a href="{% url 'learning_consultant_edit' data.id %}"><button>Edit</button></a></td>
    <td><a href="{% url 'learning_consultant_delete' data.id %}"><button>Delete</button></a></td>
  </tr>
  {% endfor %}
</body>
</html>