<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>All Studio</h1>
<table border="2">
  <tr>
    <th>Studio Id</th>
    <th>Name</th>
    <th>City</th>
  </tr>
  {% for data in studios %}
  <tr>
    <td>{{data.studio_code}}</td>
    <td>{{data.name}}</td>
      <td>{{data.city}}</td>
<!--    <td>pcode:{{data.center.center_code}}&nbsp;=== cname:{{data.center.name}}&nbsp;===ccity:{{data.center.city}}</td>-->
    <td><a href="{% url 'studio_details' data.id %}"><button>View</button></a></td>
    <td><a href="{% url 'studio_delete' data.id %}"><button>Delete</button></a></td>
    <td><a href="{% url 'studio_edit' data.id %}"><button>Edit</button></a></td>
  </tr>
  {% endfor %}
</table>
</body>
</html>