<!DOCTYPE html>
<html>
<head>
	<title>all principal</title>
</head>
<body>
	<table border="2">
  <tr>
    <th>Principal Id</th>
    <th>Name</th>
    <th>Center</th>
  </tr>
  {% for data in principal %}
  <tr>
    <td>{{data.principal_code}}</td>
    <td>{{data.full_name}}</td>
    <td>pcode:{{data.center.center_code}}&nbsp;=== cname:{{data.center.name}}&nbsp;===ccity:{{data.center.city}}</td>
    <td><a href="{% url 'principal_details' data.id %}"><button>View</button></a></td>
    <td><a href="{% url 'principal_delete' data.id %}"><button>Delete</button></a></td>
    <td><a href="{% url 'principal_edit' data.id %}"><button>Edit</button></a></td>
  </tr>
  {% endfor %}
</table>
</body>
</html>