{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/ico" href="{% static 'img/icon.png' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/mystyle-coman.css' %}" rel="stylesheet">
    <link href="{% static 'css/media.css' %}" rel="stylesheet">
    <link href="{% static 'css/admin-style.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/studentp.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom-boostrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/website/daterangepicker.css' %}">


    <style>
      .notification .badge {
      position: absolute;
      top: -8px;
      right: -3px;
      padding: 3px 6px;
      border-radius: 50%;
      background-color: #ff0900;
      color: white;
    }
    </style>

</head>

<body>
    <div id="loader">
        <div id="loader-svg">
            <img src="{% static 'css/ajax-loader.gif' %}">
        </div>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script> 
          <script type="text/javascript">
            $(document).ready(function(){
                // alert('1')
                // $('.product_loader.base').css('display', 'block');
                $('#loader').css('display', 'none');
                
            })
          </script>

    </div>





        






<div id="wrapper">
    <nav class="navbar-default navbar-expand-lg  navbar-static-side left-main-menu" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <div class="logo-panel text-center float-n">
                            <a href="{% url 'admin/dashboard' %}"> <img src="{% static 'img/logo-modal.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="logo-element">
                        <a href="{% url 'admin/dashboard' %}"> <img src="{% static 'img/icon.png' %}" alt=""></a>
                    </div>
                </li>
                <li {% if dashboard_class %} class="active" {% endif %}>
                    <a href="{% url 'admin/dashboard' %}" title="dashboard"> <span class="nav-label">Dashboard</span></a>
                </li>
                <li {% if student_class %} class="active" {% endif %}>
                    <a href="{% url 'admin/students' %}" title="Students"> <span class="nav-label">Students</span></a>
                </li>
                <li {% if lead_class %} class="active" {% endif %}>
                    <a href="{% url 'admin/leads' %}" title="Leads"> <span class="nav-label margin-top">Leads</span></a>
                </li>

                <li id="role_menu" {% if teacher_class or learning_consultant_class or principal_class %} class=" has-sub active" {% else %} class="has-sub"  {% endif %}>
                  <a href="#" title="Role"> <span class="nav-label margin-top">Staff</span><i class="fa fa-angle-down pull-right" aria-hidden="true"></i></a>
                  <ul class="sub-menu">
                     
                     <li {% if teacher_class %} class="active" {% endif %}>
                        <a href="{% url 'admin/teachers' %}" title="Teachers"><span class="nav-label">Teachers</span></a>
                    </li>

                    <li {% if learning_consultant_class %} class="active" {% endif %}>
                        <a href="{% url 'list_learning_consultant' %}" title="Learning Consultant"> <span class="nav-label margin-top">Learning Consultants</span></a>
                    </li>
                {% if request.session.user_type == "Admin" %}
                    <li {% if principal_class %} class="active" {% endif %}>
                        <a href="{% url 'principals_list' %}" title="Principals"> <span class="nav-label margin-top">Principals</span></a>
                    </li>
                {% endif %}
<!--                     <li class="">-->
<!--                        <a href="#" title="Teachers"><span class="nav-label">Add New Staff</span></a>-->
<!--                     </li>-->
                  </ul>
               </li>

                <li {% if subject_class %} class="active" {% endif %}>
                    <a href="{% url 'subjects' %}" title="Subjects"><span class="nav-label">Subjects</span></a>
                </li>
                <!-- <li>
                   <a href="courses.html" title="Subjects"><span class="nav-label">Courses</span></a>
                </li> -->
                <li {% if level_class %} class="active" {% endif %}>
                    <a href="{% url 'levels' %}" title="Levels">
                        <span class="nav-label">Levels </span></a>
                </li>
                <li {% if behaviour_class %} class="active" {% endif %}>
                    <a href="{% url 'admin/behaviours' %}" title="Behaviour"> <span class="nav-label">Behaviours </span></a>
                </li>
                <li {% if schedule_details_class %} class="active" {% endif %}>
                    <a href="{% url 'scheduleCalander' %}" title="Schedules"> <span class="nav-label margin-top">Schedules</span></a>
                </li>
                <li {% if lesson_class %} class="active" {% endif %}>
                    <a href="{% url 'lesson' %}" title="Lessons"> <span class="nav-label margin-top">Lessons</span></a>
                </li>
                <li {% if announcement_class_active %} class="active" {% endif %}>
                    <a href="{% url 'announcement' %}" title="Announcements"> <span
                            class="nav-label margin-top">Announcements</span></a>
                </li>
            {% if request.session.user_type == "Admin" %}
                <li {% if studio_class_active %} class="active" {% endif %}>
                    <a href="{% url 'studio_list' %}" title="Studios"> <span class="nav-label margin-top">Studios</span></a>
                </li>
                <li {% if faq_class_active %} class="active" {% endif %}>
                    <a href="{% url 'add_faq' %}" title="FAQ"> <span class="nav-label margin-top">FAQ</span></a>
                </li>   
                <li>
                    <a href="#" title="Initial Assessment"> <span class="nav-label margin-top">Initial Assessment</span></a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="dark-bg">
        <div class="row top-menu2">
            <nav class="navbar navbar-static-top dark-bg-header top-menu" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">

                    <!-- <form role="search" class="navbar-form-custom" action="search_results.html"> -->
                    <!--  <div class="form-group">
                       <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                       </div>
                       </form> -->
                </div>
                <ul class="nav navbar-top-links navbar-right">

                    <li class="">Welcome, {{ request.session.full_name }}</li>
                    <li class="">
                   <span class="prof-img" title="Profile">
                           <a href="{% url 'admin/profile' %}"> <img alt="image" class="img-back" src="{{ request.session.image }}"></a>
                   </span>

                    </li>

                    <li class="">
                        <a class="count-info notification" href="{% url 'notifications' %}" aria-expanded="false" title="Notifications">
                            <i class="fa fa-bell"></i>
                            <span class="badge" id="notification_count"></span>
                        </a>
                    </li>

                    <li class="">
                        <a class="count-info" aria-expanded="false" title="Logout">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>
                    </li>


                </ul>
            </nav>
        </div>
        {% block data %}

        {% endblock %}

    </div>
</div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/website/daterangepicker.min.js' %}"></script>
<script src="{% static 'js/website/logout.js' %}"></script>
<script src="{% static 'js/developer_custom.js' %}"></script>

<script>
    $(document).ready(function () {

        $.ajax({
                    url: "/admin/notifications-api",
                    type: "GET",
                    success: function (data) {
                        console.log("inside success");
                        console.log(data.count);
                        if (data.count !== 0) {
                            $('#notification_count').text(data.count)
                        }
                    },
                    error: function (data) {
                        console.log('fail', data);
                        console.log('text', data.responseText);
                    }
                });
            $('.dataTables-example').DataTable();

            $('#multi-column-dt-students').DataTable({ //Student List

                columnDefs: [{
                    targets: [0],
                    orderData: [1, 0],
                }, {
                    targets: [1],
                    orderData: [1, 0],
                },
                {
                    targets: [5],
                    orderData: [5, 0],
                    "orderable": false
                }]
            });

            $('#multi-column-dt-student-scheduled-classes').DataTable({ //Student scheduled classes in student view admin panel

                columnDefs: [{
                    targets: [0],
                    orderData: [1, 0],
                }, {
                    targets: [1],
                    orderData: [1, 0],
                },
                {
                    targets: [2],
                    orderData: [2, 0],
                },
                {
                    targets: [3],
                    orderData: [3, 0],
                }]
            });


            $('#multi-column-dt-teacher-lessons').DataTable({ //Student List

                columnDefs: [{
                    targets: [0],
                    orderData: [1, 0],
                }, {
                    targets: [1],
                    orderData: [1, 0],
                },
                {
                    targets: [2],
                    orderData: [2, 0],
                }]
            });


            $('body').append('<div class="logout-over">');

            var overlay = $('.logout-over');
            /*alert(overlay);*/
            $('.logout-over').append('<div class="pop-box row">' + '<div class="col-lg-12 col-xs-12 pop-title"><p>Are you sure you want to Logout?</p></div>' +
                '<div class="col-lg-12 col-xs-12 confirm-btn"><a class="btn btn-default logot1"  data-url="{% url "logout/" %}" onclick="adminLogout()" >Yes</a><a class="btn btn-default pop-no">No</a></div>');
            $('.pop-no').click(function(){
                $('body').removeClass("logout-over");
                /*$('body').find('.logout-over').remove();*/
                $('.logout-over').fadeOut();
            });

            $('.logout-over').hide();
            $('.fa-sign-out').click(function(){

                $('.logout-over').fadeIn();
            });

            $('body').click(function(){

                if($(".pop-box").is(':visible')){
                    $(document).mouseup(function(e){ 
                        var container = $(".pop-box");

                        // if the target of the click isn't the container nor a descendant of the container
                        if (!container.is(e.target) && container.has(e.target).length === 0) 
                        {
                            /*container.fadeOut();*/
                            $('.logout-over').fadeOut();
                        }
                    });
                }
            });

        }
    );

</script>



<script type="text/javascript">

// Get the modal
// var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
// var img = document.getElementById("myImg");
// var modalImg = document.getElementById("img01");
// var captionText = document.getElementById("caption");
// img.onclick = function(){
//  modal.style.display = "block";
//  modalImg.src = this.src;
  // captionText.innerHTML = this.alt;
//}

// Get the <span> element that closes the modal
function closeModal() {
  document.getElementById('myModal').style.display = "none";
}
</script>

    <script type="text/javascript">
    $(document).ready(function(){

        $('.disablePastDates').datepicker({
            todayHighlight: 'TRUE',
            startDate: new Date(),
            autoclose:true
        });

        $('.disableFutureDates').datepicker({
            todayHighlight: 'TRUE',
            endDate: new Date(),
            autoclose:true
        });

        $('.input-group.date').datepicker(
            {format: "yyyy-mm-dd", autoclose:true}
        );
        var datePicker = $(".calendar").datepicker({});
        var t;
        $(document).on(
            'DOMMouseScroll mousewheel scroll',
            '#myModal',
            function () {
                window.clearTimeout(t);
                t = window.setTimeout(function () {
                    $('.calendar').datepicker('')
                }, 100);
            }
        );
    })


    </script>


<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('.show_profile_pic').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}
$(".select_profile_pic").change(function() {
  readURL(this);
});
</script>

{% block custom_js %}

{% endblock %}

</body>
</html>