<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Principal</title>
</head>
<body>
<form action="{% url 'principal_edit' details.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    center : gdgd <br>
     image: <input type="file" name="image" value="{{details.image}}"> <br>
    title : <input type="text" name="title" value="{{details.title}}"> <br>
    name : <input type="text" name="name" value="{{details.full_name}}"> <br>
    gender : <input type="text" name="gender" value="{{details.gender}}"> <br>
    dob  :  <input type="date" name="dob" value="{{details.dob}}"> <br>
    email : <input type="email" name="email" value="{{details.email}}"> <br>
    number : <input type="number" name="number" value="{{details.phone}}"> <br>
    address : <textarea name="address" cols="30" rows="10">{{details.address}}</textarea> <br>
     date_of_joining: <input type="date" name="doj" value="{{details.doj}}"> <br>
    nationality : <input type="text" name="nationality" value="{{details.nationality}}"> <br>
    position: <input type="text" name="position" value="{{details.position}}"> <br>
    positionId : <input type="text" name="positionId" value="{{details.positionId}}"> <br>
    studioId : <input type="text" name="studioId" value="{{details.studio.id}}"> <br>
    highest Education Level : <input type="text" name="highest_education" value="{{details.highest_education}}"> <br>
    Education major : <input type="text" name="education_major" value="{{details.education_major}}"> <br>
    emargency conatct name: <input type="text" name="emr_name" value="{{details.emergency_contact_name}}"> <br>
    emargency number: <input type="number" name="emr_number" value="{{details.emergency_number}}"> <br>
    <input type="submit" value="submit">
</form>
</body>
</html>