<!DOCTYPE html>
<html lang="en" xmlns:name="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Learning Consultant</title>
</head>
<body>
<form action="{% url 'learning_consultant_edit' data.id %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    name: <input type="text" name="name" value="{{data.full_name}}"> <br>
    email_id: <input type="email" name="email" value="{{data.email}}"> <br>
    contact: <input type="text" name="contact" value="{{data.phone}}"> <br>
    address: <input type="text" name="address" value="{{data.address}}"> <br>
    dob: <input type="date" name="dob" value="{{data.dob}}"> <br>
    image: <input type="file" name="image" value="{{data.image}}"> <br>
    date_of_joining: <input type="date" name="doj" value="{{data.doj}}"> <br>
    nationality : <input type="text" name="nationality" value="{{data.nationality}}"> <br>
    position: <input type="text" name="position" value="{{data.position}}"> <br>
    positionId : <input type="text" name="positionId" value="{{data.positionId}}"> <br>
    studioId : <input type="text" name="studioId" value="{{data.studio.id}}"> <br>
    highest Education Level : <input type="text" name="highest_education" value="{{data.highest_education}}"> <br>
    Education major : <input type="text" name="education_major" value="{{data.education_major}}"> <br>
    emargency conatct name: <input type="text" name="emr_name" value="{{data.emergency_contact_name}}"> <br>
    emargency number: <input type="number" name="emr_number" value="{{data.emergency_number}}"> <br>
    <input type="submit">
</form>
</body>
</html>