<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit_schedule</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    STUDIO : <input type="number" name="studio" value="{{data.studio.id}}"> <br>
    DATE: <input type="date" name="date" value="{{data.scheduled_date}}"> <br>
   Lesson: <input type="number" name="lesson" value="{{data.lesson.id}}"> <br>
    Teacher:<input type="number" name="teacher" value="{{data.teacher.id}}"> <br>
    Room:<input type="text" name="room" value="{{data.room_number}}"> <br>
    start_time:<input type="time" name="s_time" value="{{data.class_start_datetime}}"> <br>
    end_time:<input type="time" name="e_time" value="{{data.class_end_datetime}}"> <br>
    <input type="submit" value="submit">
</form>
</body>
</html>