
<!DOCTYPE html>
<html lang="en" xmlns:name="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Learning Consultant</title>
</head>
<body>
<form action="{% url 'learning_consultant' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    name: <input type="text" name="name"> <br>
    doj: <input type="date" name="doj"> <br>
    email_id: <input type="email" name="email"> <br>
    contact: <input type="text" name="contact"> <br>
    dob: <input type="date" name="dob"> <br>
    image: <input type="file" name="image"> <br>
    nationality : <input type="text" name="nationality"> <br>
    position: <input type="text" name="position"> <br>
    positionId : <input type="text" name="positionId"> <br>
    studioId : <input type="text" name="studioId"> <br>
    highest Education Level : <input type="text" name="highest_education"> <br>
    Education major : <input type="text" name="education_major"> <br>
    emargency conatct name: <input type="text" name="emr_name"> <br>
    emargency number: <input type="number" name="emr_number"> <br>
    gender : <input type="text" name="gender"> <br>
    <input type="submit">
</form>
</body>
</html>


