<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Learning Consultant Details</h1>
name:{{lc_details.full_name}} <br>
age:50 <br>
contact Number: {{lc_details.phone}} <br>
email:{{lc_details.email}}<br>
doj:{{lc_details.doj}}<br>
address:{{lc_details.address}}
</body>
</html>