<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson EDIT</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    subject: <input type="text" name="subject" value="{{data.subject.id}}"><br>
    level: <input type="text" name="level" value="{{data.level.id}}"> <br>
    <br>
    <input type="submit" value="submit">
</form>
<a href="{% url 'add_lesson_student' %}"><button>add student</button></a>
</body>
</html>