<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lession List</title>
</head>
<body>
<table>
    <tr>
        <th>lesson code</th>
        <th>subject</th>
        <th>actions</th>
    </tr>
    {% for xdata in data %}
    <tr>
        <td>{{xdata.id}}</td>
        <td>{{xdata.lesson_code}}</td>
        <td>{{xdata.subject.subject_name}}</td>
        <td><a href="{% url 'lessonEdit' xdata.id %}"><button>edit</button></a></td>
        <td><a href="{% url 'lessonDelete' xdata.id %}"><button>delete</button></a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
