<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson Add</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    subject: <input type="text" name="subject"><br>
    level: <input type="text" name="level"> <br>
    <input type="submit" value="submit">
</form>
</body>
</html>