<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list_schedule</title>
</head>
<body>
<h1>LIST SCHEDULES</h1>
<table border="1">
    <tr>
        <th>Lesson Id</th>
        <th>Subject</th>
        <th>Teacher's name</th>
        <th>Timings</th>
        <th>Day</th>
        <th>Room</th>
        <th>Action</th>
    </tr>
    {% for x in data %}
    <tr>
    <td>{{x.lesson}}</td>
        <td>{{x.lesson.subject.id}}</td>
        <td>satish</td>
        <td>satish</td>
        <td>satish</td>
        <td>satish</td>
        <td>satish</td>

    </tr>
    {% endfor %}
</table>
</body>
</html>