<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Principal Details</title>
</head>
<body>
<h1>Principal Details</h1>
<p>pid: {{details.principal_code}} </p> <br>
<p>pname:{{details.full_name}} </p> <br>
<p>center: {{details.center.center_code}}{{details.center.name}}{{details.center.city}}</p> <br>
<p>bdate:{{details.dob}} </p> <br>
<p>age:{{details.dob}} </p> <br>
<p>email: {{details.email}}</p> <br>
<p>contact:{{details.phone}} </p> <br>
<p>address:{{details.address}} </p> <br>


</body>
</html>