<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Principal</title>
</head>
<body>
<form action="{% url 'principal' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    image: <input type="file" name="image"> <br>
    date_of_joining: <input type="date" name="doj"> <br>
    title : <input type="text" name="title"> <br>
    gender : <input type="text" name="gender"> <br>
    name : <input type="text" name="name"> <br>
    nationality : <input type="text" name="nationality"> <br>
    position: <input type="text" name="position"> <br>
    positionId : <input type="text" name="positionId"> <br>
    studioId : <input type="text" name="studioId"> <br>
    highest Education Level : <input type="text" name="highest_education"> <br>
    Education major : <input type="text" name="education_major"> <br>
    dob  :  <input type="date" name="dob"> <br>
    email : <input type="email" name="email"> <br>
    number : <input type="number" name="number"> <br>
    emargency conatct name: <input type="text" name="emr_name"> <br>
    emargency number: <input type="number" name="emr_number"> <br>
</form>
</body>
</html>