<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule Lesson</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    STUDIO : <input type="number" name="studio"> <br>
    DATE: <input type="date" name="date"> <br>
   Lesson: <input type="number" name="lesson"> <br>
    Teacher:<input type="number" name="teacher"> <br>
    Room:<input type="text" name="room"> <br>
    start_time:<input type="time" name="s_time"> <br>
    end_time:<input type="time" name="e_time"> <br>
    <input type="submit" value="submit">
</form>
</body>
</html>