<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studio</title>
</head>
<body>
<form action="{% url 'studio_add' %}" method="post">
    {% csrf_token %}
    scode : <input type="text" name="studio_code"> <br>
    name : <input type="text" name="name"> <br>
    country : <input type="text" name="country"> <br>
    city : <input type="text" name="city"> <br>
    opening_date : <input type="date" name="o_date"> <br>
    status : <input type="text" name="status"> <br>
    c_name : <input type="text" name="c_name"> <br>
    c_number : <input type="text" name="c_number"> <br>
    c_email : <input type="text" name="c_email"> <br>
    address : <textarea cols="15" rows="5" name="address"></textarea>
    <input type="submit" value="submit">
</form>
</body>
</html>