<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'studio_edit' data.id %}" method="post">
    {% csrf_token %}
    scode : <input type="text" name="studio_code" value="{{data.studio_code}}"> <br>
    name : <input type="text" name="name" value="{{data.name}}"> <br>
    country : <input type="text" name="country" value="{{data.country}}"> <br>
    city : <input type="text" name="city" value="{{data.city}}"> <br>
    opening_date : <input type="date" name="o_date" value="{{data.opening_date}}"> <br>
    status : <input type="text" name="status" value="{{data.status}}"> <br>
    c_name : <input type="text" name="c_name" value="{{data.contact_name}}"> <br>
    c_number : <input type="text" name="c_number" value="{{data.contact_number}}"> <br>
    c_email : <input type="text" name="c_email" value="{{data.email}}"> <br>
    address : <textarea cols="15" rows="5" name="address" >{{data.address}}</textarea>
    <input type="submit" value="submit">
</form>
</body>
</html>