<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>studio_Details</title>
</head>
<body>
<p>studio_code:{{data.studio_code}}</p>
<p>name:{{data.name}}</p>
<p>country:{{data.country}}</p>
<p>city:{{data.city}}</p>
<p>opening_date:{{data.opening_date}}</p>
<p>status:{{data.status}}</p>
<p>contact name:{{data.contact_name}}</p>
<p>contact number:{{data.contact_number}}</p>
<p>email:{{data.email}}</p>
<p>address:{{data.address}}</p>
</body>
</html>