<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject Edit</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    subject: <input type="text" name="subject" value="{{data.subject_name}}"> <br>
    <input type="submit">
</form>
</body>
</html>