<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SUBJECT LIST</title>
</head>
<body>
<table border="1">
    <tr>
        <th>subject id</th>
        <th>subject name</th>
    </tr>
    {% for s_data in data %}
    <tr>
        <td>{{s_data.subject_code}}</td>
        <td>{{s_data.subject_name}}</td>
        <td><a href="{% url 'subject_edit' s_data.id %}"><button>edit</button></a></td>
        <td><a href="{% url 'subject_delete' s_data.id %}"><button name="_method">delete</button></a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>