<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    subject: <input type="text" name="subject"> <br>
    <input type="submit">
</form>
</body>
</html>