
@media(max-width:1400px){
    .pie-legend-bottom li{width:50%;}
    .pie-chart-card{padding-bottom: 180px !important;}
    .all-student-list li {
        flex-basis: 49.1%;
    }
    .class-info li .dt, .class-info li .dd{
        font-size: 16px;
    }
    .t-profile-wrapper {     
        padding: 2% 0;
    }
    
}
@media(max-width:1360px) {
    .score-card {
        padding: 10px;
    }
    .score-card .detail img {
        max-width: 60px;
    }
    .score-card .detail h6 {
        font-size: 17px;
        margin: 3px 0;
    }
    .score-card .detail h5 {
        font-size: 18px;
        font-weight: bold;
    }
    .score-card .detail:last-child {
        margin-left: 5px;
        width: calc(100% - 70px)
    }
    .score-card .detail h6 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .chart-title {
        font-size: 20px;
    }
    .add-point-tab .nav-link{
        margin-right: 5px;
        width: 24%;
    }
}
@media(max-width:1199px){
    .student-info-wrapper h6.sname {
        font-size: 18px;
    }
    .class-score {
        font-size: 16px;
    }
}
@media(max-width:1170px) {
    .score-card .detail img {
        max-width: 40px;
    }
    .score-card .detail:last-child {
        margin-left: 0px;
        width: calc(100% - 50px);
    }
    .score-card .detail h6 {
        font-size: 14px;
    }
    .score-card .detail h5 {
        font-size: 16px;
    }
}

@media(max-width:1024px) {
    .navbar-nav li {
        margin: 0 10px;
    }
}

@media(max-width: 991px) {
    .navbar-collapse {
        background: #F2F9FF;
        /* margin: 0 -19px; */
        position: absolute;
        left: 0;
        width: 100%;
        top: 82px;
        z-index: 99;
        box-shadow: 0px 10px 20px #0808084f;
    }
    .navbar-nav {
        width: 100%;
    }
    .navbar-nav li {
        display: block;
        margin: 0;
    }
    .navbar-nav .nav-item a, .form-btn li a {
        border-bottom: 1px solid #0091b4;
        color: #0091b4;
        padding: 12px 15px !important;
        display: block;
        text-align: center;
    }
    .form-inline.form-btn {
        display: block;
    }
    .navbar-nav .nav-item.active a, .navbar-nav .nav-item a:hover, .navbar-nav .nav-item a:focus, .form-btn li a:hover {
        border-bottom: 1px solid #0091b4 !important;
        /* background: #0091b4; */
        color: #fff !important;
    }
    .form-inline.form-btn ul {
        display: block;
    }
    .form-btn li {
        display: block;
        margin: 0;
    }
    .form-btn li:before {
        display: none;
    }
    .form-btn li:last-child a {
        border-bottom: none;
        border-radius: 0 0 20px 20px;
    }
    .navbar-toggler {
        margin-left: auto;
    }
    .navbar {
        padding: 1rem 1.2rem;
    }
    .score-card {
        margin: 10px 0;
    }
    
    .student-info-wrapper h6.sname {
        font-size: 20px;
    }
    .stud-info-list li {
        font-size: 14px;
    }
    .header-white .navbar-nav .nav-item:last-child a {
        border-bottom: 0;
    }

    .all-student-list li {
        flex-basis: 100%;
        margin:0px 0 20px 0;
    }
    .add-point-tab .nav-link{
        font-size: 14px;
        padding: 5px;
    }
    .radio-wrapper .icon{
        max-width: 40px;
    }
    h3.page-title{
        font-size: 20px;
    }
    .subject-wrapper h6{
        font-size: 16px;
    }
    .subject-wrapper {
        padding-right: 0;
    }
    .radio-wrapper:before{
        width: 93%;
    }
    .radio-custom [type="radio"]:checked + label, .radio-custom [type="radio"]:not(:checked) + label{
        font-size: 14px;
    }
    .radio-wrapper{
        padding: 5px 0;
    }
    .radio-wrapper .radio-custom.effort-100{
        display: block;
    }
    .radio-wrapper.effort-wrapper:before{
        display: none;
    }
    .t-profile-wrapper .user-pic{
        width: 190px;
        height: 190px;
    }
    .faq-wrapper .btn-link,.faq-wrapper .card-body{
        padding-right: 40px;
        font-size: 14px;
    }
    .home-img span {
        height: 380px;
    }
    .home-title {
        font-size: 24px;
    }
    .home-title.small {
        font-size: 22px;
    }

}
@media(max-height:768px){
    .login-bg{
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        margin: 0px auto;
        padding: 20px;
        /* max-width: initial; */
    }
}

@media(max-width:767px) {
    .time-period .datepicker{
        width: 200px;
    }
    .time-period .datepicker input {
        width: 80%;
    }
    .header-top-panel {
        padding: 0px 8px;
    }
    .header-top-panel ul li a {
        padding: 8px 0px;
    }
    .left-bg-wrapper {
        margin-bottom: 20px;
        height: auto;
    }
    .right-wrapper {
        margin: 0 -15px;
    }
    .time-period .form-group {
        width: 100%;
    }
    .time-period .form-group .form-control {
        width: 50%;
        display: inline-flex;
        margin: 0 5px !important;
    }
    body.p-30 {
        padding: 0 10px 10px;
    }
    .main-wrapper {
        margin-top: 10px;
        padding: 10px 20px;
    }
    .header-white .navbar {
        padding: 10px 10px;
    }
    .pie-legend-bottom h6 {
        font-size: 18px;
    }
    .pie-legend-bottom p {
        font-size: 12px;
    }
    /* login form start */
    .login-bg{
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        margin: 0px auto;
        padding: 20px;
        max-width: initial;
    }
    .inner-title{font-size: 28px;}
    .login-form {
        margin-top: 20px;
    }
    .login-wrapper {
        min-height: calc(100vh - 150px);
    }
    .forgot-modal .modal-body {
        padding: 30px 20px;
    }
    .forgot-modal .title{
        font-size: 22px;
        margin: 10px 0 20px 0;
    }
    .forgot-modal .modal-body p{    
        font-size: 18px;
        max-width: 100%;
    }
    .login-form .nav-tabs{
        margin-bottom: 20px;
    }
    .class-info li{
        margin-top: 10px !important;
        margin-bottom: 0;
    }
    .btn-bg,.btn-primary,.btn-border{
        padding: 3px 10px;
        font-size: 16px;
    }
    h3.page-title{
        font-size: 22px;
    }
    .ongoing-class .col-lg-3.pr-0{
        padding-right: 15px !important;
    }
    .comment-list li{
        padding:10px 0;
    }
    .comment-list .comment-text p{
        font-size: 14px;
    }
    .comment-list .comment-text h6 {
        font-size: 16px;
    }
    .comment-list .timestamp p{
        font-size: 12px;
    }
    .home-row-wrapper .order-1{
        order:0;
    }
    .home-img{
        margin-bottom: 30PX;
    }
    .login-form .nav-tabs .nav-link {
        font-size: 18px;
    }
    .lesson-head-row .pull-right{
        float: none;
        margin:10px 0;
    }
    .lesson-drpdown .form-control{
        margin-left: 0 !important;
    }
}
@media(max-width:575px){
    .all-student-list li a{
        padding: 10px;
    }
    h3.page-title{
        font-size: 20px;
    }
    .all-student-list li a .count, .all-student-list li a .name{
        font-size: 16px;
    }
    .all-student-list li a .name{
        margin-left: 5px;
        width: calc(100% - 53px - 40px);
    }
    .class-detail-wrapper .pull-right{
        float: none;
        
    }
    .class-detail-wrapper .btn-bg{
        margin:10px 0;
    }
    .all-student-list li a span{
        height: 50px;
        width: 50px;
    }
    .student-info-wrapper .stud-pic {
        width: 80px;
        height: 80px;
    }
    .time-period .datepicker {
        width: calc(100% - 100px);
    }
    .time-period{
        margin-bottom: 10px;
    }
    h3.page-title {
        font-size: 20px;
    }
    .all-student-list.activity-list li a .name {
        font-size: 14px;
    }
    .all-student-list.activity-list li a .name{
        width: calc(100% - 60px - 0px);
        padding-right: 0;
        font-size: 12px;
    }
    .all-student-list.activity-list li a .count{
        width:100%;
        font-size: 12px;
    }
    /* .page-title-wrapper .search-wrapper{
        float: none;
    } */
    .faq-wrapper .btn-link,.faq-wrapper .card-body{
        padding-right: 30px;
        font-size: 12px;
    }
    .fq-title{
        font-size: 20px;
    }
    .home-title {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    .small-title{
        font-size: 14px;
        text-align: center;
    }
    .home-row-wrapper .mt-50 {
        margin-top: 30px;
    }
    .home-row-wrapper {
        padding: 10px 0;
    }
    .login-bg{padding: 10px 0;}
    /* .main-wrapper {        
        padding: 10px 10px;
    } */
    .login-form .nav-tabs .nav-link {
        padding: 5px 10px;
        font-size: 16px;
    }
    .login-form .form-group{
        margin-bottom: 10px;
    }
}
/* @media(max-width:520px){
    .login-form .nav-tabs .nav-link{
        padding: 5px 15px;
        font-size: 18px;
    }
   
} */

@media(max-width:460px){
    .header-white .navbar-brand {
        max-width: 105px;
    }
    .header-white .navbar-brand img{
        width:100%;
    }
    .navbar-toggler{padding: 0;}
    .navbar-dark .navbar-toggler-icon{
        width: 25px;
        height: 25px;
    }
    .time-period .form-group .form-control{
        width: 85%;
        margin: 0 5px !important;
    }
   
    .navbar-collapse{
        top: 62px;
    }
    .forgot-modal .modal-body p{
        font-size: 14px;
    }
    .btn-bg,.btn-border{
        font-size: 16px;
    }
    .forgot-modal .modal-body {
        padding: 20px 20px;
    }
    .page-title-wrapper .col-8,
    .page-title-wrapper .col-4{
        max-width:100%;
        flex-basis: 100%;
    }
    .page-title-wrapper .search-wrapper {
        float: none;
        margin-top: 15px;
    }
    .class-info li .dt,
    .class-info li .dd{
        font-size: 14px;
        width:49%;
        vertical-align: top;
    }
    .class-info li .dt:after{
        top:10px;
    }
    h3.page-title {
        font-size: 18px;
    }
    .btn-bg{
        padding: 3px 10px;
        font-size: 15px;
    }
    .add-point-tab .nav-link{
        width:99%;     
        margin-right: 0;
    }
    .student-info-wrapper {
        padding: 10px;
    }
    .student-info-wrapper h6.sname {
        font-size: 18px;
    }
    .class-score {
        font-size: 14px;
    }
    .subject-wrapper h6 {
        font-size: 14px;
    }
    .btn-wrapper .btn{
        width:100%;
        margin-bottom: 5px;
    }
    .comment-list .comment-text {
        width: calc(100% - 50px - 10px);
        margin: 0 5px;
    }
    .comment-list .timestamp {
        text-align: right;
        width: 100%;
    }
    .comment-list .timestamp p {
        display: inline-block;   
        margin:0 2px;     
    }
    .login-wrapper {
        min-height: calc(100vh - 130px);
    }
    .time-period .datepicker {
        width: calc(100% - 0px);
        margin-left: 0 !important;
        margin-top: 4px;
    }
    .search-wrapper .form-control{
        width:100%;
    }
    .time-period .datepicker input {
        width: 86%;
    }
    .fq-title{
        font-size: 18px;
    }
    .faq-wrapper .accordion .btn-link.collapsed:after{
        font-size: 22px;
    }
    .faq-wrapper .btn-link,.faq-wrapper .card-body{
        padding-right: 20px;
        
    }
    .home-img span {
        height: 270px;
    }
    .home-title.small {
        font-size: 16px;
    }
    .home-title {
        font-size: 18px;
    }
    .home-row-wrapper p {
        font-size: 14px;
    }
    .login-form .nav-tabs .nav-link {
        display: block;
        width:100%;
        text-align: center;
        /* margin-bottom: 8px; */
    }
    .login-form {
        margin-top: 0px;
    }
    .login-form .nav-tabs .nav-link.active span::after{
        bottom:-3px;
    }
    .login-form .nav-tabs .nav-link::after{
        display: none;
    }
}
@media(min-width:768px){
    .ongoing-class .modal-lg {
        max-width: 650px;
    }
}
@media(min-width:992px){
    .ongoing-class .modal-lg {
        max-width: 900px;
    }
}
@media(min-width:1200px){
    .ongoing-class .modal-lg {
        max-width: 1000px;
    }
}
@media(min-width:1300px){
    .ongoing-class .modal-lg {
        max-width: 1200px;
    }
}
