/*----- Normalize.css Start -----*/

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

button, input, optgroup, select, textarea {
    margin: 0
}

button, input {
    overflow: visible
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

button, select {
    text-transform: none
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #66cbde;
    border-color: #66cbde;
}

button, html [type="button"],
/* 1 */

[type="reset"], [type="submit"] {
    -webkit-appearance: button;
    outline: 0
}

*, *:before, *:after {
    box-sizing: inherit;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

.btn-block+.btn-block {
    margin-top: 1.2rem;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

img {
    border-style: none
}

figcaption, figure, main {
    display: block
}

figure {
    margin: 1em 40px
}

/* General Resets */

html {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, select, input, option, textarea, figure {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /* list-style:none;*/
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background: #63cfe3;
    color: #221815;
    font-family: Arial, sans-serif;
    height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.p-30 {
    padding: 0 30px 30px;
}

a:hover, a:focus {
    color: #63cfe3;
}

/* header top panel css start */

.header-top-panel {
    clear: both;
    padding: 0px 25px;
}

.header-top-panel::after {
    content: "";
    clear: both;
    display: table;
}

.header-top-panel ul {
    list-style-type: none;
    margin-bottom: 0;
}

.header-top-panel ul li {
    display: inline-block;
    margin-right: 10px;
    /* demo only */
}

.header-top-panel ul li:last-child {
    margin-right: 0;
}

.header-top-panel ul li a {
    color: #fff;
    padding: 10px  0;
    display: block;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
}

.header-top-panel ul li a:hover, .header-top-panel ul li a:focus,.header-top-panel ul li.active a {
    border-bottom: 2px solid #fff;
    text-decoration: none;
}

/* header top panel css end */

/* Custom dropdown start */

.top-custom-select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
}

.top-custom-select select {
    padding-left: 10px;
    color: #fff;
    font-size: inherit;
    padding-right: 25px;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #63cfe3;
}

.top-custom-select select:focus {
    outline: none;
    box-shadow: none;
}

/*Hiding the select arrow for IE10*/

.top-custom-select select::-ms-expand {
    display: none;
}

.top-custom-select ::before, .top-custom-select ::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.top-custom-select:after {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    content: "";
    right: 9px;
    top: 5px;
    user-select: none;
    pointer-events: none;
}

/*--header start --*/

.navbar-dark .navbar-toggler-icon {
    background-color: #63cfe3;
    border-radius: 4px;
}

.home-nav .navbar-nav {
    width: 100%;
}

.home-nav .user-dropdown a {
    color: #fff;
}

.home-nav .user-dropdown a .user-pic {
    border-color: #fff;
}

.navbar-nav li {
    display: inline-block;
    margin: 0 14px;
}

.navbar-nav .nav-item a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    padding: 0.5rem 0 !important;
}

/* .navbar-nav .nav-item.active a, .navbar-nav .nav-item a:hover, .form-btn li a:hover {
    border-bottom: 1px solid #fff;
} */

.form-btn li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin: 0 30px;
}

.form-btn li:first-child {
    margin-left: 0;
}

.form-btn li:last-child {
    margin-right: 0;
}

.form-btn li:before {
    position: absolute;
    top: 0;
    content: '';
    background: #fff;
    left: -33px;
    height: 100%;
    width: 2px;
}

.form-btn li:first-child:before {
    display: none;
}

.form-btn li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

/*--header end --*/

/* white header start */

.header-white {
    box-shadow: 0px 0px 30px #0000000D;
    background: #fff;
    border-radius: 5px;
    margin-top: 5px;
}

.header-white .navbar {
    padding: 10px 30px;
}

.header-white .navbar-nav .nav-item a {
    color: #221815 !important;
}

.header-white .navbar-nav .nav-item.active a, .header-white .navbar-nav .nav-item a:hover, .header-white .form-btn li a:hover {
    /* border-bottom: 1px solid #221815; */
    color: #63cfe3 !important
}

.header-white .navbar-brand {
    max-width: 200px;
}

.user-dropdown {
    position: relative;
}

.user-dropdown a {
    display: inline-block;
    color: #221815;
    font-size: 16px;
}

.user-dropdown a:hover, .user-dropdown a:focus {
    border-bottom: 0;
    text-decoration: none;
}

.user-dropdown a .user-pic {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.user-dropdown a .user-name {
    display: inline-block;
    vertical-align: middle;
    color: #221815;
}

.user-dropdown a .user-name i {
    margin-left: 5px;
    font-size: 22px;
    color: #63cfe3;
}

.user-dropdown .dropdown-list {
    z-index: 99;
    position: absolute;
    background: #fff;
    width: 100%;
    list-style-type: none;
    box-shadow: 0px 0px 30px #0000000D;
    border-radius: 5px;
    max-height: 200px !important;
    overflow-y: auto !important;
    min-width: 150px;
    right: 0;
}

.user-dropdown .dropdown-list a {
    border-bottom: 0;
    display: block;
    width: 100%;
    outline: none;
    padding: 8px 10px;
    color: #999999;
    font-size: 14px;
}

.user-dropdown .dropdown-list li:last-child a {
    border-bottom: none;
}

.user-dropdown .dropdown-list a:hover {
    color: #63cfe3;
}

.header-white .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.hide {
    display: none;
}

.user-dropdown a .user-pic img {
    width: 100%;
    height: 100%;
}

.notification {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.header-white .navbar .form-inline {
    margin-left: 20px;
}

/* white header end */

/* main wrapper start */

.main-wrapper {
    background: #fff;
    padding: 30px;
    margin-top: 30px;
    border-radius: 5px;
}

.left-bg-wrapper {
    background: #63cfe3;
    border-radius: 5px;
    height: 100%;
}

/* student info start */

.student-info-wrapper {
    text-align: center;
    padding: 20px;
}

.student-info-wrapper .stud-pic {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.student-info-wrapper .stud-pic img {
    width: 100%;
    height: 100%;
}

.student-info-wrapper h6.sname {
    font-size: 24px;
    color: #fff;
    margin: 10px 0;
}

.stud-info-list {
    list-style-type: none;
    font-size: 0;
}

.stud-info-list li {
    line-height: 30px;
    display: inline-block;
    width: 50%;
    text-align: left;
    color: #fff;
    font-size: 15px;
    vertical-align: top;
    margin-bottom:10px;
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
}

.stud-info-list li:nth-child(even) {
    font-weight: bold;
}

label {
    font-size: 16px;
    color: #221815;
}

.form-control {
    border: 1px solid #999999;
    border-radius: 5px;
}

.score-card {
    background: #fff;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 5px;
    padding: 30px 20px;
    margin: 20px 0;
}

.score-card .detail {
    display: inline-block;
    vertical-align: top;
}

.score-card .detail:last-child {
    margin-left: 20px;
    width: calc(100% - 110px);
}

.score-card .detail h6 {
    font-size: 20px;
    margin: 10px 0;
}

.score-card .detail h5 {
    font-size: 26px;
    font-weight: bold;
}

/* chart css start */

.chart-title {
    padding-bottom: 30px;
    color: #63cfe3;
    font-size: 24px;
    font-weight: bold;
}

.pie-legend-bottom {
    list-style-type: none;
    /*position: absolute;*/
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    font-size: 0;
    bottom: 0px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.pie-legend-bottom li {
    display: inline-flex;
    width: 25%;
    text-align: center;
    color: #fff;
    padding: 20px 5px;
    /* height: 100%; */
    justify-content: flex-end;
    /* align-items: center; */
    flex-wrap: wrap;
}

.pie-legend-bottom h6 {
    font-size: 24px;
    width: 100%;
}

.pie-legend-bottom p {
    font-size: 16px;
    width: 100%;
}

/*.pie-chart-card {
    position: relative;
    padding-bottom: 60px;
    height: 100%;
}
*/

.pie-legend-bottom {
    /*/ list-style-type: none; /*/
    /*/ position: absolute; /*/
    /*/ width: 100%; /*/
    /*/ left: 0; /*/
    /*/ right: 0; /*/
    /*/ margin: 0; /*/
    font-size: 0;
    bottom: 0px;
    /*/ border-radius: 0 0 5px 5px; /*/
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.yellow {
    background: #F6BE57;
}

.red {
    background: #EB5858;
}

.blue {
    background: #1691B3;
}

.pink {
    background: #F3ACB3;
}

.score-card.border {
    box-shadow: none;
    border: 1px solid #D4D4D4;
    margin: 0px 0 20px 0;
}

/*--login---*/

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #63cfe3;
}

.login-wrapper {
    min-height: calc(100vh - 190px);
    position: relative;
}

.login-bg {
    max-width: 600px;
    margin: 0 auto;
    padding: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.login-form label {
    font-size: 14px;
    user-select: none;
}

.inner-title {
    position: relative;
    margin-bottom: 12px;
    text-align: center;
    color: #63cfe3;
    font-size: 34px;
    font-weight: bold;
}

.login-form {
    margin-top: 40px;
}

.border-btm.form-control {
    border-bottom: 1px solid #999;
    border-radius: 0;
    padding: 10px 15px 10px 0;
    color: #000000;
    font-weight: 500;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: #000000;
    font-size: 16px;
}

.icon-group .form-control {
    padding: 10px 10px 10px 30px;
}

.border-btm.form-control:focus {
    border-bottom: 1px solid #63cfe3;
}

.icon-group.form-group {
    margin-bottom: 30px;
    position: relative;
}

.icon-group.form-group .icon {
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 21px;
}

.pwdlink {
    font-size: 14px;
    color: #63cfe3;
}

.btn-block {
    margin-top: 30px;
}

.btn-block .btn-primary {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.btn-block p {
    text-align: center;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 0;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #1dbacd52;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #1dbacd52;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #1dbacd52;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #1dbacd52;
}

/*--login---*/

.btn-bg {
    background: #63cfe3;
    color: #fff !important;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    transition: all 0.3s;
    border: 1px solid #63cfe3 !important;
    padding: 8px 0;
    text-align: center !important;
}

.btn-bg:hover, .btn-bg:focus {
    background: #fff !important;
    color: #63cfe3 !important;
    border: 1px solid #63cfe3 !important;
    box-shadow: none !important;
}
a.btn-bg {
    background: #63cfe3;
    color: #fff !important;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    transition: all 0.3s;
    border: 1px solid #63cfe3 !important;
    padding: 8px 0;
    text-align: center !important;
}

a.btn-bg:hover, a.btn-bg:focus {
    background: #fff !important;
    color: #63cfe3 !important;
    border: 1px solid #63cfe3 !important;
    box-shadow: none !important;
    text-decoration: none;
}

/* custom checkbox */

.checkbox-block {
    padding-left: 30px;
    position: relative;
    color: #63cfe3;
}

.checkbox-block input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-block .custom-checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 1px solid #63cfe3;
    margin-left: 0;
    border-radius: 3px;
}

.custom-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-block .custom-checkmark:after {
    left: 6px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox-block input:checked~.custom-checkmark {
    background-color: #63cfe3 !important;
    border-color: #63cfe3 !important;
}

.checkbox-block input:checked~.custom-checkmark:after {
    display: block;
}

/* custom checkbox end */

/* login css start */

.login-form .nav-tabs {
    border-bottom: 0;
    margin: 0 -20px 40px -20px;
    position: relative;
    justify-content: center;
}

/* .login-form .nav-tabs::before{
    position: absolute;
    left: 0;
    content: '';
    top: 50%;
    height: 16px;
    width: 2px;
    background: #999999;
    transform: translateY(-50%);
    z-index: 1;
}
.login-form .nav-tabs::after{
    position: absolute;
    right: 0;
    content: '';
    top: 50%;
    height: 16px;
    width: 2px;
    background: #999999;
    transform: translateY(-50%);
} */

.login-form .nav-tabs .nav-link {
    font-size: 20px;
    color: #999999;
    border: 0;
    position: relative;
    padding: 5px 20px;
}

.login-form .nav-tabs .nav-item.show .nav-link, .login-form .nav-tabs .nav-link.active {
    color: #63cfe3;
    background-color: #fff;
    border: 0;
}

.login-form .nav-tabs .nav-link::after {
    position: absolute;
    right: 0;
    content: '';
    top: 50%;
    height: 16px;
    width: 1px;
    background: #bbb;
    transform: translateY(-50%);
    z-index: 1;
}

.login-form .nav-tabs .nav-link:last-child::after {
    display: none;
}

.login-form .nav-tabs .nav-link.active span {
    display: inline-block;
    position: relative;
}

.login-form .nav-tabs .nav-link.active span::after {
    position: absolute;
    bottom: -10px;
    content: '';
    width: 28px;
    height: 2px;
    /* border-bottom: 28px solid #63cfe3; */
    background-color: #63cfe3;
    left: 50%;
    transform: translateX(-50%);
    
}

.login-form .nav-tabs .nav-link.active::after {}

.login-form.nav-tabs .nav-link:focus, .login-form .nav-tabs .nav-link:hover {
    border: 0;
    color: #63cfe3;
}

/* login css end */

.forgot-modal .form-group {
    position: relative;
}

.forgot-modal .title {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 30px 0;
    color: #63cfe3;
    font-weight: bold;
    letter-spacing: 1px;
}

.forgot-modal .modal-body p {
    font-size: 20px;
    max-width: 360px;
    margin: 0 auto 20px auto;
}

.forgot-modal .modal-body {
    padding: 30px 50px;
}

.btn-border {
    background: #fff;
    color: #63cfe3;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    transition: all 0.3s;
    border: 1px solid #63cfe3;
    padding: 8px 0;
}

.btn-border:hover, .btn-border:focus {
    background: #63cfe3;
    color: #fff;
    border: 1px solid #63cfe3;
    box-shadow: none;
}

.forgot-modal .modal-dialog {
    max-width: 600px;
    /* width: 80%; */
    padding: 0 20px;
}

.sucs-img {
    text-align: center;
    margin: 20px auto;
}

.success-modal .modal-body p {
    max-width: 100%;
    text-align: center;
}

h3.page-title {
    color: #63cfe3;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

h3.page-title1 {
    
    color: #63cfe3;
    font-size: 22px;
    font-weight: bold;
    position: relative;
  
}
/* search start */

.search-wrapper .form-group {
    position: relative;
    margin-bottom: 0;
}

.search-wrapper .form-group span {
    position: absolute;
    content: "";
    left: 12px;
    top: 49%;
    transform: translateY(-50%);
}

.search-wrapper .form-control {
    height: 30px;
    border-radius: 15px;
    font-size: 14px;
    padding-left: 30px;
    width: 100%;
    border-color: #999999;
}

/* search end */

/* all student list */

.all-student-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.all-student-list li {
    display: inline-flex;
    flex-basis: 49.4%;
    margin: 20px 15px 0 0px;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 5px;
}

.all-student-list li:nth-child(even) {
    margin-right: 0;
}

.all-student-list li a {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.2s;
}

.all-student-list li a:hover, .all-student-list li a:focus {
    text-decoration: none;
    background: #63cfe3;
}

.all-student-list li a:hover span, .all-student-list li a:focus span {
    border: 2px solid #fff;
}

.all-student-list li a:hover .count, .all-student-list li a:focus .count, .all-student-list li a:hover .name, .all-student-list li a:focus .name {
    color: #fff;
}

.all-student-list li a span {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid #63cfe3;
}

.all-student-list li a span img {
    height: 100%;
    width: 100%;
}

.all-student-list li a .count, .all-student-list li a .name {
    display: inline-block;
    vertical-align: middle;
    color: #221815;
    font-size: 20px;
}

.all-student-list li a .count {
    text-align: right;
}

.all-student-list li a .name {
    width: calc(100% - 69px - 55px);
    margin-left: 15px
}

/* pagination css start */

.pagination-cst .page-link {
    color: #221815;
    border: 1px solid #D4D4D4;
    font-size: 16px;
    padding: 5px 10px;
}

.pagination-cst .page-link:hover, .pagination-cst .page-link:focus {
    box-shadow: none;
    outline: none;
    background-color: #63cfe3;
    border-color: #63cfe3;
    color: #fff;
}

.pagination-cst .page-item.active .page-link {
    background-color: #63cfe3;
    border-color: #63cfe3;
}

.pagination-cst .aerrow a {
    padding: 2px 10px;
    line-height: 24px;
}

.pagination-cst .aerrow span {
    font-size: 21px;
}

/* start class css */

.class-info {
    margin-top: 5px;
}

.class-detail-wrapper {
    box-shadow: 0px 3px 10px #00000029;
    padding: 25px;
    border-radius: 5px;
}

.class-info li {
    list-style-type: none;
    margin-bottom: 10px;
}

.class-info li:last-child {
    margin-bottom: 0px;
}

.class-info li .dt {
    position: relative;
    color: #221815;
    padding-right: 20px;
}

.class-info li .dt:after {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    content: ":";
    font-size: 18px;
}

.class-info li .dt, .class-info li .dd {
    display: inline-block;
    font-size: 20px;
    /* width:49%; */
    vertical-align: middle;
}

.class-info li .dd {
    color: #63cfe3;
    font-weight: bold;
}

.class-detail-wrapper .btn-bg {
    padding: 3px 15px;
}

.class-score {
    color: #fff;
    font-size: 20px;
}

.class-score .score-count {
    font-weight: bold;
}

/* popup points tabbing */

.add-point-tab .nav-tabs {
    border-bottom: 0;
}

.add-point-tab .nav-link {
    border: 1px solid #d4d4d4;
    margin-right: 15px;
    font-size: 16px;
    border-radius: 5px;
    color: #221815;
    width: 23%;
    text-align: center;
}

.add-point-tab .nav-link:last-child {
    margin-right: 0;
}

.add-point-tab .nav-tabs .nav-item.show .nav-link, .add-point-tab .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #63cfe3;
    border-color: #63cfe3;
}

.add-point-tab .nav-tabs .nav-link:focus, .add-point-tab .nav-tabs .nav-link:hover {
    color: #ffffff;
    background-color: #63cfe3;
    border-color: #63cfe3;
}

.add-point-tab .nav {
    position: relative;
    /* padding-right: 35px; */
}

.add-point-tab .info {
    position: absolute;
    right: 0;
}

/* custom radio start */

.radio-custom [type="radio"]:checked, .radio-custom [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.radio-custom [type="radio"]:checked+label, .radio-custom [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.radio-custom [type="radio"]:checked+label:before, .radio-custom [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #999999;
    border-radius: 100%;
    background: #fff;
}

.radio-custom [type="radio"]:checked+label:after, .radio-custom [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #63cfe3;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio-custom [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

/* .radio-custom [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
} */

.subject-wrapper {
    padding-right: 10px;
}

.subject-wrapper h6 {
    color: #221815;
    font-size: 18px;
    margin-top: 10px;
}

.radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 0;
    padding: 15px 0;
}

.radio-wrapper:before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    height: 1px;
    width: 99%;
    background: #0000001a;
    content: "";
    z-index: -1;
}

.radio-wrapper .icon, .radio-wrapper .radio-custom {
    display: inline-flex;
}

.radio-wrapper .radio-custom {
    /* justify-content: space-around; */
    flex-basis: calc(100% - 60px);
}

.radio-wrapper .radio-custom [type="radio"]:checked+label, .radio-wrapper .radio-custom [type="radio"]:not(:checked)+label {
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
}

.radio-wrapper .radio-custom [type="radio"]:checked+label:before, .radio-wrapper .radio-custom [type="radio"]:not(:checked)+label:before {
    left: 50%;
    right: auto;
    top: auto;
    bottom: 20px;
    transform: translateX(-50%);
}

.radio-wrapper .radio-custom [type="radio"]:checked+label:after, .radio-wrapper .radio-custom [type="radio"]:not(:checked)+label:after {
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.radio-wrapper .radio-custom p {
    display: inline-flex;
    flex-basis: 25%;
    justify-content: flex-end;
}

.radio-wrapper .icon img {
    height: 100%;
    width: 100%;
}

.radio-img p {
    display: inline-flex;
    flex-basis: 25%;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.radio-img [type="radio"]:checked, .radio-img [type="radio"]:not(:checked) {
    position: absolute;
    /* left: -9999px; */
    z-index: 9999;
    height: 50px;
    width: 50px;
    opacity: 0;
    cursor: pointer;
}

.radio-img [type="radio"]+label, .radio-img [type="radio"]+label {
    position: relative;
    padding-top: 60px;
    /* padding-left: 28px; */
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.radio-img [type="radio"]+label:before, .radio-img [type="radio"]+label:after {
    left: 50%;
    top: 0;
    z-index: 99;
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    transform: translateX(-50%);
}

.radio-img [type="radio"]+label:before {
    opacity: 1;
}

.radio-img [type="radio"]+label:after {
    opacity: 0;
}

.radio-img [type="radio"]:checked+label:before {
    opacity: 0;
}

.radio-img [type="radio"]:checked+label:after {
    opacity: 1;
}

.radio-img [class="negative"][type="radio"]+label:before {
    background: url('/static/img/website/negative.png');
}

.radio-img [class="negative"][type="radio"]+label:after {
    background: url('/static/img/website/negative-selected.png');
}

.radio-img [class="neutral"][type="radio"]+label:before {
    background: url('/static/img/login/Nuetral.png');
}

.radio-img [class="neutral"][type="radio"]+label:after {
    background: url('/static/img/login/Nuetral-select.png');
}

.radio-img [class="upbeat"][type="radio"]+label:before {
    background: url('/static/img/website/Upbeat.png');
}

.radio-img [class="upbeat"][type="radio"]+label:after {
    background: url('/static/img/website/Upbeat-select.png');
}

.radio-img [class="very good"][type="radio"]+label:before {
    background: url('/static/img/website/VeryGood.png');
}

.radio-img [class="very good"][type="radio"]+label:after {
    background: url('/static/img/website/VeryGood-select.png');
}

.radio-img [class="very-good"][type="radio"]+label:before {
    background: url('/static/img/website/VeryGood.png');
}

.radio-img [class="very-good"][type="radio"]+label:after {
    background: url('/static/img/website/VeryGood-select.png');
}


.radio-img {
    display: flex;
    /* flex-basis: 100%;
    justify-content: center; */
}

.mb-40 {
    margin-bottom: 40%;
}

.btn-wrapper .btn {
    /* display: inline-block; */
    margin-right: 10px;
    width: 20%;
}

.btn-wrapper .btn:last-child {
    margin-right: 0px;
    float: right;
}

.comment-list {
    list-style-type: none;
}

.comment-list .comment-text, .comment-list .user-pic, .comment-list .timestamp {
    display: inline-block;
    vertical-align: top;
}

.comment-list .user-pic {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #63cfe3;
}

.comment-list .user-pic img {
    height: 100%;
    width: 100%;
}

.comment-list .comment-text {
    width: calc(100% - 50px - 90px);
    margin: 0 10px;
}

.comment-list .comment-text h6 {
    font-size: 18px;
    font-weight: bold;
    color: #221815;
}

.comment-list li {
    border-bottom: 1px solid #D4D4D4;
    padding: 15px 0;
}

.comment-list li:last-child {
    border-bottom: 0;
}

.comment-list .comment-text p {
    font-size: 16px;
    color: #666666;
    margin-top: 10px;
}

.comment-list .timestamp p {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    text-align: right;
}

h3.comment-title {
    font-size: 20px;
}

.radio-wrapper .radio-custom.effort-100 {
    flex-basis: 100%;
}

.close.modal-close-btn {
    position: absolute;
    right: -10px;
    top: -10px;
    color: #fff;
    font-size: 20px;
    background: #000;
    opacity: 1;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: 2px solid #fff;
    line-height: 21px;
    text-align: center;
    font-weight: 100;
}

/* profile css start */

.t-profile-wrapper {
    text-align: center;
    padding: 3% 0;
}

.t-profile-wrapper .user-pic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid #63cfe3;
    display: inline-block;
    margin: 0 auto;
}

.t-profile-wrapper .user-pic img {
    height: 100%;
    width: 100%;
}

.class-info.tchr-profile {
    text-align: left;
    text-align: left;
    /* max-width: 400px; */
    margin: 20px auto;
}

.class-info.tchr-profile li .dt, .class-info.tchr-profile li .dd {
    width: 49%;
}

.class-info.tchr-profile li .dt:after {
    display: none;
}

.activity-wrapper h3.page-title {
    margin-top: 30px;
}

.all-student-list.activity-list {
    margin-top: 0;
}

.all-student-list.activity-list li {
    flex-basis: 100%;
    padding: 10px 0;
    box-shadow: none;
    border-bottom: 1px solid #D4D4D4;
    border-radius: 0;
    margin: 0 !important;
}

.all-student-list.activity-list li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-radius: 0;
    transition: none;
    cursor: text;
}
.all-student-list.activity-list li a:hover, .all-student-list.activity-list li a:focus {
    text-decoration: none;
    background: none;
}

.all-student-list.activity-list li a:hover span, .all-student-list.activity-list li a:focus span {
    border: 2px solid #63cfe3;
}

.all-student-list.activity-list li a:hover .count,
.all-student-list.activity-list li a:focus .count,
.all-student-list.activity-list li a:hover .name,
.all-student-list.activity-list li a:focus .name {
    color: #221815;
}
.all-student-list.activity-list li a .name {
    font-size: 16px;
    width: calc(100% - 53px - 100px);    
    padding-right: 10px;
}

.all-student-list.activity-list li a .name span {
    font-weight: bold;
    font-weight: bold;
    height: auto;
    width: auto;
    border: none !important;
    border-radius: 0;
}

.all-student-list.activity-list li a .count {
    font-size: 14px;
    text-align: right;
    font-weight: bold;
    color: #221815;
}

.time-period {
    display: inline-block;
    /* width: 100%; */
}

.time-period label {
    display: inline-block;
    vertical-align: middle;
}

.time-period .datepicker {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    /* width: 250px; */
}

.time-period .datepicker input {
    width: 180px;
    margin-right: 10px;
    height: 30px;
    display: inline-block;
    border: 1px solid #999999;
    border-radius: 0;
    text-align: center;
}

.time-period .icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

nav.pagination-cst {
    margin-top: 30px;
}

/* faq page start */

.faq-wrapper {
    margin-top: 30px;
}

.faq-wrapper .card-header {
    background: transparent;
    border: 0;
    padding: 15px 0;
}

.faq-wrapper .btn-link {
    white-space: inherit;
    background: transparent;
    color: #221815;
    width: 100%;
    text-align: LEFT;
    padding: 0;
    position: relative;
    font-weight: bold;
    padding-right: 100px;
}

.faq-wrapper .accordion .card-header .btn-link:after {
    font-family: 'FontAwesome';
    content: "\f106";
    /* float: right; */
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    height: 100%;
    color: #666666;
    font-weight: 100;
}

.faq-wrapper .btn-link:hover, .faq-wrapper .btn-link:focus {
    text-decoration: none;
}

.faq-wrapper .card {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.faq-wrapper .accordion .btn-link.collapsed:after {
    content: "\f107";
    font-family: 'FontAwesome';
    color: #666666;
    /* float: right; */
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    height: 100%;
    font-weight: 100;
}

.faq-wrapper .card-body {
    color: #666666;
    font-size: 16px;
    padding-left: 0;
    padding-right: 70px;
    padding-top: 0;
}

.fq-title {
    color: #221815;
    font-size: 22px;
    font-weight: bold;
}

/* faq page end */

/* upload button css start */

.upload-file-block {
    clear: both;
}

.upload-file-block:after, .upload-file-block:before {
    content: "";
    clear: both;
    display: table;
}

.upload-file-block label {
    float: left;
    color: #999;
    margin-top: 4px;
}

.upload-file-block .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    float: right;
}

.upload-file-block .upload-btn-wrapper .btn {
    padding: 5px 10px;
    font-size: 14px;
}

.upload-file-block .upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.img-list-wrapper{
    padding: 0;
    font-size: 0;
    margin: 50px -10px 0px -10px;
    text-align: left;
}
.img-list-wrapper li{
    display: inline-block;
    width: 80px;
    padding: 0 10px;
    margin-bottom: 20px;
}
/* .img-list-wrapper li:first-child{
    padding-left: 0;
} */
.img-list-wrapper .img-wrapper{
    position: relative;
}
.img-list-wrapper li span{
    height: 60px;
    width: 100%;
    overflow: hidden;
    display: block;
    border-radius: 5px;
}
.img-list-wrapper li span img{
    width:100%;
    height: 100%;
}
.img-list-wrapper .img-wrapper a{
    font-size: 13px;
    position: absolute;
    right: -8px;
    top: -9px;
    height: 20px;
    width: 20px;
    background: #2f4050;
    line-height: 18px;
    text-align: center;
    color: #fff;
    font-weight: 100;
    border: 1px solid #fff;
    border-radius: 100%;
}
.t-profile-wrapper .user-pic.help-desk-pic{
    border:0;
}

/* home page css start */
.small-title{
    color: #5A8DC4;
    font-size: 16px;
    margin-bottom: 10px;
}
.home-title{
    font-size: 30px;
    color: #221815;
    font-weight: bold;
    margin-bottom: 20px;
}
.home-row-wrapper{
    padding:30px 0;
}
.home-title.small{
    font-size: 24px;
}
.home-row-wrapper p{
    color: #666666;
    font-size: 16px;
}
.home-img{
    position: relative;
    z-index: 1;
    display: inline-block;
}
.home-img span{   
    height: 500px;
    /* width: 450px; */
    overflow: hidden;
    margin: 0 auto;
    display: block
}
.home-img img{
    width:100%;
    height: 100%;
}
.home-img:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #5A8DC4;
    bottom: -10px;
    left: -10px;
    z-index: -1;
}
.home-img.yellow:after{
    background: #D9B352;
}
.home-img.pink:after{
    background: #D5616E;
}
.home-img.green:after{
    background: #3EB55A;
}
.home-img.right:after{
    bottom: -10px;
    right: -10px;
    left:auto;
}
/* home page css end */
.home-row-wrapper .mt-50{
    margin-top: 50px;
}
#comment .btn-wrapper .btn:last-child{
    float: right;
}
.btn-pink{
    background: #F3ACB4;
    color: #fff !important;
    border:1px solid #F3ACB4;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    transition: all 0.3s;
    padding: 8px 0;
}
.btn-pink:hover,
.btn-pink:hover{
    background: #fff !important;
    color: #F3ACB4 !important;
    border:1px solid #F3ACB4 !important;
}
.btn-color{
    /* background: #F3ACB4; */
    color: #fff !important;
    /* border:1px solid #F3ACB4; */
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    transition: all 0.3s;
    padding: 8px 0;
}
/* .btn-color:hover, */
/* .btn-color:hover{
    background: #fff !important; */
    /* color: #F3ACB4 !important;
    border:1px solid #F3ACB4 !important; */
/* } */
.page-title.color-black{
    color: #221815;
    font-size: 20px;
}
.activity-list.notify-list li a .name{
    margin-left: 0;
    width: calc(100% - 53px - 30px);
}
.vgood{
    background: #5A8DC4;
}
.negative{
    background: #D9B352;
}
.neutral{
    background: #D5616E;
}
.upbeat{
    background: #3EB55A;
}
.lesson-drpdown select{
    background: transparent;
    color: #221815;
    font-size: 14px;
    min-width: 200px;
}
.lesson-drpdown .form-control{
    border-radius: 25px;
    padding: 2px 10px;
   
}
.lesson-drpdown .top-custom-select:after{
    border: solid #8e8e8e;
    border-width: 0 2px 2px 0;
    top:8px;
}
/* .lesson-drpdown{
    width:100%;
} */


/*aditi*/
.max-width-83{
    min-width: 145px;
    font-size: 16px;
    font-weight: bold;
}
.back-blue{
    background-color: #63cfe3;
}

.font1-20{
    font-size: 20px;
   font-weight: bold;
   margin: 0px !important;
}
.font-16{
    font-size: 16px;
     color: #63cfe3;
       font-weight: bold;
}
.font-20{
    font-size: 20px;
     color: #fff;
}
.pad-30{
    padding-left: 30px;
}
.font-42{
    font-size: 42px !important;
    color: #fff;

}
.border-right-a{
border-right: 1px solid #efefef;
}
#dashboard .score-card{
    height: 160px;
}
#dashboard a{
    text-decoration: none;
    cursor: pointer;
}
#dashboard .score-card .detail:last-child {
     margin-left: 0px; 
     width: 100%; 
}
/*#dashboard  .score-card .detail{
    width: 100%;
}*/
#dashboard  .score-card .detaila{
    width: 100%;
}

#dashboard  .score-card{
    padding:0px;
}
.pad-20{
        padding: 18px 20px 31px;
    border-bottom: 1px solid #efefef;

}
#dashboard .pad-10{
    padding: 14px 0px;
}
#dashboard .p20{
      padding:30px;
   
    
}
.width-100{
    width: 100%;
    display: inline-flex;

}
.width-col-50{
    /* width: 50%; */
    width: 100%;
}
.detaila {
    position:relative;
    overflow:hidden;
}
.detaila:hover > .effect-card{
    bottom:0;
     height: 100%;
     cursor: pointer;

}
.detaila:hover > #dashboard .score-card{
   border:3px solid #63cfe3;

}
.effect-card{
    position:absolute;
       position: absolute;
   
    background-color: #fff;
    -webkit-transition: bottom 0.1s ease;
    -moz-transition: bottom 0.1s ease;
    -o-transition: bottom 0.1s ease;
    -ms-transition: bottom 0.1s ease;
    transition: bottom 0.1s ease;
    width: 100%;
    left: 0;
    padding: 20px;
        bottom: -103px;

}
#dashboard .effect-card ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 71px;
}
#dashboard .effect-card ul li{
    list-style: none;
     display: inline-block;
     padding: 5px;
  

}
.border1{
      border: 2px solid #f2f2f2;
}
.color1{
    border-color:#f3acb3;
}
.color2{
    border-color:#f6be57;
}
.color3{
    border-color:#eb5858;
}
.color4{
    border-color:#1691b3;
}

#dashboard .effect-card ul li p{
    font-size: 16px;
  font-weight: bold;
}
#my-class thead tr{
    background-color: #F3F3F3;
    font-size: 18px;

}
 .table{
  
     margin-bottom: 0px; 

}

#my-class tbody tr td {
    font-size: 16px;
    color: #999999;
    white-space: nowrap;
    vertical-align: middle;
}
#my-class tbody tr td:first-Child {
    color:#63cfe3;
    font-weight: bold; 

}
#my-class tbody tr td:last-Child {
      width: 300px;
}
.max-width-a83 {
    min-width: 120px;
    font-size: 16px !important;
    font-weight: 600;
    margin: 0px 5px;
    padding: 6px 5px !important;
    font-weight: bold !important;
    margin: 5px 5px;
}
 .max-width-a83.color-1{
    background-color: #F3ACB4;

 }
  .max-width-a83.color-1:hover{
    border-color: #F3ACB4;
     background-color: #fff;
    color: #F3ACB4;

 }
 .fc-toolbar h2{
    font-size: 21px;
    color: #221815;
    font-weight: bold;
 }
 .fc-button-primary {
  color: #fff;
  background-color: #63cfe3;
  border-color: #63cfe3; }

.fc-button-primary:hover {
  color: #fff;
  background-color: #63cfe3;
  border-color: #63cfe3;
  }
  .fc-event, .fc-event-dot {
    background-color: #63cfe3;
    border: 0;
}
.fc-button-primary:not(:disabled):active:focus, .fc-button-primary:not(:disabled).fc-button-active:focus {
   
    box-shadow: none;
}
.fc-button-primary:disabled {
    color: #fff;
    background-color: #63cfe3;
    border-color: #63cfe3;
}
.fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
    color: #fff;
    background-color: #65c4d7;
    border-color: #65c4d7;
     box-shadow: none;
}
.fc-unthemed td.fc-today {
 background: #5ab8ce;
    color: #fff;
   
}
.fc-title{
     color: #fff;
}


.border-grey{
    border: 1px solid #D4D4D4; 
}
.bor-bottom{
      border-bottom: 1px solid #D4D4D4;
}
.pad-3a0{
    padding: 20px;
}
.bg-bluea{
   background-color: #63cfe3;
   padding: 15px;
   color: #fff;
   font-size: 24px;
   font-weight: bold;
}
.bg-blue-a{
 padding: 15px;
   color: #63cfe3;
   font-size: 22px;
   font-weight: bold;
}
.detail-title-a{
    margin: 0 5px;
}
.detail-title-a span {
    color: #000;
    font-size: 18px;
   
     width: 20%;
    display: block;
     min-width: 95px;
     font-weight: normal;
}
.detail-title-a p {
    display: flex;
     font-size: 18px;
    font-weight: bold;
    vertical-align: text-top;
    color: #63cfe3;
    margin-bottom: 10px;
   
}
.wid-100{
    width: 100%;
}
/*.max-230{
         max-width: 261px;
        display: block;
}*/
.datepicker .form-control {
    font-size: 14px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #63cfe3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* .scroll-wrapper-a400 {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: auto;
    padding: 0 0px;
    margin-top: 15px;
}
.scroll-wrapper-400 {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px;
    margin-top: 15px;
} */
.color1{
    border-color:#f3acb3;
}
.color2{
    border-color:#f6be57;
}
.color3{
    border-color:#eb5858;
}
.color4{
    border-color:#1691b3;
}
.color1 .colora1.pad-20{
border-color: #f3acb3;
}
.color1 .width-100 .width-col-50 .border-right-a{
border-color: #f3acb3;
}
.color2 .colora2.pad-20{
border-color: #f6be57;
}
.color2 .width-100 .width-col-50 .border-right-a{
border-color: #f6be57;
}
.color4 .colora4.pad-20{
border-color: #1691b3;
}
.color4 .width-100 .width-col-50 .border-right-a{
border-color: #1691b3;
}
.color3 .colora3.pad-20{
border-color: #eb5858;
}
.color3 .width-100 .width-col-50 .border-right-a{
border-color: #eb5858;
}

/*my style aditi*/

/* .scroll-wrapper{
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scroll-wrapper-400 {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px;
}
.scroll-wrapper-306 {
    max-height: 306px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px;
} */
.applyBtn{
    background-color: #63cfe3 !important;
    border-color: #63cfe3 !important;
}

.dash-title-wrapper .search-wrapper{
    display: inline-block;
    width:100%;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before{
    border-left-color: #73d4e6;
}
.tooltip-inner{
    background-color: #63cfe3;
}
.tooltip-cst ul{
    list-style-type: none;
    text-align: left;
}
.info{
    cursor: pointer;
}

.radio-wrapper.overall-cst .radio-custom.effort-100{
    flex-basis: 92%;
}
.search-student-wrapper input{
    width:100% !important;
}
.student-select-cst select{
    color: #999999;
}
.student-select-cst select{
    min-width: 115px;
}
.pie-legend-bottom li a {
    display: block;
    width: 100%;
    color: #fff;
}
.pie-legend-bottom li a:hover,
.pie-legend-bottom li a:focus {
    text-decoration: none;
    color: #fff;
}
.columnchartdiv1, .columnchartdiv2, .columnchartdiv3, .columnchartdiv4 {
    display: none;
}
.columnchartdiv1.active, .columnchartdiv2.active, .columnchartdiv3.active, .columnchartdiv4.active {
    display: block;
    /* padding: 15px; */
}
.pink.active a, .blue.active a, .yellow.active a, .red.active a {
    text-shadow: 1px 2px 3px #000;
}
.login-user{
    margin-right: 6px;
}
.login-user.active a .user-name{
    color:#63cfe3;
}
.class-hide{
    display: none;
  }
  #Subjects  .subject-wrapper{
      margin-bottom: 30px;
  }
  .help-desk-select{
      width:100%;
  }
.help-desk-select select{
    background: #fff;
    padding:0 !important;
    color:#999 !important;
}
.help-desk-select:after{
    border: solid #999;
    border-width: 0 2px 2px 0;
    top:12px;
    color:#999;
}
.stud-info-list li p{
    line-height: 20px;
    padding-right: 5px;
}
.pie-chart{
    pointer-events: none;
}
.notification a img:hover,
.notification a img:focus,
.notification a.active img{
    filter: invert(76%) sepia(57%) saturate(446%) hue-rotate(151deg) brightness(90%) contrast(98%);
    -webkit-filter: invert(76%) sepia(57%) saturate(446%) hue-rotate(151deg) brightness(90%) contrast(98%);
    -moz-filter: invert(76%) sepia(57%) saturate(446%) hue-rotate(151deg) brightness(90%) contrast(98%);
    -o-filter: invert(76%) sepia(57%) saturate(446%) hue-rotate(151deg) brightness(90%) contrast(98%);
}

#loader-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    left: 0;
    }
    
    #loader-svg img {
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: +999;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    height: 10%;
    left: 0;
    }

.btn-english{
    background: #F3ACB4;
    border: 1px solid #F3ACB4;
    color: #fff !important;
}
.btn-english:hover{
    background: #fff !important;
    color: #F3ACB4 !important;
    border:1px solid #F3ACB4 !important;
}
.btn-technology{
    background: #F6BE57;
    border: 1px solid #F6BE57;
    color: #fff !important;
}
.btn-technology:hover{
    background: #fff !important;
    color: #F6BE57 !important;
    border:1px solid #F6BE57 !important;
}
.btn-entrepreneur{
    background: #1691B3;
    border: 1px solid #1691B3;
    color: #fff !important;
}
.btn-entrepreneur:hover{
    background: #fff !important;
    color: #1691B3 !important;
    border:1px solid #1691B3 !important;
}

.btn-creativedesign{
    background: #EB5858;
    border: 1px solid #EB5858;
    color: #fff !important;
}
.btn-creativedesign:hover{
    background: #fff !important;
    color: #EB5858 !important;
    border:1px solid #EB5858 !important;
}