{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/ico" href="{% static 'img/website/icon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/website/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/responsive.css' %}">

    <title>{% trans "CURIOO" %}</title>
</head>

<body class="p-30">
  <section class="header-top-panel">
    <div class="float-right">
        <ul class="">
            <li class="active"><a href="{% url 'faq/' %}">{% trans "FAQ" %}</a></li>
            <!-- <li><a href="help-desk.html">Help Desk</a></li> -->
            <li>
                {% get_available_languages as languages %}
                {% get_current_language as LANGUAGE_CODE %}
                <div class="top-custom-select">
                    <select id="lenguage_selector">
                        <option value="">{% trans "Language" %}</option>
                        {% for lang_code, lang_name in languages %}
                            <option value={{ lang_code }} {% if LANGUAGE_CODE == lang_code %} selected {% endif %}>{{ lang_name }}</option>
                        {% endfor %}

                    </select>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- top header end -->

<!-- main header start -->
<header class="nav-wrapper header-white">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{% url 'index/' %}">
            <img src="{% static 'img/website/logo.png' %}" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index/' %}" title="Onboarding">{% trans "Onboarding" %}</a>
                </li>
            </ul>
        </div>
        <div class="form-inline ">
            <div class="user-dropdown login-user active">
                <a href="{% url 'login/' %}">
                    <span class="user-name">{% trans "Sign In" %}</span>
                </a>
                
            </div>
        </div>
    </nav>
</header>
<!-- header end -->
<!-- main header end -->

    <!-- main wrapper start -->
    <section class="main-wrapper">
       <div class="row page-title-wrapper">
            <div class="col-8">
                <h3 class="page-title">
                    {% trans "How can we help ?" %}
                </h3>
                
            </div>
            <div class="col-4">
            <div class="pull-right search-wrapper">
                <form>
                    <div class="form-group">
                        <span>
                            <img src="{% static 'img/website/search.png' %}" alt="search-icon">
                        </span>
                      <input type="text" class="form-control" placeholder="{% trans 'Search Question' %}" id="search_data" >
                    </div>
                </form>
            </div>
        </div>        
    </div>
   <!-- title row end --> 
             <!-- faq wrapper start -->
             <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <div class="faq-wrapper">
            <script>
                var faq_count = 0;
            </script>
            <div class="row" >
                <div class="col-sm-12">
                  <h5 class="fq-title">{% trans "Frequently Asked Questions" %}</h5>
                  <div class="accordion" id="accordionExample">
                    {% for faq in faq_data %}
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                            <button id="ques_{{faq.id}}" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ans_{{faq.id}}" aria-expanded="false" aria-controls="ans_{{faq.id}}">
                              {{faq.id}}. {{faq.question}}
                            </button>
                          </h2>
                        </div>
                    
                        <div id="ans_{{faq.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                            {{faq.answer}}
                          </div>
                        </div>
                      </div>
                      <script>
                          if(faq_count == 0)
                          {
                            $("#ques_{{faq.id}}").removeClass("collapsed");
                            $("#ques_{{faq.id}}").attr("aria-expanded", "true");
                            $("#ans_{{faq.id}}").addClass("show");
                            faq_count++;
                          }
                          console.log("count---", faq_count);
                          
                      </script>
                      {% endfor %}
                    </div>
                    
                </div>
            </div>
          </div>
          <!-- faq wrapper end -->
    </div>

    <!-- main wrapper end -->


    <!-- boostrap js start -->
    <script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script>

    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'js/website/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/website/fontawesome.min.js' %}"></script> 
    <script src="{% static 'js/website/bootstrap-datepicker.min.js' %}"></script>     
    <script src="{% static 'js/website/custom-select.js' %}"></script> 
    <script src="{% static 'js/website/faq.js' %}"></script>

    <script>
        $('#lenguage_selector').on('change', function () {
            console.log($('#lenguage_selector option:selected').val());
            var selected_value = $('#lenguage_selector option:selected').val();
            var csrf_token = "{{ csrf_token }}";
            if(selected_value != ""){
                $.ajax({
                    // url: "{% url 'changeLanguage' %}",
                    headers: {"X-CSRFToken": csrf_token},
                    url: "{% url 'set_language' %}",
                    type: "POST",
                    data: {'language': selected_value},
                    success: function (data) {
                        console.log('success', data);

                        function redirect() {
                            window.location.reload();
                        }

                        setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds

                    },
                    error: function (data) {
                        console.log('fail', data);
                        console.log('text', data.responseText);
                        openErrorModal(data.responseText);
                    }
                });
                event.stopImmediatePropagation();
                event.preventDefault();
            }
        })
    </script>
   
</body>

</html>