{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/ico" href="{% static 'img/website/icon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/website/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/responsive.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/website/jquery.localizationTool.css' %}">-->


    <title>{% trans "CURIOO" %}</title>
</head>

<body class="p-30">
    <section class="header-top-panel">
        <div class="float-right">
            <ul class="">
                <li><a href="{% url 'faq/' %}">{% trans "FAQ" %}</a></li>
                <li>
                    {% get_available_languages as languages %}
                    {% get_current_language as LANGUAGE_CODE %}
                    <div class="top-custom-select">
                        <select id="lenguage_selector">
                            <option value="">{% trans "Language" %}</option>
                            {% for lang_code, lang_name in languages %}
                                <option value={{ lang_code }} {% if LANGUAGE_CODE == lang_code %} selected {% endif %}>{{ lang_name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- top header end -->

    <!-- main header start -->
    <header class="nav-wrapper header-white">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/website/logo.png' %}" /></a>
            </button>
            <div class="form-inline ml-auto">
                <div class="user-dropdown login-user">
                    <a href="{% url 'login/' %}">
                        <span class="user-name">{% trans "Sign In" %}</span>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <!-- header end -->
    <!-- main header end -->

    <!-- main wrapper start -->
    <section class="main-wrapper">
        <div class="container">
            <div class="home-row-wrapper">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center">
                        <div class="home-img">
                            <span><img src="{% static 'img/website/home1.png' %}"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6 class="small-title">
                            {% trans "Classroom Management" %}
                        </h6>
                        <h3 class="home-title">
                            {% trans "Classroom Management Made Easy" %}
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet lacus neque.
                            Pellentesque maximus condimentum arcu, rutrum finibus odio lobortis ac. Phasellus vulputate,
                            arcu at imperdiet volutpat, libero orci consequat velit, eu lobortis lorem justo vel lacus.
                            Vestibulum scelerisque mollis ligula id varius. Mauris nec erat venenatis nunc fringilla
                            gravida. Donec porttitor tincidunt velit et sollicitudin. Nulla velit metus, pulvinar eu nisi
                            nec, malesuada tristique nibh. Nam eget dolor sit amet nisi imperdiet vulputate. Etiam in libero
                            vel sapien viverra consequat vel vitae ligula.
                        </p>
                    </div>
                </div>
            </div>
        </div>   
        <!-- container-end      -->
    </section>
    <!-- main wrapper end -->
      <!-- main wrapper start -->
      <section class="main-wrapper">
        <div class="container">
            <div class="home-row-wrapper">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h6 class="small-title">
                            {% trans "Our features" %}
                        </h6>
                        <h3 class="home-title">
                            {% trans "Our Features Include" %}
                        </h3>
                    </div>
                </div>
                <div class="row align-items-center mt-50">                    
                    <div class="col-md-6 text-center order-1">
                        <div class="home-img right yellow">
                            <span><img src="{% static 'img/website/home2.png' %}"></span>
                        </div>
                    </div>
                    <div class="col-md-6">                        
                        <h3 class="home-title small">
                            Lorem ipsum dolor sit amet
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet lacus neque.
                            Pellentesque maximus condimentum arcu, rutrum finibus odio lobortis ac. Phasellus vulputate,
                            arcu at imperdiet volutpat, libero orci consequat velit, eu lobortis lorem justo vel lacus.
                            Vestibulum scelerisque mollis ligula id varius. Mauris nec erat venenatis nunc fringilla
                            gravida. Donec porttitor tincidunt velit et sollicitudin. Nulla velit metus, pulvinar eu nisi
                            nec, malesuada tristique nibh. Nam eget dolor sit amet nisi imperdiet vulputate. Etiam in libero
                            vel sapien viverra consequat vel vitae ligula.
                        </p>
                    </div>
                </div>
                <!-- row end -->
                <div class="row align-items-center mt-50">                    
                    <div class="col-md-6 text-center ">
                        <div class="home-img pink">
                            <span><img src="{% static 'img/website/bn1.png' %}"></span>
                        </div>
                    </div>
                    <div class="col-md-6">                        
                        <h3 class="home-title small">
                            Lorem ipsum dolor sit amet
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet lacus neque.
                            Pellentesque maximus condimentum arcu, rutrum finibus odio lobortis ac. Phasellus vulputate,
                            arcu at imperdiet volutpat, libero orci consequat velit, eu lobortis lorem justo vel lacus.
                            Vestibulum scelerisque mollis ligula id varius. Mauris nec erat venenatis nunc fringilla
                            gravida. Donec porttitor tincidunt velit et sollicitudin. Nulla velit metus, pulvinar eu nisi
                            nec, malesuada tristique nibh. Nam eget dolor sit amet nisi imperdiet vulputate. Etiam in libero
                            vel sapien viverra consequat vel vitae ligula.
                        </p>
                    </div>
                </div>
                <!-- row end -->
                <div class="row align-items-center mt-50">                    
                    <div class="col-md-6 text-center order-1">
                        <div class="home-img right green">
                            <span><img src="{% static 'img/website/bn2.png' %}"></span>
                        </div>
                    </div>
                    <div class="col-md-6">                        
                        <h3 class="home-title small">
                            Lorem ipsum dolor sit amet
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet lacus neque.
                            Pellentesque maximus condimentum arcu, rutrum finibus odio lobortis ac. Phasellus vulputate,
                            arcu at imperdiet volutpat, libero orci consequat velit, eu lobortis lorem justo vel lacus.
                            Vestibulum scelerisque mollis ligula id varius. Mauris nec erat venenatis nunc fringilla
                            gravida. Donec porttitor tincidunt velit et sollicitudin. Nulla velit metus, pulvinar eu nisi
                            nec, malesuada tristique nibh. Nam eget dolor sit amet nisi imperdiet vulputate. Etiam in libero
                            vel sapien viverra consequat vel vitae ligula.
                        </p>
                    </div>
                </div>
                <!-- row end -->
            </div>
        </div>   
        <!-- container-end      -->
    </section>
    <!-- main wrapper end -->

    <!-- boostrap js start -->
    <script src="{% static 'js/website/jquery-3.4.1.min.js' %}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
    <script src="{% static 'js/website/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/website/fontawesome.min.js' %}"></script>
    <script src="{% static 'js/website/custom-select.js' %}"></script> 
    <!--<script src="{% static 'js/website/jquery.localizationTool.js' %}"></script> -->

    <script>
        $('#lenguage_selector').on('change', function () {
            console.log($('#lenguage_selector option:selected').val());
            var selected_value = $('#lenguage_selector option:selected').val();
            var csrf_token = "{{ csrf_token }}";
            if(selected_value != ""){
                $.ajax({
                    // url: "{% url 'changeLanguage' %}",
                    headers: {"X-CSRFToken": csrf_token},
                    url: "{% url 'set_language' %}",
                    type: "POST",
                    data: {'language': selected_value},
                    success: function (data) {
                        console.log('success', data);

                        function redirect() {
                            window.location.reload();
                        }

                        setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds

                    },
                    error: function (data) {
                        console.log('fail', data);
                        console.log('text', data.responseText);
                        openErrorModal(data.responseText);
                    }
                });
                event.stopImmediatePropagation();
                event.preventDefault();
            }
        })
    </script>

</body>

</html>