{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/ico" href="{% static 'img/login/icon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/website/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/website/responsive.css' %}">
    <style>
        .wrong-msg-icon i {
            color: #e41e1e;
            font-size: 88px;
        }
        .error-title {
            text-align: center;
            font-size: 24px;
            margin: 20px 0 30px 0;
            color: #e41e1e;
            font-weight: bold;
            letter-spacing: 1px;
        }
    </style>
    <title>{% trans "CURIOO" %}</title>
</head>

<body class="p-30">
    <section class="header-top-panel">
        <div class="float-right">
            <ul class="">
                <li><a href="{% url 'faq/' %}">{% trans "FAQ" %}</a></li>
                <!-- <li><a href="help-desk.html">Help Desk</a></li> -->
                <li>
                    {% get_available_languages as languages %}
                    {% get_current_language as LANGUAGE_CODE %}
                    <div class="top-custom-select">
                        <select id="lenguage_selector">
                            <option value="">{% trans "Language" %}</option>
                            {% for lang_code, lang_name in languages %}
                                <option value={{ lang_code }} {% if LANGUAGE_CODE == lang_code %} selected {% endif %}>{{ lang_name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- top header end -->

    <!-- main header start -->
    <header class="nav-wrapper header-white">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{% url 'index/' %}">
                <img src="{% static 'img/website/logo.png' %}" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index/' %}" title="Onboarding">{% trans "Onboarding" %}</a>
                    </li>
                </ul>
            </div>
            <div class="form-inline ">
                <div class="user-dropdown login-user active">
                    <a href="{% url 'login/' %}">
                        <span class="user-name">{% trans "Sign In" %}</span>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <!-- header end -->
    <!-- main header end -->

    <!-- main wrapper start -->
    <section class="main-wrapper login-wrapper">
      
        <div class="login-bg">
            <h3 class="inner-title">{% trans "Sign In" %}</h3>
            <div class="login-form">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#teacher" role="tab" aria-controls="nav-home" aria-selected="true" onclick="$('#login_type').val('teacher')">
                          <span>{% trans "Teacher" %}</span>
                        </a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" onclick="$('#login_type').val('learning_consultant')">
                          <span>{% trans "Learning Consultant" %}</span>
                        </a>
                        <a class="nav-item nav-link" id="Principal-tab" data-toggle="tab" href="#Principal" role="tab" aria-controls="Principal" aria-selected="false" onclick="$('#login_type').val('principal')">
                            <span>{% trans "Principal" %}</span>
                          </a>
                          <a class="nav-item nav-link " id="Admin-tab" data-toggle="tab" href="#Admin" role="tab" aria-controls="Admin" aria-selected="false" onclick="$('#login_type').val('admin')">
                            <span>{% trans "Admin" %}</span>
                          </a>
                    </div>
                  </nav>
                  <script>
                      
                  </script>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="teacher" role="tabpanel" aria-labelledby="teacher">
                        <form autocomplete="on" id="loginForm" method='POST'>
                            <div class="form-group icon-group">
                                <span class="icon"><img src="{% static 'img/login/email.png' %}"></span>
                                <input type="hidden" name='device' value="website"/>
                                <input type="hidden" name="login_type" id="login_type" value="teacher"/>
                                <input type="email" name="email" class="form-control border-btm" placeholder="{% trans 'Email' %}" value="{{ email }}" required>
                            </div>
                            <div class="form-group icon-group">
                                <div class="forgot-block">
                                    <span class="icon"><img src="{% static 'img/login/pwd.png' %}"></span>
                                    <input type="password" value="{{ password }}" name="password" class="form-control border-btm" placeholder="{% trans 'Password' %}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-block">
                                    <input class="share-post remember_me" type="checkbox" name="remember_me" value="off" onchange="check_remember();">
                                    <span class="custom-checkmark"></span>{% trans "Remember me" %}
                                </label>
                            </div>
                            <div class="btn-block">
                                <input type="submit" class="btn-primary btn-bg" value="{% trans 'Sign In' %}"/>
                                <p><a href="#" title="password" class="pwdlink" data-toggle="modal" data-target="#forgotpwd" id="frgt_btn">{% trans "Forgot Password?" %}</a></p>
                            </div>
                        </form>
                    </div>
                    
                  </div>
                
            </div>
            </div>      
    </section>
    <!-- main wrapper end -->



    <!-- forgot modal start -->
    <div class="modal fade forgot-modal" id="forgotpwd" tabindex="-1" role="dialog" aria-labelledby="forgotpwdLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">            
            <div class="modal-body">
                <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="title">{% trans "Forgot Password?" %}</h3>
                <p>{% trans "We will send you a link to change your password" %}</p>
                <form id="forgot-password-form" data-url="/forgetPassword/" method="POST">
                    <div class="form-group icon-group">
                        <div class="form-group icon-group">
                            <span class="icon"><img src="{% static 'img/login/email.png' %}"></span>
                            <input type="email" name="email" class="form-control border-btm" id="frgt_email" placeholder="{% trans 'Email' %}">
                        </div>
                    </div>
                    <!-- <button type="button" class="btn btn-block btn-bg" data-toggle="modal" data-target="#successmodal" data-dismiss="modal">Proceed</button> -->
                    <button type="submit" class="btn btn-block btn-bg" >{% trans "Proceed" %}</button>

                    <button type="button" class="btn btn-block btn-border" data-dismiss="modal">{% trans "Return to Login" %}</button>
                </form>
            </div>
            </div>
        </div>
    </div>
    <!-- forgot modal end -->
    <!-- sucess modal start -->
    <div class="modal fade forgot-modal success-modal" id="successmodal" tabindex="-1" role="dialog" aria-labelledby="successmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">            
            <div class="modal-body">
                <button type="button" class="close modal-close-btn forgot-close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="title">{% trans "Sent" %}</h3>
                <div class="sucs-img">
                    <img src="{% static 'img/login/sucs-img.png' %}">
                </div>
                <p>{% trans "Please check your email account" %}</p>
            </div>
            </div>
        </div>
    </div>
    <!-- sucess modal end -->

    <!-- error modal start -->
    
    <div class="modal fade forgot-modal error-modal show" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="errormodalLabel" aria-hidden="true" style="display: none;text-align: center;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">            
            <div class="modal-body">
                <button type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="error-title">{% trans "Error" %}</h3>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p class="text-center error-msg"></p>
            </div>
            </div>
        </div>
    </div>
    <div class="modal fade forgot-modal error-modal show" id="forgoterrormodal" tabindex="-1" role="dialog" aria-labelledby="errormodalLabel" aria-hidden="true" style="display: none;text-align: center;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">            
            <div class="modal-body">
                <button type="button" class="close modal-close-btn forgot-close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="error-title">{% trans "Error" %}</h3>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p class="text-center error-msg">{{ error }}</p>
            </div>
            </div>
        </div>
    </div>
    <!-- error modal end -->

    <!-- boostrap js start -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'js/login/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/login/fontawesome.min.js' %}"></script>
    <script src="{% static 'js/login/custom-select.js' %}"></script>
    <script src="{% static 'js/website/forgot_password.js' %}"></script>

    <script>
        $('#frgt_btn').on('click', function () {
            $('#frgt_email').val('');
        })
    </script>
   
    {% if remember_me_on %}
        <script type="text/javascript">
        $('.remember_me').attr('checked', 'checked');
        $('.remember_me').attr('value', 'on');
        console.log("remembermeeeeeeeeeeeeee")
        </script>
    {% endif %}
    
    <!-- {% if remember_me_on == 'false' %}
        <script type="text/javascript">
        $('.remember_me').removeAttr("checked");
        $('.remember_me').attr('value', 'off');
        console.log("unticcckkkkkkik")
        </script>
    {% endif %} -->

    <script>
        if ("{{utype2}}" == 'teacher'){
        $("#nav-home-tab").attr("aria-selected", "true");
        $("#nav-home-tab").addClass("active");
        document.getElementById("login_type").value = "teacher";
        }
        if ("{{utype2}}" == 'admin'){
        $("#nav-home-tab").attr("aria-selected", "false");
        $("#Admin-tab").attr("aria-selected", "true");
        $("#nav-home-tab").removeClass("active");
        $("#Admin-tab").addClass("active");
        document.getElementById("login_type").value = "admin";
        
        }
        if ("{{utype2}}" == 'principal'){
        $("#nav-home-tab").attr("aria-selected", "false");
        $("#Principal-tab").attr("aria-selected", "true");
        $("#nav-home-tab").removeClass("active");
        $("#Principal-tab").addClass("active");
        document.getElementById("login_type").value = "principal";
        
        }
        if ("{{utype2}}" == 'consultant'){
        $("#nav-home-tab").attr("aria-selected", "false");
        $("#nav-profile-tab").attr("aria-selected", "true");
        $("#nav-home-tab").removeClass("active");
        $("#nav-profile-tab").addClass("active");
        document.getElementById("login_type").value = "consultant";
        
        }
        function check_remember(){
        console.log("Remmeber change", $('.remember_me').attr('checked'))
        if($('.remember_me').attr('checked') == 'checked')
        {
        $('.remember_me').removeAttr("checked");
        $('.remember_me').attr('value', 'off');
        // $('.remember_me').attr('checked', '');
        }
        else{
        $('.remember_me').attr('checked', 'checked');
        $('.remember_me').attr('value', 'on');
        }
        console.log("Remmeber change", $('.remember_me').attr('checked'))
        
        }
        </script>


    <script>
        $('#lenguage_selector').on('change', function () {
            console.log($('#lenguage_selector option:selected').val());
            var selected_value = $('#lenguage_selector option:selected').val();
            var csrf_token = "{{ csrf_token }}";
            if(selected_value != ""){
                $.ajax({
                    // url: "{% url 'changeLanguage' %}",
                    headers: {"X-CSRFToken": csrf_token},
                    url: "{% url 'set_language' %}",
                    type: "POST",
                    data: {'language': selected_value},
                    success: function (data) {
                        console.log('success', data);

                        function redirect() {
                            window.location.href = "/login/";
                        }

                        setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds

                    },
                    error: function (data) {
                        console.log('fail', data);
                        console.log('text', data.responseText);
                        openErrorModal(data.responseText);
                    }
                });
                event.stopImmediatePropagation();
                event.preventDefault();
            }
        })
    </script>




<script>
    $("#loginForm").submit(function(e){
        e.preventDefault();  
        var data = {'device':$('input[name=device]').val(),'login_type':$("#login_type").val(),'email':$('input[name=email]').val(),'password':$('input[name=password]').val(),'remember_me':$('.remember_me').val()}
        console.log("data--",data)
        $.ajax({
            method:'POST',
            url:'/login/',
            data:data,
            success:function(data){
                console.log("success")
                function redirect(){
                    window.location.href='/login/'
                }
                redirect()
            },
            error:function(error){
                console.log("error", error)
                console.log('msg--',error.responseJSON['message'])
                $("#errormodal").css('display','block')
                $(".error-msg").text(error.responseJSON['message'])

            },
            // cache: false,
            // contentType: false,
            // processData: false
        })
    })
</script>
  
</body>

</html>