<!DOCTYPE html>
<html lang="en" xmlns:name="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
</head>
<body>
<form action="{% url 'admin/teacher' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    title: <input type="text" name="title"> <br>
    name: <input type="text" name="full_name"> <br>
    dob: <input type="date" name="dob"> <br>
    gender : <input type="text" name="gender"> <br>
    nationality : <input type="text" name="nationality"> <br>
    doj: <input type="date" name="doj"> <br>
    position: <input type="text" name="position"> <br>
    position_id : <input type="text" name="position_id"> <br>
    studio :
    <select name="studio_id">
        {% for studio in studios %}
            <option value="{{ studio.id }}">{{ studio.name }}</option>
        {% endfor %}
    </select><br>
    highest Education Level :
<select name="education_level">
            <option value="High School Diploma">High School Diploma</option>
            <option value="Bachelor">Bachelor</option>
            <option value="Masters">Masters</option>
            <option value="PHD">PHD</option>
</select><br>
    Education major : <input type="text" name="education_major"> <br>
    email_id: <input type="email" name="email"> <br>
    contact: <input type="text" name="phone"> <br>
    emargency conatct name: <input type="text" name="emergency_contact_name"> <br>
    emargency number: <input type="number" name="emergency_phone"> <br>

    image: <input type="file" name="image"> <br>

    Subjects :
    {% for subject in subjects %}
        <input type="checkbox" name="subjects" value="{{ subject.subject_id }}">{{ subject.subject_name }}<br>
    {% endfor %}
    <input type="submit">
</form>
</body>
</html>