{% extends 'base.html' %}
{% block data %}
{% load static %}
<title>Add New Principal</title>
<div class="wrapper wrapper-content">

            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="ibox">
                     <div class="ibox-content" id="studentProfile">
                        <div class="box-heading">
                          <a href="{% url 'principals_list' %}">&lt;&lt; Back</a><br/><br/>
                          <h2> Add New Principal
                          </h2>
                        </div>
                         <form  method="POST"  id="add-principal-form" enctype="multipart/form-data">
                             {% csrf_token %}
                        <div class="row">
                           <div class=" profileContainer">
                             <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                              <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">

                                 <div class="pro-box upload-image">
                                    <img class="img-responsive show_profile_pic" src="{% static 'img/my-ac-img.png' %}">
                                    <div class="browse-btn">
                                          <input type="file" name="image" id="image" accept="image/*" onchange="ProfilePic(this)" class="select_profile_pic select_image" required>
                                          <span><i class="fa fa-camera " aria-hidden="true"></i></span>
                                     </div>
                                 </div>
<!--                                 <div class="stu-details row">-->
<!--                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--                                       <span style="text-transform: uppercase;font-weight: 600;">Principal ID </span>-->
<!--                                    </div>-->
<!--                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--                                       <span style="font-weight: 600;color: #01789a">#T24</span>-->
<!--                                    </div>-->
<!--                                    <div class="clearfix"></div>-->
<!--                                 </div>-->
                              </div>

                              <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                 <div class="">
                                   <!-- -----------------------------------------------------------------------------------------tabbing -->
                                   <div class=" investor-details">

                                      <!-- Tab panes -->
                                      <div class="tab-content ">

                                       <!-- -----tab1 -->
                                        <div role="tabpanel" class="tab-pane active" id="prt-tab0">

                                          <div class="princidetail">
                                          <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Name</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="text" placeholder="Please Enter Name" class="form-control" value="" name="name" id="name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                            </div>
                                          </div>
                                        </div>
                                          <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <label>Date Of Birth</label>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group usr-form">
                                                        <div class="input-group date disableFutureDates"
                                                             data-date-format="yyyy-mm-dd">
                                                            <div class="input-group-addon">
                                                                <span class="glyphicon glyphicon-th"></span>
                                                            </div>
                                                            <input type="text"  id="date_of_birth" class="form-control cal-input" name="dob" placeholder="Please Enter Date of Birth" required onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45">

                                                        </div>
                                                    </div>
                                                </div>
                                          </div>

                                        <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Gender</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <label class="radio-inline"><input type="radio" name="gender" class="gender" value="male" checked>Male</label>
                                                <label class="radio-inline"><input type="radio" name="gender" class="gender" value="female">Female</label>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Nationality</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="text" placeholder="Please Enter Nationality" class="form-control" value="" name="nationality" id="nationality" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Date Of Joining</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <div class="input-group date disablePastDates" data-date-format="yyyy-mm-dd">
                                                     <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-th"></span>
                                                      </div>
                                                      <input type="text" class="form-control cal-input" id="date_of_joining" placeholder="Please Enter Date Of Joining" name="doj" required onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45">

                                                </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Position</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="text" placeholder="Please Enter Position" class="form-control" id="position" value="" name="position" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Position ID</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="text" placeholder="Please Enter Position ID" id="positionId" class="form-control" value="" name="positionId" required>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">

                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Studio ID</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <select class="form-control" name="studioId" id="studioId" required>
                                                     <option selected="true" disabled="disabled">Please Select Studio </option>
                                                     {% for data in studio %}
                                                        <option value="{{data.id}}">{{data.studio_code|upper}}</option>
                                                     {% endfor %}
                                                 </select>

                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">

                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Highest Education Level</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <select class="form-control" name="highest_education" id="highest_education">
                                                     <option selected="true" disabled="disabled">Please Select Highest Education Level</option>
                                                     <option value="high School">High School</option>
                                                     <option value="diploma">Diploma</option>
                                                     <option value="bachelor">Bachelor</option>
                                                     <option value="masters" >Masters</option>
                                                     <option value="phd" >PHD</option>
                                                 </select>

                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">

                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Education Major</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
{#                                                 <select class="form-control" name="education_major" id="education_major" required>#}
{#                                                     <option selected="true" disabled="disabled">Please Select Major </option>#}
{#                                                     {% for data in majors %}#}
{#                                                        <option value="{{data.id}}">{{data.major}}</option>#}
{#                                                     {% endfor %}#}
{#                                                 </select>#}
                                                 <input type="text" placeholder="Please Enter Education Major"
                                                                               class="form-control" value=""
                                                                               name="education_major" id="education_major" required>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">

                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Email ID</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="email" id="email" placeholder="Please Enter Email ID" class="form-control" value="" name="email" required pattern="[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">

                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Mobile Number</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="number" id="number" placeholder="Please Enter Contact Number" class="form-control" value="" name="number" required onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0"  minlength="10" maxlength="15">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Emergency Contact Name</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="text" id="emergency_name" placeholder="Please Enter Emergency Contact Name" class="form-control" value="" name="emr_name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Emergency Contact Number</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="number" id="emargency_number" name="emargency_number"
                                                        placeholder="Please Enter Emergency Contact Number"
                                                        class="form-control" value="emr_number" required
                                                        onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0"  minlength="10" maxlength="15">
                                            </div>
                                          </div>
                                        </div>
                                      </div >



                                          <div class="clearfix"></div>
                                        </div>
                                        <!-- -----tab2 -->
                                        <div role="tabpanel" class="tab-pane" id="prt-tab1">


                                        </div>
                                        <!-- -----tab3 -->
                                        <div role="tabpanel" class="tab-pane " id="prt-tab2">


                                        </div>

                                       <div class="row">
                                          <div class="col-lg-12 text-center">
                                            <hr/>
                                            <button type="button"  class=" btn btn-default add-principal-submit"  >Submit</button>
                                            <a data-toggle="modal" data-target="#cancel-modal" href="#" class=" btn btn-default">Cancel</a>
                                          </div>
                                        </div>

                                        </div>

                                      </div>
                                 </div>
                              </div>


                           </div>
                        </div>
                             </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      <div class="modal coman-modal  fade" id="addS-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
           <div class="success-msg-icon">
            <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
           </div>
           <h2>Added successfully !!</h2>
        </div>
      </div>
    </div>
    <div class="modal coman-modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you Sure You want to Cancel? You can't alter this later.</p>
                <div class="text-center">
                    <a  href="{% url 'principals_list' %}" class="btn btn-default m-r-sm">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>

                </div>
                <p id="error-text"></p>
            </div>
        </div>
    </div>
    <div class="modal coman-modal fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-a" role="document">
          <div class="modal-content text-center">
              <button type="button " class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>

              <h1>Successful</h1>
              <div class="success-msg-icon">
                  <i class="fa fa-check-circle" aria-hidden="true"></i>

              </div>
              <p id="success-text"><br></p>

          </div>
      </div>
  </div>
  
{% endblock %}

{% block custom_js %}
<script>
  $('#loader').hide();
  function openSuccessModal(msg) {
            $("#success-msg").modal('show');
            $('#success-text').text(msg);
            
        }
  function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }

    $(document).ready(function(){
      $('.dataTables-example').DataTable();
    });

</script>

<script>
    jQuery.validator.addMethod("dobValidation", function(value, element) {
         var today=new Date();
         var DOB = Date.parse(value);
         if(DOB <= today) {
            return true;
        }
        return false;
    },"Please enter valid date before today");

    jQuery.validator.addMethod("lettersWithSpaces", function(value, element) {
        return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
    },"Please enter only letters");

    jQuery.validator.addMethod("phoneUS", function (phone_number, element) {
        phone_number = phone_number.replace(/\s+/g, "");
        return this.optional(element) || phone_number.length > 9 && phone_number.match(/^(\+?1-?)?(\([2-9]\d{2}\)|[2-9]\d{2})-?[2-9]\d{2}-?\d{4}$/);
    }, "Please specify a valid phone number");

    $.validator.methods.email = function( value, element ) {
        return this.optional( element ) || /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}/.test( value );
    };

    $("#add-principal-form").validate({
        errorClass: "validateError",
        rules:{
            image:{
                required: true,
            },
            name:{
                required: true,
                lettersWithSpaces:true
            },
            date_of_birth:{
                required: true,
                date: true,
                dateFormat: true,
                dobValidation:true
            },
            nationality:{
                required: true,
                lettersWithSpaces:true,
            },
            date_of_joining:{
                required: true,
                date: true,
                dateFormat: true
            },
            position:{
                required: true,
                lettersWithSpaces:true
            },
            positionId:{
                required: true,
            },
            studioId:{
                required: true,
            },
            highest_education:{
                required: true,
            },
            education_major:{
                required: true,
                lettersWithSpaces:true
            },
            email:{
                required: true,
                email:true
            },
            number:{
                required: true,
                number: true,
                min: 0,
            },
            emergency_name:{
                required: true,
            },
            emargency_number:{
                required: true,
                number: true,
                min: 0,
            },
        },
        errorPlacement: function ( error, element ) {
            if ( $(element).hasClass("cal-input") ) {
                error.insertAfter( $(element).parents(".input-group") );
            }
            else if($(element).hasClass('select_image')){
                error.insertAfter( $(element).parents(".upload-image") );

            }
            else {
                error.insertAfter( element );
            }
        },
    });
</script>



<script>
  var submit_data = function (e) {

      let flag = 0;
      
      var isValid = $("#add-principal-form").valid();
      if (isValid == false) {
        $('.add-principal-submit').attr("disabled", false);
          flag++;
      }
      var url_link = '{% url 'principal' %}';

      var image = $('#image')[0].files[0];
      var name = $("#name").val();
      var date_of_birth = $("#date_of_birth").val();
      var nationality = $("#nationality").val();
      var date_of_joining = $("#date_of_joining").val();
      var position = $("#position").val();
      var positionId = $("#positionId").val();
      var studioId = $("#studioId").val();
      var highest_education = $("#highest_education").val();
      var education_major = $("#education_major").val();
      var email = $("#email").val();
      var number = $("#number").val();
      var emergency_name = $("#emergency_name").val();
      var emergency_number = $("#emargency_number").val();
      var gender = $(".gender").val();
      var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();

      // console.log(url_link, studio_id);
      var csrf_token = "{{ csrf_token }}";
      var formData = new FormData();
      // formData.append("student_code", student_code)
      formData.append("name", name);
      formData.append("dob", date_of_birth);
      formData.append("nationality", nationality);
      formData.append("doj", date_of_joining);
      formData.append("position", position);
      formData.append("positionId", positionId);
      formData.append("studioId", studioId);
      formData.append("highest_education", highest_education);
      formData.append("education_major", education_major);
      formData.append("email", email);
      formData.append("number", number);
      formData.append("emr_name", emergency_name);
      formData.append("emr_number", emargency_number);
      formData.append("gender", gender);
      formData.append("image", image);
      formData.append("emergency_number", emergency_number);

      if (flag == 0) {
        $('.add-principal-submit').attr("disabled", true);
          $('#loader').show();
          $.ajax({
              headers: {"X-CSRFToken": csrf_token},
              url: url_link,
              type: "POST",
              processData: false,
              contentType: false,
              data: formData,
              success: function (data) {
                  $('#loader').hide();
                  console.log('success', data);
                  openSuccessModal(data);
                  function redirect() {
                    window.location.href = "/admin/principals";
                  }
                  setTimeout(redirect, 2000); //1000 is equivalent to 2 seconds
              },
              error: function (data) {
                  $('.add-principal-submit').attr("disabled", false);
                  $('#loader').hide();
                  openErrorModal(data.responseText);

              }
          });
          e.stopImmediatePropagation();
          e.preventDefault();
      } else {
          $('.add-principal-submit').attr("disabled", false);
          return false;
      }
  };
  $('.add-principal-submit').on('click', submit_data);
</script>




<script>
function ProfilePic(input){
    if (input.files && input.files[0]) {
        var profile_pic = $('#image').val();

        if(input.files[0].size > 2000000){
            $('#image').val("");
            openErrorModal("Please select file less then 2Mb!");
        }else if( input.files[0].type != 'image/jpeg' && input.files[0].type != 'image/png' && input.files[0].type != 'image/jpg'){
            $('#image').val("");
            openErrorModal("Please select image file.");
        }
    }
}
</script>

{% endblock %}