{% extends 'base.html' %}
{% load static %}


{% block data %}
<!-- <div id="loader" class="add_teacher_loader"><img src="{% static 'css/ajax-loader.gif' %}"></div> -->
<!-- <div id="loader">
        <div id="loader-svg">
            <img src="{% static 'css/ajax-loader.gif' %}">
        </div>
    </div> -->
    <head>
    <title>Add New Teacher</title>
</head>
    <form data-url="{% url 'admin/teacher' %}" enctype="multipart/form-data" id="add_teacher_form">
        {% csrf_token %}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="ibox">
                        <div class="ibox-content" id="studentProfile">
                            <a href="{% url 'admin/teachers' %}">&lt;&lt; Back</a><br/><br/>
                            <div class="box-heading">
                                <h2> Add New Teacher
                                </h2>
                            </div>
                            <div class="row">
                                <div class="profileContainer">
                                    <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                                    <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">

                                        <div class="pro-box upload-image">
                                                <img class="img-responsive" id="image_preview"
                                                     src="{% static 'img/default-user.png' %}">
                                                <div class="browse-btn">
                                                    <input type="file" name="image" class="form-control select_image"
                                                           accept="image/*" id="images" value=""
                                                           onchange="imagePreview(this.files[0])" required>
                                                    <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                        <div class="">
                                            <!-- -----------------------------------------------------------------------------------------tabbing -->
                                            <div class="">

                                                <!-- Tab panes -->
                                                <div class="tab-content ">


                                                    <!--  <div class="box-heading">
                                                       <h2> Teacher Details
                                                       </h2>
                                                     </div> -->
                                                    <!-- -----tab1 -->
                                                    <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                                        <div class="addtec">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Name</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="Please Enter Name"
                                                                               class="form-control" name="full_name"
                                                                               id="full_name" required
                                                                               onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Date Of Birth</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <div class="input-group date disableFutureDates"
                                                                             data-date-format="yyyy-mm-dd">
                                                                            <div class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-th"></span>
                                                                            </div>
                                                                            <input type="text"
                                                                                   class="form-control cal-input"

                                                                                   placeholder="Please Enter Date of Birth"
                                                                                   name="dob" id="dob" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Gender</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <label class="radio-inline"><input type="radio"
                                                                                                           checked=""
                                                                                                           name="gender"
                                                                                                           value="Male"
                                                                                                           required>Male</label>
                                                                        <label class="radio-inline"><input type="radio"
                                                                                                           name="gender"
                                                                                                           value="Female">Female</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Nationality</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="Please Enter Nationality"
                                                                               class="form-control" value=""
                                                                               name="nationality" id="nationality"
                                                                               required
                                                                               onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Date Of Joining</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <div class="input-group date disablePastDates"
                                                                             data-date-format="yyyy-mm-dd">
                                                                            <div class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-th"></span>
                                                                            </div>
                                                                            <input type="text"
                                                                                   class="form-control cal-input"
                                                                                   placeholder="Please Enter Date of Joining"
                                                                                   name="doj" id="doj" required>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Position</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="Please Enter Position"
                                                                               class="form-control" value=""
                                                                               name="position" id="position" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Position ID</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="Please Enter Position ID"
                                                                               class="form-control" value=""
                                                                               name="position_id" id="position_id"
                                                                               required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Studio ID</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <select class="form-control" id="studio_id"
                                                                                name="studio_id"
                                                                                required>
                                                                            <option selected disabled>Select Studio
                                                                            </option>
                                                                            {% for studio in studios %}
                                                                                <option value="{{ studio.id }}">{{ studio.studio_code|upper }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">

                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Highest Education Level</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <select class="form-control"
                                                                                id="education_level"
                                                                                name="education_level" required>
                                                                            <option selected="true" disabled="disabled">Please Select Highest Education Level</option>
                                                                             <option value="high School">High School</option>
                                                                             <option value="diploma">Diploma</option>
                                                                             <option value="bachelor">Bachelor</option>
                                                                             <option value="masters" >Masters</option>
                                                                             <option value="phd" >PHD</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Education Major</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                    <input type="text" placeholder="Please Enter Education Major"
                                                                               class="form-control" value=""
                                                                               name="education_major" id="education_major" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">


                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Email ID</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="email" placeholder="Please Enter Email ID"
                                                                               class="form-control" value=""
                                                                               name="email" id="student_email" required
                                                                               pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$"
                                                                               oninvalid="this.setCustomValidity('Use email formatting: name@example.com')"
                                                                               oninput="this.setCustomValidity('')">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">

                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Mobile Number</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="number" onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0" minlength="10" maxlength="15"
                                                                               placeholder="Please Enter Mobile Number"
                                                                               class="form-control" value=""
                                                                               name="phone" id="phone" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">

                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Emergency Contact Name</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="Please Enter Emergency Contact Name"
                                                                               class="form-control" value=""
                                                                               name="emergency_contact_name"
                                                                               id="emergency_contact_name" required
                                                                               onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Emergency Number</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="number"
                                                                               placeholder="Please Enter Emergency Contact Number"
                                                                               class="form-control" value=""
                                                                               name="emergency_phone" onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0" minlength="10" maxlength="15"
                                                                               id="emergency_phone" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Subjects</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {% if len == 0 %}
                                                                            <label style="color: red" id="sub_emp">Please add subjects to display here.</label>
                                                                        {% else %}
                                                                            <label class="checkbox-inline"><input
                                                                                    type="checkbox" value=""
                                                                                    id="select-all" name="subjects"
                                                                                    onchange=Select(this);>Select All</label><br/>
                                                                            {% for subject in subjects %}
                                                                                <label class="checkbox-inline"><input
                                                                                        type="checkbox" name='subjects'
                                                                                        value={{ subject.subject_id }}>{{ subject.subject_name }}
                                                                                </label>
                                                                            {% endfor %}

                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <!-- -----tab2 -->
                                                    <div role="tabpanel" class="tab-pane" id="prt-tab1">


                                                    </div>
                                                    <!-- -----tab3 -->
                                                    <div role="tabpanel" class="tab-pane " id="prt-tab2">


                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-12 text-center">
                                                            <hr/>
                                                            <button type="submit" class="btn btn-default"
                                                                    id="final-submit">Submit
                                                            </button>
                                                            <a class="btn btn-default cancel"
                                                               data-toggle="modal" data-target="#cancel-modal" href="#">Cancel</a>
                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                            <!-- -----------------------------------------------------------------------------------------/tabbing -->

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal coman-modal" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                        <span aria-hidden="true">×</span>
                    </button>

                    <h1>Error</h1>
                    <div class="wrong-msg-icon">
                        <i class="fa fa-times" aria-hidden="true"></i>

                    </div>
                    <p id="error-text"></p>
                </div>
            </div>
        </div>
        <div class="modal coman-modal" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <h1>Successful</h1>
                    <div class="success-msg-icon">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <p>Teacher created successfully.</p>
                    <small>You will be redirected to Teachers List.</small>
                </div>
            </div>
        </div>
    <!-- Cancel model -->
<div class="modal coman-modal" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you Sure You want to Cancel? You can't alter this later.</p>
                <div class="text-center">
                    <a  href="{% url 'admin/teachers' %}" class="btn btn-default m-r-sm">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </div>
        </div>
    </div>
    </form>
{% endblock %}
{% block custom_js %}
    <script>
        function Select(source) {
            checkboxes = document.getElementsByName('subjects');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
        $("input[type=checkbox]").click(function () {
            if (($(this).attr("id")) != "select-all") {
                if (!$(this).prop("checked")) {
                    $("#select-all").prop("checked", false);
                }
                sub_boxes = $('input[type=checkbox]');
                console.log(sub_boxes);
                count_true = sub_boxes.length;
                console.log(count_true);
                checked = 0;
                unchecked = 0;
                for (var i = 1, n = sub_boxes.length; i < n; i++) {
                    console.log("inside for");
                    if (sub_boxes[i].checked == true) {
                        console.log("checked++");
                        checked++;
                    } else if (sub_boxes[i].checked == false) {
                        console.log("uncheck++");
                        unchecked++;
                    }
                }
                if (checked == (count_true - 1)) {
                    console.log("select all");
                    $("#select-all").prop("checked", true);
                } else if (unchecked == (count_true - 1)) {
                    console.log("not select all");
                    $("#select-all").prop("checked", false);
                }
            }
        });
    </script>

    <script>
        $('.cancel').on('click', function () {

        })
    </script>

    <!--<script type="text/javascript">

        $('.disablePastDates').datepicker({
            todayHighlight: 'TRUE',
            startDate: new Date(),
            autoclose: true,
        });
        $('.input-group.date').datepicker(
            {format: "yyyy-mm-dd", autoclose: true}
        );
        var datePicker = $(".calendar").datepicker({});
        var t;
        $(document).on(
            'DOMMouseScroll mousewheel scroll',
            '#myModal',
            function () {
                window.clearTimeout(t);
                t = window.setTimeout(function () {
                    $('.calendar').datepicker('')
                }, 100);
            }
        );
    </script>-->
    <script>
        $(document).ready(function () {
            $('#loader').hide();
            {% if request.session.user_type == "Principal" %}
                $('#studio_id').attr("disabled", "");
                $("#studio_id").val("{{ user.studio.id }}").change();
            {% endif %}
            jQuery.validator.addMethod("lettersWithSpaces", function (value, element) {
            if(value == '' || value.trim().length == 0){
                return false;
            }
            else {
                return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
            }
            }, "Please enter only letters");

            jQuery.validator.addMethod("dobValidation", function(value, element) {
                 var today=new Date();
                 var DOB = Date.parse(value);
                 if(DOB <= today) {
                    return true;
                }
                return false;
            },"Please enter valid date before today");

            $.validator.methods.email = function (value, element) {
                return this.optional(element) || /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}/.test(value);
            };

            $("#add_teacher_form").validate({
                errorClass: "validateError",
                rules: {
                    images: {
                        required: true,
                    },
                    full_name: {
                        required: true,
                        lettersWithSpaces: true,
                    },
                    dob: {
                        required: true,
                        dobValidation: true,
                    },
                    nationality: {
                        required: true,
                        lettersWithSpaces: true,
                    },
                    doj: {
                        required: true,
                    },
                    education_level: {
                        required: true,
                    },
                    education_major: {
                        required: true,
                        lettersWithSpaces:true
                    },
                    studio_id: {
                        required: true,
                    },
                    position: {
                        required: true,
                        lettersWithSpaces: true,
                    },
                    position_id: {
                        required: true,
                    },
                    student_email: {
                        required: true,
                        email: true,
                    },
                    phone: {
                        required: true,
                        number: true,
                        min: 0,
                    },
                    emergency_contact_name: {
                        required: true,
                        lettersWithSpaces: true,
                    },
                    emergency_phone: {
                        required: true,
                        number: true,
                        min: 0,
                    },
                    subjects: {
                        required: true,
                    },
                },
                errorPlacement: function (error, element) {
                    if ($(element).hasClass("cal-input")) {
                        error.insertAfter($(element).parents(".input-group"));
                    } else if ($(element).hasClass('select_image')) {
                        error.insertAfter($(element).parents(".upload-image"));

                    } else {
                        error.insertAfter(element);
                        error.insertAfter($(element).parents(".usr-form"));
                    }
                },
            });

        });
    </script>
    <script>
        function openSuccessModal(msg) {
            $('#final-submit').attr("disabled", false);
            // $('#error-text').text(msg);
            $('#success-text').text(msg);
            document.getElementById('success-msg').style.display = "block";
        }

        function openErrorModal(msg) {
            $('#final-submit').attr("disabled", false);
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }

        function closeModal() {
            $("#wrong-msg").modal('hide');
        }

        function imagePreview(thisVal) {
            console.log(thisVal);
            var oFile = $('#images')[0].files[0].size;
            var extensionBannarImage = $('#images').val().substring($('#images').val().lastIndexOf('.') + 1)

            console.log(oFile, extensionBannarImage)
            if (oFile < 2097152) {// 2 mb for bytes.
                if (extensionBannarImage == 'png' || extensionBannarImage == 'jpg' || extensionBannarImage == 'jpeg') {
// alert("File size must under 2mb!");
                    document.getElementById('image_preview').src = window.URL.createObjectURL(thisVal);
                } else {
                    openErrorModal('Select file which have JPG/PNG/JPEG extensions.')
                    return false;
                }
            } else {
                openErrorModal('File size must under 2 MB.')
            }
        }
    </script>
    <script>
        var submit_data = function (e) {
            let flag = 0;
            {% if len == 0 %}
                flag++;
            {% endif %}
            var isValid = $("#add_teacher_form").valid();
            if (isValid == false) {
                $('#final-submit').attr("disabled", false);
                flag++;
            }
            var formdata = new FormData();
            var url_link = $('#add_teacher_form').attr('data-url');
            var full_name = $("input[name='full_name']").val();
            formdata.append("full_name", full_name);
            var dob = $("input[name='dob']").val();
            formdata.append("dob", dob);
            var gender = $("input[name='gender']:checked").val();
            formdata.append("gender", gender);
            var nationality = $("input[name='nationality']").val();
            formdata.append("nationality", nationality);
            var doj = $("input[name='doj']").val();
            formdata.append("doj", doj);
            var position = $("input[name='position']").val();
            formdata.append("position", position);
            var position_id = $("input[name='position_id']").val();
            formdata.append("position_id", position_id);
            var image = $('#images')[0].files[0];
            formdata.append("image", image);
            var studio_id = $("#studio_id option:selected").val();
            /*if (studio_id === 'Select Studio') {
                flag++;
                openErrorModal("Please select a Studio");
            }*/
            formdata.append("studio_id", studio_id);
            var education_level = $("#education_level option:selected").val();
            /*if (education_level === 'Select Education Level') {
                flag++;
                openErrorModal("Please select an Education Level");
            }*/
            formdata.append("education_level", education_level);
            var education_major = $("input[name='education_major']").val();
            /*if (education_major === 'Select Education Major') {
                flag++;
                openErrorModal("Please select an Education Major");
            }*/
            formdata.append("education_major", education_major);
            var email = $("input[name='email']").val();
            formdata.append("email", email);
            var phone = $("input[name='phone']").val();
            formdata.append("phone", phone);
            var emergency_contact_name = $("input[name='emergency_contact_name']").val();
            formdata.append("emergency_contact_name", emergency_contact_name);
            var emergency_phone = $("input[name='emergency_phone']").val();
            formdata.append("emergency_phone", emergency_phone);
            var subjects = "";
            $.each($("input[name='subjects']:checked"), function () {
                subjects = subjects + $(this).val() + ",";
            });
            formdata.append("subjects", subjects);
            console.log(url_link);

            if (flag == 0) {
                $('#final-submit').attr("disabled", true);
                $('#loader').show();
                // $('body').css('background',rgba(0,0,0,0.5))
                $.ajax({
                    url: url_link,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formdata,
                    success: function () {
                        $('#loader').hide();
                        openSuccessModal();

                        function redirect() {

                            window.location.href = "/admin/teachers";

                        }

                        setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                    },
                    error: function (data) {
                        $('#final-submit').attr("disabled", false);
                        $('#loader').hide();
                        console.log('fail', data);
                        console.log('text', data.responseText);
                        openErrorModal(data.responseText);
                    },
                    complete:function(){
                        $('#final-submit').attr("disabled", false);
                    },
                });
                e.stopImmediatePropagation();
                e.preventDefault();
            } else {
                $('#final-submit').attr("disabled", false);
                return false;
            }
        };
        $('#final-submit').on('click', submit_data);
    </script>


{% endblock %}