{% extends 'base.html' %}
{% load static %}

{% block data %}
    <head>
        <title>Add New Student</title>
    </head>
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ibox">
                    <div class="ibox-content" id="studentProfile">
                        <div class="box-heading">
                            <a href="{% url 'admin/students' %}">&lt;&lt; Back</a><br/><br/>
                            <h2> Add New Student
                            </h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                                <div class="row">
                                    <form data-url="{% url 'admin/student' %}" method="post"
                                          enctype="multipart/form-data" id="add-student-form" >
                                        {% csrf_token %}

                                        <!-- ------------------------ ProfileContainer -------------------------- -->
                                        <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">

                                            <div class="pro-box upload-image">
                                                <img class="img-responsive" id="image_preview"
                                                     src="{% static 'img/student.jpg' %}">
                                                <div class="browse-btn">
                                                    <input type="file" name="image" class="form-control select_image"
                                                           accept="image/*" id="images" value=""
                                                           onchange="imagePreview(this.files[0])" required>
                                                    <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                            <div class="">
                                                <!-- -----------------------------------------------------------------------------------------tabbing -->
                                                <div class="property-dtl-tab investor-details">

                                                    <ul class="nav nav-tabs" role="tablist">
                                                        <li role="presentation" class="active" id="step-0">
                                                            <a href="#" aria-controls="home" role="tab"
                                                               data-toggle="tab" aria-expanded="false">Personal
                                                                Details
                                                            </a>
                                                        </li>
                                                        <li role="presentation" class="" id="step-1">
                                                            <a href="#" aria-controls="profile" role="tab"
                                                               data-toggle="tab" aria-expanded="false">Initial
                                                                Report
                                                            </a>
                                                        </li>
                                                        <li role="presentation" class="" id="step-2">
                                                            <a href="#" aria-controls="profile" role="tab"
                                                               data-toggle="tab" aria-expanded="true">Final Stage
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <!-- Tab panes -->
                                                    <div class="tab-content ">

                                                        <!-- -----tab1 -->
                                                        <div role="tabpanel" class="tab-pane active" id="prt-tab0">

                                                            <div class="addstu">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>Name</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <input type="text" placeholder="Please Enter Name" id="full_name"
                                                                                   class="form-control" pattern="/^[a-zA-Z]+$/"
                                                                                   name="full_name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)" autofocus>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>Date Of Birth</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <div class="input-group date disableFutureDates"
                                                                                data-date-format="yyyy-mm-dd">
                                                                                <div class="input-group-addon">
                                                                                    <span class="glyphicon glyphicon-th"></span>
                                                                                </div>
                                                                                <input type="text" onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45"
                                                                                       class="form-control cal-input"
                                                                                       placeholder="Please Enter Date of Birth"
                                                                                       name="dob" required id="dob">

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>Gender</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <label class="radio-inline"><input
                                                                                    type="radio" name="gender"
                                                                                    checked value="Male">Male</label>
                                                                            <label class="radio-inline"><input
                                                                                    type="radio"
                                                                                    name="gender" value="Female">Female</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>Nationality</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <input type="text"
                                                                                   placeholder="Please Enter Nationality"
                                                                                   class="form-control"
                                                                                   name="nationality" id="nationality" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>CBAS Test Date</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <div class="input-group date disablePastDates"
                                                                                data-date-format="yyyy-mm-dd">
                                                                                <div class="input-group-addon">
                                                                                    <span class="glyphicon glyphicon-th"></span>
                                                                                </div>
                                                                                <input type="text" onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45"
                                                                                       class="form-control cal-input"
                                                                                       placeholder="Please Enter Date of CBAS Test"
                                                                                       name="cbas_testdate"
                                                                                       id="cbas_testdate" required>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">

                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>Enrollment Date </label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <div class="input-group date disablePastDates"
                                                                                data-date-format="yyyy-mm-dd">
                                                                                <div class="input-group-addon">
                                                                                    <span class="glyphicon glyphicon-th"></span>
                                                                                </div>
                                                                                <input type="text" onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45"
                                                                                       class="form-control cal-input"
                                                                                       placeholder=" Please Enter Date of Enrollment"
                                                                                       name="doj" id="doj" required>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>Expiry Date</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <div class="input-group date disablePastDates"
                                                                                 data-date-format="yyyy-mm-dd">
                                                                                <div class="input-group-addon">
                                                                                    <span class="glyphicon glyphicon-th"></span>
                                                                                </div>
                                                                                <input type="text" onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45"
                                                                                       class="form-control cal-input"
                                                                                       placeholder="Please Enter Expiry Date"
                                                                                       name="expiry_date"
                                                                                       id="expiry_date" required>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>School Name</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <input type="text"
                                                                                   placeholder="Please Enter School Name"
                                                                                   class="form-control"
                                                                                   name="school_name" id="school_name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>Studio ID</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <select class="form-control"
                                                                                    name="studio_id" id="studio_id" required>
                                                                                <option selected disabled>
                                                                                    Select Studio
                                                                                </option>
                                                                                {% for studio in studios %}
                                                                                    <option value="{{ studio.id }}">{{ studio.studio_code|upper }}</option>
                                                                                {% endfor %}

                                                                            </select>

                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>School Grade</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <select class="form-control required"
                                                                                    name="school_grade" id="school_grade">
                                                                                <option selected disabled>Select Grade</option>
                                                                                {% for x in grade_dropdown %}
                                                                                    <option value="{{ x }}">{{ x }}</option>
                                                                                {% endfor %}
                                                                            </select>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>Father's Name</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <input type="text"
                                                                                   placeholder="Please Enter Father's Name"
                                                                                   class="form-control" id="fathers_name"
                                                                                   name="father_name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>Father's Number</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <input type="number" onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0"  minlength="10" maxlength="15"
                                                                                   placeholder="Please Enter Father's Number"
                                                                                   class="form-control" id="fathers_phone"
                                                                                   name="father_phone" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>Father's Email ID</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <input type="email" pattern="[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}"
                                                                                   placeholder="Please Enter Father's Email ID"
                                                                                   class="form-control" id="fathers_email"
                                                                                   name="father_email" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>Mother's Name</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <input type="text"
                                                                                   placeholder="Please Enter Mother's Name"
                                                                                   class="form-control" id="mothers_name"
                                                                                   name="mother_name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>Mother's Number</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <input type="number" onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0"  minlength="10" maxlength="15"
                                                                                   placeholder="Please Enter Mother's Number"
                                                                                   class="form-control" id="mothers_phone"
                                                                                   name="mother_phone" required>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label>Mother's Email ID</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <div class="form-group usr-form">
                                                                            <input type="email" id="mothers_email"
                                                                                   placeholder="Please Enter Mother's Email ID"
                                                                                   class="form-control"
                                                                                   name="mother_email" required pattern="[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}" oninvalid="this.setCustomValidity('Use email formatting: name@example.com')" oninput="this.setCustomValidity('')">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-12 text-center">
                                                                        <hr/>
                                                                        <button type="button" form="#add-student-form"
                                                                           class=" btn btn-default" id="first_next_btn" onclick="validateForm(0)"
                                                                            >Next</button>
                                                                        <a data-toggle="modal" data-target="#cancel-modal" href="#"
                                                                           class=" btn btn-default">Cancel</a>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <!-- -----tab2 -->
                                                        <div role="tabpanel" class="tab-pane" id="prt-tab1">
                                                            <div class="row">
                                                                <div class="col-lg-12 text-center">
                                                                    <hr/>
                                                                    <a href="#" class=" btn btn-default"
                                                                       id="second_next-btn" onclick="validateForm(1)">Next</a>
                                                                    <a data-toggle="modal" data-target="#cancel-modal" href="#" class=" btn btn-default">Cancel</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!-- -----tab3 -->
                                                        <div role="tabpanel" class="tab-pane " id="prt-tab2">
                                                            <div class="row">
                                                                <div class="col-lg-12 text-center">
                                                                    <hr/>
                                                                    <button type="button" class=" btn btn-default"
                                                                            id="fnl-sbmt-btn">Submit
                                                                    </button>
                                                                    <!--<a href="#" class=" btn btn-default"
                                                                       id="fnl-sbmt-btn">Submit</a>-->
                                                                    <a data-toggle="modal" data-target="#cancel-modal" href="#"
                                                                       class=" btn btn-default">Cancel</a>
                                                                </div>
                                                            </div>

                                                        </div>


                                                    </div>

                                                </div>
                                                <!-- ---------------------- tabbing ---------------------- -->

                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal coman-modal fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Successful</h1>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>

                </div>
                <p id="success-text"><br></p>

            </div>
        </div>
    </div>

    <div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p id="error-text">
                </p>
            </div>
        </div>
    </div>

<!-- Cancel model -->
<div class="modal coman-modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you Sure You want to Cancel? You can't alter this later.</p>
                <div class="text-center">
                    <a  href="{% url 'admin/students' %}" class="btn btn-default m-r-sm">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}

    <script>
    $(document).ready(function () {
        $('#loader').hide();

        {% if request.session.user_type == "Principal" %}
            $('#studio_id').attr("disabled", "");
            $("#studio_id").val("{{ user.studio.id }}").change();
        {% endif %}


        jQuery.validator.addMethod("lettersWithSpaces", function(value, element) {
            if(value == '' || value.trim().length == 0){
                return false;
            }
            else{
            return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
            }
        },"Please enter only letters");

        jQuery.validator.addMethod("dobValidation", function(value, element) {
             var today=new Date();
             console.log("value----dob---",value, typeof(value))
             var DOB = Date.parse(value);
             var difference = today - DOB;
             var year = new Date(difference);
             var age = Math.abs(year.getUTCFullYear() - 1970);
             console.log(year);
             if(age < 12) {
                return true;
            }
            return false;
        },"The child cannot be older than 12 years");

        jQuery.validator.addMethod("enrollmentValidation", function(value, element) {
            var cbas_testdate = $('#cbas_testdate').val();
            var cbas_testdate_date=new Date(cbas_testdate);
             var doj = Date.parse(value);
             if(doj > cbas_testdate_date) {
                return true;
            }
            return false;
        },"Please enter valid Enrollment date larger than CBAS Test Date");


        jQuery.validator.addMethod("expiryValidation", function(value, element) {
            var doj = $('#doj').val();
            var doj_date=new Date(doj);
             var expiry = Date.parse(value);
             if(expiry > doj_date) {
                return true;
            }
            return false;
        },"Please enter valid expiry date larger than Enrollment Date");

        $.validator.methods.email = function( value, element ) {
            return this.optional( element ) || /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}/.test( value );
        }

        $("#add-student-form").validate({
                errorClass: "validateError",
                rules:{
                    image_preview:{
                        required: true,
                    },
                    full_name:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                    dob:{
                        required: true,
                        dobValidation: true,
                    },
                    doj:{
                        required: true,
                        enrollmentValidation: true,
                    },
                    expiry_date:{
                        required: true,
                        expiryValidation: true,
                    },
                    nationality:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                    school_name:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                    studio_id:{
                        required: true,
                    },
                    school_grade:{
                        required: true,
                    },
                    fathers_name:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                    fathers_phone:{
                        required: true,
                        phoneNumber: true,
                        min: 0,
                        accept:"/^\\d{10}$/",
                    },
                    fathers_email:{
                        required: true,
                        email: true,
                    },
                    mothers_name:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                    mothers_phone:{
                        required: true,
                        phoneNumber: true,
                        min: 0,
                        accept:"/^\\d{10}$/",
                    },
                    mothers_email:{
                        required: true,
                        email: true,
                    },
                },
                errorPlacement: function ( error, element ) {
                    if ( $(element).hasClass("cal-input") ) {
                        error.insertAfter( $(element).parents(".input-group") );
                    }
                    else if($(element).hasClass('select_image')){
                        error.insertAfter( $(element).parents(".upload-image") );
                        if (element.which === 13) {
                            $(element).next('.cal-input').focus();
                        }

                    }
                    else {
                        error.insertAfter( element );
                    }
                },
        });
    });

    // $('.cal-input').keydown(function (e) {
    //         if (e.which === 13) {
    //             $(this).next('.cal-input').focus();
    //         }
    //     });


        function validateForm(n) {
            // econsole.log('insde validation', $("#add-student-form").valid());
            // $('#first_next_btn').attr('type', 'button');
            var isValid = $("#add-student-form").valid();


            // var isValid = true;
            // $('.form-control').each(function () {
            //    if ($(this).val() === '')
            //         isValid = false;
            // });
            console.log('isvalid', isValid);

            if (isValid) {
                $('#step-' + n).removeClass('active');
                $('#prt-tab' + n).removeClass('active');
                $('#step-' + (n + 1)).addClass('active');
                $('#prt-tab' + (n + 1)).addClass('active');
                return true; // return the valid status
            }

            //if (isValid == false) {
             //   openErrorModal('Please enter all fields.');
            //}
        }


        function nextPrev(n) {
            var x = document.getElementsByClassName("tab-pane");
            if (n == 1 && !validateForm()) return false;
            x[currentTab].style.display = "none";
            currentTab = currentTab + n;
            if (currentTab >= x.length) {
                document.getElementById("regForm").submit();
                return false;
            }
            showTab(currentTab);
        }

        function closeModal() {
            $("#wrong-msg").modal('hide');
        }

    </script>


    <script>
    $(document).ready(function() {

    });
        function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');

        }

        function openSuccessModal(msg) {
            $('#success-text').text(msg);
            $("#success-msg").modal('show');
        }

        function imagePreview(thisVal) {
            console.log(thisVal);
            var oFile = $('#images')[0].files[0].size;
            var extensionBannarImage = $('#images').val().substring($('#images').val().lastIndexOf('.') + 1)

            console.log(oFile, extensionBannarImage)
            if (oFile < 2097152) {// 2 mb for bytes.
                if (extensionBannarImage == 'png' || extensionBannarImage == 'jpg' || extensionBannarImage == 'jpeg') {
// alert("File size must under 2mb!");
                    document.getElementById('image_preview').src = window.URL.createObjectURL(thisVal);
                } else {
                    openErrorModal('Select file which have JPG/PNG/JPEG extensions.')
                    return false;
                }
            } else {
                openErrorModal('File size must under 2 MB.')
            }
        }

    </script>
    <!--<script type="text/javascript">
    $(document).ready(function(){

        $('.disablePastDates').datepicker({
            todayHighlight: 'TRUE',
            startDate: new Date(),
            autoclose:true
        });

        $('.disableFutureDates').datepicker({
            todayHighlight: 'TRUE',
            endDate: new Date(),
            autoclose:true
        });

        $('.input-group.date').datepicker(
            {format: "yyyy-mm-dd", autoclose:true}
        );
        var datePicker = $(".calendar").datepicker({});
        var t;
        $(document).on(
            'DOMMouseScroll mousewheel scroll',
            '#myModal',
            function () {
                window.clearTimeout(t);
                t = window.setTimeout(function () {
                    $('.calendar').datepicker('')
                }, 100);
            }
        );
    })


    </script>-->

    <script>
        var submit_data = function (e) {
            let flag = 0;
            var url_link = $('#add-student-form').attr('data-url');
            // var student_code = $('#student-code').text();
            var full_name = $("input[name='full_name']").val();
            var dob = $("input[name='dob']").val();
            var gender = $("input[name='gender']:checked").val();
            var nationality = $("input[name='nationality']").val();
            var cbas_testdate = $("input[name='cbas_testdate']").val();
            //var cbas_testdate = new Date(testdate).toISOString().substring(0,10);
            var doj = $("input[name='doj']").val();
            // var doj = new Date(doj_test).toISOString().substring(0,10);
            var expiry_date = $("input[name='expiry_date']").val();
            //var expiry_date = new Date(expiry).toISOString().substring(0,10);
            var school_name = $("input[name='school_name']").val();
            var studio_id = $("#studio_id option:selected").val();
            var school_grade = $("#school_grade option:selected").val();
            var father_name = $("input[name='father_name']").val();
            var father_phone = $("input[name='father_phone']").val();
            var father_email = $("input[name='father_email']").val();

            var mother_name = $("input[name='mother_name']").val();
            var mother_phone = $("input[name='mother_phone']").val();
            var mother_email = $("input[name='mother_email']").val();

            var image = $('#images')[0].files[0];

            console.log(url_link, studio_id);
            var csrf_token = "{{ csrf_token }}";
            var formData = new FormData();
            // formData.append("student_code", student_code);
            formData.append("full_name", full_name);
            formData.append("dob", dob);
            formData.append("gender", gender);
            formData.append("nationality", nationality);
            formData.append("cbas_testDate", cbas_testdate);
            formData.append("doj", doj);
            formData.append("expiry_date", expiry_date);
            formData.append("school_name", school_name);
            formData.append("studio", studio_id);
            formData.append("school_grade", school_grade);
            formData.append("father_name", father_name);
            formData.append("father_phone", father_phone);
            formData.append("father_email", father_email);
            formData.append("mother_name", mother_name);
            formData.append("mother_phone", mother_phone);
            formData.append("mother_email", mother_email);
            formData.append("image", image);

            if (flag == 0) {
                $('#fnl-sbmt-btn').attr("disabled", true);
                $('#loader').show();

                $.ajax({
                    headers: {"X-CSRFToken": csrf_token},
                    url: url_link,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (data) {
                        $('#loader').hide();
                        console.log('success', data);
                        openSuccessModal(data);

                        function redirect() {
                            window.location.href = "/admin/students";
                        }

                        setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                    },
                    error: function (data) {
                        $('#fnl-sbmt-btn').attr("disabled", false);
                        $('#loader').hide();
                        console.log('fail', data);
                        console.log('text', data.responseText);
                        openErrorModal(data.responseText);
                    },
                    complete:function(){
                        $('#fnl-sbmt-btn').attr("disabled", false);
                    },
                });
                e.stopImmediatePropagation();
                e.preventDefault();
            } else {
                $('#fnl-sbmt-btn').attr("disabled", false);
                return false;
            }
        };
        $('#fnl-sbmt-btn').on('click', submit_data);




        
    </script>

{% endblock %}
