{% extends 'base.html' %}
{% load static %}
{% block data %}
<head>
    <title>Add New Lead</title>
    <style>
        #page-wrapper {
            min-height: 615px;
        }
    </style>
</head>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ibox">
                    <div class="ibox-content" id="studentProfile">
                        <div class="box-heading">
                            <a href="{% url 'admin/leads' %}">&lt;&lt; Back</a><br/><br/>
                            <h2> Add New Lead
                            </h2>
                        </div>
                        <div class="row">
                        <form data-url="{% url 'lead/' %}" enctype="multipart/form-data" id="add_lead_form">
                            {% csrf_token %}
                            <div class=" profileContainer">
                                <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                                <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">

                                    <div class="pro-box upload-image">
                                        <img class="img-responsive" id="image_preview"
                                             src="{% static 'img/student.jpg' %}">
                                        <div class="browse-btn">
                                            <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                            <input type="file" name="image" accept="image/*" id="images" class="select_image" value="" onchange="imagePreview(this.files[0])" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                    <div class="">
                                        <!-- -----------------------------------------------------------------------------------------tabbing -->
                                        <div class="property-dtl-tab investor-details">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active" id="step-0">
                                                    <a href="#" aria-controls="home" role="tab"
                                                       data-toggle="tab" aria-expanded="false">Personal Details
                                                    </a>
                                                </li>
                                                <li role="presentation" class="" id="step-1">
                                                    <a href="#" aria-controls="profile" role="tab"
                                                       data-toggle="tab" aria-expanded="false">Initial Report
                                                    </a>
                                                </li>
                                                <li role="presentation" class="" id="step-2">
                                                    <a href="#" aria-controls="profile" role="tab"
                                                       data-toggle="tab" aria-expanded="true">Final Stage
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content ">

                                                <!-- -----tab1 -->
                                                <div role="tabpanel" class="tab-pane active" id="prt-tab0">

                                                    <div class="addlead">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Name</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <input type="text" placeholder="Please Enter Name" id="full_name"
                                                                                   class="form-control" pattern="/^[a-zA-Z]+$/"
                                                                                   name="full_name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Date Of Birth</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <div class="input-group date disableFutureDates"
                                                                         data-date-format="yyyy-mm-dd">
                                                                        <div class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-th"></span>
                                                                        </div>
                                                                        <input type="text" onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45"
                                                                                       class="form-control cal-input"
                                                                                       placeholder="Please Enter Date of Birth"
                                                                                       name="dob" required id="dob">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Gender</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <label class="radio-inline"><input type="radio"
                                                                                                       name="gender"
                                                                                                       value="Male"
                                                                                                       checked required>Male</label>
                                                                    <label class="radio-inline"><input type="radio"
                                                                                                       name="gender"
                                                                                                       value="Female">Female</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Nationality</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <input type="text"
                                                                                   placeholder="Please Enter Nationality"
                                                                                   class="form-control"
                                                                                   name="nationality" id="nationality" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Date Of CBAS Test</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <div class="input-group date disablePastDates"
                                                                         data-date-format="yyyy-mm-dd">
                                                                        <div class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-th"></span>
                                                                        </div>
                                                                        <input type="text" onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45"
                                                                                       class="form-control cal-input"
                                                                                       placeholder="Please Enter Date of CBAS Test"
                                                                                       name="cbas_testdate"
                                                                                       id="cbas_testdate" required>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>School Name</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <input type="text"
                                                                                   placeholder="Please Enter School Name"
                                                                                   class="form-control"
                                                                                   name="school_name" id="school_name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Studio ID</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <select class="form-control"
                                                                                    name="studio_id" id="studio_id" required>
                                                                                <option selected disabled>
                                                                                    Select Studio
                                                                                </option>
                                                                                {% for studio in studios %}
                                                                                    <option value="{{ studio.id }}">{{ studio.studio_code|upper }}</option>
                                                                                {% endfor %}

                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>School Grade</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                     <select class="form-control required"
                                                                                    name="school_grade" id="school_grade">
                                                                                <option selected disabled>Select Grade</option>
                                                                                {% for x in grade_dropdown %}
                                                                                    <option value="{{ x }}">{{ x }}</option>
                                                                                {% endfor %}
                                                                     </select>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Father's Name</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <input type="text"
                                                                                   placeholder="Please Enter Father's Name"
                                                                                   class="form-control" id="fathers_name"
                                                                                   name="father_name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Father's Number</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <input type="number" onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0"  minlength="10" maxlength="15"
                                                                                   placeholder="Please Enter Father's Number"
                                                                                   class="form-control" id="fathers_phone"
                                                                                   name="father_phone" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Father's Email ID</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <input type="email" pattern="[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}"
                                                                                   placeholder="Please Enter Father's Email ID"
                                                                                   class="form-control" id="fathers_email"
                                                                                   name="father_email" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Mother's Name</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <input type="text"
                                                                                   placeholder="Please Enter Mother's Name"
                                                                                   class="form-control" id="mothers_name"
                                                                                   name="mother_name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Mother's Number</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <input type="number" onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0"  minlength="10" maxlength="15"
                                                                                   placeholder="Please Enter Mother's Number"
                                                                                   class="form-control" id="mothers_phone"
                                                                                   name="mother_phone" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Mother's Email ID</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <input type="email" id="mothers_email"
                                                                                   placeholder="Please Enter Mother's Email ID"
                                                                                   class="form-control"
                                                                                   name="mother_email" required pattern="[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}" oninvalid="this.setCustomValidity('Use email formatting: name@example.com')" oninput="this.setCustomValidity('')">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    <div class="row">
                                                    <div class="col-lg-12 text-center">
                                                        <hr/>
                                                        <button type="button" form="#add-student-form"
                                                                class=" btn btn-default" id="first_next_btn"
                                                                onclick="validateForm(0)">Next
                                                        </button>
                                                        <a data-toggle="modal" data-target="#cancel-modal" href="#"
                                                           class=" btn btn-default">Cancel</a>
                                                    </div>
                                                </div>


                                                    </div>


                                                    <div class="clearfix"></div>
                                                </div>
                                                <!-- -----tab2 -->
                                                <div role="tabpanel" class="tab-pane" id="prt-tab1">
                                                    <div class="row">
                                                        <div class="col-lg-12 text-center">
                                                            <hr/>
                                                            <a href="#" class=" btn btn-default"
                                                               id="second_next-btn" onclick="validateForm(1)">Next</a>
                                                            <a data-toggle="modal" data-target="#cancel-modal" href="#"
                                                               class=" btn btn-default">Cancel</a>
                                                        </div>
                                                    </div>

                                                </div>

                                                <!-- -----tab3 -->
                                                <div role="tabpanel" class="tab-pane " id="prt-tab2">
                                                    <div class="row">
                                                        <div class="col-lg-12 text-center">
                                                            <hr/>
                                                            <button type="button" class=" btn btn-default"
                                                                    id="fnl-sbmt-btn">Submit
                                                            </button>
                                                            <!--<a href="#" class=" btn btn-default"
                                                               id="fnl-sbmt-btn">Submit</a>-->
                                                            <a data-toggle="modal" data-target="#cancel-modal" href="#"
                                                               class=" btn btn-default">Cancel</a>
                                                        </div>
                                                    </div>

                                                </div>


                                            </div>

                                        </div>
                                        <!-- -----------------------------------------------------------------------------------------/tabbing -->

                                    </div>
                                </div>


                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>

                </div>
                <p id="error-text"></p>
            </div>
        </div>
    </div>
    <div class="modal coman-modal fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <h1>Successful</h1>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <p id="success-text"></p>
                <small></small>
            </div>
        </div>
    </div>
    <!-- Cancel model -->
<div class="modal coman-modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you Sure You want to Cancel? You can't alter this later.</p>
                <div class="text-center">
                    <a  href="{% url 'admin/leads' %}" class="btn btn-default m-r-sm">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}

    <script>
            $(document).ready(function () {
                $('#loader').hide();
                {% if request.session.user_type == "Principal" %}
                $('#studio_id').attr("disabled", "");
                $("#studio_id").val("{{ user.studio.id }}").change();
                {% endif %}
                jQuery.validator.addMethod("lettersWithSpaces", function(value, element) {
                    if(value == '' || value.trim().length == 0){
                        return false;
                    }
                    else{
                    return this.optional(element) || /^[.a-zA-Z\s]*$/.test(value);
                    }
                },"Please enter only letters");

                jQuery.validator.addMethod("dobValidation", function(value, element) {
                     var today=new Date();
                     var DOB = Date.parse(value);
                     var difference = today - DOB;
                     var year = new Date(difference);
                     var age = Math.abs(year.getUTCFullYear() - 1970);
                     console.log(year);
                     if(age < 12) {
                        return true;
                    }
                    return false;
                },"The child cannot be older than 12 years");

                jQuery.validator.addMethod("expiryValidation", function(value, element) {
                     var today=new Date();
                     var expiry = Date.parse(value);
                     if(expiry > today) {
                        return true;
                    }
                    return false;
                },"Please enter valid expiry date after today");

                $.validator.methods.email = function( value, element ) {
                    return this.optional( element ) || /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}/.test( value );
                }

                $("#add_lead_form").validate({
                        errorClass: "validateError",
                        rules:{
                            image:{
                                required: true,
                            },
                            full_name:{
                                required: true,
                                lettersWithSpaces: true,
                            },
                            dob:{
                                required: true,
                                dobValidation: true,
                            },
                            nationality:{
                                required: true,
                                lettersWithSpaces: true,
                            },
                            school_name:{
                                required: true,
                                lettersWithSpaces: true,
                            },
                            studio_id:{
                              required: true,
                            },
                            school_grade:{
                                required: true,
                            },
                            fathers_name:{
                                required: true,
                                lettersWithSpaces: true,
                            },
                            fathers_phone:{
                                required: true,
                                phoneNumber: true,
                                min: 0,
                                accept:"/^\\d{10}$/",
                            },
                            fathers_email:{
                                required: true,
                                email: true,
                            },
                            mothers_name:{
                                required: true,
                                lettersWithSpaces: true,
                            },
                            mothers_phone:{
                                required: true,
                                phoneNumber: true,
                                min: 0,
                                accept:"/^\\d{10}$/",
                            },
                            mothers_email:{
                                required: true,
                                email: true,
                            },
                        },
                        errorPlacement: function ( error, element ) {
                            if ( $(element).hasClass("cal-input") ) {
                                error.insertAfter( $(element).parents(".input-group") );
                            }
                            else if($(element).hasClass('select_image')){
                                error.insertAfter( $(element).parents(".upload-image") );

                            }
                            else {
                                error.insertAfter( element );
                            }
                        },
                    });

            });

    </script>




    /*<script type="text/javascript">
        $(document).ready(function () {
            $('.sub').hide();
            $('.nav-tabs li a').click(function () {
                $('.sub').hide();
                $('.pro').show();
                /*alert('c')*/
                $('.nav-tabs li:nth-last-child(1)').click(function () {
                    /*alert('last');*/
                    $('.sub').show();
                    $('.pro').hide();
                    //e.stopPropagation();

                });

            });
        });
    </script>*/
    <!--<script type="text/javascript">
        $('.input-group.date').datepicker(
            {format: "yyyy-mm-dd", autoclose:true}
        );
        var datePicker = $(".calendar").datepicker({});
        var t;
        $(document).on(
            'DOMMouseScroll mousewheel scroll',
            '#myModal',
            function () {
                window.clearTimeout(t);
                t = window.setTimeout(function () {
                    $('.calendar').datepicker('')
                }, 100);
            }
        );

    </script>-->
    <script>
        function validateForm(n) {
            var isValid = $("#add_lead_form").valid();
            console.log('isvalid', isValid);

            if (isValid) {
                $('#step-' + n).removeClass('active');
                $('#prt-tab' + n).removeClass('active');
                $('#step-' + (n + 1)).addClass('active');
                $('#prt-tab' + (n + 1)).addClass('active');
                return true; // return the valid status
            }
        }


        function nextPrev(n) {
            var x = document.getElementsByClassName("tab-pane");
            if (n == 1 && !validateForm()) return false;
            x[currentTab].style.display = "none";
            currentTab = currentTab + n;
            if (currentTab >= x.length) {
                document.getElementById("regForm").submit();
                return false;
            }
            showTab(currentTab);
        }

        function imagePreview(thisVal) {
            console.log(thisVal);
            var oFile = $('#images')[0].files[0].size;
            var extensionBannarImage = $('#images').val().substring($('#images').val().lastIndexOf('.') + 1)

            console.log(oFile, extensionBannarImage)
            if (oFile < 2097152) {// 2 mb for bytes.
                if (extensionBannarImage == 'png' || extensionBannarImage == 'jpg' || extensionBannarImage == 'jpeg') {
                    // alert("File size must under 2mb!");
                    document.getElementById('image_preview').src = window.URL.createObjectURL(thisVal);
                } else {
                    openErrorModal('Select file which have JPG/PNG/JPEG extensions.')
                    return false;
                }
            } else {
                openErrorModal('File size must under 2 MB.')
            }
        }

        function openSuccessModal(msg) {
            $('#success-text').text(msg);
            $("#success-msg").modal('show');
        }

        function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }

        function closeModal() {
            $("#wrong-msg").modal('hide');
        }
    </script>
    <script>
        var submit_data = function (e) {

            var isValid = $("#add_lead_form").valid();
            if (isValid){
                $('#fnl-sbmt-btn').attr("disabled", true);
                var formdata = new FormData();
                let flag=0;
                var url_link = $('#add_lead_form').attr('data-url');
                var full_name = $("input[name='full_name']").val();
                formdata.append("full_name", full_name);
                var dob = $("input[name='dob']").val();
                formdata.append("dob", dob);
                var gender = $("input[name='gender']:checked").val();
                formdata.append("gender", gender);
                var nationality = $("input[name='nationality']").val();
                formdata.append("nationality", nationality);
                var image = $('#images')[0].files[0];
                formdata.append("image", image);
                var school_name = $("input[name='school_name']").val();
                formdata.append("school_name", school_name);
                var cbas_testDate = $("input[name='cbas_testdate']").val();
                formdata.append("cbas_testDate", cbas_testDate);
                var studio_id = $("#studio_id option:selected").val();
                formdata.append("studio", studio_id);
                var school_grade = $("#school_grade option:selected").val();
                formdata.append("school_grade", school_grade);
                var father_name = $("input[name='father_name']").val();
                formdata.append("father_name", father_name);
                var father_phone = $("input[name='father_phone']").val();
                formdata.append("father_phone", father_phone);
                var father_email = $("input[name='father_email']").val();
                formdata.append("father_email", father_email);
                var mother_name = $("input[name='mother_name']").val();
                formdata.append("mother_name", mother_name);
                var mother_phone = $("input[name='mother_phone']").val();
                formdata.append("mother_phone", mother_phone);
                var mother_email = $("input[name='mother_email']").val();
                formdata.append("mother_email", mother_email);

                console.log(url_link);

                if (flag == 0){
                    $('#loader').show();
                    $.ajax({
                    url: url_link,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formdata,
                    success: function (data) {
                        $('#loader').hide();
                        console.log('success data : ', data);
                        openSuccessModal(data.message);

                        function redirect() {
                            window.location.href = "/admin/leads";
                        }

                        setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                    },
                    error: function (data) {
                        $('.add-leaningC-submit').attr("disabled", false);
                        $('#loader').hide();
                        console.log('text', data);
                        openErrorModal(data.message);
                    }
                });
                e.stopImmediatePropagation();
                e.preventDefault();
                }else{
                    $('#fnl-sbmt-btn').attr("disabled", false);
                    console.log('no ajax call yet');
                    return false;
                }
            }
            else{

                $('#fnl-sbmt-btn').attr("disabled", false);
            }
        };
        $('#fnl-sbmt-btn').on('click', submit_data);
    </script>
{% endblock %}