{% extends 'base.html' %}
{%  load static %}
{% block data %}
<title>Add New Learning Consultant</title>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content" id="studentProfile">
                    <a href="{% url 'list_learning_consultant' %}">&lt;&lt; Back</a><br/><br/>
                    <div class="box-heading">
                        <h2> Add New Learning Consultant
                        </h2>
                    </div>
                    <form method="POST" enctype="multipart/form-data" id="add-learning-consultant-form">
                        {% csrf_token %}
                    <div class="row">
                        <div class="profileContainer">
                            <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                <div class="pro-box">
                                    <img class="img-responsive show_profile_pic"  src="{% static 'img/default-user.png' %}" >
                                    <div class="browse-btn">
                                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                        <input type="file" name="image" class="select_profile_pic" accept="image/*" onchange="ProfilePic(this);" id="image" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                <div class="">
                                    <div class="">
                                            <div class="tab-content ">
                                            <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                                <div class="addtec">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Name</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <input type="text" name="name" id="name"    placeholder="Please Enter Name"
                                                                       class="form-control" value="" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Date Of Birth</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <div class="input-group date disableFutureDates"
                                                                     data-date-format="yyyy-mm-dd">
                                                                    <div class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-th"></span>
                                                                    </div>
                                                                    <input type="text" id="date_of_birth" class="form-control cal-input" name="date_of_birth" placeholder="Please Enter Date of Birth" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Gender</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <label class="radio-inline"><input type="radio" value="Male" class="gender" name="gender" checked="">Male</label>
                                                                <label class="radio-inline"><input type="radio" value="Female" class="gender" name="gender">Female</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Nationality</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <input type="text" name="nationality" id="nationality" placeholder="Please Enter Nationality" class="form-control" value="" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Date Of Joining</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <div class="input-group date disablePastDates"
                                                                     data-date-format="yyyy-mm-dd">
                                                                    <div class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-th"></span>
                                                                    </div>
                                                                    <input type="text" id="date_of_joining" class="form-control cal-input" name="date_of_joining" placeholder="Please Enter Date of Joining" required>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Position</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <input type="text" placeholder="Please Enter Position" id="position" name="position"
                                                                       class="form-control" value="" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Position ID</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <input type="text" name="positionId" placeholder="Please Enter Position ID"
                                                                       class="form-control" id="positionId" value="" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <label>Studio ID</label>
                                                      </div>
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <div class="form-group usr-form">
                                                                        <select class="form-control" id="studioId" name="studioId"
                                                                                required>
                                                                            <option disabled selected>Select Studio</option>
                                                                            {% for studio_details in studio_details %}
                                                                                <option value="{{ studio_details.id }}">{{ studio_details.studio_code|upper }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                      </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Highest Education Level</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <select class="form-control"
                                                                                id="highest_education"
                                                                                name="highest_education" required>
                                                                            <option selected="true" disabled="disabled">Please Select Highest Education Level</option>
                                                                             <option value="high School">High School</option>
                                                                             <option value="diploma">Diploma</option>
                                                                             <option value="bachelor">Bachelor</option>
                                                                             <option value="masters" >Masters</option>
                                                                             <option value="phd" >PHD</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Education Major</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="Please Enter Education Major"
                                                                               class="form-control" value=""
                                                                               name="education_major" id="education_major" required>
                                                                    </div>
                                                                </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Email ID</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <input type="email" placeholder="Please Enter Email ID" id="email" name="email"
                                                                       class="form-control" value="" required pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$"
                                                                               oninvalid="this.setCustomValidity('Use email formatting: name@example.com')"
                                                                               oninput="this.setCustomValidity('')">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Contact Number</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <input type="number" name="contact"
                                                                       placeholder="Please Enter Mobile Number"
                                                                       class="form-control" value="" id="contact" required onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0" minlength="10" maxlength="15">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Emergency Contact Name</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <input type="text" name="emr_name" placeholder="Please Enter Emergency Contact Name"
                                                                       class="form-control" id="emr_name" value="" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Emergency Number</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <input type="number" name="emr_number" id="emr_number"
                                                                       placeholder="Please Enter Emergency Number"
                                                                       class="form-control" value="" required onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0" minlength="10" maxlength="15">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <!-- -----tab2 -->
                                            <div role="tabpanel" class="tab-pane" id="prt-tab1">
                                            </div>
                                            <!-- -----tab3 -->
                                            <div role="tabpanel" class="tab-pane " id="prt-tab2">
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <hr/>
<!--                                                    <a href="" class=" btn btn-default">Submit</a>-->
                                                    <button type="button" class=" btn btn-default add-leaningC-submit" >Submit</button>
                                                    <a class="btn btn-default cancel" data-toggle="modal" data-target="#cancel-modal" href="#">Cancel</a>

                                                </div>
                                            </div>
                                        </div>

                                        </form>
                                    </div>
                                    <!-- -----------------------------------------------------------------------------------------/tabbing -->
                                </div>
                            </div>
                        </div>
                    </div>

    <div class="modal coman-modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you Sure You want to Cancel? You can't alter this later.</p>
                <div class="text-center">
                    <a  href="/admin/learningConsultants" class="btn btn-default m-r-sm">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                        <span aria-hidden="true">×</span>
                    </button>

                    <h1>Error</h1>
                    <div class="wrong-msg-icon">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                    <p id="error-text"></p>
                </div>
            </div>
        </div>

    <div class="modal coman-modal fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <h1>Successful</h1>
                    <div class="success-msg-icon">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <p>Learning Consultant created successfully.</p>
                    <small>You will be redirected to Learning Consultants List.</small>
                </div>
            </div>
        </div>
<!-- <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/additional-methods.min.js' %}"></script> -->
{% endblock %}

{% block custom_js %}

<script>
    function openSuccessModal(msg) {
            $("#success-msg").modal('show');
            $('#success-text').text(msg);
            
        }
  function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }
</script>


<script>
    $('#loader').hide();
    var submit_data = function (e) {
  
        let flag = 0;
        
        var isValid = $("#add-learning-consultant-form").valid();
        if (isValid == false) {
            $('.add-leaningC-submit').attr("disabled", false);
            flag++;
        }
        var url_link = '{% url 'learning_consultant' %}';
  
        var image = $('#image')[0].files[0];
        var name = $("#name").val();
        var date_of_birth = $("#date_of_birth").val();
        var nationality = $("#nationality").val();
        var date_of_joining = $("#date_of_joining").val();
        var position = $("#position").val();
        var positionId = $("#positionId").val();
        var studioId = $("#studioId").val();
        var highest_education = $("#highest_education").val();
        var education_major = $("#education_major").val();
        var email = $("#email").val();
        var number = $("#contact").val();
        var emergency_name = $("#emr_name").val();
        var emargency_number = $("#emr_number").val();
        var gender = $(".gender").val();
        var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
  
        var csrf_token = "{{ csrf_token }}";
        var formData = new FormData();
        // formData.append("student_code", student_code)
        formData.append("name", name);
        formData.append("dob", date_of_birth);
        formData.append("nationality", nationality);
        formData.append("date_of_joining", date_of_joining);
        formData.append("position", position);
        formData.append("positionId", positionId);
        formData.append("studioId", studioId);
        formData.append("highest_education", highest_education);
        formData.append("education_major", education_major);
        formData.append("email", email);
        formData.append("contact", number);
        formData.append("emr_name", emergency_name);
        formData.append("emr_number", emargency_number);
        formData.append("gender", gender);
        formData.append("image", image);
  
        if (flag == 0) {
            $('.add-leaningC-submit').attr("disabled", true);
            $('#loader').show();
            $.ajax({
                headers: {"X-CSRFToken": csrf_token},
                url: url_link,
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    $('#loader').hide();
                    console.log('success', data);
                    openSuccessModal(data);
                    function redirect() {
                      window.location.href = "{% url 'list_learning_consultant' %}";
                    }
                    setTimeout(redirect, 2000); //1000 is equivalent to 1 seconds
                },
                error: function (data) {
                    $('.add-leaningC-submit').attr("disabled", false);
                    $('#loader').hide();
                    openErrorModal(data.responseText);
                }
            });
            e.stopImmediatePropagation();
            e.preventDefault();
        } else {
            $('.add-leaningC-submit').attr("disabled", false);
            console.log('no ajax call yet');
            return false;
        }
    };
    $('.add-leaningC-submit').on('click', submit_data);
  </script>
  
  



<script>
    function openSuccessModal(msg) {
        $('#success-text').text(msg);
        $("#success-msg").modal('show');
        function redirect() {
            window.location.href = "/admin/learningConsultants";
        }
         setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
    }

    function openErrorModal(msg) {
        $('#error-text').text(msg);
        $("#wrong-msg").modal('show');
    }

    function closeModal() {
        $("#wrong-msg").modal('hide');
    }
</script>

<script>
$( document ).ready(function() {
    {% if request.session.user_type == "Principal" %}
        $('#studioId').attr("disabled", "");
        $("#studioId").val("{{ user.studio.id }}").change();
    {% endif %}
    function openSuccessModal(msg) {
            // $('#error-text').text(msg);
            $('#success-text').text(msg);
            document.getElementById('success-msg').style.display = "block";
            function redirect() {
                window.location.href = "/admin/learningConsultants";
            }

             setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
        }

        

        // {% if error_is == True %}
        //     /*swal("Error!", "Email already exists!", "error", {
        //         button: "Ok!",
        //     }); */
        //     openErrorModal("{{ error }}");
        // {% endif %}

        // {% if success == True %}
        //         openSuccessModal();
        // {% endif %}



   //{% if request.session.user_type == "Principal" %}
        //var studioId = document.getElementsByName("studioId")[0];
     //   studioId.setAttribute("disabled", "");
       // studioId.value = "{{user.studio.id}}";
        /*$('#studioId').attr("disabled", "");
        console.log("he")
        console.log("{{user.studio.id}}")
        $("#studioId").val("{{user.studio.id}}").change();*/
    //{% endif %}
});



jQuery.validator.addMethod("lettersWithSpaces", function (value, element) {
            if(value == '' || value.trim().length == 0){
                return false;
            }
            else {
                return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
            }
            }, "Please enter only letters");

jQuery.validator.addMethod("dobValidation", function(value, element) {
                 var today=new Date();
                 var DOB = Date.parse(value);
                 if(DOB <= today) {
                    return true;
                }
                return false;
            },"Please enter valid date before today");
$.validator.methods.email = function (value, element) {
                return this.optional(element) || /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}/.test(value);
            };


    $("#add-learning-consultant-form").validate({
        errorClass: "validateError",
            rules:{
                image:{
                    required: true,
                },
                name:{
                    required: true,
                    lettersWithSpaces: true,
                },
                date_of_birth:{
                    required: true,
                    dobValidation: true,
                },
                nationality:{
                    required: true,
                    lettersWithSpaces:true
                },
                date_of_joining:{
                    required: true,
                },
                position:{
                    required: true,
                    lettersWithSpaces:true
                },
                positionId:{
                    required: true,
                },
                studioId:{
                    required: true,
                },
                highest_education:{
                    required: true,
                },
                education_major:{
                    required: true,
                    lettersWithSpaces:true
                },
                email:{
                    required: true,
                    email: true,
                },
                contact:{
                    required: true,
                    number: true,
                    min: 0,
                },
                emr_name:{
                    required: true,
                    lettersWithSpaces:true,

                },
                emr_number:{
                    required: true,
                    number: true,
                    min: 0,
                },
        },
        errorPlacement: function ( error, element ) {
            if ( $(element).hasClass("cal-input") ) {
            error.insertAfter( $(element).parents(".input-group") );
        } else {
            error.insertAfter( element );
            error.insertAfter( $(element).parents(".pro-box") );
        }
        },
    });
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script>
function ProfilePic(input){
    if (input.files && input.files[0]) {
        var profile_pic = $('#image').val();

        if(input.files[0].size > 2000000){
            $('#image').val("");
            openErrorModal("Please select image size less then 2Mb!");

        }else if( input.files[0].type != 'image/jpeg' && input.files[0].type != 'image/png' && input.files[0].type != 'image/jpg'){
            $('#image').val("");
            openErrorModal("Please select an image file only.");
        }
    }
}

</script>

{% endblock %}