{% extends 'base.html' %}
{% block data %}
{% load static %}
<style>
    .width-90{width:90px}
</style>
<head>
    <title>All Announcements</title>
</head>
		<div class="wrapper wrapper-content">

			 <div class="row">
			 	  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			 	  	   <div class="ibox">
			 	  	   	    <div class="ibox-content" id="history">
			 	  	   	    	<div class="box-heading">

                    <h2>All Announcements
                    </h2>

                </div>
		 	  	   	    	 <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group  text-right">

                          <a  class="btn btn-default btn-add" data-toggle="modal" data-target="#add-modal" >Add Announcement</a>
                        </div>
                      </div>
               </div>

			 					 <div class="table-responsive coman-table notification">
                      <table class="table dataTables-example">
                          <tbody>
                                             {% for data in announcement %}
    			 					 	  	     <tr>
                                  <td>{{ data.announcement }}</td>
                                    <td class="text-center noti-time">{{ data.created_at }}</td>
                                      <td class="add-new width-90" style=""><a   class="btn btn-default lc_delete_id" id="delete_announce" data-lc-detail-id="{{data.id}}" data-toggle="modal" data-target="#Status-modal">Delete</a></td>
    			 					 	  	     </tr>

                                             {% endfor %}
    			 					 	  	     </tbody>
			 					 	  </table>
			 					 </div>

			 	  	   	    </div>
			 	  	   </div>
			 	  </div>
			 </div>


    </div>
  <div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog modal-md " role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <p>Are you Sure You want to Delete?</p>
            <form action="" method="POST">
                {% csrf_token %}
           <div class="text-center">

                       <a class="btn btn-default m-r-sm"  href="" class="btn btn-default " data-dismiss="modal" data-toggle="modal" id="delete_announcement">Yes</a>
                           <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                        </div>
</form>


        </div>
      </div>
    </div>

      <div class="modal coman-modal  fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="announcement_addd" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" onclick="clearTextBox()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <h2>Add Announcement</h2>
           <div class="form-group text-left">


                          <textarea  class="form-control" name="announcement" required id="announcement"></textarea>
<!--                     <input type="submit" class="btn btn-default btn-small m-r-sm" value='Announce' data-toggle="modal" >-->
                    <input  type="submit" class="btn btn-default btn-small m-r-sm disable" data-toggle="modal"  value="Announce" id="announce-submit">
                    <a  class="btn btn-default btn-small" data-dismiss="modal" onclick="clearTextBox()" data-toggle="modal">cancel</a>
                 </div>



        </div>
      </div>
    </div>
       <div class="modal coman-modal  fade" id="Announce-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
             <div class="success-msg-icon">
              <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

             </div>
             <h2> Announcement Added successfully !!</h2>



        </div>
      </div>
    </div>
      <div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
             <div class="success-msg-icon">
              <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

             </div>
             <h2>Deleted successfully !!</h2>



        </div>
      </div>
    </div>
      <div class="modal coman-modal  fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

             <h2>Reason</h2>
             <div class="form-group">
             	<textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>

             </div>
            	 <a href="#cong-modal" class="btn m-r-sm btn-default btn-small max-83" data-dismiss="modal" data-toggle="modal">Submit</a>


        </div>
      </div>
    </div>
    <!-- Mainly scripts -->


<div class="modal coman-modal" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p id="error-text">
                </p>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script>
function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');

        }

function clearTextBox() {
    document.getElementById('announcement').value = "";
}
</script>

    <!-- zoom kyc document -->
<script type="text/javascript">

// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
/*img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  // captionText.innerHTML = this.alt;
}*/

// Get the <span> element that closes the modal



function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}





$("#announce-submit").click(function () {
    $('#loader').hide();
    var announcement = $("#announcement").val();
    if (announcement == '' || announcement.trim().length == 0){
        openErrorModal('Please add value in text box.');
        $("#announcement").val('');
        $('#announce-submit').attr("disabled", false);
    }
    else {
      $('#announce-submit').attr("disabled", true);
      $('#loader').show();

        $.ajax({
          url: '{% url 'announcement' %}',
          type: 'POST',
          data:{
            "announcement":announcement
          },
          success: function (data) {
             $('#loader').hide();
            $("#add-modal").modal("hide")
            var modal = $('#Announce-modal').modal('show');
            var delayInMilliseconds = 2000;
            setTimeout(function() {
             window.location.href = "{% url 'announcement'  %}";
                }, delayInMilliseconds);
          }
        });
    }
});


$(document).on('click', '.lc_delete_id', function (e) {
    $("#delete_announcement").attr("data-id",this.getAttribute("data-lc-detail-id"));
 });

 $("#delete_announcement").on('click', function () {
    $('#loader').hide();

    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    $('#loader').show();
    $.ajax({
      type: 'POST',
      url: '/announcement/' + this.getAttribute("data-id"),
      data: {
            'csrfmiddlewaretoken':csrf,
            'id': this.getAttribute("data-id"),
      },
      success: function (data) {
    $('#loader').hide();
           var modal = $('#cong-modal').modal('show');
        var delayInMilliseconds = 500;
        setTimeout(function() {
    $('#loader').hide();
         window.location.href = "{% url 'announcement'  %}";
            }, delayInMilliseconds);
      }
    });
  });

  

</script>
{% endblock %}