{% extends 'base.html' %}
{% load static %}
{% block data %}
   <head>
      <title>All Behaviour</title>
   </head>
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

{#    <body onload="get_initbehaviour('behaviour/'+{{ first_subject_id }})">#}
         <div class="wrapper wrapper-content">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="ibox">
                     <div class="ibox-content" id="studentProfile">
                        <div class="box-heading">
                          <!-- <a href="leads.html">&lt;&lt; Back</a><br/><br/> -->
                          <h2> All Behaviours
                          </h2>
                        </div>
                        <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                             <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                              

                              <div class="">
                                 <div class="">
                                   <!-- -----------------------------------------------------------------------------------------tabbing -->
                                   <div class="property-dtl-tab investor-details">
                                      <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                          <a href="#prt-tab0" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="false">Subject Behaviour
                                          </a>
                                        </li>
                                        <li role="presentation" class="">
                                          <a href="#prt-tab1"  data-url="{% url 'admin/scale' %}" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Overall Rating Scale
                                          </a>
                                        </li>
                                        <li role="presentation" class="">
                                          <a href="#prt-tab2" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="true">Wellbeing Scale
                                          </a>
                                        </li>
                                      </ul>
                                      <div class="clearfix"></div>
                                      <!-- Tab panes -->
                                      <div class="tab-content "  id="side-tab">

                                       <!-- -----tab1 -->

                                        <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                          
                                          <div id="sub-tab" class="tabs-container">
                                            <div class="tabs-left">
                                                {% if subjects %}
                                                <ul class="nav nav-tabs">
                                                    {% for subject in subjects %}
                                                        {% if forloop.counter == 1 %}
                                                            <li class="active"><a data-url="{% url 'behaviour/' subject.id %}" class="subject" data-toggle="tab" href="#tab" onclick="get_behaviour($(this).attr('data-url'),this.id,this.text)" id="{{ subject.id }}">{{ subject.subject_name }}</a></li>
                                                        {% else %}
                                                            <li class=""><a data-url="{% url 'behaviour/' subject.id %}" class="subject" data-toggle="tab" href="#tab" onclick="get_behaviour($(this).attr('data-url'),this.id,this.text)" id="{{ subject.id }}">{{ subject.subject_name }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>

                                                <div class="tab-content ">
                                                    <div id="tab" class="tab-pane active">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                              <div class="col-lg-6 col-sm-12 col-xs-12">
                                                                <h2 id="subject_name">Subject : </h2>
                                                              </div>
                                                              <div class="col-lg-6 col-sm-12 col-xs-12 text-right">
                                                                  <a data-toggle="modal" data-target="#add-modal" class="btn btn-default " onclick="clearTextBox('add_behaviour')">Add New Behaviour</a>
                                                              </div>
                                                            </div>
                                                            <p style="display: none" id="forsubid"></p>
                                                           
                                                            <div class="table-responsive coman-table behavior">
                                                              <table class="table dataTables-example" id="multi-colum-dt-behaviour">
                                                                <thead>
                                                                  <tr >
                                                                    <th>Behaviour</th>
                                                                    <th>Action</th>
                                                                  </tr>
                                                                </thead>
                                                                <tbody id="tbody_id">

                                                                </tbody>
                                                              </table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                {% else %}
                                                        <p style="text-align: center; color: #000000;" >Behaviour is dependant on subjects. No Subjects are added in system. Please add subject first.</p>
                                                {% endif %}

                                            </div>


                                          <div class="clearfix"></div>
                                          </div>
                                        </div>


                                        <div role="tabpanel" class="tab-pane" id="prt-tab1">
                                          <div class="col-lg-12 text-right">
                                         
                                          <a data-toggle="modal" data-target="#addR-modal" class="btn btn-default" onclick="clearTextBox('rating_text'); clearTextBox('rating_value_text')">Add New Rating</a>
                                          </div>
                                          <div class="table-responsive col-lg-12 coman-table">
                                            <table class="table dataTables-example" id="multi-colum-dt-scale">
                                              <thead>
                                                <tr role="row">
                                                  <th>Overall Rating Scale
                                                  </th>
                                                  <th>Action
                                                  </th>
                                                </tr>
                                              </thead>
                                              <tbody>

                                              </tbody>
                                            </table>
                                          </div>
                                        </div>


                                        <!-- -----tab3 -->
                                        <div role="tabpanel" class="tab-pane " id="prt-tab2">
                                          <div class="col-lg-12 text-right">
                                          <a data-toggle="modal" data-target="#addW-modal" class="btn btn-default" onclick="clearTextBox('wellbeing_text'); clearTextBox('wellbeing_value_text')">Add New Wellbeing Scale Criteria</a>
                                          </div>

                                          <div class="table-responsive col-lg-12 coman-table">
                                            <table class="table dataTables-example" id="multi-colum-dt-wellbeing">
                                              <thead>
                                                <tr role="row">
                                                  <th>Overall Rating 
                                                  </th>
                                                  <th>Action
                                                  </th>
                                                </tr>
                                              </thead>
                                              <tbody>

                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                       

                                        </div>
                                      </div>
                                      <!-- -----------------------------------------------------------------------------------------/tabbing -->

                                 </div>
                              </div>


                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      


    <!-- ----------------------------------------model -->
    <!-- ----------------dlt for behaviour-->
    <div class="modal coman-modal  fade" id="dlt-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog modal-md " role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <p>Are you Sure You want to Delete?</p>
            <div class="text-center">
                <input type="hidden" id="delete_behave_yes_btn" value="">
              <a class="btn btn-default m-r-sm" class="btn btn-default " data-dismiss="modal" onclick="delete_behaviour()">Yes</a>
              <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
            </div>
        </div>
      </div>
    </div>
    <!-- ----------------dlt for rating-->
    <div class="modal coman-modal  fade" id="rating-dlt-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url="{% url 'admin/scale' %}">
      <div class="modal-dialog modal-md " role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <p>Are you Sure You want to Delete?</p>
            <div class="text-center">
                <input type="hidden" id="delete_rating_yes_btn" value="">
              <a class="btn btn-default m-r-sm" class="btn btn-default " data-dismiss="modal" onclick="delete_rating()" >Yes</a>
              <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
            </div>
        </div>
      </div>
    </div>
    <!-- ----------------dlt for wellbeing-->
    <div class="modal coman-modal  fade" id="wellbeing-dlt-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url="{% url 'admin/scale' %}">
      <div class="modal-dialog modal-md " role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <p>Are you Sure You want to Delete?</p>
            <div class="text-center">
                <input type="hidden" id="delete_wellbeing_yes_btn" value="">
              <a class="btn btn-default m-r-sm" class="btn btn-default " data-dismiss="modal" onclick="delete_wellbeing()" >Yes</a>
              <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
            </div>
        </div>
      </div>
    </div>

    <div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                </div>
                <h2>Deleted successfully !!</h2>
            </div>
        </div>
    </div>

    <!-- ------------------edit -->
     <div class="modal coman-modal  fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
           </button>
          <h2>Edit Behavior</h2>
          <div class="form-group text-left">
            <label>Behaviour:</label>
              <input type="hidden" class="form-control" value="" id="behaviour_id_to_update">
              <input type="text" class="form-control" value="On Task" id="editbehav" required onkeypress="return (event.charCode > 64 &&
event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
          </div>
          <a class="btn btn-default btn-small m-r-sm" data-dismiss="modal" onclick="edit_behave_submit_event()">Update</a>
          <a  class="btn btn-default btn-small " data-dismiss="modal" data-toggle="modal">Cancel</a>
        </div>
      </div>
    </div>
    <!-- ------------------edit Rating -->
     <div class="modal coman-modal  fade" id="editR-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
           </button>
          <h2>Edit Overall Rating Criteria</h2>
          <div class="form-group text-left">
            <label>Criteria :</label>
              <input type="hidden" class="form-control" value="" id="rating_id_to_update">
              <input type="text" class="form-control" value="" id="edit_rating_text_input" required onkeypress="return (event.charCode > 64 &&
event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
            <label>Value :</label>
              <input type="text" class="form-control" value="" id="edit_rating_value_text_input" required onkeypress="return (event.charCode > 47 &&
event.charCode < 58) || event.charCode == 45">
          </div>
          <a onclick="edit_rating_submit_event($(this))" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal" data-url="{% url 'admin/scale' %}">Update</a>
          <a  class="btn btn-default btn-small " data-dismiss="modal" data-toggle="modal">Cancel</a>
        </div>
      </div>
    </div>
    <!-- ------------------edit Wellbeing -->
     <div class="modal coman-modal  fade" id="editW-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
           </button>
          <h2>Edit Wellbeing Scale Criteria</h2>
          <div class="form-group text-left">
            <label>Criteria :</label>
              <input type="hidden" class="form-control" value="" id="wellbeing_id_to_update">
              <input type="text" class="form-control" value="" id="edit_wellbeing_text_input" required onkeypress="return (event.charCode > 64 &&
event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
            <label>Value :</label>
              <input type="text" class="form-control" value="" id="edit_wellbeing_value_text_input" required onkeypress="return (event.charCode > 47 &&
event.charCode < 58) || event.charCode == 45">
          </div>
          <a onclick="edit_wellbeing_submit_event($(this))" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal" data-url="{% url 'admin/scale' %}">Update</a>
          <a  class="btn btn-default btn-small " data-dismiss="modal" data-toggle="modal">Cancel</a>
        </div>
      </div>
    </div>

    <!-- ------------------------add behavior -->
    <div class="modal coman-modal  fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
           </button>
          <h2>Add Behavior</h2>
          <div class="form-group text-left">
            <label>Behaviour:</label>
              <input type="text" class="form-control" placeholder="Please Enter Behaviour" id="add_behaviour" required onkeypress="return (event.charCode > 64 &&
event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
          </div>
          <a class="btn btn-default btn-small m-r-sm add-behave-class" id="add-behave-class" data-dismiss="modal" onclick="add_behave()">Add</a>
          <a  class="btn btn-default btn-small " data-dismiss="modal" data-toggle="modal" onclick="clearTextBox('add_behaviour')">Cancel</a>
        </div>
      </div>
    </div>
    <!-- ------------------------add Rating -->
    <div class="modal coman-modal  fade" id="addR-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url="{% url 'admin/scale' %}">
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
           </button>
          <h2>Add New Overall Rating Criteria</h2>
          <div class="form-group text-left">
            <label>Criteria :</label>
              <input type="text" class="form-control" placeholder="Please Enter Overall Rating Criteria " id="rating_text" required onkeypress="return (event.charCode > 64 &&
event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 32">
             <label>Value :</label>
              <input type="text" class="form-control" placeholder="Please Enter Overall Rating Value " id="rating_value_text" required onkeypress="return (event.charCode > 47 &&
event.charCode < 58) || event.charCode == 45">
          </div>
          <a class="btn btn-default btn-small m-r-sm add-rating-class" id="add-rating-class" data-dismiss="modal" data-toggle="modal" onclick="add_rating()">Add</a>
          <a  class="btn btn-default btn-small " data-dismiss="modal" data-toggle="modal" onclick="clearTextBox('rating_text'); clearTextBox('rating_value_text')">Cancel</a>
        </div>
      </div>
    </div>
     <!-- ------------------------add Wellbeing -->
    <div class="modal coman-modal  fade" id="addW-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url="{% url 'admin/scale' %}">
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
           </button>
          <h2>Add New Wellbeing Scale Criteria</h2>
          <div class="form-group text-left">
            <label>Criteria :</label>
              <input type="text" class="form-control" placeholder="Please Enter Wellbeing Scale Criteria" id="wellbeing_text" required onkeypress="return (event.charCode > 64 &&
event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 32">
            <label>Value :</label>
              <input type="text" class="form-control" placeholder="Please Enter Wellbeing Scale Value" id="wellbeing_value_text" required onkeypress="return (event.charCode > 47 &&
event.charCode < 58) || event.charCode == 45">
          </div>
          <a class="btn btn-default btn-small m-r-sm add-wellbeing-class" id="add-wellbeing-class" data-dismiss="modal" data-toggle="modal" onclick="add_wellbeing()">Add</a>
          <a  class="btn btn-default btn-small " data-dismiss="modal" data-toggle="modal" onclick="clearTextBox('wellbeing_text'); clearTextBox('wellbeing_value_text')">Cancel</a>
        </div>
      </div>
    </div>


    <div class="modal coman-modal  fade" id="addS-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
           <div class="success-msg-icon">
            <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
           </div>
           <h2>Added successfully !!</h2>
        </div>
      </div>
    </div>

    <div class="modal coman-modal  fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
             <div class="success-msg-icon">
              <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                 
             </div>
             <h2>Updated successfully !!</h2>
        </div>
      </div>
    </div>

    <!-- Error Modal -->
    <div class="modal coman-modal" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p id="error-text">
                </p>
            </div>
        </div>
    </div>

<script>
function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');

        }

function clearTextBox(id) {
    document.getElementById(id).value = "";
    $('.add-behave-class').attr("disabled", false);

}
</script>


    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
      <!-- Mainly scripts -->

    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>

<script>

    function openSuccessModal() {
        $("#addS-modal").modal('show');
    }

    function openSuccessModalfordelete() {
        $("#cong-modal").modal('show');
    }

    function openSuccessModalforupdate() {
        $("#update-modal").modal('show');

    }
    

    function get_behaviour(data,subid,subname) {
        $('#subject_name').text("Subject : "+subname)
        $('#tbody_id').empty()
        var url_link = data;
        $('#forsubid').text(subid)
        comm = url_link;
        var beh_table = $('#multi-colum-dt-behaviour').DataTable();
        beh_table.destroy()
        var table = $('#multi-colum-dt-behaviour').DataTable({
            ajax: {
                url: url_link,
                type: 'GET',
            },
            "bAutoWidth": false,
            rowId: function (data) {
                {#console.log(data)#}
                return 'behaviour_'+data.behaviour_id;

            },
            columns: [
                {
                    "data": "behaviour_name",
                },
                {
                    "data": "behaviour_id", "render": function (data) {
                        var res = '';
                        res += '<a style="text-decoration:None" data-toggle="modal" data-target="#edit-modal" id="edit_behave_'+data+'" class="btn btn-default" onclick="edit_behave($(this))">Edit</a>&nbsp;<a style="text-decoration:None" id="delete_behave_'+data+'" class="btn btn-default" data-toggle="modal" data-target="#dlt-modal" onclick="add_value_del_behave($(this))">Delete</a>';
                        return res;
                    }
                }],
         columnDefs: [{
                            targets: '_all',
                            className: 'add-new',
                        }],
        });

    }



    $(document).ready(function(){
    {% if first_subject_id is not None %}

        $('#subject_name').text("Subject : "+$('.active').children()[3].text)
        var url_link = 'behaviour/'+{{ first_subject_id }};
        $('#forsubid').text({{ first_subject_id }})
        var table = $('#multi-colum-dt-behaviour').DataTable({
            ajax: {
                url: url_link,
                type: 'GET',
            },
            "bAutoWidth": false,
            rowId: function (data) {
                {#console.log(data)#}
                return 'behaviour_'+data.behaviour_id;

            },
            columns: [
            {
                "data": "behaviour_name",
            },
            {
                "data": "behaviour_id", "render": function (data) {
                    var res = '';
                    res += '<a style="text-decoration:None" data-toggle="modal" data-target="#edit-modal" id="edit_behave_'+data+'" class="btn btn-default" onclick="edit_behave($(this))">Edit</a>&nbsp;<a style="text-decoration:None" id="delete_behave_'+data+'" class="btn btn-default" data-toggle="modal" data-target="#dlt-modal" onclick="add_value_del_behave($(this))">Delete</a>';
                    return res;
                }
            }],
            columnDefs: [{
                            targets: '_all',
                            className: 'add-new',
                        }],
            });

        {% endif %}
    var table = $('#multi-colum-dt-scale').DataTable({
            ajax: {
                url: 'scale',
                type: 'GET',
                data:{
                    'param': 'Rating'
                },
            },
            "bAutoWidth": false,
            rowId: function (data) {
                return 'rating_'+data.value;

            },
            columns: [
            {
                "data": "name",
            },
            {
                "data": "id", "render": function (data) {
                    var res = '';
                    res += '<a style="text-decoration:None" data-toggle="modal" data-target="#editR-modal" class="btn btn-default" id="edit_rating_'+data+'" onclick="edit_rating($(this))">Edit</a>&nbsp;<a style="text-decoration:None" class="btn btn-default" data-toggle="modal" data-target="#rating-dlt-modal" id="delete_rating_'+data+'" onclick="add_value_del_rating($(this))">Delete</a>';
                    return res;
                }
            }],
           columnDefs: [{
                            targets: '_all',
                            className: 'add-new',
                        }],
            });

    var table = $('#multi-colum-dt-wellbeing').DataTable({
            ajax: {
                url: 'scale',
                type: 'GET',
                data:{
                    'param': 'Wellbeing'
                },
            },
            "bAutoWidth": false,
            rowId: function (data) {
                return 'wellbeing_' + data.value;
            },
            columns: [
            {
                "data": "name",
            },
            {
                "data": "id", "render": function (data) {
                    var res = '';
                    res += '<a style="text-decoration:None" data-toggle="modal" data-target="#editW-modal" class="btn btn-default" id="edit_wellbeing_'+data+'" onclick="edit_wellbeing($(this))">Edit</a>&nbsp;<a style="text-decoration:None" class="btn btn-default" data-toggle="modal" data-target="#wellbeing-dlt-modal" id="delete_wellbeing_'+data+'" onclick="add_value_del_wellbeing($(this))">Delete</a>';
                    return res;
                }
            }],
            columnDefs: [{
                            targets: '_all',
                            className: 'add-new',
                        }],
            })
    })

</script>


<script>

function add_behave(){

    document.getElementById("add-behave-class").setAttribute("disabled",true);
    $('#loader').hide();

    var sub_id = $("#forsubid").text()
    var behave_text = $("#add_behaviour").val().trim();
    if (behave_text == '' || behave_text.trim().length == 0){
        openErrorModal('Please add value in text box.');
        $("#add_behaviour").val('');
        document.getElementById("add-behave-class").removeAttribute("disabled",false);
    }
    else {
        $('#loader').show();
        $.ajax({
            url: 'addBehaviour/'+sub_id,
            type: "POST",
            async:false,
            data: {'behaviour': behave_text},
            beforeSend: function () {
                document.getElementById("add-behave-class").setAttribute("disabled",true);
            },
            success: function (data) {
                $('#loader').hide();
                console.log('success', data);
                $("#multi-colum-dt-behaviour").DataTable().ajax.reload(null, false);
                $("#add-modal").modal('hide');
                openSuccessModal();
                $("#add_behaviour").val('');
                function redirect() {
                    $("#addS-modal").modal('hide');
                }

                setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds

            },
            error: function (data) {
                $('#loader').hide();
                console.log('error', data);
                openErrorModal(data.responseText);
            },
            complete:function(){
                document.getElementById("add-behave-class").removeAttribute("disabled",false);
            }
        });
        event.preventDefault();
        event.stopImmediatePropagation();
    }
}

function add_rating(){
    $('#loader').hide();
    var rating_text = $("#rating_text").val().trim();
    var rating_value_text = $("#rating_value_text").val().trim();

    if (rating_text == '' || rating_text.trim().length == 0){
        openErrorModal('Please add value in text box.');
        $("#rating_text").val('');
        document.getElementById("add-rating-class").removeAttribute("disabled",false);
    }
    else if (rating_value_text=='' || rating_value_text.trim().length == 0){
        openErrorModal('Please add rating value in text box.');
        $("#rating_value_text").val('');
        document.getElementById("add-rating-class").removeAttribute("disabled",false);
    }
    else if(rating_value_text.includes("--")){
        openErrorModal('Please add proper value in text box.');
        $("#rating_value_text").val('');
        document.getElementById("add-rating-class").removeAttribute("disabled",false);
    }
    else {
        document.getElementById("add-rating-class").setAttribute("disabled",true);
        $('#loader').show();
        $.ajax({
            url: $('#addR-modal').attr('data-url'),
            type: "POST",
            async:false,
            data: {"param": 'Rating', 'criteria': rating_text,'value':rating_value_text},
            beforeSend: function () {
                document.getElementById("add-rating-class").setAttribute("disabled",true);
            },
            success: function (data) {
                $('#loader').hide();
                console.log('success', data);
                $("#multi-colum-dt-scale").DataTable().ajax.reload(null, false);
                $("#addR-modal").modal('hide');
                openSuccessModal();
                $("#rating_text").val('');
                function redirect() {
                    $("#addS-modal").modal('hide');
                }

                setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds

            },
            error: function (data) {
                $('#loader').hide();
                console.log('error', data);
                openErrorModal(data.responseText);
            },
            complete:function(){
                document.getElementById("add-rating-class").removeAttribute("disabled",true);
            }
        });
        event.preventDefault();
        event.stopImmediatePropagation();
    }
}

function add_wellbeing(){
    $('#loader').hide();
    var wellbeing_text = $("#wellbeing_text").val().trim();
    var wellbeing_value_text = $("#wellbeing_value_text").val().trim();

    if (wellbeing_text == '' || wellbeing_text.trim().length == 0){
        openErrorModal('Please add value in text box.');
        $("#wellbeing_text").val('');
        $('#add-wellbeing-class').attr("disabled", false);
    }
    else if (wellbeing_value_text == '' || wellbeing_value_text.trim().length == 0){
        openErrorModal('Please add value in text box.');
        $("#wellbeing_value_text").val('');
        $('#add-wellbeing-class').attr("disabled", false);
    }
    else if(wellbeing_value_text.includes("--")){
        openErrorModal('Please add proper value in text box.');
        $("#wellbeing_value_text").val('');
        $('#add-wellbeing-class').attr("disabled", false);
    }
    else{
        $('#add-wellbeing-class').attr("disabled", true);
        $('#loader').show();
        $.ajax({
                    url: $('#addW-modal').attr('data-url'),
                    type: "POST",
                    data: {"param": 'Wellbeing', 'criteria': wellbeing_text,'value':wellbeing_value_text},
                    beforeSend: function () {
                        document.getElementById("add-wellbeing-class").setAttribute("disabled",true);
                    },
                    success: function (data) {
                        $('#loader').hide();
                        console.log('success', data);
                        $("#multi-colum-dt-wellbeing").DataTable().ajax.reload(null, false);
                        $("#addW-modal").modal('hide');
                        openSuccessModal();
                        $("#wellbeing_text").val('');
                        function redirect() {
                            $("#addS-modal").modal('hide');
                        }
                setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                    },
                    error: function (data) {
                        $('#loader').hide();
                        console.log('error', data);
                        openErrorModal(data.responseText);
                    },
                    complete:function(){
                       document.getElementById("add-wellbeing-class").removeAttribute("disabled",true);
                    }
                });
        event.preventDefault();
        event.stopImmediatePropagation();
    }

}

function edit_behave(data) {
    $('#loader').hide();
    var behave_text = data.parent().siblings(":first").text();
    $('#editbehav').val(behave_text);
    edit_id = data.attr('id');
    $('#behaviour_id_to_update').val(edit_id.split('edit_behave_')[1]);

}

function edit_behave_submit_event() {
    $('#loader').hide();
    var behave_text = $('#editbehav').val().trim();
    var behave_id = $('#behaviour_id_to_update').val();

    if (behave_text == '' || behave_text.trim().length == 0){
        openErrorModal('Please add value in text box.');
        $("#editbehav").val('');
    }
    else{
        $('#loader').show();
        $.ajax({
            url: 'editBehaviour/'+ behave_id,
            type: "POST",
            data: {'behaviour': behave_text},
            success: function (data) {
                $('#loader').hide();
                console.log('success', data);
                $("#multi-colum-dt-behaviour").DataTable().ajax.reload(null, false);
                $("#edit-modal").modal('hide');
                openSuccessModalforupdate();
                function redirect() {
                    $("#update-modal").modal('hide');
                }
                setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
            },
            error: function (data) {
                $('#loader').hide();
                console.log('error', data);
                openErrorModal(data.responseText);
            }
        });
        event.preventDefault();
        event.stopImmediatePropagation();
}
}

function edit_rating(data) {
    $('#loader').hide();
    var rating_text = data.parent().siblings(":first").text();
    var rating_value_text = data.parent().parent().attr('id');

    $('#edit_rating_text_input').val(rating_text);
    $('#edit_rating_value_text_input').val(rating_value_text.split('rating_')[1]);
    edit_id = data.attr('id');
    $('#rating_id_to_update').val(edit_id.split('edit_rating_')[1]);
}

function edit_rating_submit_event(data) {
    $('#loader').hide();
    var rating_text = $('#edit_rating_text_input').val().trim();
    var rating_value_text = $('#edit_rating_value_text_input').val().trim();

    if (rating_text == '' || rating_text.trim().length == 0){
        openErrorModal('Please add value in text box.');
        $("#edit_rating_text_input").val('');
    }
    else if (rating_value_text=='' || rating_value_text.trim().length == 0){
        openErrorModal('Please add rating value in text box.');
        $("#rating_value_text").val('');
    }
    else if(rating_value_text.includes("--")){
        openErrorModal('Please add proper value in text box.');
        $("#rating_value_text").val('');
    }

    else{
        $('#loader').show();
        $.ajax({
            url: data.attr('data-url'),
            type: "PUT",
            data: {"param": 'Rating','id': $('#rating_id_to_update').val().trim(), 'criteria': $('#edit_rating_text_input').val().trim(),'value':rating_value_text},
            success: function (data) {
                $('#loader').hide();
                console.log('success', data);
                $("#multi-colum-dt-scale").DataTable().ajax.reload(null, false);
                $("#editR-modal").modal('hide');
                openSuccessModalforupdate();

                function redirect() {
                    $("#update-modal").modal('hide');
                }
                setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
            },
            error: function (data) {
                $('#loader').hide();
                console.log('error', data);
                openErrorModal(data.responseText);
            }
        });
        event.preventDefault();
        event.stopImmediatePropagation();
}
}

function edit_wellbeing(data) {
    $('#loader').hide();
    var wellbeing_text = data.parent().siblings(":first").text();
    var wellbeing_value_text = data.parent().parent().attr('id');

    $('#edit_wellbeing_text_input').val(wellbeing_text);
    $('#edit_wellbeing_value_text_input').val(wellbeing_value_text.split('wellbeing_')[1]);
    edit_id = data.attr('id');
    $('#wellbeing_id_to_update').val(edit_id.split('edit_wellbeing_')[1]);
}

function edit_wellbeing_submit_event(data) {
    $('#loader').hide();
    var wellbeing_text = $('#edit_wellbeing_text_input').val().trim();
    var wellbeing_value_text = $('#edit_wellbeing_value_text_input').val().trim();

    if(wellbeing_text == '' || wellbeing_text.trim().length == 0){
        openErrorModal('Please add value in text box.');
        $("#edit_wellbeing_text_input").val('');
    }
    else if (wellbeing_value_text == '' || wellbeing_value_text.trim().length == 0){
        openErrorModal('Please add value in text box.');
        $("#wellbeing_value_text").val('');
    }
    else if(wellbeing_value_text.includes("--")){
        openErrorModal('Please add proper value in text box.');
        $("#wellbeing_value_text").val('');
    }
    else{
        $('#loader').show();
        $.ajax({
            url: data.attr('data-url'),
            type: "PUT",
            data: {"param": 'Wellbeing','id': $('#wellbeing_id_to_update').val().trim(), 'criteria': $('#edit_wellbeing_text_input').val().trim(),'value':wellbeing_value_text},
            success: function (data) {
                $('#loader').hide();
                console.log('success', data);
                $("#multi-colum-dt-wellbeing").DataTable().ajax.reload(null, false);
                $("#editW-modal").modal('hide');
                openSuccessModalforupdate();
                function redirect() {
                    $("#update-modal").modal('hide');
                }
                setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
            },
            error: function (data) {
                $('#loader').hide();
                console.log('error', data);
                openErrorModal(data.responseText);
            }
        });
        event.preventDefault();
        event.stopImmediatePropagation();
}
}

function add_value_del_behave(data) {
    behave_id = data.attr('id');
    $('#delete_behave_yes_btn').val(behave_id.split('delete_behave_')[1]);
}

function delete_behaviour(data){
    $('#loader').hide();
    var delete_id = $('#delete_behave_yes_btn').val();
        $('#loader').show();
        $.ajax({
                    url: 'deleteBehaviour/'+delete_id,
                    type: "GET",

                    success: function (data) {
                        $('#loader').hide();
                        console.log('success', data);
                        $("#multi-colum-dt-behaviour").DataTable().ajax.reload(null, false);
                        openSuccessModalfordelete();
                        function redirect() {
                            $("#cong-modal").modal('hide');
                        }
                    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                    },
                    error: function (data) {
                        $('#loader').hide();
                        console.log('error', data);
                        openErrorModal(data.responseText);
                    }
                });

}

function add_value_del_rating(data) {
    rating_id = data.attr('id');
    $('#delete_rating_yes_btn').val(rating_id.split('delete_rating_')[1]);
}

function delete_rating(data){
                $('#loader').hide();
    var delete_id = $('#delete_rating_yes_btn').val();
                $('#loader').show();

        $.ajax({
                    url: $('#rating-dlt-modal').attr('data-url'),
                    type: "DELETE",
                    data: {"param": 'Rating', 'id': delete_id},
                    success: function (data) {
                        $('#loader').hide();
                        console.log('success', data);
                        $("#multi-colum-dt-scale").DataTable().ajax.reload(null, false);
                        openSuccessModalfordelete();
                        function redirect() {
                            $("#cong-modal").modal('hide');
                        }
                    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                    },
                    error: function (data) {
                        $('#loader').hide();
                        console.log('error', data);
                        openErrorModal(data.responseText);
                    }
                });

}

function add_value_del_wellbeing(data) {
    wellbeing_id = data.attr('id');
    $('#delete_wellbeing_yes_btn').val(wellbeing_id.split('delete_wellbeing_')[1]);
}

function delete_wellbeing(data){
    $('#loader').hide();
    var delete_id = $('#delete_wellbeing_yes_btn').val();
    $('#loader').show();

        $.ajax({
                    url: $('#wellbeing-dlt-modal').attr('data-url'),
                    type: "DELETE",
                    data: {"param": 'Wellbeing', 'id': delete_id},
                    success: function (data) {
                        $('#loader').hide();
                        console.log('success', data);
                        $("#multi-colum-dt-wellbeing").DataTable().ajax.reload(null, false);
                        openSuccessModalfordelete();
                        function redirect() {
                            $("#cong-modal").modal('hide');
                        }
                    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                    },
                    error: function (data) {
                        $('#loader').hide();
                        console.log('error', data);
                        openErrorModal(data.responseText);
                    }
                });

}

</script>

    <script>
         $(document).ready(function(){
           $('.dataTables-example').DataTable();/* Init DataTables */


         });
      </script>
      <script type="text/javascript">
            $('.input-group.date').datepicker(
              {format: "dd.mm.yyyy", autoclose:true}
              );
            var datePicker = $(".calendar").datepicker({});
      var t ;
      $( document ).on(
          'DOMMouseScroll mousewheel scroll',
          '#myModal', 
          function(){       
              window.clearTimeout( t );
              t = window.setTimeout( function(){            
                  $('.calendar').datepicker('')
              }, 100 );        
          }
      );

      </script>


{% endblock %}