{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block data %}
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
    <div class="wrapper wrapper-content">
        <div class="row" id="dashboard-head">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="ibox">
                    <a href="{% url 'admin/students' %}" class="ibox-content text-center">
                        <h2> Students</h2>
                        <p>{{ students }}</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="ibox">
                    <a href="{% url 'admin/teachers' %}" class="ibox-content text-center">
                        <h2> Teachers</h2>
                        <p>{{ teachers }}</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="ibox">
                    <a href="{% url 'list_learning_consultant' %}" class="ibox-content text-center">
                        <h2> Learning Consultants</h2>
                        <p>{{ learning_consultant }}</p>
                    </a>
                </div>
            </div>


        </div>
        <div class="row" id="dashboard-head">

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="ibox">
                    <a href="{% url 'admin/leads' %}" class="ibox-content text-center">
                        <h2> Leads</h2>
                        <p>{{ leads }}</p>
                    </a>
                </div>
            </div>
            {% if request.session.user_type == "Admin" %}
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="ibox">
                    <a href="{% url 'principals_list' %}" class="ibox-content text-center">
                        <h2> Principals</h2>
                        <p>{{ principals }}</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="ibox">
                    <a href="{% url 'studio_list' %}" class="ibox-content text-center">
                        <h2> Studios</h2>
                        <p>{{ studios }}</p>
                    </a>
                </div>
            </div>
            {% endif %}
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="ibox">
                    <a href="{% url 'subjects' %}" class="ibox-content text-center">
                        <h2> Subjects</h2>
                        <p>{{ subjects }}</p>
                    </a>
                </div>
            </div>

        </div>

    </div>


{% endblock %}
