{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/ico" href="{% static 'img/icon.png' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/mystyle-coman.css' %}" rel="stylesheet">
    <link href="{% static 'css/media.css' %}" rel="stylesheet">
    <link href="{% static 'css/admin-style.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/studentp.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom-boostrap.css' %}" rel="stylesheet">

    <style>
      .notification .badge {
      position: absolute;
      top: -8px;
      right: -3px;
      padding: 3px 6px;
      border-radius: 50%;
      background-color: #ff0900;
      color: white;
    }
    </style>

</head>

<body>
    <head>
        <title>Student Details</title>
    </head>

    <style>
        .html2canvas-container { width: 3000px !important; height: 3508px !important; }
        /* #charts {
            height: 1448px;
            width: 1024px;
        } */
    </style>

    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>

    <div id="pdf_body" class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ibox">
                    <div class="ibox-content" id="studentProfile">

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                                <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                                <!-- <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                    <div class="pro-box">
                                        <img class="img-responsive" src="{{ students.image.url }}">
                                    </div>
                                    <div class="stu-details row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Name</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">{{ students.full_name }}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Student ID</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">{{ students.student_code }}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Level</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">
                                                {% if students.current_level.level == None %}None{% else %}
                                                    {{ students.current_level.level }}{% endif %}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Major</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">
                                                {% if students.major.major == None %}None{% else %}
                                                    {{ students.major.major }}{% endif %}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Age</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">{{ age }}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Gender</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">{{ students.gender }}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Grade</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">{{ students.school_grade }}</h5>
                                        </div>
                                    </div>


                                </div> -->

                                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12" id="pdfConvert">
                                    <div>
                                        <!-- -----------------------------------------------------------------------------------------tabbing -->
                                            <!-- Tab panes -->
                                                <!-- -----tab1 -->

                                                <div role="tabpanel" class="tab-pane " id="prt-tab2">
                                                    <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-3 col-sm-12 col-xs-12"><h2>
                                                                Progress Report</h2>
                                                            </div>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div id="charts">
                                                    <div class="stu-details row" id="yesPdf">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="text-transform: uppercase;font-weight: 600;">Name</h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="font-weight: 600;color: #01789a">{{ students.full_name }}</h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="text-transform: uppercase;font-weight: 600;">Student ID</h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="font-weight: 600;color: #01789a">{{ students.student_code }}</h5>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="text-transform: uppercase;font-weight: 600;">Level</h5>
                                                            
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="font-weight: 600;color: #63cfe3">
                                                                {% if students.current_level.level == None %}None{% else %}
                                                                    {{ students.current_level.level }}{% endif %}</h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="text-transform: uppercase;font-weight: 600;">Major</h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="font-weight: 600;color: #63cfe3">
                                                                {% if students.major.major == None %}None{% else %}
                                                                    {{ students.major.major }}{% endif %}</h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="text-transform: uppercase;font-weight: 600;">Age</h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="font-weight: 600;color: #01789a">{{ age }}</h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="text-transform: uppercase;font-weight: 600;">Gender</h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="font-weight: 600;color: #01789a">{{ students.gender }}</h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="text-transform: uppercase;font-weight: 600;">Grade</h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                            <h5 style="font-weight: 600;color: #01789a">{{ students.school_grade }}</h5>
                                                        </div>
                                                    </div>
                                                    <div id="chart1" class="row">
                                                        <div id="pie_c" class="col-lg-6 col-md-12">
                                                            <div class="score-card pie-chart-card border">
                                                                <h5 class="chart-title">
                                                                    Subject Wise Rating
                                                                </h5>
                                                                <div id="chartdiv1"></div>
                                                                     <script>
                                                                        var sub_data = {};
                                                                        var default_count = 0;
                                                                        var sub_id = [];
                                                                        var dict = {"english":"#F3ACB3", "enterpreneur":"#1691B3", "tech brain":"#F6BE57", "creative design":"#EB5858", "default":["#0f6b84", "#678388", "#9a5653", "#FFEB3B", "#FF9800", "#673AB7"]};
                                                                    </script>
                                                                <div class="clearfix"></div>
                                                                <ul class="pie-legend-bottom pieBtnContainer">
                                                                    {% for k, v in subjectObj.items %}
                                                                    <li id = "sub_{{k}}" onclick="showGraph(this.id);">
                                                                        <a id="yellow" href="javascript:void(0)">
                                                                            <h6 id="percent_{{k}}">{{k}}</h6>
                                                                            <p id="Name_{{k}}">{{v}}</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

                                                                            <script>
                                                                                if (dict.hasOwnProperty("{{v}}". toLowerCase())){
                                                                                  document.getElementById("sub_{{k}}").style.background = dict["{{v}}". toLowerCase()];
                                                                                sub_id.push(parseInt("{{k}}"));
                                                                                sub_data["{{v}}".toLowerCase()] = [];
                                                                                sub_data["{{v}}".toLowerCase()] = [];
                                                                                sub_data["{{v}}".toLowerCase()].push(dict["{{v}}". toLowerCase()])
                                              sub_data["{{v}}".toLowerCase()].push("{{k}}")
                                                                                }else{
                                                                                  document.getElementById("sub_{{k}}").style.background = dict["default"][default_count];
                                                                                  sub_id.push(parseInt("{{k}}"));
                                                                                  sub_data["{{v}}".toLowerCase()] = [];
                                                                                  sub_data["{{v}}".toLowerCase()].push(dict["default"][default_count])
                                                sub_data["{{v}}".toLowerCase()].push("{{k}}")
                                                                                  // sub_data["{{v}}".toLowerCase()] = dict["default"][default_count];
                                                                                  default_count++;

                                                                                } 
                                                                            </script>
                                                                        </a>
                                                                    </li>
                                                                    {% endfor %}
                                                                    <!-- <li class="red">
                                                                        <a id="red" href="#">
                                                                            <h6>20%</h6>
                                                                            <p>Creative Design</p>
                                                                        </a>
                                                                    </li>
                                                                    <li class="blue">
                                                                        <a id="blue" href="#">
                                                                            <h6>10%</h6>
                                                                            <p>Entrepreneur</p>
                                                                        </a>
                                                                    </li>
                                                                    <li class="pink active">
                                                                        <a id="pink" href="#">
                                                                            <h6>10%</h6>
                                                                            <p>English</p>
                                                                        </a>
                                                                    </li> -->
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="bar_c" class="col-lg-6 col-md-12">
                                                        <!-- <div class="score-card  pie-chart-card border colChartContainer"> -->
                                                            <!-- <div class="columnchartdiv1 active">
                                                                <h5 class="chart-title">
                                                                    English
                                                                </h5>
                                                                <div id="columnchartdiv1"
                                                                     style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>
                                                            </div>
                                                            <div class="columnchartdiv2">
                                                                <h5 class="chart-title">
                                                                    Entrepreneur
                                                                </h5>
                                                                <div id="columnchartdiv2"
                                                                     style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>
                                                            </div>
                                                            <div class="columnchartdiv3">
                                                                <h5 class="chart-title">
                                                                    Creative Design
                                                                </h5>
                                                                <div id="columnchartdiv3"
                                                                     style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>
                                                            </div>
                                                            <div class="columnchartdiv4">
                                                                <h5 class="chart-title">
                                                                    Tech Brain
                                                                </h5>
                                                                <div id="columnchartdiv4"
                                                                     style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>
                                                            </div> -->
                                                            <div class="mychart"></div>

                                                        <!-- </div> -->
                                                    </div>
                                                    <!-- chart row end -->
                                                    <!-- score card row end -->
                                                    <div id="chart2" class="row">
                                                        <div class="col-lg-7 col-md-12">
                                                            <div class="score-card border">
                                                                <h5 class="chart-title">
                                                                    General Motivation Scale
                                                                </h5>
                                                                <div id="motivation-ch" style="width: 100%; height: 442px; background-color: #FFFFFF;" ></div>                    

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5 col-md-12">
                                                            <div class="score-card border">
                                                                <h5 class="chart-title">
                                                                    Wellbeing Scale
                                                                </h5>
                                                                <div id="scale-chart" style="width: 100%; height: 442px; background-color: #FFFFFF;" ></div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>

                                                <!-- ----------------------------------chart-click -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

                                                <script type="text/javascript">
                                                    $(document).ready(function () {
                                                        var globA;
                                                        $(".pie-legend-bottom li a").click(function (e) {
                                                            $(".pieBtnContainer").find('.active').removeClass('active');
                                                            var clickedA = $(this).attr("id");
                                                            globA = clickedA;

                                                            $('.' + globA).addClass('active');
                                                            /*alert(globA);*/
                                                            $('.colChartContainer').find('.active').removeClass('active');
                                                            if (globA == "yellow") {
                                                                /* alert('y')*/
                                                                $(".columnchartdiv4").addClass('active');
                                                            } else if (globA == "red") {
                                                                /*alert('r')*/
                                                                $(".columnchartdiv3").addClass('active');
                                                            } else if (globA == "blue") {
                                                                /*alert('b')*/
                                                                $(".columnchartdiv2").addClass('active');

                                                            } else if (globA == "pink") {
                                                                /*alert('p');*/
                                                                $(".columnchartdiv1").addClass('active');
                                                            }

                                                        });
                                                    });
                                                </script> -->
                                                    <span id="student_comments"></span>
                                        <!-- -----------------------------------------------------------------------------------------/tabbing -->

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- ----------------------------------dlt -->
    <div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you Sure You want to Delete?</p>
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" class="btn btn-default " data-dismiss="modal" data-toggle="modal"
                       onclick="changewindowhref()">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ----------------------------------dlt-conf -->
    <div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                </div>
                <h2>Deleted successfully !!</h2>
            </div>
        </div>
    </div>

    <!-- ------------------------------------post -->
    <div class="modal coman-modal  fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

                </div>
                <h2 id="comment-success-text">Posted successfully !!</h2>
            </div>
        </div>
    </div>

    <div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p id="error-text">
                </p>
            </div>
        </div>
    </div>
    <button style="float: right;" class="btn btn-primary" type="button" id="download">Download</button>

    <!-- <script src="{% static 'js/jquery-2.1.1.js' %}"></script> -->

    <!-- Mainly scripts -->
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>

    <!-- ----------chartjs -->
    <script src="{% static 'js/amcharts.js' %}"></script>
    <script src="{% static 'js/chalk.js' %}"></script>
    <script src="{% static 'js/pie.js' %}"></script>
    <script src="{% static 'js/piechart.js' %}"></script>
    <script src="{% static 'js/serial.js' %}"></script>
    <script src="{% static 'js/column-chart.js' %}"></script>
    <script src="{% static 'js/motivation-chart.js' %}"></script>
    <script src="{% static 'js/line-chart.js' %}"></script>

<script>
function clearCommentText() {
    document.getElementById("comment_text").value = "";
}
</script>

<script>
    {% url 'admin/editStudentContact/' students.id as edit_student %}
    {% if edit_student in request.META.HTTP_REFERER %}
        $('#student_detail').removeClass('active');
        $('#contact_info').addClass('active');
    {% endif %}
</script>



<script>
    $(document).ready(() => {
      let url = location.href.replace(/\/$/, "");

      if (location.hash) {
        const hash = url.split("#");
        $('.student-details a[href="#'+hash[1]+'"]').tab("show");
        url = location.href.replace(/\/#/, "#");
        history.replaceState(null, null, url);
        setTimeout(() => {
          $(window).scrollTop(0);
        }, 400);
      }

      $('a[data-toggle="tab"]').on("click", function() {
        let newUrl;
        const hash = $(this).attr("href");
        if(hash == "#home") {
          newUrl = url.split("#")[0];
        } else {
          newUrl = url.split("#")[0] + hash;
        }
        newUrl += "/";
        history.replaceState(null, null, newUrl);
      });
    });

    function openCommentSuccessModal(msg) {
        // $('#error-text').text(msg);
        $('#comment-success-text').text(msg);
        $("#update-modal").modal('show');
    }

    function openErrorModal(msg) {
        $('#error-text').text(msg);
        $("#wrong-msg").modal('show');
    }

    function closeModal() {
        $("#wrong-msg").modal('hide');
    }
</script>
    <script>
        $(document).ready(function () {
                $('.dataTables-example').DataTable();
            }
        );

    </script>
    <script type="text/javascript">
        $('.input-group.date').datepicker(
            {format: "dd.mm.yyyy", autoclose: true}
        );
        var datePicker = $(".calendar").datepicker({});
        var t;
        $(document).on(
            'DOMMouseScroll mousewheel scroll',
            '#myModal',
            function () {
                window.clearTimeout(t);
                t = window.setTimeout(function () {
                    $('.calendar').datepicker('')
                }, 100);
            }
        );


    </script>

    <script>
        var submit_data = function (e) {
            var formdata = new FormData();
            let flag = 0;
            var url_link = $('#add-comments').attr('data-url');

            var comment_text = $('#comment_text').val();
            console.log('comment_text : ', comment_text, typeof (comment_text));
            if (comment_text == '' || comment_text.trim().length == 0) {
                openErrorModal("Please enter text into comment box");

            } else {
                formdata.append("message", comment_text);

                console.log(url_link);
                var csrf_token = "{{ csrf_token }}";
                if (flag == 0) {
                    $.ajax({
                        headers: {"X-CSRFToken": csrf_token},
                        url: url_link,
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: formdata,
                        success: function (data) {
                            console.log('success', data);
                            clearCommentText();

                            var cmt_div = '<div class="cmt-box"><a href="#" class="cls-cmt">&times;</a><div class="cmt-box-img"><img class="img-responsive" src="' + data.image + '"></div><div class="cmt-box-detail"><h3>' + data.comment_by + '</h3><h4>' + data.comment + '</h4><h3><span>' + data.created_at + '</span></h3></div></div>'
                            $('.comment-box').append(cmt_div);
                            openCommentSuccessModal(data.success_text);

                            function redirect() {
                                $("#update-modal").modal('hide');
                            }

                            setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                        },
                        error: function (data) {
                            console.log('fail', data);
                            console.log('text', data.responseText);
                            openErrorModal(data.responseText);
                        }
                    });
                    e.stopImmediatePropagation();
                    e.preventDefault();
                } else {
                    console.log('no ajax call yet');
                    return false;
                }
            }

        };
        $('#add-new-comment').on('click', submit_data);
    </script>






<!-- pdf start -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<!-- 
<script src="https://cdn.jsdelivr.net/npm/js-html2pdf@1.1.4/lib/html2pdf.min.js"></script> -->








<script type="text/javascript">
    
    var ctx = document.getElementById("myChart123");

    default_count = 0;
    var clrs = ["#F3ACB3", "#F6BE57", "#EB5858", "#1691B3"];
    $(document).ready(function(){
    var endpoint = '/api/chart/data/admin/'
    console.log("endpoint--",endpoint)
    var defaultData = []
    var labels = [];
    console.log("IDs", sub_id);
    subjects = sub_id
    console.log("----type--",typeof(subjects), subjects.length)
    // list : [subjects]
    console.log("sub_data------------------------------",sub_data)
    $.ajax({        
        method: "POST",
        url: endpoint,
        data:{
            'studentId':"{{ students.id }}",
            'subjectId': subjects
        },
        success: function(data){
            console.log("dattaaaaa",data); 
            pie_labels = [];
            pie_colors = [];
            pie_values = {};
            overall_summ = 0
            for (var key_pie in data['default']){
                var list_values = Object.values(data["default"][key_pie])
                console.log("List_values", list_values);
                var sum = 0;
                for (var v = 0; v<list_values.length; v++){                   
                    sum = sum + parseInt(list_values[v]);
                }
                overall_summ = overall_summ + sum/list_values.length;                
                pie_values[key_pie] = sum/list_values.length;
            }
            for (key_pie in pie_values){

                console.log("key", key_pie);
                document.getElementById("percent_"+key_pie).innerHTML = ((pie_values[key_pie] * 100)/overall_summ).toFixed(1)+"%";
                pie_values[key_pie] = ((pie_values[key_pie] * 100)/overall_summ).toFixed(1);
            }
            console.log("sub_data------------",sub_data)
            
            for (var key in sub_data) {

                pie_labels.push(key);
                console.log("sub_data[key][0]--------------",sub_data[key])
                pie_colors.push(sub_data[key][0]);
                console.log(sub_data[key]);
                console.log("pie_colors--------099999999999------------",pie_colors)
            }      
            console.log("Pie labels", pie_labels);
            for(var i=0; i<subjects.length; i++){

                console.log(i);
                console.log("subject data",sub_data);                
                labels = data.labels[subjects[i]]
                defaultData = data.default[subjects[i]]
                //removing extra decimals----------
                for (var decimal_key in data["default"][i]){
                    data["default"][i][decimal_key] = data["default"][i][decimal_key].toFixed(2);
                }
                console.log("decimal_key ", Object.values(data["default"]));
                setChart(i, subjects[i],labels,defaultData, data)
            }
            setPieChart();   
            console.log("data555555555555",data) 
            setMotivationalChart(data);
            setWellbeing(data);
            console.log("defaultData---",defaultData);                  
        },
        error: function(error_data){
            console.log("error")
            console.log(error_data)
        }
    })
    // bar chart
    function setChart(i, subLen,labels,defaultData, data){
        // alert('chart')
            var data_list = Object.values(data["default"][subLen]);
            console.log("data_list", data_list);
            
            
            // for (var i = 0; i < data_list.length; i++){
            //     data_list[i] = parseInt(data_list[i]).toFixed(2);
            //     console.log('111111111111111111111',data_list[i])
            // }

            
            // for (var key_pie in data['default']){
            //     var list_values = Object.values(data["default"][key_pie])
            //     console.log("List_values", list_values);
            //     var sum = 0;
            //     for (var v = 0; v<list_values.length; v++){                   
            //         sum = sum + parseInt(list_values[v]);
            //     }
            //     overall_summ = overall_summ + sum/list_values.length;                
            //     pie_values[key_pie] = sum/list_values.length;
            // }




            console.log("data", Object.values(data["default"][subLen]));
            console.log("22222222222",labels);
            if (dict.hasOwnProperty(document.getElementById("Name_"+subLen).innerHTML.toLowerCase())){
                bckclr = dict[document.getElementById("Name_"+subLen).innerHTML.toLowerCase()];
            }else{
                bckclr = dict["default"][default_count];
                default_count++;
            }
            
            console.log("ididd", bckclr);
            
            subject_name  = `<h5 id = "subTitle_`+subLen+`" class="chart-title">`+document.getElementById("Name_"+subLen).innerHTML+`</h5>`
            chartHtml = `<canvas id="myChart_`+subLen+`" style="display:block;" >
            </canvas>`
            $('.mychart').append(subject_name+chartHtml)
            // var ctx = document.getElementById("myChart");
            // console.log("ctx--",ctx)
            var chartId = document.getElementById("myChart_"+subLen);
            console.log("chartId--",chartId)
            console.log("Subject id ", subLen)
            var myChart = new Chart(chartId, {
            type: 'bar',
            
            data: {
                labels: Object.keys(data["default"][subLen]),
                datasets: [{
                    label: $("#subTitle_"+subLen).text(),
                    data: Object.values(data["default"][subLen]),
                    backgroundColor: bckclr,
                    // borderColor: [
                    //     'rgba(255,99,132,1)',
                    //     'rgba(54, 162, 235, 1)',
                    //     'rgba(255, 206, 86, 1)',
                    //     'rgba(75, 192, 192, 1)',
                    //     'rgba(153, 102, 255, 1)',
                    //     'rgba(255, 159, 64, 1)'
                    // ],
                    borderWidth: 1
                }]
            },
            options: {
                // code for showing bar value on the the top of bar 
                "hover": {
                    "animationDuration": 0
                },
                "animation": {
                    "duration": 1,
                    "onComplete": function() {
                    var chartInstance = this.chart,
                        ctx = chartInstance.ctx;

                    ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'bottom';

                    this.data.datasets.forEach(function(dataset, i) {
                    var meta = chartInstance.controller.getDatasetMeta(i);
                    meta.data.forEach(function(bar, index) {
                    var data = dataset.data[index];
                    ctx.fillText(data, bar._model.x, bar._model.y - 5);
                });
            });
        }
    },
    legend: {
    //   "display": false
    },
    tooltips: {
      "enabled": false
    },
    scales: {
        yAxes: [{
            // display: false,

        ticks: {
            // max: Math.max(...data.datasets[0].data) + 10,
            // display: false,
            beginAtZero: true
        }
      }],
    }
    // end of code for showing bar value on the the top of bar 

    }
});

}
// pie chart function
    function setPieChart(){
        console.log("in set pie chart");
        chartHtml = `<canvas id="pie_`+1+`" style="display:"block"></canvas>`;
        console.log("chartHtml-----------------------------------",chartHtml)
        $('#chartdiv1 div').remove()
        $('#chartdiv1 iframe').remove()
        $('#chartdiv1').append(chartHtml)
        // $('#chartdiv1').append(`<p>Progress</p>`)

        // var ctx = document.getElementById("myChart");
        // console.log("ctx--",ctx)
        var chartId = document.getElementById("pie_"+1);
        console.log("pie_colors-----",pie_colors)
        var myChart = new Chart(chartId, {
            type: 'pie',
        data: {
            labels: pie_labels,
            datasets: [{
            backgroundColor: pie_colors,
            data: Object.values(pie_values)
            }]
            }
        });    

    }

// motivational chart (bar chart)

function setMotivationalChart(data) {

            console.log('data000000000000000',data)
            console.log("in set Motivational chart");
            chartHtml = `<canvas id="motivational_scale" style="display:"block"></canvas>`;

            $('#motivation-ch').append(chartHtml)
            // var ctx = document.getElementById("myChart");
            // console.log("ctx--",ctx)


            let pie_colors_motivation = [];
            console.log("data[==============",data["motivation"])
            console.log("Object.keys(data-------------",Object.keys(data["motivation"]))
            var countColor = 0
            Object.keys(data["motivation"]).forEach(data => {
                countColor = countColor + 1
                console.log("data-------",data)
                console.log("push data------------",dict[data.toLowerCase()], typeof(dict[data.toLowerCase()]))
                if(dict[data.toLowerCase()] == undefined){
                    pie_colors_motivation.push(dict['default'][countColor]);
                    console.log("dict-----",dict['default'][countColor])
                }else{
                    pie_colors_motivation.push(dict[data.toLowerCase()]);
                }
            })

            console.log("pie_colors_motivation------",pie_colors_motivation)

            var chartId = document.getElementById("motivational_scale");
            var myChart = new Chart(chartId, {
                type: 'bar',
                data: {
                    labels: Object.keys(data["motivation"]),
                    datasets: [{
                        label: '# of Votes',
                        backgroundColor: pie_colors_motivation,
                        data: Object.values(data["motivation"])
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 5,
                                stepSize: 1,
                                suggestedMin: 0.5,
                                suggestedMax: 5.5,
                                callback: function (label, index, labels) {
                                    switch (label) {
                                        case 0:
                                            return 'No efforts';
                                        case 1:
                                            return 'Low efforts';
                                        case 2:
                                            return 'Ok efforts';
                                        case 3:
                                            return 'Good efforts';
                                        case 4:
                                            return 'Great efforts';
                                    }
                                }
                            },
                        }],
                    },
                    legend: {
                        display: false
                    },
                }
            });
        }

// wellbeing (line chart) scale

    function setWellbeing(data){
        console.log("in set well being chart");
        chartHtml = `<canvas id="well_being_scale" style="display:"block"></canvas>`;
            
            $('#scale-chart').append(chartHtml)
            // var ctx = document.getElementById("myChart");
            // console.log("ctx--",ctx)
            var chartId = document.getElementById("well_being_scale");
    var myChart = new Chart(chartId, {
        type: 'line',
    data: {
        labels: Object.keys(data["wellbeing"]),
        datasets: [{
            fill: false,
            borderColor: "#43b1bf",
            data: Object.values(data["wellbeing"])
        }]
        },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    max: 5,
                    stepSize: 1,
                    suggestedMin: 0.5,
                    suggestedMax: 5.5,
                    callback: function(label, index, labels) {
                        switch (label) {
                        case 0:
                            return 'Negative';
                        case 1:
                            return 'Neutral';
                        case 2:
                            return 'Upbeat';
                        case 3:
                            return 'Very-Good';
                        }
                    }
                    },
            }]
        },
        legend: {
            display: false
            },
    }
    });   
    }
})
</script>

<script>
    // bar chart function hide show according to subject
    function showGraph(subId) {
        // alert('1')
        console.log("11111155555111111",subjects.length,"2222222555222",subId.split("_")[1],"33333555333");  
        for(var i = 0; i < subjects.length; i++){
            console.log('subject55555555555',subjects[i]);
            document.getElementById("subTitle_"+subjects[i]).style.display = "none";
            document.getElementById("myChart_"+subjects[i]).style.display = "none";
        }
        document.getElementById("myChart_"+subId.split("_")[1]).style.display = "block";
        document.getElementById("subTitle_"+subId.split("_")[1]).style.display = "block";
    }
</script>


    <script>

        $(document).ready(function(){
            // $('#yesPdf').attr('style','display:none;')
            // $("#page-wrapper").removeClass('dark-bg');
            // $("#page-wrapper").attr('style','background-color:#e0e5e6 !important;')
        })

        // $("#download").click(function(){
        //     console.log("window.location.href.split",window.location.href.split("/")[0] )
        //     Window = window.open( 
        //       window.location.href.split("admin")[0]+"admin/download_report/{{ students.id }}/", 
        //         "_blank");
        // })

        $("#download").click(function(){

                // $("#page-wrapper").removeClass('dark-bg');
                // $("#page-wrapper").removeAttr('style')
                // $('nav').css('display','none')
                // $('body').attr('style','background:#0000;')
                // $('.profileDetail').css('display','none')
                // $('.studentDetail').css('display','none')
                // $('.box-heading').css('display','none')
                // $('.tab-content .active').css('border','0px')
                // $('#yesPdf').attr('style','display:block;')
                
                console.log("charts-----------",$("#charts"))
                console.log("charts------0000-----",$("#charts")[0])
                
                var doc = new jsPDF();
                var imgData;
                // html2canvas($("#pie_c"), {
                //     onrendered: function(canvas) {       
                //         imgData = canvas.toDataURL('image/png');
                //         console.log('Report Image URL: '+imgData);
                //         doc.addImage(imgData, 'PNG', 5, 5, 140, 110);
                //     }
                // });
                html2canvas($("#studentProfile"), {
                    onrendered: function(canvas) {       
                        imgData = canvas.toDataURL('image/jpeg');
                        console.log('Report Image URL: '+imgData);
                        doc.addImage(imgData, 'JPEG', 10, 5, 250, 250);
                        doc.save('testpdf.pdf');
                    }
                });

                    // $('#yesPdf').attr('style','display:none;')
                    // $('nav').css('display','block')
                    // $('.profileDetail').css('display','block')
                    // $('.studentDetail').css('display','block')
                    // $('.box-heading').css('display','block')
                    // $("#page-wrapper").attr('style','background-color:#e0e5e6 !important;')
                    // $('.tab-content .active').removeAttr('style')
                    // $('#yesPdf').attr('style','display:none;')

        });

    </script>
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/website/daterangepicker.min.js' %}"></script>
    <script src="{% static 'js/website/logout.js' %}"></script>
</body>