{% extends 'base.html' %}
{% load static %}
{% block data %}
<title>Edit Learning Consultant</title>
         <div class="wrapper wrapper-content">

            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="ibox">
                     <div class="ibox-content" id="studentProfile">
                        <div class="row">
                            <form method="POST" enctype="multipart/form-data" id="edit-learning-consultant-form">
                                {% csrf_token %}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                             <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                                  <div class=" col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                        <a href="/admin/learningConsultants/{{ data.id }}">&lt;&lt; Back</a>
                                     <div class="pro-box">
                                      {% if data.image %}
                                         <img class="img-responsive show_profile_pic"   src="{{data.image.url}}">
                                      {% else %}
                                         <img class="img-responsive show_profile_pic"  src="{% static 'img/my-ac-img.png' %}">
                                         {% endif %}

                                    <div class="browse-btn">
                                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                        <input type="file" name="image" onchange="ProfilePic(this)" id="image"  class="select_profile_pic" accept="image/*">
                                    </div>
                                </div>

                                     <div class="stu-details tec-detail">
                                        <div class="row">
                                          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                             <span style="text-transform: uppercase;color: #01789a;font-weight: 600;">Name</span>
                                          </div>
                                          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                             <span style="font-weight: 600;">{{data.full_name}}</span>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                             <span style="text-transform: uppercase;color: #01789a;font-weight: 600;">Position ID</span>
                                          </div>
                                          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                             <span style="font-weight: 600;">{{data.positionId}}</span>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                             <span style="text-transform: uppercase;color: #01789a;font-weight: 600;">Studio ID</span>
                                          </div>
                                          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                             <span style="font-weight: 600;">{{data.studio.studio_code|upper}}</span>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                             <span style="text-transform: uppercase;color: #01789a;font-weight: 600;">Email ID</span>
                                          </div>
                                          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                             <span style="font-weight: 600;">{{data.email}}</span>
                                          </div>
                                        </div>
                                        <div class="clearfix"></div>

                                     </div>


                                  </div>

                                  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                     <div class="">
                                       <!-- -----------------------------------------------------------------------------------------tabbing -->
                                       <div class="property-dtl-tab investor-details student-details">

                                          <!-- Tab panes -->
                                          <div class="tab-content ">

                                           <!-- -----tab1 -->
                                            <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                              <!-- <div class="row"> -->
                                              <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                  <h2 >Edit Learning Consultant Details</h2>

                                                <div class="clearfix"></div>
                                                <hr/>
                                              </div>
                                              <!-- </div> -->
                                             <div class="editlcdetail">


                                            <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Name</label>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group usr-form">
                                                     <input type="text"  placeholder="Name" class="form-control" name="name" value="{{data.full_name}}" id="name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                </div>
                                              </div>

                                              </div>
                                              <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Date Of Birth</label>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group usr-form">
                                                     <div class="input-group date disableFutureDates" data-date-format="yyyy-mm-dd">
                                                         <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-th"></span>
                                                          </div>
                                                          <input type="text" value="{{data.dob|date:'Y-m-d'}}" class="form-control cal-input"  placeholder="Date of Birth" id="date_of_birth" required name="date_of_birth">

                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Gender</label>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group usr-form">
                                                     <label class="radio-inline"><input type="radio" name="gender" value="Male" {% if data.gender == 'Male' %}checked{% endif %} name="optradio" >Male</label>
                                                    <label class="radio-inline"><input type="radio" name="gender" value="Female" {% if data.gender == 'Female' %}checked{% endif %} name="optradio">Female</label>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Nationality</label>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group usr-form">
                                                     <input type="text"  placeholder="Nationality" class="form-control" name="nationality" value="{{data.nationality}}" id="nationality" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Date Of Joining</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <div class="input-group date disablePastDates" data-date-format="yyyy-mm-dd">
                                                                    <div class="input-group-addon">
                                                                        <span class="glyphicon glyphicon-th"></span>
                                                                    </div>
                                                                    <input type="text" value="{{data.doj|date:'Y-m-d'}}" id="date_of_joining" class="form-control cal-input" name="date_of_joining" placeholder="Date of Joining" required>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Position</label>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group usr-form">
                                                     <input type="text"  placeholder="Position" class="form-control" name="position" value="{{data.position}}" id="position" required>
                                                </div>
                                              </div>
                                            </div>
                                             <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
                                            <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Position ID</label>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group usr-form">
                                                     <input type="text" name="positionId" placeholder="Position ID" class="form-control" value="{{data.positionId}}" id="positionId" required>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Studio ID</label>
                                              </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <select class="form-control" id="studioId" name="studioId"
                                                                                required>
                                                                            
                                                                            {% for studio_details in studio_details %}
                                                                                <option value="{{ studio_details.id }}">{{ studio_details.studio_code|upper }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                        <script>
                                                                            $("#studioId").val({{ data.studio_id }}).change();
                                                                            {% if request.session.user_type == "Principal" %}
                                                                                $('#studioId').attr("disabled", "");
                                                                            {% endif %}
                                                                        </script>
                                                                    </div>
                                                                </div>
                                            </div>
                                            <div class="row">

                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Highest Education Level</label>
                                              </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <select class="form-control" name="highest_education" id="highest_education" required>
                                                                        
                                                                         <option value="high School" {% if data.highest_education == 'high School' %} selected {% endif %}>High School</option>
                                                                         <option value="diploma" {% if data.highest_education == 'diploma' %} selected {% endif %}>Diploma</option>
                                                                         <option value="bachelor" {% if data.highest_education == 'bachelor' %} selected {% endif %}>Bachelor</option>
                                                                         <option value="masters" {% if data.highest_education == 'masters' %} selected {% endif %}>Masters</option>
                                                                         <option value="phd" {% if data.highest_education == 'phd' %} selected {% endif %}>PHD</option>
                                                                     </select>
                                                                    </div>
                                                                </div>
                                            </div>
                                            <div class="row">
                                             <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Education Major</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="Please Enter Education Major"
                                                                               class="form-control" value="{{ data.education_major }}"
                                                                               name="education_major" id="education_major" required>
                                                                    </div>
                                                                </div>
                                            </div>
                                            <div class="row">


                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Email ID</label>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group usr-form">
                                                 <input type="email" placeholder="Email ID" name="email" class="form-control" value="{{data.email}}" id="email" required pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$"
                                                                               oninvalid="this.setCustomValidity('Use email formatting: name@example.com')"
                                                                               oninput="this.setCustomValidity('')">
                                               </div>
                                              </div>

                                              </div>
                                              <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Contact Number</label>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group usr-form">
                                                     <input type="number" placeholder="Contact Number" name="contact" class="form-control" value="{{data.phone}}" id="contact" required onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0" minlength="10" maxlength="15">
                                                </div>
                                              </div>

                                             </div>
                                             <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Emergency Contact Name</label>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group usr-form">
                                                     <input type="text" placeholder="Emergency Name" class="form-control" name="emr_name" value="{{data.emergency_contact_name}}" id="emr_name" require onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)"d>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Emergency Number</label>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group usr-form">
                                                     <input type="number" placeholder="Emergency Contact" class="form-control" name="emr_number" value="{{data.emergency_number}}" id="emr_number" required onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0" minlength="10" maxlength="15">
                                                </div>
                                              </div>
                                            </div>
                                              <div class="clearfix"></div>
                                            </div>
                                            </div>
                                              <div class="row">
                                                <div class="col-lg-12 text-center">
                                                  <hr/>
                                                  <input value="Update" type="submit" class=" btn btn-default">
                                                </div>
                                              </div>
                                          </div>
                                     </div>
                                  </div>
                                  </div>
                        </div>
                            </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
 <div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                        <span aria-hidden="true">×</span>
                    </button>

                    <h1>Error</h1>
                    <div class="wrong-msg-icon">
                        <i class="fa fa-times" aria-hidden="true"></i>

                    </div>
                    <p id="error-text"></p>
                </div>
            </div>
        </div>
    <div class="modal coman-modal fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <h1>Successful</h1>
                    <div class="success-msg-icon">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <p>Learning Consultant updated successfully.</p>
                    <small>You will be redirected to Learning Consultant view.</small>
                </div>
            </div>
        </div>

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>

<script src="{% static 'js/additional-methods.min.js' %}"></script>


<script>
$( document ).ready(function() {

    function openSuccessModal(msg) {
        // $('#error-text').text(msg);
        $('#success-text').text(msg);
        $("#success-msg").modal('show');

        function redirect() {
             window.location.href = '/admin/learningConsultants/' + {{ data.id }};
        }

        setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
    }

    function openErrorModal(msg) {
        $('#error-text').text(msg);
        $("#wrong-msg").modal('show');
    }

    function closeModal() {
        $("#wrong-msg").modal('hide');
    }

    {% if error_is == True %}
        /*swal("Error!", "Email already exists!", "error", {
                button: "Ok!",
            }); */
        openErrorModal("{{ error }}");
    {% endif %}

    {% if success == True %}
        openSuccessModal();
    {% endif %}
});
jQuery.validator.addMethod("lettersWithSpaces", function (value, element) {
            if(value == '' || value.trim().length == 0){
                return false;
            }
            else {
                return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
            }
            }, "Please enter only letters");

jQuery.validator.addMethod("dobValidation", function(value, element) {
                 var today=new Date();
                 var DOB = Date.parse(value);
                 if(DOB <= today) {
                    return true;
                }
                return false;
            },"Please enter valid date before today");
$.validator.methods.email = function (value, element) {
                return this.optional(element) || /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}/.test(value);
            };

    $("#edit-learning-consultant-form").validate({
        errorClass: "validateError",
            rules:{
<!--                image:{-->
<!--                    required: true,-->
<!--                    extension: "jpg|jpeg|png"-->
<!--                },-->
                name:{
                    required: true,
                    lettersWithSpaces:true
                },
                date_of_birth:{
                    required: true,
                    dobValidation: true,
                },
                nationality:{
                    required: true,
                    lettersWithSpaces:true
                },
                date_of_joining:{
                    required: true,
                },
                position:{
                    required: true,
                    lettersWithSpaces:true
                },
                positionId:{
                    required: true,
                },
                studioId:{
                    required: true,
                },
                highest_education:{
                    required: true,
                },
                education_major:{
                    required: true,
                    lettersWithSpaces:true
                },
                email:{
                    required: true,
                    email: true,
                },
                contact:{
                    required: true,
                    number: true,
                    min: 0,
                },
                emr_name:{
                    required: true,
                    lettersWithSpaces:true
                },
                emr_number:{
                    required: true,
                    number: true,
                    min: 0,
                },
        },
        errorPlacement: function ( error, element ) {
            if ( $(element).hasClass("cal-input") ) {
            error.insertAfter( $(element).parents(".input-group") );
        } else {
            error.insertAfter( element );
            error.insertAfter( $(element).parents(".pro-box") );
        }
        },
    });


</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
function ProfilePic(input){
    if (input.files && input.files[0]) {
        var profile_pic = $('#image').val();

        if(input.files[0].size > 2000000){
            $('#image').val("");
            openErrorModal("Please select file less then 2Mb!");


        }else if( input.files[0].type != 'image/jpeg' && input.files[0].type != 'image/png' && input.files[0].type != 'image/jpg'){
            $('#image').val("");
            openErrorModal("Please select image file.")

        }
    }
}

</script>
{% endblock %}