{% extends 'base.html' %}
{% load static %}
{% block data %}
    <head>
        <title>Edit Contact Information</title>
    </head>

    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ibox">
                    <div class="ibox-content" id="studentProfile">

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                                <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                                <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                    <a href="{% url 'admin/students/' student.id %}"><< Back</a>
                                    <div class="pro-box">
                                        <img class="img-responsive" src="{{ student.image.url }}">

                                    </div>
                                    <div class="stu-details row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Name</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">{{ student.full_name }}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Student
                                                ID</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">{{ student.student_code }}</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Level</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">
                                                {% if student.current_level != None %}
                                                    {{ student.current_level.level }}{% else %}None{% endif %}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Major</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">
                                                {% if student.major != None %}{{ student.major.major }}{% else %}
                                                    None{% endif %}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Age</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">{{ age }}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Gender</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">{{ student.gender }}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Grade</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #63cfe3">{{ student.school_grade }}</h5>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                    <div class="">
                                        <!-- -----------------------------------------------------------------------------------------tabbing -->
                                        <div class="property-dtl-tab investor-details student-details">

                                            <!-- Tab panes -->
                                            <div class="tab-content ">
                                                <form data-url="{% url 'admin/editStudentContact/' student.id %}"
                                                      method="POST" enctype="multipart/form-data"
                                                      id="edit_student_contact_form">
                                                    {% csrf_token %}
                                                    <!-- -----tab1 -->
                                                    <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                                        <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-3 col-sm-12 col-xs-12">
                                                                    <h2> Edit Contact Information</h2>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <hr/>
                                                        </div>


                                                        <div class="editcontactstu">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Father's Name</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <h3>{{ student.father_name }}</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Father's Number</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="number" name="father_phone" id="father_phone"
                                                                               placeholder="Father's Number"
                                                                               class="form-control" required
                                                                               value="{{ student.father_phone }}" onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0" minlength="10" maxlength="15">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Father's Email ID</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="email" name="father_email" id="father_email"
                                                                               placeholder="Father's Email ID"
                                                                               class="form-control"
                                                                               value="{{ student.father_email }}" required pattern="[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{1,}" oninvalid="this.setCustomValidity('Use email formatting: name@example.com')" oninput="this.setCustomValidity('')">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Mother's Name</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <h3>{{ student.mother_name }}</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Mother's Number</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="number" name="mother_phone" id="mother_phone"
                                                                               placeholder="Mother's Number"
                                                                               class="form-control" required
                                                                               value="{{ student.mother_phone }}" onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0" minlength="10" maxlength="15">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Mother's Email ID</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="email" name="mother_email" id="mother_email"
                                                                               placeholder="Mother's Email ID"
                                                                               class="form-control"
                                                                               value="{{ student.mother_email }}" required pattern="[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{1,}" oninvalid="this.setCustomValidity('Use email formatting: name@example.com')" oninput="this.setCustomValidity('')">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-lg-12 text-center">
                                                            <hr/>
                                                            <button class=" btn btn-default" id="final-submit">Update</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="clearfix"></div>
                                            </div>


                                        </div>
                                        <!-- -----------------------------------------------------------------------------------------/tabbing -->

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="modal coman-modal" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                        <span aria-hidden="true">×</span>
                    </button>

                    <h1>Error</h1>
                    <div class="wrong-msg-icon">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                    <p id="error-text"></p>
                </div>
            </div>
        </div>
        <div class="modal coman-modal" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <h1>Successful</h1>
                    <div class="success-msg-icon">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <p id="success-text"></p>
                    <small>You will be redirected to the student view.</small>
                </div>
            </div>
        </div>

    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>

    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>

    <script type="text/javascript">
        $('.input-group.date').datepicker(
            {format: "dd.mm.yyyy", autoclose:true}
        );
        var datePicker = $(".calendar").datepicker({});
        var t;
        $(document).on(
            'DOMMouseScroll mousewheel scroll',
            '#myModal',
            function () {
                window.clearTimeout(t);
                t = window.setTimeout(function () {
                    $('.calendar').datepicker('')
                }, 100);
            }
        );

    </script>

    <script>
        function openSuccessModal(msg) {
            $('#success-text').text(msg);
            document.getElementById('success-msg').style.display = "block";
        }

        function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }

        function closeModal() {
            $("#wrong-msg").modal('hide');
        }
    </script>

    <script>
    $(document).ready(function () {
        jQuery.validator.addMethod("lettersWithSpaces", function(value, element) {
            if(value == '' || value.trim().length == 0){
                return false;
            }
            else {
                return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
            }
        }, "Please enter only letters");

        jQuery.validator.addMethod("mobile_length", function(value, element) {
            if (value.length > 10 || value.length < 16){
                return true;
            }
            return false;
        },"Please enter mobile number of min length 10 and max length 15");

        $.validator.methods.email = function( value, element ) {
            console.log(value, element);
            return /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}/.test( value );
        }

        $("#edit_student_contact_form").validate({
                errorClass: "validateError",
                rules:{
                    father_phone:{
                        required: true,
                        number: true,
                        min: 0,
                    },
                    father_email:{
                        required: true,
                        email: true,
                    },
                    mother_phone:{
                        required: true,
                        number: true,
                        min: 0,
                    },
                    mother_email:{
                       required: true,
                        email: true,
                    },
                errorPlacement: function ( error, element ) {
                    error.insertAfter( element );
                }
            },
        });

});

</script>



    <script>
        var submit_data = function (e) {
            console.log('inside submit data')
            var isValid = $("#edit_student_contact_form").valid();

            if (isValid){
                var formdata = new FormData();
            let flag = 0;
            var url_link = $('#edit_student_contact_form').attr('data-url');

            var father_phone = $("input[name='father_phone']").val();
            formdata.append("father_phone", father_phone);

            var father_email = $("input[name='father_email']").val();
            formdata.append("father_email", father_email);

            var mother_phone = $("input[name='mother_phone']").val();
            formdata.append("mother_phone", mother_phone);

            var mother_email = $("input[name='mother_email']").val();
            formdata.append("mother_email", mother_email);

            console.log(url_link);
            var csrf_token = "{{ csrf_token }}";
            if (flag == 0) {
                $.ajax({
                    headers: {"X-CSRFToken": csrf_token},
                    url: url_link,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formdata,
                    success: function (data) {
                        console.log('success', data);

                        openSuccessModal(data);

                        function redirect() {
                            window.location.href = '/admin/students/' + {{ student.id }};
                        }

                        setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                    },
                    error: function (data) {
                        console.log('fail', data);
                        openErrorModal(data);
                    }
                });
                e.stopImmediatePropagation();
                e.preventDefault();
            } else {
                console.log('no ajax call yet');
                return false;
            }

            }

        };
        $('#final-submit').on('click', submit_data);
    </script>






{% endblock %}