{% extends 'base.html' %}
{% block data %}
{% load static %}

<title>Edit Principal Details</title>

<div class="wrapper wrapper-content" xmlns="http://www.w3.org/1999/html">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="ibox">
                     <div class="ibox-content" id="studentProfile">
                        <div class="box-heading">
                          <a href="{% url 'principal_details' details.id %}">&lt;&lt; Back</a><br/><br/>
                          <h2> Edit Principal Details
                          </h2>
                        </div>

                        <form action="" method="post" enctype="multipart/form-data" id="edit-principal-form-validation">
                        {% csrf_token %}
                        <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                              <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                 <div class="pro-box">
                                     {% if details.image %}
                                    <img class="img-responsive show_profile_pic" src="{{details.image.url}}" alt="no image available">
                                     {% else %}
                                     <img class="img-responsive show_profile_pic" src="{% static 'img/my-ac-img.png' %}" alt="no image available">
                                    {% endif %}
                                     <div class="browse-btn">
                                          <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                          <input type="file" name="image" id="image" onchange="ProfilePic(this)" class="select_profile_pic" value="{{details.image.url}}">
                                     </div>
                                 </div>
                                    <div class="stu-details princi-detail">
                                      <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                           <span style="color: #01789a;text-transform: uppercase;font-weight: 600;">Name </span>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                           <span style="font-weight: 600;">{{details.full_name}}</span>
                                        </div></div>
                                        <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                           <span style="color: #01789a;text-transform: uppercase;font-weight: 600;">Position ID </span>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                           <span style="font-weight: 600;">{{details.positionId}}</span>
                                        </div></div>
                                        <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                           <span style="color: #01789a;text-transform: uppercase;font-weight: 600;">Studio ID </span>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                           <span style="font-weight: 600;">{{details.studio.studio_code|upper}}</span>
                                        </div></div>
                                        <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                           <span style="color: #01789a;text-transform: uppercase;font-weight: 600;">Email ID </span>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                           <span style="font-weight: 600;">{{details.email}}</span>
                                        </div></div>
                                        <div class="clearfix"></div>
                                     </div>
                              </div>

                              <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                 <div class="">

                                   <!-- -----------------------------------------------------------------------------------------tabbing -->
                                   <div class=" investor-details">

                                      <!-- Tab panes -->
                                      <div class="tab-content ">

                                       <!-- -----tab1 -->
                                        <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                            <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Name</label>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group usr-form">
                                                     <input type="text" placeholder="Name" id="name" class="form-control" name="name" value="{{details.full_name}}" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Date Of Birth</label>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group usr-form">
                                                     <div class="input-group date disableFutureDates" data-date-format="yyyy-mm-dd">
                                                         <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-th"></span>
                                                          </div>
                                                          <input type="text" class="form-control cal-input" name="dob" id="dob" value="{{details.dob | date:'yy-m-d'}}" placeholder="Date of Birth" required onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45">
                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Gender</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <label class="radio-inline"><input type="radio" {% if details.gender == "male" %}checked{% endif %} name="gender"  value="male">Male</label>
                                                <label class="radio-inline"><input type="radio" {% if details.gender == "female" %}checked{% endif %} name="gender" value="female">Female</label>
                                            </div>
                                          </div>
                                            </div>

                                            <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <label>Nationality</label>
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                 <div class="form-group usr-form">
                                                     <input type="text" placeholder="Nationality" class="form-control" id="nationality" name="nationality" value="{{details.nationality}}" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                </div>
                                              </div>
                                            </div>

                                            <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Date Of Joining</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <div class="input-group date disablePastDates" data-date-format="yyyy-mm-dd">
                                                     <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-th"></span>
                                                      </div>
                                                      <input type="text" class="form-control cal-input" id="doj" name="doj" placeholder="Date Of Joining" value="{{details.doj | date:'yy-m-d' }}" required onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45">
                                                </div>
                                            </div>
                                            </div>
                                            </div>

                                        <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Position</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="text" placeholder="Position" class="form-control" id="position" name="position" value="{{details.position}}" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                            </div>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Position ID</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="number" placeholder="Please Enter Position ID" id="positionId" name="positionId" class="form-control" value="{{details.positionId}}" required>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Studio ID</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <select class="form-control" name="studioId" id="studioId" required>
                                                     {% for x in studio %}
                                                     <option value="{{x.id}}">{{x.studio_code|upper}}</option>
                                                        {% endfor %}
                                                 </select>

                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Highest Education Level</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <select class="form-control" name="highest_education" id="highest_education" required>
                                                     <option value="high School" {% if details.highest_education == 'high School' %} selected {% endif %}>High School</option>
                                                     <option value="diploma" {% if details.highest_education == 'diploma' %} selected {% endif %}>Diploma</option>
                                                     <option value="bachelor" {% if details.highest_education == 'bachelor' %} selected {% endif %}>Bachelor</option>
                                                     <option value="masters" {% if details.highest_education == 'masters' %} selected {% endif %}>Masters</option>
                                                     <option value="phd" {% if details.highest_education == 'phd' %} selected {% endif %}>PHD</option>
                                                 </select>

                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Education Major</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
{#                                                 <select class="form-control" name="education_major" id="education_major" required>#}
{#                                                     {% for x in majors %}#}
{#                                                     <option value="{{x.id}}">{{x.major}}</option>#}
{#                                                        {% endfor %}#}
{#                                                 </select>#}
                                                 <input type="text" placeholder="Please Enter Education Major"
                                                                               class="form-control" value="{{ details.education_major }}"
                                                                               name="education_major" id="education_major" required>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Email ID</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="email" placeholder="Please Enter Email ID" name="email" id="email" class="form-control" value="{{details.email}}" required pattern="[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}">
                                            </div>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Mobile Number</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="number" placeholder="Contact Number" name="number" id="number" class="form-control" value="{{details.phone}}" required onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0"  minlength="10" maxlength="15">
                                            </div>
                                          </div>
                                        </div>

                                            <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Emergency Contact Name</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="text" placeholder="Emergency Contact Name" id="emr_name" name="emr_name" class="form-control" value="{{details.emergency_contact_name}}" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                            </div>
                                          </div>
                                            </div>

                                                <div class="row">
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <label>Emergency Contact Number</label>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                             <div class="form-group usr-form">
                                                 <input type="number" placeholder="Emergency Contact Number" id="emargency_number" name="emargency_number" class="form-control" value="{{details.emergency_number}}" required onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0"  minlength="10" maxlength="15">
                                            </div>
                                          </div>
                                                </div>



                                          <div class="clearfix"></div>
                                        </div>
                                        <!-- -----tab2 -->
                                        <div role="tabpanel" class="tab-pane" id="prt-tab1">


                                        </div>
                                        <!-- -----tab3 -->
                                        <div role="tabpanel" class="tab-pane " id="prt-tab2">


                                        </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 text-center">
                                              <hr/>
                                              <input type="submit" class=" btn btn-default">
                                            </div>
                                          </div>

                                      </div>
                                      <!-- -----------------------------------------------------------------------------------------/tabbing -->
                                 </div>

                              </div>


                           </div>
                        </div>
                        </div>
                        </form>
                  </div>
               </div>
            </div>
         </div>

<div class="modal coman-modal fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1>Successful</h1>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                </div>
                <p>Principal updated successfully.</p>
                <small>You will be redirected to the principal view.</small>
            </div>
        </div>
</div>

    <div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p id="error-text">
                </p>
            </div>
        </div>
    </div>


<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script>
     $(document).ready(function(){
       $('.dataTables-example').DataTable();
       /* Init DataTables */
         {% if success %}
             function openSuccessModal() {
           $("#success-msg").modal('show');
    }
    openSuccessModal();
             function redirect() {
                        window.location.href = "/admin/principals/"+{{ details.id }};
                }
                setTimeout(redirect, 2000);
         {% endif %}
         {% if error_is %}
             function openErrorModal(msg) {
                    $('#error-text').text(msg);
                    $("#wrong-msg").modal('show');
                }
                openErrorModal("{{ error }}");
         {% endif %}
     });
</script>


<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/additional-methods.min.js' %}"></script>


<script>
jQuery.validator.addMethod("dobValidation", function(value, element) {
             var today=new Date();
             var DOB = Date.parse(value);
             if(DOB <= today) {
                return true;
            }
            return false;
        },"Please enter valid date before today");

jQuery.validator.addMethod("lettersWithSpaces", function(value, element) {
            return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
        },"Please enter only letters");
$.validator.methods.email = function( value, element ) {
            return this.optional( element ) || /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}/.test( value );
        }

    $("#edit-principal-form-validation").validate({
        errorClass: "validateError",
        rules:{
            image:{
                required: true,
                extension: "jpg|jpeg|png"
            },
            name:{
                required: true,
                lettersWithSpaces:true
            },
            dob:{
                required: true,
                date: true,
                dateFormat: true,
                dobValidation,true
            },
            nationality:{
                required: true,
                lettersWithSpaces:true
            },
            doj:{
                required: true,
                date: true,
                dateFormat: true
            },
            position:{
                required: true,
                lettersWithSpaces:true
            },
            positionId:{
                required: true,
                number:true
            },
            studioId:{
                required: true,
                number:true
            },
            highest_education:{
                required: true,
            },
            education_major:{
                required: true,
                lettersWithSpaces:true
            },
            email:{
                required: true,
                email:true
            },
            number:{
                required: true,
                number:true,
                min: 0
            },
            emr_name:{
                required: true,
                lettersWithSpaces:true
            },
            emargency_number:{
                required: true,
                number:true,
                min: 0
            },
        },
        errorPlacement: function ( error, element ) {
            if ( $(element).hasClass("cal-input") ) {
            error.insertAfter( $(element).parents(".input-group") );
        } else {
            error.insertAfter( element );
            error.insertAfter( $(element).parents(".pro-box") );
        }
        },
    });


</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>


function ProfilePic(input){
    if (input.files && input.files[0]) {
        var profile_pic = $('#image').val();

        if(input.files[0].size > 2000000){
            $('#image').val("");
            swal("Error!", "Please select file less then 2Mb!", "error", {
                button: "Ok!",
            });


        }else if( input.files[0].type != 'image/jpeg' && input.files[0].type != 'image/png' && input.files[0].type != 'image/jpg'){
            $('#image').val("");
            swal("Error!", "Please select image file !", "error", {
                    button: "Ok!",
            });

        }
    }
}
</script>



{% endblock %}