{% extends 'base.html' %}
{% load static %}
{% block data %}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content" id="studentProfile">
                    <a href="/admin/studios/{{ id }}">&lt;&lt; Back</a><br/><br/>
                    <div class="box-heading">
                        <h2> Edit Studio Details
                        </h2>
                    </div>
                    <form id="studio-form-validation">{% csrf_token %}
                        <div class="row">
                        <div class="profileContainer">
                            <div class="addtec">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Studio Code</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group usr-form">
                                            <input type="text"  name="studio_code" id="studio_code" placeholder="Please Enter Studio Code"
                                                   class="form-control" value="{{data.studio_code|upper}}" onkeypress="return (event.charCode > 47 && event.charCode < 58) || (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group usr-form">
                                            <input type="text" name="studio_name" id="studio_name" placeholder="Please Enter Name" class="form-control"
                                                   value="{{data.name|upper}}">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                            <div class="form-group usr-form"  id="locationField">
                                                <textarea class="form-control height-auto" id="studio_address" name="studio_address"
                                                          placeholder="Please Enter Address">{{data.address}}</textarea>
                                            </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Location</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group usr-form">
                                            <input class="form-control" name="autocomplete"  value="{{data.location}}" id="autocomplete" >
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Country</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group usr-form">
                                            <input class="form-control" name="country" value="{{data.country}}"  id="country" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>State</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group usr-form">
                                            <input class="form-control" name="state" value="{{data.state}}" id="administrative_area_level_1" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>City</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group usr-form">
                                            <input class="form-control" value="{{data.city}}" name="locality" id="locality" readonly>
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Opening Date</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group usr-form">
                                            <div class="input-group date disablePastDates" data-date-format="yyyy-mm-dd">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                                <input type="text" value="{{data.opening_date |date:'Y-m-d'}}" id="opening_date" name="opening_date" class="form-control cal-input"
                                                       placeholder="Please Enter Date of Birth">


                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Status</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group usr-form">
                                            <select class="form-control" name="studio_status" id="studio_status">
                                                <option selected="true" disabled="disabled">Select Status</option>
                                                {% for studio_status in studio_status %}
                                                    <option value="{{studio_status}}" {% if data.status == studio_status %}selected{% endif %}>{{studio_status}}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Contact Name</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group usr-form">
                                            <input type="text" id="contact_name" name="contact_name" placeholder="Please Enter Name" class="form-control"
                                                   value="{{data.contact_name}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Mobile Number</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group usr-form">
                                            <input type="number" name="c_number" id="c_number" placeholder="Please Enter Mobile Number"
                                                   class="form-control" value="{{data.contact_number}}" onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0" minlength="10" maxlength="15">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label>Contact Email</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group usr-form">
                                            <input type="email" name="studio_email" id="studio_email" placeholder="Please Enter Contact Email"
                                                   class="form-control" value="{{data.email}}">

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <hr/>
                                        <button type="submit" class=" btn btn-default studio-add-submit-button">Submit</button>
                                        <a href="/admin/studios/{{ id }}" class=" btn btn-default">Cancel</a>
                                    </div>
                                </div>

                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    </form>
                </div>
                <!-- -----------------------------------------------------------------------------------------/tabbing -->
            </div>
        </div>
    </div>
</div>
    <div class="modal coman-modal fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <div class="modal-content text-center">
            <h1>Successful</h1>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
            <p>Studio edited successfully.</p>
            <small>You will be redirected to Studio view.</small>
        </div>
    </div>
</div>


<div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                <span aria-hidden="true">×</span>
            </button>

            <h1>Error</h1>
            <div class="wrong-msg-icon">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <p id="error-text"></p>
        </div>
    </div>
</div>

<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDQREPH4gI-KbtFY40PfTU0s1J9PT51Lv0"></script>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', function () {
        var places = new google.maps.places.Autocomplete(document.getElementById('autocomplete'));
        google.maps.event.addListener(places, 'place_changed', function () {
            var place = places.getPlace();
            var address = place.formatted_address;
            var latitude = place.geometry.location.lat();
            var longitude = place.geometry.location.lng();
            var latlng = new google.maps.LatLng(latitude, longitude);
            var geocoder = geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                         var componentForm = {
                            locality: 'short_name',
                            administrative_area_level_1: 'long_name',
                            country: 'long_name',
                        };
                        var place = places.getPlace();
                        var formatted_address = place.formatted_address;
                        for (var i = 0; i < place.address_components.length; i++) {
                            var addressType = place.address_components[i].types[0];
                            if (componentForm[addressType]) {
                                var val = place.address_components[i][componentForm[addressType]];
                                $("#"+addressType).attr('value',val) ;
                            }
                        }
                        if (place.address_components.length == 1){
                            console.log("locality",place.address_components[0].long_name)
                            $("#locality").attr('value', place.address_components[0].long_name);
                            $("#administrative_area_level_1").attr('value',place.address_components[0].long_name);
                        }else if(place.address_components.length == 2){
                            $("#locality").attr('value',place.address_components[0].long_name);
                            $("#administrative_area_level_1").attr('value', place.address_components[0].long_name);
                        }
                    }
                }
            });
        });
    });
</script>
{% endblock %}
{% block custom_js %}
{#<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>#}
{#<script src="{% static 'js/jquery.validate.min.js' %}"></script>#}
{#<script src="{% static 'js/additional-methods.min.js' %}"></script>#}
<script>
$(document).ready(function () {
    var regx1 = /[a-zA-Z]{2}\d{2}/
    var regx2 = /\d{2}[a-zA-Z]{2}/
    var regx3 = /[a-zA-Z]{1}\d{2}/
    var regx4 = /\d{2}[a-zA-Z]{1}/
    var regx5 = /[a-zA-Z]{2}\d{1}/
    var regx6 = /\d{1}[a-zA-Z]{2}/
    $.validator.addMethod("regex", function (value, element, regexp) {
            var check = false;
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        }, "Enter a proper formatted studio code. Example :- SZ1, SZ01"
    );

    jQuery.validator.addMethod("lettersWithSpaces", function (value, element) {
        return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
    }, "Please enter only letters");

    $.validator.methods.email = function (value, element) {
        return this.optional(element) || /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}/.test(value);
    };

    $("#studio-form-validation").validate({
        errorClass: "validateError",
        rules: {
            studio_code: {
                required: true,
                maxlength: 4,
                regex: /^[a-zA-Z]{2}\d{1,2}$/
            },
            studio_name: {
                required: true,
                lettersWithSpaces: true
            },
            studio_address: {
                required: true,
                rangelength: [10, 250],
                //lettersWithSpaces: true
            },
            autocomplete: {
                required: true,
                //lettersWithSpaces: true,
            },
            opening_date: {
                required: true,
                date: true,
            },
            studio_status: {
                required: true
            },
            contact_name: {
                required: true,
                lettersWithSpaces: true,
            },
            c_number: {
                required: true,
                number: true,
                min: 0,
            },
            studio_email: {
                required: true,
                email: true,
                minlength: 10
            }
        },
        errorPlacement: function (error, element) {
            if ($(element).hasClass("cal-input")) {
                error.insertAfter($(element).parents(".input-group"));
            } else {
                error.insertAfter(element);
            }
        },
    });
});
</script>
<script>
    function openSuccessModal(msg) {
        $(".studio-add-submit-button").attr('disabled',false);
            $("#success-msg").modal('show');
            $('#success-text').text(msg);

        }
    function openErrorModal(msg) {
        $(".studio-add-submit-button").attr('disabled',false);
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }
</script>
<script>
    var submit_data = function (e) {
        $('#loader').show();
        $(".studio-add-submit-button").attr('disabled',true);
        console.log('inside ajax');
        let flag = 0;

        var isValid = $("#studio-form-validation").valid();
        if (isValid == false) {
            $(".studio-add-submit-button").attr('disabled',false);
            flag++;
        }
        // var image = $('#image')[0].files[0];
        var studio_code = $("#studio_code").val().trim();
        var studio_name = $("#studio_name").val().trim();
        var studio_address = $("#studio_address").val();
        var autocomplete = $("#autocomplete").val();
        var country = $("#country").val();
        var administrative_area_level_1 = $("#administrative_area_level_1").val();
        var locality = $("#locality").val();
        var opening_date = $("#opening_date").val();
        var studio_status = $("#studio_status").val();
        var contact_name = $("#contact_name").val();
        var contact_number = $("#c_number").val();
        var studio_email = $("#studio_email").val();
        var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();

        var csrf_token = "{{ csrf_token }}";
        var formData = new FormData();
        // formData.append("student_code", student_code)
        formData.append("studio_code", studio_code);
        formData.append("name", studio_name);
        formData.append("country", country);
        formData.append("state", administrative_area_level_1);
        formData.append("location", autocomplete);
        formData.append("city", locality);
        formData.append("o_date", opening_date);
        formData.append("status", studio_status);
        formData.append("c_name", contact_name);
        formData.append("c_number", contact_number);
        formData.append("email", studio_email);
        formData.append("address", studio_address);

        if (flag == 0) {
            $.ajax({
                headers: {"X-CSRFToken": csrf_token},
                url: '/admin/studio/'+{{ id }},
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function () {
                    $('#loader').hide();
                    console.log('success');
                    openSuccessModal();
                    function redirect() {
                      window.location.href = "/admin/studios/"+{{ id }};
                    }
                    setTimeout(redirect, 2000); //1000 is equivalent to 1 seconds
                },
                error: function (data) {
                    $('#loader').hide();
                    $(".studio-add-submit-button").attr('disabled',false);
                    openErrorModal(data.responseText);
                }
            });
            e.stopImmediatePropagation();
            e.preventDefault();
        } else {
            $('#loader').hide();
            $(".studio-add-submit-button").attr('disabled',false);
            console.log('no ajax call yet');
            return false;
        }
    };
    $('.studio-add-submit-button').on('click', submit_data);
</script>
{% endblock %}