{% extends 'base.html' %}
{% load static %}
{% block data %}
    <head>
        <title>Edit Student Detail</title>
    </head>
    <form data-url="{% url 'admin/student/' student.id %}" method="POST" enctype="multipart/form-data" id="edit_student_form">
        {% csrf_token %}
        <div class="wrapper wrapper-content">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="ibox">
                        <div class="ibox-content" id="studentProfile">

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                                    <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                                    <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                        <a href="{% url 'admin/students/' student.id %}"><< Back</a>
                                        <div class="pro-box upload-image">
                                            <img class="img-responsive" id="image-preview"
                                                 src="{{ student.image.url }}">
                                            <div class="browse-btn">
                                                <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                                <input type="file" onchange="imagePreview(this.files[0])" value=""
                                                       accept="image/*" id="images" class="select_image">
                                            </div>
                                        </div>
                                        <div class="stu-details row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Name</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">{{ student.full_name }}</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Student
                                                    ID</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">{{ student.student_code }}</h5>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Level</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">Pathway 1</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Major</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">Technology</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Age</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">{{ age }}</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Gender</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">{{ student.gender }}</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Grade</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">{{ student.school_grade }}</h5>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                        <div class="">
                                            <!-- -----------------------------------------------------------------------------------------tabbing -->
                                            <div class="property-dtl-tab investor-details student-details">

                                                <!-- Tab panes -->
                                                <div class="tab-content ">

                                                    <!-- -----tab1 -->
                                                    <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                                        <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <h2 class="col-lg-6 col-md-3 col-sm-12 col-xs-12">Edit
                                                                Student Detail
                                                            </h2>

                                                            <div class="clearfix"></div>
                                                            <hr/>
                                                        </div>

                                                        <div class="editstudetail">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Name</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="Name"
                                                                               class="form-control" id="full_name"
                                                                               value="{{ student.full_name }}"
                                                                               name="full_name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Date Of Birth</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <div class="input-group date disableFutureDates"
                                                                             data-date-format="yyyy-mm-dd">
                                                                            <div class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-th"></span>
                                                                            </div>
                                                                            <input type="text" id="dob" onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45"
                                                                                   class="form-control cal-input"
                                                                                   placeholder="Date of Birth"
                                                                                   value="{{ student.dob | date:"Y-m-d" }}"
                                                                                   name="dob">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Gender</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    {% if student.gender == "Male" %}
                                                                    <div class="form-group usr-form">
                                                                        <label class="radio-inline"><input
                                                                                type="radio" name="gender"
                                                                                checked value="Male">Male</label>
                                                                    <label class="radio-inline"><input
                                                                                type="radio" name="gender"
                                                                                value="Female">Female</label>
                                                                    </div>
                                                                    {% elif student.gender == "Female" %}
                                                                    <div class="form-group usr-form">
                                                                        <label class="radio-inline"><input
                                                                                type="radio" name="gender"
                                                                                value="Male">Male</label>
                                                                    <label class="radio-inline"><input
                                                                                type="radio" name="gender" checked
                                                                                value="Female">Female</label>
                                                                    </div>
                                                                    {% endif %}
                                                                    </div>
                                                                </div>
                                                            <!-- </div> -->
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Nationality</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="Nationality"
                                                                               class="form-control" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)"
                                                                               value="{{ student.nationality }}"
                                                                               name="nationality" id="nationality">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>CBAS Test Date</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <div class="input-group date disablePastDates"
                                                                             data-date-format="yyyy-mm-dd">
                                                                            <div class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-th"></span>
                                                                            </div>
                                                                            <input type="text" onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45"
                                                                                   class="form-control cal-input"
                                                                                   placeholder="CBAS Test Date"
                                                                                   name="cbas_test_date" id="cbas_test_date"
                                                                                   value="{{ student.cbas_testDate | date:"Y-m-d" }}" required>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Enrollment Date</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <div class="input-group date disablePastDates"
                                                                             data-date-format="yyyy-mm-dd">
                                                                            <div class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-th"></span>
                                                                            </div>
                                                                            <input type="text" onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45"
                                                                                   class="form-control cal-input"
                                                                                   placeholder="Enrollment Date"
                                                                                   name="enrollment_date" id="doj"
                                                                                   value="{{ student.doj | date:"Y-m-d" }}" required>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Expiry Date</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <div class="input-group date disablePastDates"
                                                                             data-date-format="yyyy-mm-dd">
                                                                            <div class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-th"></span>
                                                                            </div>
                                                                            <input type="text" onkeypress="return (event.charCode >= 47 && event.charCode < 58) || event.charCode == 45"
                                                                                   class="form-control cal-input"
                                                                                   placeholder="Expiry Date"
                                                                                   name="expiry_date" required
                                                                                   value="{{ student.expiry_date | date:"Y-m-d" }}">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Start Curioo Level</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <select class="form-control" name="start_curioo_level"
                                                                                id="start_curioo_level">
                                                                            {% if student.start_level.level == None %}
                                                                                <option selected disabled>Select Start Curioo Level
                                                                                </option>
                                                                            {% endif %}
                                                                            {% for level in levels %}
                                                                                <option value="{{ level.id }}"
                                                                                        {% if student.start_level.level == level.level %}selected{% endif %}>{{ level.level }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Current Curioo Level</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <select class="form-control" name="current_curioo_level"
                                                                                id="current_curioo_level">
                                                                            {% if student.current_level.level == None %}
                                                                                <option selected disabled>Select Current Curioo Level
                                                                                </option>
                                                                            {% endif %}
                                                                            {% for level in levels %}
                                                                                <option value="{{ level.id }}"
                                                                                        {% if student.current_level.level == level.level %}selected{% endif %}>{{ level.level }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Curioo Major</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <select class="form-control" id="curioo_major" name="curioo_major">
                                                                        {% if student.major.major == None %}
                                                                                <option selected disabled>Select Curioo Major</option>
                                                                            {% endif %}
                                                                            {% for major in majors %}
                                                                                <option value="{{ major.id }}"
                                                                                        {% if student.major.major == major.major %}selected{% endif %}>{{ major.major }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Added By User Type</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <select class="form-control" name="added-by"
                                                                                id="added_by_selection_jquery"
                                                                                data-url="{% url 'admin/users' %}">
                                                                            <option value="Admin"
                                                                                    {% if student.added_by_type == 'Admin' %}selected{% endif %}>
                                                                                Admin
                                                                            </option>
                                                                            <option value="Principal"
                                                                                    {% if student.added_by_type == 'Principal' %}selected{% endif %}>
                                                                                Principal
                                                                            </option>
                                                                            <option value="Learning Consultant"
                                                                                    {% if student.added_by_type == 'Learning Consultant' %}selected{% endif %}>
                                                                                Learning Consultant
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Added By</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <select class="form-control" name="list_of_added_by_jquery"
                                                                                id="list_of_added_by_jquery">
                                                                            {% for user in added_by %}
                                                                                <option value="{{ user.id }}"
                                                                                        {% if student.added_by_id == user.id %}selected{% endif %}>{{ user.full_name }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>School</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="School"
                                                                               class="form-control" name="school_name"
                                                                               value="{{ student.school_name }}" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>School Grade</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <div class="form-group usr-form">
                                                                            <select class="form-control"
                                                                                    id="school_grade">
                                                                                {% for grade in grade_dropdown %}
                                                                                    <option value="{{ grade }}"
                                                                                            {% if student.school_grade == grade %}
                                                                                            selected{% endif %}>{{ grade }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Father's Name</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" id="fathers_name"
                                                                               placeholder="Father's Name"
                                                                               class="form-control" name="fathers_name"
                                                                               value="{{ student.father_name }}" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Mother's Name</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" id="mothers_name"
                                                                               placeholder="Mother's Name" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32 || event.charCode == 46)"
                                                                               class="form-control" name="mothers_name"
                                                                               value="{{ student.mother_name }}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="clearfix"></div>
                                                    </div>


                                                    <div class="row">
                                                        <div class="col-lg-12 text-center">
                                                            <hr/>
                                                            <button type="button" class=" btn btn-default"
                                                                    id="final-submit">Update</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- -----------------------------------------------------------------------------------------/tabbing -->

                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

        <div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                        <span aria-hidden="true">×</span>
                    </button>

                    <h1>Error</h1>
                    <div class="wrong-msg-icon">
                        <i class="fa fa-times" aria-hidden="true"></i>

                    </div>
                    <p id="error-text"></p>
                </div>
            </div>
        </div>

        <div class="modal coman-modal fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <h1>Successful</h1>
                    <div class="success-msg-icon">
                        <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                    </div>
                    <p>Student updated successfully.</p>
                    <small>You will be redirected to the student view.</small>
                </div>
            </div>
        </div>
        


        <!--<div class="modal coman-modal fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <h1>Successful</h1>
                    <div class="success-msg-icon">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <p>Student updated successfully.</p>
                    <small>You will be redirected to the student view.</small>
                </div>
            </div>
        </div>-->
{% endblock %}
{% block custom_js %}

<script>
    $(document).ready(function () {
        $('#loader').hide();
        jQuery.validator.addMethod("lettersWithSpaces", function(value, element) {
            if(value == '' || value.trim().length == 0){
                return false;
            }
            else {
                return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
            }
        }, "Please enter only letters");

        jQuery.validator.addMethod("dobValidation", function(value, element) {
             var today=new Date();
             var DOB = Date.parse(value);
             var difference = today - DOB;
             var year = new Date(difference);
             var age = Math.abs(year.getUTCFullYear() - 1970);
             console.log(year);
             if(age < 12) {
                return true;
            }
            return false;
        },"The child cannot be older than 12 years");

        jQuery.validator.addMethod("enrollmentValidation", function(value, element) {
            var cbas_testdate = $('#cbas_test_date').val();
            var cbas_testdate_date=new Date(cbas_testdate);
             var doj = Date.parse(value);
             if(doj > cbas_testdate_date) {
                return true;
            }
            return false;
        },"Please enter valid Enrollment date larger than CBAS Test Date");

        jQuery.validator.addMethod("expiryValidation", function(value, element) {
            var doj = $('#doj').val();
            var doj_date=new Date(doj);
             var expiry = Date.parse(value);
             if(expiry > doj_date) {
                return true;
            }
            return false;
        },"Please enter valid expiry date larger than Enrollment Date");

        $.validator.methods.email = function( value, element ) {
            return this.optional( element ) || /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{1,}/.test( value );
        }

        jQuery.validator.addMethod("added_by_validation", function(value, element) {
            var status = true;
            if(element == "" || element.startsWith('Added By')){
                status = false;
            }
            return status;
        },"Please select added by field");

        /*jQuery.validator.addMethod("select_start_curioo_level", function(value, element) {
            var status = true;
            if (element === 'Select Start Curioo Level') {
                status = false;
            }
            return status;
        },"Please select start curioo by field");

        jQuery.validator.addMethod("select_current_curioo_level", function(value, element) {
            var status = true;
            if (element === 'Select Current Curioo Level') {
                status = false;
            }
            return status;
        },"Please select start curioo by field");

        jQuery.validator.addMethod("select_curioo_major", function(value, element) {
            var status = true;
            if (element === '' || element === 'Select Curioo Major') {
                status = false;
            }
            return status;
        },"Please select curioo major field");*/

        $("#edit_student_form").validate({
                errorClass: "validateError",
                rules:{
                    images:{
                        required: true,
                    },
                    full_name:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                    dob:{
                        required: true,
                        dobValidation: true,
                    },
                    enrollment_date:{
                        required: true,
                        enrollmentValidation: true,
                    },
                    expiry_date:{
                        required: true,
                        expiryValidation: true,
                    },
                    nationality:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                    start_curioo_level:{
                        //required: true,
                        //select_start_curioo_level: true
                    },
                    current_curioo_level:{
                        //required: true,
                        //select_current_curioo_level: true
                    },
                    curioo_major:{
                        //required: true,
                        //select_curioo_major: true
                    },
                    added_by_selection_jquery:{
                        required: true,
                    },
                    list_of_added_by_jquery:{
                        required: true,
                    },
                    school_name:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                    school_grade:{
                        required: true,
                    },
                    fathers_name:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                    mothers_name:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                },
                errorPlacement: function ( error, element ) {
                     if ( $(element).hasClass("cal-input") ) {
                        error.insertAfter( $(element).parents(".input-group") );
                    }
                    else if($(element).hasClass('select_image')){
                        error.insertAfter( $(element).parents(".upload-image") );

                    }
                    else {
                        error.insertAfter( element );
                    }
                },
            });

    });
</script>

<script>
    $('#added_by_selection_jquery').on('change', function () {
        var selected_role = $('#added_by_selection_jquery').val();
        var url = $('#added_by_selection_jquery').attr('data-url');

        console.log('selected_role : ', selected_role);
        $('#loader').show();

        $.ajax({
            url: url,
            type: "GET",
            data: {
                selected_role: selected_role
            },

            success: function (data) {
                $('#loader').hide();
                console.log('success', data);
                var options = '<option selected disabled>Added By ' + selected_role + '</option>';
                for (i = 0; i < data.length; i++) {
                    options += '<option value="' + data[i].id + '">' + data[i].full_name + '</option>';
                }
                $('#list_of_added_by_jquery').html(options);
            },

            error: function (data) {
                $('#loader').hide();
                console.log('fail', data);
            }
        })
    })
</script>
<script>
    function openSuccessModal(msg) {
        // $('#error-text').text(msg);
        $('#success-text').text(msg);
        $("#success-msg").modal('show');
        //  document.getElementById('success-msg').style.display = "block";
    }

    function openErrorModal(msg) {
        $('#error-text').text(msg);
        $("#wrong-msg").modal('show');
    }

    function closeModal() {
        $("#wrong-msg").modal('hide');
    }
</script>
<script type="text/javascript">
    /*$('.input-group.date').datepicker(
        {format: "yyyy-mm-dd", autoclose: true}
    );
    var datePicker = $(".calendar").datepicker({});
    var t;
    $(document).on(
        'DOMMouseScroll mousewheel scroll',
        '#myModal',
        function () {
            window.clearTimeout(t);
            t = window.setTimeout(function () {
                $('.calendar').datepicker('')
            }, 100);
        }
    );*/

    function imagePreview(thisVal) {
        console.log(thisVal);
        var oFile = $('#images')[0].files[0].size;
        var extensionBannarImage = $('#images').val().substring($('#images').val().lastIndexOf('.') + 1)

        console.log(oFile, extensionBannarImage)
        if (oFile < 2097152) {// 2 mb for bytes.
            if (extensionBannarImage == 'png' || extensionBannarImage == 'jpg' || extensionBannarImage == 'jpeg') {
// alert("File size must under 2mb!");
                document.getElementById('image-preview').src = window.URL.createObjectURL(thisVal);
            } else {
                openErrorModal('Select file which have JPG/PNG/JPEG extensions.')
                return false;
            }
        } else {
            openErrorModal('File size must under 2 MB.')
        }
    }


</script>

<script>
    var submit_data = function (e) {
        var isValid = $("#edit_student_form").valid();
        console.log('isValid : ', isValid);
        if (isValid){

        var formdata = new FormData();
        let flag = 0;
        var url_link = $('#edit_student_form').attr('data-url');

        var full_name = $("input[name='full_name']").val();
        formdata.append("full_name", full_name);

        var dob = $("input[name='dob']").val();
        formdata.append("dob", dob);

        var gender = $("input[name='gender']:checked").val();
        formdata.append("gender", gender);

        var nationality = $("input[name='nationality']").val();
        formdata.append("nationality", nationality);

        var cbas_test_date = $("input[name='cbas_test_date']").val();
        formdata.append("cbas_testDate", cbas_test_date);

        var enrollment_date = $("input[name='enrollment_date']").val();
        formdata.append("doj", enrollment_date);

        var expiry_date = $("input[name='expiry_date']").val();
        formdata.append("expiry_date", expiry_date);

        var image = $('#images')[0].files[0];
        formdata.append("image", image);

        var start_curioo_level = $("#start_curioo_level option:selected").val();
        formdata.append("start_level", start_curioo_level);

        var current_curioo_level = $("#current_curioo_level option:selected").val();
        formdata.append("current_level", current_curioo_level);

        var curioo_major = $("#curioo_major option:selected").val();
        formdata.append("major", curioo_major);

        var added_by_selection = $("#added_by_selection_jquery option:selected").val();
        formdata.append("added_by_type", added_by_selection);

        var list_of_added_by = $("#list_of_added_by_jquery option:selected").val();
        formdata.append("added_by_id", list_of_added_by);


        var school_name = $("input[name='school_name']").val();
        formdata.append("school_name", school_name);

        var school_grade = $("#school_grade option:selected").val();
        formdata.append("school_grade", school_grade);

        var fathers_name = $("input[name='fathers_name']").val();
        formdata.append("father_name", fathers_name);

        var mothers_name = $("input[name='mothers_name']").val();
        formdata.append("mother_name", mothers_name);

        console.log(url_link);
        var csrf_token = "{{ csrf_token }}";
        if (flag == 0) {
            $.ajax({
                headers: {"X-CSRFToken": csrf_token},
                url: url_link,
                type: "POST",
                processData: false,
                contentType: false,
                data: formdata,
                success: function () {
                    openSuccessModal();

                    function redirect() {
                        window.location.href = '/admin/students/' + {{ student.id }};
                    }

                    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                },
                error: function (data) {
                    console.log('fail', data);
                    console.log('text', data.responseText);
                    openErrorModal(data.responseText);
                }
            });
            e.stopImmediatePropagation();
            e.preventDefault();
        } else {
            console.log('no ajax call yet');
            return false;
        }
        }
    };
    $('#final-submit').on('click', submit_data);
</script>

{% endblock %}