<!DOCTYPE html>
<html lang="en" xmlns:name="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Teacher</title>
</head>
<body>
<form action="{% url 'admin/teacher/' teacher.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    title: <input type="text" name="title" value="{{ teacher.title }}"> <br>
    name: <input type="text" name="full_name" value="{{ teacher.full_name }}"> <br>
    dob: <input type="date" name="dob" value="{{teacher.dob|date:'Y-m-d'}}"> <br>
    gender : <input type="text" name="gender" value="{{ teacher.gender }}"> <br>
    nationality : <input type="text" name="nationality" value="{{ teacher.nationality }}"> <br>
    doj: <input type="date" name="doj" value="{{teacher.doj|date:'Y-m-d'}}"> <br>
    position: <input type="text" name="position" value="{{ teacher.position }}"> <br>
    position_id : <input type="text" name="position_id" value="{{ teacher.position_id }}"> <br>
    studio :
    <select name="studio_id">
        {% for studio in studios %}
            <option value="{{ studio.id }}" {% if studio.name == teacher.studio.name %}selected{% endif %}>{{ studio.name }}</option>
        {% endfor %}
    </select><br>
    highest Education Level :
    <select name="education_level">
        <option value="High School Diploma" {% if teacher.education_level == 'High School Diploma' %}selected{% endif %}>High School Diploma</option>
        <option value="Bachelor" {% if teacher.education_level == 'Bachelor' %}selected{% endif %}>Bachelor</option>
        <option value="Masters" {% if teacher.education_level == 'Masters' %}selected{% endif %}>Masters</option>
        <option value="PHD" {% if teacher.education_level == 'PHD' %}selected{% endif %}>PHD</option>
    </select><br>
    Education major : <input type="text" name="education_major" value="{{ teacher.education_major }}"> <br>
    email_id: <input type="email" name="email" value="{{ teacher.email }}"> <br>
    contact: <input type="text" name="phone" value="{{ teacher.phone }}"> <br>
    emargency conatct name: <input type="text" name="emergency_contact_name" value="{{ teacher.emergency_contact_name }}"> <br>
    emargency number: <input type="number" name="emergency_phone" value="{{ teacher.emergency_phone }}"> <br>

    <img src="{{ teacher.image.url }}" alt="Teacher Image">
    image: <input type="file" name="image" src="{{ teacher.image.url }}" > <br>

    Subjects :
    {% for subject in subjects %}
        <input type="checkbox" name="subjects" value="{{ subject.subject_id }}" {% if subject.subject_name in current_subjects %}checked{% endif %}>{{ subject.subject_name }}<br>
    {% endfor %}
    <input type="submit">
</form>
</body>
</html>