{% extends 'base.html' %}
{% load static %}
<head>
    <title>Edit Lead Contact Information</title>
</head>
{% block data %}
        <form data-url="{% url 'lead/' %}" enctype="multipart/form-data" id="edit_lead_form">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ibox">
                    <div class="ibox-content" id="studentProfile">

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                                <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                                <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                    <a href="{% url 'admin/lead' lead.id %}"><< Back</a>
                                    <div class="pro-box upload-image">
                                            <img class="img-responsive" id="image-preview"
                                                 src="{{ lead.image.url }}">
                                            <div class="browse-btn">
                                                <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                                <input type="file" name="image" accept="image/*" id="images">
                                            </div>
                                        </div>
                                    <div class="stu-details">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Name</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #01789a">{{ lead.full_name }}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Lead ID</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #01789a">{{ lead.lead_code }}</h5>
                                        </div>
                                        <div class="clearfix"></div>

                                    </div>


                                </div>

                                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                    <div class="">
                                        <!-- -----------------------------------------------------------------------------------------tabbing -->
                                        <div class="property-dtl-tab investor-details student-details">

                                            <!-- Tab panes -->
                                            <div class="tab-content ">


                                                <!-- -----tab1 -->
                                                <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                                    <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-3 col-sm-12 col-xs-12"><h2>
                                                                Edit Contact Information</h2>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <hr/>
                                                    </div>


                                                    <div class="editLeadContact">

                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Father's Name</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>Mr. {{ lead.father_name }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Father's Number</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <input type="number"
                                                                           placeholder="Father's Number"
                                                                           class="form-control" value="{{ lead.father_phone }}" name="father_phone" required onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0" minlength="10" maxlength="15">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Father's Email ID</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <input type="email"
                                                                           placeholder="Father's Email ID"
                                                                           class="form-control" value="{{ lead.father_email }}" name="father_email" required pattern="[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{1,}" oninvalid="this.setCustomValidity('Use email formatting: name@example.com')" oninput="this.setCustomValidity('')">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Mother's Name</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>Mrs. {{ lead.mother_name }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Mother's Number</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <input type="number"
                                                                           placeholder="Mother's Number"
                                                                           class="form-control" value="{{ lead.mother_phone }}" name="mother_phone" required onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0" minlength="10" maxlength="15">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Mother's Email ID</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <input type="email"
                                                                           placeholder="Mother's Email ID"
                                                                           class="form-control" value="{{ lead.mother_email }}" name="mother_email" required pattern="[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{1,}" oninvalid="this.setCustomValidity('Use email formatting: name@example.com')" oninput="this.setCustomValidity('')">
                                                                </div>
                                                            </div>
                                                        </div>

{#                                                        <div>#}


{#                                                        </div>#}


{#                                                        <div class="clearfix"></div>#}
                                                    </div>


                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-12 text-center">
                                                        <hr/>
                                                        <button type="button" class="btn btn-default"
                                                                    id="final-submit">Update</button>
                                                    </div>
                                                </div>

                                                <div class="clearfix"></div>
                                                <!-- -----------------------------------------------------------------------------------------/tabbing -->

                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="modal coman-modal" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                        <span aria-hidden="true">×</span>
                    </button>

                    <h1>Error</h1>
                    <div class="wrong-msg-icon">
                        <i class="fa fa-times" aria-hidden="true"></i>

                    </div>
                    <p id="error-text"></p>
                </div>
            </div>
        </div>

        <div class="modal coman-modal" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <h1>Successful</h1>
                    <div class="success-msg-icon">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <p>Lead updated successfully.</p>
                    <small>You will be redirected to the Lead view.</small>
                </div>
            </div>
        </div>
</form>
    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {
                $('.dataTables-example').DataTable();
                /* Init DataTables */


            }
        );

    </script>
    <script>
        $("input[name=image]").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image-preview').attr('src', e.target.result)
                };

                reader.readAsDataURL(this.files[0]);
            }
        });
    </script>
    <script type="text/javascript">
        $('.input-group.date').datepicker(
            {format: "yyyy-mm-dd", autoclose:true}
        );
        var datePicker = $(".calendar").datepicker({});
        var t;
        $(document).on(
            'DOMMouseScroll mousewheel scroll',
            '#myModal',
            function () {
                window.clearTimeout(t);
                t = window.setTimeout(function () {
                    $('.calendar').datepicker('')
                }, 100);
            }
        );

    </script>
    <script>
        function openSuccessModal(msg) {
            // $('#error-text').text(msg);
            $('#success-text').text(msg);
            document.getElementById('success-msg').style.display = "block";
        }

        function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }

        function closeModal() {
            $("#wrong-msg").modal('hide');
        }
    </script>
    <script>
        var submit_data = function (e) {
            var formdata = new FormData();
            let flag=0;
            var url_link = $('#edit_lead_form').attr('data-url');

            formdata.append("full_name", "{{ lead.full_name }}");
            formdata.append("dob", "{{ lead.dob | date:"Y-m-d" }}");
            formdata.append("gender", "{{ lead.gender }}");
            formdata.append("father_name", "{{ lead.father_name }}");
            formdata.append("mother_name", "{{ lead.mother_name }}");
            formdata.append("school_name", "{{ lead.school_name }}");
            formdata.append("school_grade", "{{ lead.school_grade }}");
            formdata.append("nationality", "{{ lead.nationality }}");
            formdata.append("added_by_type", "{{ lead.added_by_type }}");
            formdata.append("added_by_id", "{{ lead.added_by_id }}");
            formdata.append("cbas_testDate", "{{ lead.cbas_testDate | date:"Y-m-d" }}");

            var father_email = $("input[name='father_email']").val();
            formdata.append("father_email", father_email);
            var mother_email = $("input[name='mother_email']").val();
            formdata.append("mother_email", mother_email);
            var father_phone = $("input[name='father_phone']").val();
            formdata.append("father_phone", father_phone);
            var mother_phone = $("input[name='mother_phone']").val();
            formdata.append("mother_phone", mother_phone);
            var image = $('#images')[0].files[0];
            formdata.append("image", image);

            console.log(url_link);

            if (flag == 0){
                $.ajax({
                url: url_link,
                headers: {"id": {{ lead.id }}},
                type: "PUT",
                processData: false,
                contentType: false,
                data: formdata,
                success: function () {
                    openSuccessModal();
                    console.log("hey");

                    function redirect() {
                        window.location.href = "/admin/lead/" + {{ lead.id }};
                    }

                    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                },
                error: function (data, errorThrown) {
                    console.log('fail', data);
                    console.log('error', errorThrown);
                    console.log('text', data.responseText);
                    openErrorModal(data.responseText);
                }
            });
            e.stopImmediatePropagation();
            e.preventDefault();
            }else{
                console.log('no ajax call yet');
                return false;
            }
        };
        $('#final-submit').on('click', submit_data);
    </script>

     <script>
    $(document).ready(function () {
        jQuery.validator.addMethod("lettersWithSpaces", function(value, element) {
            if(value == '' || value.trim().length == 0){
                return false;
            }
            else {
                return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
            }
        }, "Please enter only letters");

        jQuery.validator.addMethod("mobile_length", function(value, element) {
            if (value.length > 10 || value.length < 16){
                return true;
            }
            return false;
        },"Please enter mobile number of min length 10 and max length 15");

        $.validator.methods.email = function( value, element ) {
            console.log(value, element);
            return /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}/.test( value );
        }

        $("#edit_lead_form").validate({
                errorClass: "validateError",
                rules:{
                    father_phone:{
                        required: true,
                        number: true,
                        min: 0,
                    },
                    father_email:{
                        required: true,
                        email: true,
                    },
                    mother_phone:{
                        required: true,
                        number: true,
                        min: 0,
                    },
                    mother_email:{
                       required: true,
                        email: true,
                    },
                errorPlacement: function ( error, element ) {
                    error.insertAfter( element );
                }
            },
        });

});

</script>
{% endblock %}