{% extends 'base.html' %}
{% load static %}

{% block data %}
<head>
    <title>Edit Lead Details</title>
</head>
    <form data-url="{% url 'lead/' %}" enctype="multipart/form-data" id="edit_lead_form">
        {% csrf_token %}
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="ibox">
                        <div class="ibox-content" id="studentProfile">

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                                    <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                                    <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                        <a href="{% url 'admin/lead' lead.id %}"><< Back</a>

                                        <div class="pro-box upload-image">
                                            <img class="img-responsive" id="image-preview"
                                                 src="{{ lead.image.url }}">
                                            <div class="browse-btn">
                                                <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                                <input type="file" onchange="imagePreview(this.files[0])" value=""
                                                       accept="image/*" id="images" class="select_image">
                                            </div>
                                        </div>

                                        <div class="stu-details row">


                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Name</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">{{ lead.full_name }}</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Lead ID</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">{{ lead.lead_code }}</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Level</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">{% if lead.current_curioo_level != None %}{{ lead.current_curioo_level.level }}{% else %}None{% endif %}</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Major</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">{% if lead.major != None %}{{ lead.major.major }}{% else %}None{% endif %}</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Age</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">{{ age }}</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Gender</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">{{ lead.gender }}</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="text-transform: uppercase;font-weight: 600;">Grade</h5>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <h5 style="font-weight: 600;color: #63cfe3">{{ lead.school_grade }}th</h5>
                                            </div>

                                        </div>


                                    </div>

                                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                        <div class="">
                                            <!-- -----------------------------------------------------------------------------------------tabbing -->
                                            <div class="property-dtl-tab investor-details student-details">

                                                <!-- Tab panes -->
                                                <div class="tab-content ">

                                                    <!-- -----tab1 -->
                                                    <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                                        <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-3 col-sm-12 col-xs-12"><h2>
                                                                    Edit Lead Details</h2>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <hr/>
                                                        </div>

                                                        <div class="editleaddetail">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Name</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="Name"
                                                                               class="form-control"
                                                                               value="{{ lead.full_name }}" name="full_name" id="full_name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Date Of Birth</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <div class="input-group date disableFutureDates"
                                                                                data-date-format="yyyy-mm-dd">
                                                                            <div class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-th"></span>
                                                                            </div>
                                                                            <input type="text"
                                                                                   class="form-control cal-input"
                                                                                   placeholder="Date of Birth"
                                                                                   value="{{ lead.dob | date:"Y-m-d"}}" name="dob" id="dob"
                                                                               required>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Gender</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    {% if lead.gender == "Male" %}
                                                                        <div class="form-group usr-form">
                                                                            <label class="radio-inline"><input
                                                                                    type="radio"
                                                                                    name="gender"
                                                                                    checked required
                                                                                    value="Male">Male</label>
                                                                            <label class="radio-inline"><input
                                                                                    type="radio"
                                                                                    name="gender" value="Female">Female</label>
                                                                        </div>
                                                                    {% elif lead.gender == "Female" %}
                                                                        <div class="form-group usr-form">
                                                                            <label class="radio-inline"><input
                                                                                    type="radio"
                                                                                    name="gender"
                                                                                    required value="Male">Male</label>
                                                                            <label class="radio-inline"><input
                                                                                    type="radio"
                                                                                    name="gender" checked
                                                                                    value="Female">Female</label>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Nationality</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="Nationality"
                                                                               class="form-control"
                                                                               value="{{ lead.nationality }}" name="nationality" id="nationality" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>CBAS Test Date</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <div class="input-group date disablePastDates"
                                                                                data-date-format="yyyy-mm-dd">
                                                                            <div class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-th"></span>
                                                                            </div>
                                                                            <input type="text"
                                                                                   class="form-control cal-input"
                                                                                   placeholder="CBAS Test Date"
                                                                                   value="{{ lead.cbas_testDate | date:"Y-m-d" }}" name="cbas_testDate" id="cbas_testDate" required>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Lead owner</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <select class="form-control" name="added-by"
                                                                                id="added_by_selection_jquery"
                                                                                data-url="{% url 'admin/users' %}">
                                                                            <option value="Admin"
                                                                                    {% if lead.added_by_type == 'Admin' %}selected{% endif %}>
                                                                                Admin
                                                                            </option>
                                                                            <option value="Principal"
                                                                                    {% if lead.added_by_type == 'Principal' %}selected{% endif %}>
                                                                                Principal
                                                                            </option>
                                                                            <option value="Learning Consultant"
                                                                                    {% if lead.added_by_type == 'Learning Consultant' %}selected{% endif %}>
                                                                                Learning Consultant
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Added by</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <select class="form-control" name="list_of_added_by_jquery"
                                                                                id="list_of_added_by_jquery">
                                                                            {% for user in added_by %}
                                                                                <option value="{{ user.id }}"
                                                                                        {% if lead.added_by_id == user.id %}selected{% endif %}>{{ user.full_name }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>School</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="School"
                                                                               class="form-control"
                                                                               value="{{ lead.school_name }}" name="school_name" id="school_name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>School Grade</label>
                                                                </div>
                                                                <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <div class="form-group usr-form">
                                                                            <select class="form-control"
                                                                                    id="school_grade" name="school_grade">
                                                                                <option selected disabled>Select School Grade</option>
                                                                                <option value=1>1</option>
                                                                                <option value=2>2</option>
                                                                                <option value=3>3</option>
                                                                                <option value=4>4</option>
                                                                                <option value=5>5</option>
                                                                                <option value=6>6</option>
                                                                                <option value=7>7</option>
                                                                                <option value=8>8</option>
                                                                                <option value=9>9</option>
                                                                                <option value=10>10</option>
                                                                            </select>
                                                                            <script>
                                                                                $("#school_grade").val({{ lead.school_grade }}).change();
                                                                            </script>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Father's Name</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="Father's Name"
                                                                               class="form-control" value="{{ lead.father_name }}" name="father_name" id="father_name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Mother's Name</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <input type="text" placeholder="Mother's Name"
                                                                               class="form-control" value="{{ lead.mother_name }}" name="mother_name" id="mother_name" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123 || event.charCode == 32)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>


                                                </div>


                                                <div class="row">
                                                    <div class="col-lg-12 text-center">
                                                        <hr/>
                                                        <button type="submit" class="btn btn-default"
                                                                    id="final-submit">Update</button>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- -----------------------------------------------------------------------------------------/tabbing -->

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                        <span aria-hidden="true">×</span>
                    </button>

                    <h1>Error</h1>
                    <div class="wrong-msg-icon">
                        <i class="fa fa-times" aria-hidden="true"></i>

                    </div>
                    <p id="error-text"></p>
                </div>
            </div>
        </div>
        <div class="modal coman-modal fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <h1>Successful</h1>
                    <div class="success-msg-icon">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <p>Lead updated successfully.</p>
                    <small>You will be redirected to the Lead view.</small>
                </div>
            </div>
        </div>
    </form>
    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        $(document).ready(function () {
                $('#loader').hide();
                $('.dataTables-example').DataTable();
                /* Init DataTables */


            }
        );

    </script>
    <script>
        $("input[name=image]").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image-preview').attr('src', e.target.result)
                };

                reader.readAsDataURL(this.files[0]);
            }
        });
    </script>
    <!--<script type="text/javascript">
        $('.input-group.date').datepicker(
            {format: "yyyy-mm-dd", autoclose: true}
        );
        var datePicker = $(".calendar").datepicker({});
        var t;
        $(document).on(
            'DOMMouseScroll mousewheel scroll',
            '#myModal',
            function () {
                window.clearTimeout(t);
                t = window.setTimeout(function () {
                    $('.calendar').datepicker('')
                }, 100);
            }
        );

    </script>-->
    <script>
    $('#added_by_selection_jquery').on('change', function () {
        var selected_role = $('#added_by_selection_jquery').val();
        var url = $('#added_by_selection_jquery').attr('data-url');

        console.log('selected_role : ', selected_role);
        $('#loader').show();

        $.ajax({

            url: url,
            type: "GET",
            data: {
                selected_role: selected_role
            },

            success: function (data) {
                $('#loader').hide();
                console.log('success', data);
                var options = '<option selected disabled>Added By ' + selected_role + '</option>';
                for (i = 0; i < data.length; i++) {
                    options += '<option value="' + data[i].id + '">' + data[i].full_name + '</option>';
                }
                $('#list_of_added_by_jquery').html(options);
            },

            error: function (data) {
                $('#loader').hide();
                console.log('fail', data);
            }
        })
    })
</script>
    <script>
        function openSuccessModal(msg) {
            // $('#error-text').text(msg);
            $('#success-text').text(msg);
            $("#success-msg").modal('show');
        }

        function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }

        function closeModal() {
            $("#wrong-msg").modal('hide');
        }
        function imagePreview(thisVal) {
        console.log(thisVal);
        var oFile = $('#images')[0].files[0].size;
        var extensionBannarImage = $('#images').val().substring($('#images').val().lastIndexOf('.') + 1)

        console.log(oFile, extensionBannarImage)
        if (oFile < 2097152) {// 2 mb for bytes.
            if (extensionBannarImage == 'png' || extensionBannarImage == 'jpg' || extensionBannarImage == 'jpeg') {
// alert("File size must under 2mb!");
                document.getElementById('image-preview').src = window.URL.createObjectURL(thisVal);
            } else {
                openErrorModal('Select file which have JPG/PNG/JPEG extensions.')
                return false;
            }
        } else {
            openErrorModal('File size must under 2 MB.')
        }
    }
    </script>
    <script>
    $(document).ready(function () {
        jQuery.validator.addMethod("lettersWithSpaces", function(value, element) {
            if(value == '' || value.trim().length == 0){
                return false;
            }
            else {
                return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
            }
        }, "Please enter only letters");

        jQuery.validator.addMethod("dobValidation", function(value, element) {
             var today=new Date();
             var DOB = Date.parse(value);
             var difference = today - DOB;
             var year = new Date(difference);
             var age = Math.abs(year.getUTCFullYear() - 1970);
             console.log(year);
             if(age < 12) {
                return true;
            }
            return false;
        },"The child cannot be older than 12 years");

        $.validator.methods.email = function( value, element ) {
            return this.optional( element ) || /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{1,}/.test( value );
        }

        jQuery.validator.addMethod("added_by_validation", function(value, element) {
            var status = true;
            if(element == "" || element.startsWith('Added By')){
                status = false;
            }
            return status;
        },"Please select added by field");

        $("#edit_lead_form").validate({
                errorClass: "validateError",
                rules:{
                    images:{
                        required: true,
                    },
                    full_name:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                    dob:{
                        required: true,
                        dobValidation: true,
                    },
                    nationality:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                    cbas_testDate:{
                        required: true,
                    },
                    added_by_selection_jquery:{
                        required: true,
                    },
                    list_of_added_by_jquery:{
                        required: true,
                    },
                    school_name:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                    school_grade:{
                        required: true,
                    },
                    fathers_name:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                    mothers_name:{
                        required: true,
                        lettersWithSpaces: true,
                    },
                },
                errorPlacement: function (error, element) {
                    if ($(element).hasClass("cal-input")) {
                        error.insertAfter($(element).parents(".input-group"));
                    } else if ($(element).hasClass('select_image')) {
                        error.insertAfter($(element).parents(".upload-image"));

                    } else {
                        error.insertAfter(element);
                    }
                },
            });

    });
</script>
    <script>
        var submit_data = function (e) {
            let flag=0;
            var isValid = $("#edit_lead_form").valid();
            if (isValid == false) {
                console.log('inside if ')
            }
            else {
                var formdata = new FormData();
                var url_link = $('#edit_lead_form').attr('data-url');
                var full_name = $("input[name='full_name']").val();
                formdata.append("full_name", full_name);
                var dob = $("input[name='dob']").val();
                formdata.append("dob", dob);
                var gender = $("input[name='gender']:checked").val();
                formdata.append("gender", gender);
                var nationality = $("input[name='nationality']").val();
                formdata.append("nationality", nationality);
                var image = $('#images')[0].files[0];
                formdata.append("image", image);
                var school_name = $("input[name='school_name']").val();
                formdata.append("school_name", school_name);
                var cbas_testDate = $("input[name='cbas_testDate']").val();
                formdata.append("cbas_testDate", cbas_testDate);
                var school_grade = $("#school_grade option:selected").val();
                if (school_grade === 'Select School Grade') {
                    flag++;
                    openErrorModal("Please select a School Grade");
                }
                formdata.append("school_grade", school_grade);
                var father_name = $("input[name='father_name']").val();
                formdata.append("father_name", father_name);
                var mother_name = $("input[name='mother_name']").val();
                formdata.append("mother_name", mother_name);

                var added_by_selection = $("#added_by_selection_jquery option:selected").val();
                formdata.append("added_by_type", added_by_selection);

                var list_of_added_by = $("#list_of_added_by_jquery option:selected").val();
                formdata.append("added_by_id", list_of_added_by);

                formdata.append("father_email", "{{ lead.father_email }}");
                formdata.append("mother_email", "{{ lead.mother_email }}");
                formdata.append("mother_phone", {{ lead.mother_phone }});
                formdata.append("father_phone", {{ lead.father_phone }});

                console.log(url_link);

                if (flag == 0) {
                    $.ajax({
                        url: url_link,
                        headers: {"id": {{ lead.id }}},
                        type: "PUT",
                        processData: false,
                        contentType: false,
                        data: formdata,
                        success: function () {
                            openSuccessModal();

                            function redirect() {
                                window.location.href = "/admin/lead/" + {{ lead.id }};
                            }

                            setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                        },
                        error: function (data, errorThrown) {
                            console.log('fail', data);
                            console.log('error', errorThrown);
                            console.log('text', data.responseText);
                            openErrorModal(data.responseText);
                        }
                    });
                    e.stopImmediatePropagation();
                    e.preventDefault();
                } else {
                    console.log('no ajax call yet');
                    return false;
                }
            }
        };
        $('#final-submit').on('click', submit_data);
    </script>
{% endblock %}