{% extends 'base.html' %}
{% load static %}
{% block data %}
<title>FAQ</title>
         <div class="wrapper wrapper-content">

            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="ibox">
                     <div class="ibox-content" id="studentProfile">
                    <!-- <a href="teachers.html">&lt;&lt; Back</a><br/><br/> -->
                        <div class="box-heading">
                          <h2> FAQs
                              {% if request.session.user_type == 'Admin' %}
                                <a class="btn btn-default pull-right" href="#" id="add_new_faq" data-toggle="modal" data-target="#add-faq" onclick="clearAddFaq()">Add New FAQ</a>
                              {% endif %}
                          </h2>
                        </div>
                        <div class=" faq-wrapper row">

                                    <div class="col-sm-12">
                                        <!--<div class="panel-group" id="accordionExample">-->
                                        {% for faq_data in faq_data %}
                                        
                                          <input type="hidden" id="edit_answer_{{faq_data.id}}" value="{{faq_data.answer}}">
                                          <input type="hidden" id="edit_question_{{faq_data.id}}" value="{{faq_data.question}}">
                                          
                                          <div class="panel panel-default " id="display_faq_{{faq_data.id}}">
                                              {% if request.session.user_type == 'Admin' %}
                                                  <div class="pull-right eD">
                                                      <a href="#"  class="btn btn-default edit_icon_click" id="edit_icon_click" edit_icon_attr={{faq_data.id}}   data-toggle="modal" onclick="set_value_function({{faq_data.id}});" data-target="#edit-faq"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                      <button class="btn btn-default faq_delete" data-faq-detail-id={{faq_data.id}} type="submit" data-toggle="modal" data-target="#dlt-faq"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                  </div>
                                              {% endif %}
                                              <div class="panel-heading">
                                                <h4 class="panel-title">
                                                  <a data-toggle="collapse" class="faq_question_{{faq_data.id}}" data-parent="#accordionExample" href="#collapse1">
                                                    {{faq_data.question}}
                                                    </a><div class="clearfix"></div>
                                                </h4>
                                                <div class="clearfix"></div>
                                              </div>
                                              <div id="collapse1" class="panel-collapse collapse in">
                                                <div  class="panel-body faq_answer_{{faq_data.id}}">{{faq_data.answer}}</div>
                                              </div>
                                            </div>
                                        {% endfor %}
                                </div>
                        </div>
                      <!--  </div> -->
<!-- -----------------------------------------------------------------faq-ends -->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

      <!-- -------------faq-added -->
      <div class="modal coman-modal  fade add-faq-modal-class" id="add-faq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        
         <div class="modal-dialog  modal-a" role="document">
            <form method="POST" id="faq_add_form" >{% csrf_token %}
                 <div class="modal-content text-center" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearAddFaq()">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h3></h3>
                   <div class="form-group  text-left">
                    <label>Question:</label>
                      <textarea class="form-control" name="question" id="question"></textarea>
                   </div>
                   <div class="form-group  text-left">
                        <label>Answer:</label>
                        <textarea class="form-control" name="answer" id="answer" ></textarea>
                    </div>
                   <button  class="btn btn-default btn-small m-t-sm add-faq-submit"  data-dismiss="modal" >Add</button>
                   <button  class="btn btn-default btn-small m-t-sm" data-dismiss="modal" data-toggle="modal" onclick="clearAddFaq()">Cancel</button>
                  </div>
             </form>
         </div> 
       </div>

      <!-- -------------faq-edited -->

       <div class="modal coman-modal  fade data-edited-modal-class" id="edit-faq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
        <form method="POST" id="edit_form_faq">
          {% csrf_token %}
          <div class="modal-content text-center" >
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
              </button>
              <div class="form-group  text-left">
               <label>Question:</label>
                 <textarea class="form-control questio_edit_class" name="question_edit_id" id="question_edit_id"></textarea>
               </div>
               <div class="form-group  text-left">
                   <label>Answer:</label>
                   
                     <textarea class="form-control answer_edit_class" name="answer_edit_id" id="answer_edit_id"></textarea>
                   </div>
                   <button type="submit"  class="btn btn-default btn-small m-t-sm edit_faq_button" data-dismiss="modal" data-toggle="modal">Update</button>
                  
          <a  class="btn btn-default btn-small m-t-sm" data-dismiss="modal" data-toggle="modal">Cancel</a>
          </div>
        </form>
        </div>
      </div>

      <!-- -------------dlt-confirm -->

      <div class="modal coman-modal  fade" id="dlt-faq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
          <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
              </button>
               <h3>Are you sure you want to delete?</h3>
               <form method="POST">
                 {% csrf_token %}
                   <a  class="btn btn-default btn-small m-t-sm" data-dismiss="modal" data-toggle="modal" id="delete_faq_yes" >Yes</a>
                     <a  class="btn btn-default btn-small m-t-sm" data-dismiss="modal" data-toggle="modal">No</a>
                </form>

          </div>
        </div>
      </div>

       <!-- -------------faq-dlted-done -->
       <div class="modal coman-modal  fade" id="data-deleted" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
          <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
              </button>
             <div class="success-msg-icon">
              <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
             </div>
             <h2>FAQ has been deleted !!</h2>
          </div>
        </div>
      </div>

       <!-- -------------faq-added-done -->
      <div class="modal coman-modal  fade" id="data-added" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
          <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
              </button>
             <div class="success-msg-icon">
              <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
             </div>
             <h2>FAQ has been added successfully !!</h2>
          </div>
        </div>
      </div>

      <!-- -------------member-added-done -->
      <div class="modal coman-modal  fade " id="data-edited" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
          <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">×</span>
              </button>
             <div class="success-msg-icon">
              <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
             </div>
             <h2>FAQ has been updated successfully !!</h2>
          </div>
        </div>
      </div>


    <div class="modal coman-modal" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p id="error-text">
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}



<script>

jQuery.validator.addMethod("lettersWithSpaces", function(value, element) {
            return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
        },"Please enter only letters");

$(document).on('click', '.edit_icon_click', function (e) {
    $('#loader').hide();
    $(".edit_faq_button").attr("data-id",this.getAttribute("edit_icon_attr"));
 });
$(".edit_faq_button").click(function(e){
    $('#loader').hide();
  
  var isValid = $('#edit_form_faq').valid();
  var question = $("#question_edit_id").val();
  var answer = $("#answer_edit_id").val();
  var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
  var id= this.getAttribute("data-id");
  var url = "/admin/edit_faq/"+id;
  $("faq_question_"+id).text(question);
  $("faq_answer_"+id).text(answer);

  if (question.trim().length == 0 || answer.trim().length == 0){
      $("#question_edit_id").val('');
      $("#answer_edit_id").val('');
        openErrorModal('Please enter data in fields');
        return false;
  }

  if(isValid == false){
        console.log('error')
        $('.edit_faq_button').attr("disabled", false);
        return false;
    }
    else
    $('#loader').show();
    {
      $('.edit_faq_button').attr("disabled", true);
      $.ajax({
        type: 'POST',
        url: url,
        async:false,
        data: {
              'csrfmiddlewaretoken':csrf,
              'answer': answer,
              'question':question,
              'id':id
        },
        beforeSend: function () {
              // data-edited-modal-class
              
              $(".data-edited-modal-class").modal('hide');
        },
        success: function (data) {
          setTimeout(function() {
            $('#loader').hide();
            $('.edit_faq_button').attr("disabled", false);
            $("#data-edited").modal('hide');
            $("#display_faq_"+id).fadeOut(1000).fadeIn(1000);
            $('.faq_answer_'+id).text(data['answer']);
            $('.faq_question_'+id).text(data['question']);
            
          }, 2000);
        },
      });
      e.preventDefault();
      e.stopImmediatePropagation()
    }
});

  
$("#edit_form_faq").validate({
    errorClass: "validateError",
        rules:{
          question_edit_id:{
                required: true,
            },
            answer_edit_id:{
                required: true,
            },

    },
    errorPlacement: function ( error, element ) {
        if ( $(element).hasClass("cal-input") ) {
        error.insertAfter( $(element).parents(".input-group") );
    } else {
        error.insertAfter( element );
        error.insertAfter( $(element).parents(".pro-box") );
    }
    },
});


function set_value_function(id){
  var question = $('.faq_question_'+id).text();
  var answer = $('.faq_answer_'+id).text();
  document.getElementById('question_edit_id').value= question.trim();
  document.getElementById('answer_edit_id').value= answer.trim();
}

function clearAddFaq() {

  $("#question").val("");
  $("#answer").val("");
  var add_new_faq_btn = document.querySelector('#add_new_faq');
  add_new_faq_btn.classList.remove("active");  
}

$(document).on('click', '.faq_delete', function (e) {
    $("#delete_faq_yes").attr("data-id",this.getAttribute("data-faq-detail-id"));
 });

 $("#delete_faq_yes").on('click', function () {
    $('#loader').hide();
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    var id= this.getAttribute("data-id")
    $('#loader').show();
    $.ajax({
      type: 'POST',
      url: '{% url 'faq_delete' %}',
      data: {
            'csrfmiddlewaretoken':csrf,
            'id': id,
      },
      success: function (data) {
           //var modal = 
        setTimeout(function() {
        $('#loader').hide();
        $('#data-deleted').modal('show');
        },750);
        var delayInMilliseconds = 2000;
        setTimeout(function() {
          $('#data-deleted').modal('hide');
            $("#display_faq_"+id).fadeOut()
            }, delayInMilliseconds);
          
      }
    });
  });
function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');

        }

$(".add-faq-submit").click(function (e) {
    $('#loader').hide();
    var isValid = $('#faq_add_form').valid();
    console.log("hey")
    var question = $("#question").val();
    var answer = $("#answer").val();
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();

    if (question.trim().length == 0 || answer.trim().length == 0){
        $("#question").val('');
        $("#answer").val('');
        openErrorModal("Please enter data in fields");
        return false;
    }
    if(isValid == false){
        console.log('error')
        $('.add-faq-submit').attr("disabled", false);
        return false;
    }
    else{
      $('.add-faq-submit').attr("disabled", true);
        $('#loader').show();

        $.ajax({
          url: '{% url 'add_faq' %}',
          type: 'POST',
          async:false,
          
          data:{
            'csrfmiddlewaretoken':csrf,
            "question":question,
            "answer":answer
          },
          beforeSend: function () {
            $('.add-faq-modal-class').modal('hide');
          },
          success: function (data) {
            setTimeout(function() {
              $('#loader').hide();
              var modal = $('#data-added').modal('show');
            },750);
            setTimeout(function() {
             window.location.href = "{% url 'add_faq'  %}";
                },2000);
          },
            error: function (data) {
                console.log('error', data);
                openErrorModal(data.responseText);
            }

        });
        e.preventDefault();
        e.stopImmediatePropagation();
        
    }
  });


jQuery.validator.addMethod("lettersWithSpaces", function(value, element) {
            return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
        },"Please enter only letters");

$("#faq_add_form").validate({
    errorClass: "validateError",
        rules:{
            question:{
                required: true,

            },
            answer:{
                required: true,
                
            },
    },
    errorPlacement: function ( error, element ) {
        if ( $(element).hasClass("cal-input") ) {
        error.insertAfter( $(element).parents(".input-group") );
    } else {
        error.insertAfter( element );
        error.insertAfter( $(element).parents(".pro-box") );
    }
    },
});



</script>




<script>
 $(document).ready(function(){
   $('.dataTables-example').DataTable(                       );
   /* Init DataTables */


 }
                  );

</script>
<script type="text/javascript">
    $('.input-group.date').datepicker(
      {format: "dd.mm.yyyy"}
      );
    var datePicker = $(".calendar").datepicker({});
var t ;
$( document ).on(
  'DOMMouseScroll mousewheel scroll',
  '#myModal',
  function(){
      window.clearTimeout( t );
      t = window.setTimeout( function(){
          $('.calendar').datepicker('')
      }, 100 );
  }
);

</script>

<!-- ------------------------generalJS -->
<script>
 $(document).ready(function(){

    //  ------------------for subject show
    $("#selectRole").change(function(){
       $('#subjectSelection').hide();
       // alert(selectedval);
       var selectedval = $(this).children("option:selected").val();
       if(selectedval == "Teacher"){
          $('#subjectSelection').show();
       }
    });

    // -----------remove active sub-menu when click on other menu
    $('.metismenu li > a').click(function(){
       if (!$(this).parent().hasClass("active")){
       // alert();
          $(this).parent().find('.active').removeClass('active');
       }
    });
 })
</script>

<!-- 
<script>
  $('.input').keypress(function (e) {
        if (e.which == 13) {
          $('#faq_add_form').submit();
        }
      });
</script> -->

{% endblock %}
