<!DOCTYPE html>
<html>
{% load static %}
{% static "home-login.html" as baseUrl %}
<head>
    <style>
        .swal-button-container {
            margin: 5px 185px 0px 0px !important;
        }
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Curiookids</title>

    <link rel="icon" type="image/ico" href="{{ MEDIA_URL }}/media/img/icon.png">
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "font-awesome/css/font-awesome.css" %} rel="stylesheet">
    <link href={% static "css/animate.css" %} rel="stylesheet">
    <link href={% static "css/style.css" %} rel="stylesheet">
    <link href={% static "css/mystyle-coman.css" %} rel="stylesheet">
    <link href={% static "css/media.css" %} rel="stylesheet">
    <link href={% static "css/admin-style.css" %} rel="stylesheet">

</head>

<body>
<form class="md-float-material" action="{% url 'admin/' %}" method="post">
    {% csrf_token %}
    <div id="wrapper">
        <!-- log in html -->
        <div class=" coman-modal coman-modal-a" id="sign-in">
            <div class="modal-dialog  modal-dialog-centered" role="document">
                <div class="modal-content  text-center">
                    <a href="#"> <img src="{{ MEDIA_URL }}/media/img/logo-modal.png" %} alt=""></a>
                    <h1>Sign In</h1>
                    <div class="form-group">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group pass-word">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary">SIGN IN</button>
                    <div class="forgot-link m-t-md text-center">
                        <a href="#" data-toggle="modal" data-target="#forgot-pw-modal" data-dismiss="modal">Forgot
                            Password?</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>
<!-- forgot password -->

<!--<div class="modal coman-modal  fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <h1>Successful</h1>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle" aria-hidden="true"></i>

            </div>
            <p>An Email has been successfully sent to containing the link for changing your password.</p>

        </div>
    </div>
</div>-->
<div class="modal coman-modal  fade" id="forgot-pw-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Forgot Password</h2>
            <p>Don't remember your password? No worries.
                It happens with everyone. Just enter your registered email address and we will send you an link to reset
                password </p>
            <form method="post" id="forgot_form" data-url="{% url 'admin/resetPassword/' %}">
                {% csrf_token %}

                <div class="form-group">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="email" class="form-control forgot_email" placeholder="Email">
                </div>
                <button type="submit" class="btn btn-primary text-uppercase forgot_password_btn" data-dismiss="modal">
                    submit
                </button>
            </form>

        </div>
    </div>
</div>
<!-- Mainly scripts -->
<script src={% static "js/jquery-2.1.1.js" %}></script>
<script src={% static "js/bootstrap.min.js" %}></script>
<script src={% static "js/plugins/metisMenu/jquery.metisMenu.js" %}></script>
<script src={% static "js/plugins/slimscroll/jquery.slimscroll.min.js" %}></script>

<!-- Custom and plugin javascript -->
<script src={% static "js/inspinia.js" %}></script>
<script src={% static "js/plugins/pace/pace.min.js" %}></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if error %}
    <script>
        swal("error", "{{ message }}", "error")
    </script>
{% endif %}

<script type="text/javascript">
    var clickHandler = function (e) {
        var url_link = $('#forgot_form').attr('data-url');
        var email = $('.forgot_email').val();
        $('.forgot_email').val('')
        console.log(url_link, email)
        if (email == '') {
            swal("", "Please Enter Email", "error")
        } else {
            $.ajax({
                url: url_link,
                type: "POST",
                dataType: 'text',
                data: {
                    'email': email,
                },
                success: function (data) {
                    console.log('success', data);
                    swal({
                        title: "Success!",
                        text: "Mail has been Sent Successfully",
                        icon: "success",
                        buttons: false
                    });

                    function redirect() {
                        window.location.href = "{% url 'admin/'  %}";
                    }

                    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                },
                error: function (data) {
                    console.log('error', data)
                    swal("", "No User Signed Up with this email.", "error");
                }
            });
        }
        e.stopImmediatePropagation();
        return false;
    }
    $(document).ready(function () {
        $('#loader').hide();
        $('.forgot_password_btn').on('click', clickHandler);
    })
</script>

</body>
</html>
