<!DOCTYPE html>
<html lang="en" xmlns:name="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lead</title>
</head>
<body>
<form action="{% url 'admin/lead/' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    name: <input type="text" name="full_name"> <br>
    dob: <input type="date" name="dob"> <br>
    gender : <input type="text" name="gender"> <br>
    nationality : <input type="text" name="nationality"> <br>
    CBAS Test Date: <input type="date" name="cbas_testDate"> <br>
    Lead Owner: <input type="text" name="lead_owner"> <br>
    School Name : <input type="text" name="school_name"> <br>
    School Grade : <input type="text" name="school_grade"> <br>
    studio :
    <select name="studio_id">
        {% for studio in studios %}
            <option value="{{ studio.id }}">{{ studio.name }}</option>
        {% endfor %}
    </select><br>
    Fathers Name : <input type="text" name="father_name"> <br>
    Fathers Number: <input type="text" name="father_phone"> <br>
    Fathers email_id: <input type="email" name="father_email"> <br>
    Mothers Name : <input type="text" name="mother_name"> <br>
    Mothers Number: <input type="text" name="mother_phone"> <br>
    Mothers email_id: <input type="email" name="mother_email"> <br>

    image: <input type="file" name="image"> <br>

    <input type="submit">
</form>
</body>
</html>