{% extends 'base.html' %}
{% load static %}

{% block data %}
<head>
    <title>Lead Details</title>
</head>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ibox">
                    <div class="ibox-content" id="studentProfile">

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                                <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                                <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                    <a href="{% url 'admin/leads' %}">&lt;&lt; Back</a>
                                    <div class="pro-box">
                                        <img class="img-responsive" src="{{ lead.image.url }}">
                                        <!--   <div class="browse-btn">
                                                <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                                <input type="file">
                                           </div> -->
                                    </div>
                                    <div class="stu-details row">


                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Name</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #01789a">{{ lead.full_name }}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Lead ID</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #01789a">{{ lead.lead_code }}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Level</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #01789a">
                                                {% if lead.current_curioo_level != None %}
                                                    {{ lead.current_curioo_level.level }}{% else %}None{% endif %}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Major</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #01789a">
                                                {% if lead.major != None %}{{ lead.major.major }}{% else %}
                                                    None{% endif %}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Age</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #01789a">{{ age }}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Gender</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #01789a">{{ lead.gender }}</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="text-transform: uppercase;font-weight: 600;">Grade</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <h5 style="font-weight: 600;color: #01789a">{{ lead.school_grade }}th</h5>
                                        </div>

                                    </div>


                                </div>

                                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                    <div class="">
                                        <!-- -----------------------------------------------------------------------------------------tabbing -->
                                        <div class="property-dtl-tab investor-details student-details">
                                            <ul class="nav nav-tabs " role="tablist">
                                                <li role="presentation" class="active" id="lead_detail">
                                                    <a href="#prt-tab0" aria-controls="home" role="tab"
                                                       data-toggle="tab" aria-expanded="false">Lead Details
                                                    </a>
                                                </li>
                                                <li role="presentation" class="">
                                                    <a href="#prt-tab1" aria-controls="profile" role="tab"
                                                       data-toggle="tab" aria-expanded="false">Initial Diagnostic Report
                                                    </a>
                                                </li>
                                                <li role="presentation" class="" id="lead_contact">
                                                    <a href="#prt-tab2" aria-controls="profile" role="tab"
                                                       data-toggle="tab" aria-expanded="false">Contact Information
                                                    </a>
                                                </li>

                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content ">

                                                <!-- -----tab1 -->
                                                <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                                    <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="lc-head col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                                                <h2>Lead Details</h2>
                                                            </div>
                                                            <div class="stu-btn lc-btn col-lg-8 col-md-12 col-sm-12 col-xs-12 pull-right">
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <a href="{% url 'admin/lead/' lead.id %}"
                                                                       class="btn btn-default full-width">Edit Details</a>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                    <a data-url="{% url 'admin/leadDelete/' lead.id %}"
                                                                       class="btn btn-default full-width"
                                                                       onclick="getfirstpopup($(this).attr('data-url'))">Delete Lead</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <hr>
                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <script>
                                                        var tid;

                                                        function getfirstpopup(deleteurl) {

                                                            openConfirmationModal()
                                                            tid = deleteurl

                                                        }

                                                        function openConfirmationModal() {
                                                            $("#Status-modal").modal('show');
                                                        }

                                                        function openSuccessModal() {
                                                            $("#cong-modal").modal('show');
                                                        }

                                                        function changewindowhref() {
                                                            $.ajax({
                                                                url: tid,
                                                                type: "GET",

                                                                success: function (data) {
                                                                    console.log('success', data);
                                                                    openSuccessModal();

                                                                    function redirect() {
                                                                        window.location.href = "/admin/leads";
                                                                    }

                                                                    setTimeout(redirect, 2000);
                                                                },

                                                                error: function (data) {
                                                                    console.log('fail', data);
                                                                }
                                                            })
                                                        }
                                                    </script>

                                                    <div class="lead-detail">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Name</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{{ lead.full_name }}<br/>
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label class="">Date Of Birth</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3 class="">{{ lead.dob }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Gender</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{{ lead.gender }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Age</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{{ age }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Nationality</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{{ lead.nationality }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label class="">CBAS Test Date</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3 class="">{{ lead.cbas_testDate }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label class="">Enrollment Date</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3 class="">{{ lead.enrollment_date }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label class="">Expiry Date</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3 class="">{{ lead.expiry_date }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Start CURIOO Level</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{% if lead.start_curioo_level != None %}
                                                                        {{ lead.start_curioo_level.level }}{% else %}
                                                                        None{% endif %}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Current CURIOO Level</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{% if lead.current_curioo_level != None %}
                                                                        {{ lead.current_curioo_level.level }}{% else %}
                                                                        None{% endif %}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>CURIOO Major</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{% if lead.major != None %}
                                                                        {{ lead.major.major }}{% else %}
                                                                        None{% endif %}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Lead owner</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{{ lead.added_by_type }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Added by</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{{ added_by.full_name }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>School</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{{ lead.school_name }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>School Grade</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{{ lead.school_grade }}th</h3>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Father's Name</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>Mr. {{ lead.father_name }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Mother's Name</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>Mrs. {{ lead.mother_name }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="clearfix"></div>
                                                    <!--
                                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                      <hr/>
                                                      </div> -->

                                                </div>
                                                <!-- -----tab2 -->
                                                <div role="tabpanel" class="tab-pane" id="prt-tab1">
                                                    <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-3 col-sm-12 col-xs-12"><h2>
                                                                Lead's Initial Diagnostic Report</h2>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <hr/>
                                                    </div>

                                                </div>
                                                <!-- -----tab3 -->
                                                <div role="tabpanel" class="tab-pane " id="prt-tab2">
                                                    <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="lc-head col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <h2>Contact Information</h2>
                                                            </div>
                                                            <div class="stu-btn lc-btn col-lg-6 col-md-12 col-sm-12 col-xs-12 pull-right">
                                                                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12 pull-right">
                                                                    <a href="{% url 'admin/leadContact' lead.id %}"
                                                                       class="btn btn-default full-width">Edit Details</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                        <hr>
                                                    </div>

                                                    <div class="leadcontact">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Father's Name</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>Mr. {{ lead.father_name }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Father's Number</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{{ lead.father_phone }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Father's Email ID</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{{ lead.father_email }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Mother's Name</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>Mrs. {{ lead.mother_name }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Mother's Number</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{{ lead.mother_phone }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <label>Mother's Email ID</label>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                <div class="form-group usr-form">
                                                                    <h3>{{ lead.mother_email }}</h3>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="clearfix"></div>
                                                </div>

                                            </div>

                                            <div role="tabpanel" class="tab-pane" id="prt-tab3">


                                                <div class="clearfix"></div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane " id="prt-tab4">


                                            </div>


                                        </div>

                                    </div>
                                    <!-- -----------------------------------------------------------------------------------------/tabbing -->

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you Sure You want to Delete?</p>
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" class="btn btn-default " data-dismiss="modal"
                       data-toggle="modal" onclick="changewindowhref()">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>


            </div>
        </div>
    </div>
    <div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

                </div>
                <h2>Deleted successfully !!</h2>


            </div>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>
    {% url 'admin/leadContact' lead.id  as edit_lead %}
    {% if edit_lead in request.META.HTTP_REFERER %}
        $('#lead_detail').removeClass('active');
        $('#prt-tab0').removeClass('active');

        $('#lead_contact').addClass('active');
        $('#prt-tab2').addClass('active');
    {% endif %}
</script>

    <script>
        $(document).ready(function () {
                $('.dataTables-example').DataTable();
                /* Init DataTables */


            }
        );

    </script>
    <script type="text/javascript">
        $('.input-group.date').datepicker(
            {format: "dd.mm.yyyy", autoclose: true}
        );
        var datePicker = $(".calendar").datepicker({});
        var t;
        $(document).on(
            'DOMMouseScroll mousewheel scroll',
            '#myModal',
            function () {
                window.clearTimeout(t);
                t = window.setTimeout(function () {
                    $('.calendar').datepicker('')
                }, 100);
            }
        );

    </script>
{% endblock %}