<!DOCTYPE html>
<html>
<head>
	<title>Lead List</title>
</head>
<body>
	<table border="2">
  <tr>
    <th>Lead Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Actions</th>

  </tr>
  {% for lead, age in comb %}
  <tr>
    <td>{{lead.lead_code}}</td>
    <td>{{lead.full_name}}</td>
    <td>{{ age }}</td>

  </tr>
  {% endfor %}
</table>
</body>
</html>