{% extends 'base.html' %}
{% load static %}

{% block data %}
    <head>
    <title>All Leads</title>
    </head>

    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ibox">
                    <div class="ibox-content" id="history">
                        <div class="box-heading">
                            <h2>All Leads</h2>
                            <div class="row">

                            {% if request.session.user_type == "Admin" %}
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group  text-left">
                                        <select class="form-control dropdown-change" id="lead_studio">
                                            <option selected value="All Studio">All Studio</option>
                                            {% for studio in studios %}
                                                <option value="{{ studio.id }}">{{ studio.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group  text-left">
                                        <select class="form-control dropdown-change" id="added-by-selection" data-url="{% url 'admin/users' %}">
                                            <option value="Added By" selected>Added By</option>
                                            <option value="Admin" id="added-by-admin">Admin</option>
                                            <option value="Principal" id="added-by-principal">Principal</option>
                                            <option value="Learning Consultant" id="added-by-lc">Learning Consultant</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group  text-left">
                                        <select class="form-control dropdown-change" id="list-of-added-by">
                                            <option value="List of Added By" selected>List of Added By</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group  text-right">
                                        <a href="{% url 'admin/lead/' %}" class="btn btn-default">Add a New Lead</a>
                                    </div>
                                </div>
                                {% endif %}
                                 {% if request.session.user_type == "Principal" %}

                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group  text-left">
                                        <select class="form-control dropdown-change" id="added-by-selection" data-url="{% url 'admin/users' %}">
                                            <option value="Added By" selected>Added By</option>
                                            <option value="Admin" id="added-by-admin">Admin</option>
                                            <option value="Principal" id="added-by-principal">Principal</option>
                                            <option value="Learning Consultant" id="added-by-lc">Learning Consultant</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group  text-left">
                                        <select class="form-control dropdown-change" id="list-of-added-by">
                                            <option value="List of Added By" selected>List of Added By</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group  text-right">
                                        <a href="{% url 'admin/lead/' %}" class="btn btn-default">Add a New Lead</a>
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                        </div>




                        <div class="table-responsive coman-table" id="owner-detail-btn">
                            <table class="table dataTables-example">
                                <thead>
                                <tr>
                                    <th>Lead ID</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="table-body">
                                {% for lead, age in comb %}
                                <tr>
                                    <td>{{ lead.lead_code }}</td>
                                    <td>{{ lead.full_name }}</td>
                                    <td>{{ age }}</td>

                                    <!--  <td>21</td> -->


                                    <!-- <td>In process</td> -->
{#                                    {% url 'admin/leadConvert/' lead.id %}#}
                                    <td class="add-new">
                                        <a href="{% url 'admin/lead' lead.id %}" class="btn btn-default">View</a>
                                        <!--<a  data-url="{% url 'admin/leadConvert/' lead.id %}" class="btn btn-default" onclick="performconvert($(this).attr('data-url'))" title="By converting this lead to student, you're removing this lead from lead and make them a student from lead data.">Convert</a>-->
                                        <a  data-url="{% url 'admin/leadConvert/' lead.id %}" class="btn btn-default" onclick="openLeadPopUp($(this).attr('data-url'))" title="By converting this lead to student, you're removing this lead from lead and make them a student from lead data.">Convert</a>
                                        <a data-url="{% url 'admin/leadDelete/' lead.id %}" class="btn btn-default" onclick="getfirstpopup($(this).attr('data-url'))">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal coman-modal fade" id="convert_pop_up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
            <form method="post" enctype="multipart/form-data" id="convert_lead_form">{% csrf_token %}
                <h2 id="convert_text"></h2>
                <div class="form-group text-left">
                    <label>Enrollment Date</label>
                    <div class="input-group date disablePastDates" data-date-format="yyyy-mm-dd">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                        <input type="text" class="form-control cal-input" placeholder="Please Enter Enrollment Date" id="enrollment_date" name="enrollment_date">
                    </div>
                </div>

                <div class="form-group text-left usr-form">
                    <label>Expiry Date</label>
                    <div class="input-group date disablePastDates" data-date-format="yyyy-mm-dd">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                        <input type="text" class="form-control cal-input" placeholder="Please Enter Expiry Date" id="expiry_date" name="expiry_date">
                    </div>
                </div>
                <button type="button" id="convert_btn_click" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal">Submit</button>
                <!--<a href="#sche-modal" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal" onclick="convertdone()">Submit</a>-->
                <a class="btn btn-default btn-small " data-dismiss="modal" data-toggle="modal">Cancel</a>

            </form>
            </div>
        </div>
    </div>

<div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p id="error-text">
                </p>
            </div>
        </div>
    </div>


    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
     <script>
        $('#loader').hide();
        

        $('#added-by-selection').on('change', function () {
            var selected_role = $('#added-by-selection').val();
            var url = $('#added-by-selection').attr('data-url');

            console.log('selected_role : ', selected_role);

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    selected_role: selected_role
                },

                success: function (data) {
                    console.log('success', data);
                    var options = '<option selected disabled>Added By ' + selected_role + '</option>';
                    for (i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].id + '">' + data[i].full_name + '</option>';
                    }
                    $('#list-of-added-by').html(options);
                },

                error: function (data) {
                    console.log('fail', data);
                }
            })
        });

        var leadid;
        function openLeadPopUp(convert_url) {
            $("#enrollment_date").val('');
            $("#expiry_date").val('');
            $('#enrollment_date-error').remove();
            $('#expiry_date-error').remove();
             $("#convert_pop_up").modal('show');
             $("#convert_text").text('Please Enter Following Details to Convert Lead to Student');
             leadid =convert_url

         }

        var tid;

         function getfirstpopup(deleteurl) {

             openConfirmationModal()
             tid =deleteurl

         }

         function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');

        }


         function openConfirmationModal() {
             $("#Status-modal").modal('show');
         }

         function openSuccessModal() {
             $("#cong-modal").modal('show');
         }

         function performconvert(url){
             openconvertmsg()
             leadid= url
         }

         function openconvertmsg() {
             $("#covert-modal").modal('show');
         }

         function openConvertSuccessModal(textmsg) {
            $('#success-text').text(textmsg);
            $("#covertS-modal").modal('show');
         }

        $('#convert_btn_click').on('click', function () {
            var isValid = $("#convert_lead_form").valid();

             if(isValid){
                $('#loader').show();
                 $.ajax({
                 url: leadid,
                 type: "GET",
                 data : {
                     "enrollment":$('#enrollment_date').val(),
                     "expiry":$('#expiry_date').val()
                 },

                 success: function (data) {
                    $('#loader').hide();

                     console.log('success', data);
                     $('#convert_pop_up').modal('hide');
                     openConvertSuccessModal(data);
                     function redirect() {
                         window.location.href = "/admin/leads";
                     }
                     setTimeout(redirect, 2000);
                 },

                 error: function (data) {
                    $('#loader').hide();

                     console.log('fail', data);
                    openErrorModal(data.responseText);
                 }
             });
             event.stopImmediatePropagation();
             event.preventDefault();

             } else {
                console.log('no ajax call yet');
                return false;
            }
        });
         function changewindowhref() {
             $.ajax({
                 url: tid,
                 type: "GET",

                 success: function (data) {
                     console.log('success', data);
                     openSuccessModal();
                     function redirect() {
                         window.location.href = "/admin/leads";
                     }
                     setTimeout(redirect, 2000);
                 },

                 error: function (data) {
                     console.log('fail', data);
                 }
             })
         }
     </script>

     <script>
        $('.dropdown-change').change(function () {

                $('#table-body').empty();
                var datatablev = $('.dataTables-example').DataTable();
                datatablev.destroy();

                {% if request.session.user_type == "Principal" %}
                    var studio_val = {{ user.studio.id }}
                {% else %}
                    var studio_val =  $("#lead_studio option:selected").val();
                {% endif %}

                    $('.dataTables-example').DataTable({
                        ajax: {
                            url: 'leads-api',
                            type: 'GET',
                            data: {
                                "studio": studio_val,
                                "added_by_selction": $("#added-by-selection option:selected").val(),
                                "list_of_added_by": $("#list-of-added-by option:selected").val()
                            }
                        },
                        columns: [
                            {"data": "code"},
                            {"data": "name"},
                            {"data": "age"},
                            {
                                "data": "id", "render": function (data) {
                                    var res = '';
                                    {#res += '<a href="teacher/' + data + '" class="btn btn-default">View</a> <a data-url="teacherDelete/' + data + '" class="btn btn-default" onclick="getfirstpopup($(this).attr(\'data-url\'))">Delete</a>';#}
                                    //res += '<a data-toggle="modal" data-target="#editR-modal" class="btn btn-default" id="edit_rating_' + data + '" onclick="edit_rating($(this))">Edit</a>&nbsp;<a class="btn btn-default" data-toggle="modal" data-target="#rating-dlt-modal" id="delete_rating_' + data + '" onclick="add_value_del_rating($(this))">Delete</a>';
                                    res += '<a href="lead/' +data+ '" class="btn btn-default">View</a><a  data-url="leadConvert/' +data+ '" class="btn btn-default" onclick="performconvert($(this).attr(\'data-url\'))">Convert</a><a data-url="leadDelete/'+ data+ '" class="btn btn-default" onclick="getfirstpopup($(this).attr(\'data-url\'))">Delete</a>'
                                    return res;
                                }
                            }
                        ],
                        columnDefs: [{
                            targets: '_all',
                            className: 'add-new',
                        }

                        ],
                    });

            }
        );
    </script>

    <div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you Sure You want to Delete?</p>
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" class="btn btn-default " data-dismiss="modal"
                       data-toggle="modal" onclick="changewindowhref()">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>


            </div>
        </div>
    </div>

    <div class="modal coman-modal  fade" id="covert-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you sure to want to convert this lead to student?</p>
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" class="btn btn-default "
                       data-dismiss="modal" onclick="convertdone()">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>


            </div>
        </div>
    </div>

    <div class="modal coman-modal  fade" id="sent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2>Token Transfer</h2>
                <div class="form-group text-left">
                    <label>Wallet Address :</label>
                    <input type="email" class="form-control" placeholder="Wallet Address">
                </div>
                <div class="form-group text-left">
                    <label>Amount :</label>
                    <input type="email" class="form-control" placeholder="Amount">
                </div>
                <div class="form-group  text-left">
                    <label>Token Name :</label>
                    <select class="form-control">
                        <option>Token 1</option>
                        <option>Token 2</option>
                    </select>
                </div>
                <a href="#cong-modal" class="btn btn-default btn-small m-t-sm" data-dismiss="modal" data-toggle="modal">Send
                    Token</a>


            </div>
        </div>
    </div>
    <div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

                </div>
                <h2>Deleted successfully !!</h2>


            </div>
        </div>
    </div>
    <div class="modal coman-modal  fade" id="covertS-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

                </div>
                <h2>Converted successfully !!</h2>
                <p id="success-text"><br></p>
            </div>

        </div>
    </div>
    <div class="modal coman-modal  fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h2>Reason</h2>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>

                </div>
                <a href="#cong-modal" class="btn m-r-sm btn-default btn-small max-83" data-dismiss="modal"
                   data-toggle="modal">Submit</a>


            </div>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- zoom kyc document -->
    <script type="text/javascript">

         $(document).ready(function () {
                $('.dataTables-example').DataTable();
                /* Init DataTables */
            }
        );
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        /*img.onclick = function(){
          modal.style.display = "block";
          modalImg.src = this.src;
          // captionText.innerHTML = this.alt;
        }*/

        // Get the <span> element that closes the modal
        function openModal() {
            document.getElementById('myModal').style.display = "block";
        }

        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }
    </script>

    <script>
        $(document).ready(function () {
            jQuery.validator.addMethod("expiryValidation", function (value, element) {
                var doj = $('#enrollment_date').val();
                var doj_date = new Date(doj);
                var expiry = Date.parse(value);
                if (expiry > doj_date) {
                    return true;
                }
                return false;
            }, "Please enter valid expiry date larger than Enrollment Date");

            $("#convert_lead_form").validate({
                errorClass: "validateError",
                rules: {
                    enrollment_date: {
                        required: true,
                    },
                    expiry_date: {
                        required: true,
                        expiryValidation: true,
                    },
                },
                errorPlacement: function (error, element) {
                    if ($(element).hasClass("cal-input")) {
                        error.insertAfter($(element).parents(".input-group"));
                    } else if ($(element).hasClass('select_image')) {
                        error.insertAfter($(element).parents(".upload-image"));

                    } else {
                        error.insertAfter(element);
                    }
                },
            });
        })

    </script>

{% endblock %}
