{% extends 'base.html' %}
{% load static %}
{% block data %}
<title>Learning Consultant Details</title>
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content" id="studentProfile">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                            <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                            <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                <a href="{% url 'list_learning_consultant' %}">&lt;&lt; Back</a>
                                <div class="pro-box">
                                    {% if lc_details.image %}
                                        <img class="img-responsive show_profile_pic" src="{{ lc_details.image.url }}">
                                    {% else %}
                                        <img class="img-responsive show_profile_pic" src="{% static 'img/my-ac-img.png' %}">
                                    {% endif %}
                                
<!--                                    <img class="img-responsive" src="{% static 'img/my-ac-img.png' %}">-->
<!--                                    <div class="browse-btn">-->
<!--                                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>-->
<!--                                        <input type="file"  name="image" class="select_profile_pic">-->
<!--                                    </div>-->
                                </div>
                                <div class="stu-details tec-detail">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <!--  <span style="text-transform: uppercase;font-weight: 600;">Name</span> -->
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <span style="font-weight: 600;color: #01789a;">{{lc_details.studio.name }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12 col-sm-6 col-xs-12">
                                            <span style="text-transform: uppercase;font-weight: 600;">Position ID</span>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-6 col-xs-12">
                                            <span style="font-weight: 600;color: #01789a;">{{lc_details.positionId}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12 col-sm-6 col-xs-12">
                                            <span style="text-transform: uppercase;font-weight: 600;">Studio ID</span>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-6 col-xs-12">
                                            <span style="font-weight: 600;color: #01789a;">{{lc_details.studio.studio_code|upper}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <span style="text-transform: uppercase;font-weight: 600;">Email ID</span>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <span style="font-weight: 600;color: #01789a;">{{lc_details.email}}</span>
                                        </div>
                                    </div>

                                </div>


                            </div>

                            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                <div class="">
                                    <!-- -----------------------------------------------------------------------------------------tabbing -->
                                    <div class="property-dtl-tab investor-details student-details">

                                        <!-- Tab panes -->
                                        <div class="tab-content ">

                                            <!-- -----tab1 -->
                                            <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                                <!-- <div class="row"> -->
                                                <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="lc-head col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <h2>Learning Consultant Details</h2>
                                                        </div>
                                                        <div class="stu-btn lc-btn col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                                                            <a data-toggle="modal" data-target="#dlt-modal" data-lc-detail-id="{{lc_details.id}}"
                                                               class="btn btn-default full-width lc_delete_id"
                                                               style="margin:0 10px;">Delete Learning Consultant</a>
                                                            <a href="{% url 'learning_consultant_edit' id=lc_details.id %}"
                                                               class="btn btn-default full-width"
                                                               style="margin:0 10px;">Edit Details</a>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <hr/>
                                                </div>

                                                <!-- </div> -->
                                                <!-- </div> -->

                                                <div class="tecdetail">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Name</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{lc_details.full_name}}<br/>
                                                                </h3>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Date Of Birth</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{lc_details.dob}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Gender</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                {{lc_details.gender}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Nationality</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                {{lc_details.nationality}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Date Of Joining</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                {{lc_details.doj}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Position</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                {{lc_details.position}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Position ID</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                {{lc_details.positionId}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Studio ID</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                {{lc_details.studio.studio_code|upper}}
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Highest Education Level</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                {{lc_details.highest_education | capfirst}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Education Major</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                {{lc_details.education_major}}
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Email ID</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                {{lc_details.email}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Contact Number</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                {{lc_details.phone}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Emergency Contact Name</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                               {{lc_details.emergency_contact_name}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Emergency Number</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                {{lc_details.emergency_number}}
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="clearfix"></div>


                                            </div>


                                        </div>

                                    </div>
                                    <!-- -----------------------------------------------------------------------------------------/tabbing -->

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- ----------------dlt -->
<div class="modal coman-modal  fade consultant_delete_model" id="dlt-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md " role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>Are you Sure You want to Delete?</p>
            <form method="POST">
                {% csrf_token %}
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" href="#cong-modal" class="btn btn-default " data-dismiss="modal"
                       data-toggle="modal" id="lc-datadelete-yes">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal coman-modal  fade success-delete-model" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
            </div>
            <h2>Deleted successfully !!</h2>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script>

$(document).on('click', '.lc_delete_id', function (e) {
    $("#lc-datadelete-yes").attr("data-id",this.getAttribute("data-lc-detail-id"));
 });

 $("#lc-datadelete-yes").on('click', function () {
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    var data_id= this.getAttribute("data-id")
    $.ajax({
      type: 'POST',
      url: '/learningConsultantDelete/' + this.getAttribute("data-id"),
      data: {
            'csrfmiddlewaretoken':csrf,
            'id': this.getAttribute("data-id"),
      },
      success: function (data) {
        var delayInMilliseconds = 2000;
        $('.consultant_delete_model').modal('hide');
        setTimeout(function() {
            $('.success-delete-model').modal('show');
            window.location.href = "{% url 'list_learning_consultant'  %}";
            }, delayInMilliseconds);
      }
    });
  });
</script>
{% endblock %}