{% extends 'base.html' %}
{% load static %}

{% block data %}
<title>All Learning Consultant</title>
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content" id="history">
                    <div class="box-heading">
                        <h2>All Learning Consultants
                        </h2>
                    </div>
                    <div class="row">
                        
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            {% if request.session.user_type == "Admin" %}
                            <div class="form-group  text-left">
                                <select class="form-control studio_change_id" id="studio_select_id">
                                    <option selected="true" value="All Studio">All Studio</option>
                                    {% for studio in studio_detail %}
                                        <option value="{{studio.id}}">{{studio.name}}</option>
                                    {% endfor %}

                                </select>
                            </div>
                            {% endif  %}
                        </div>
                        
                        <div class="col-lg-10 col-md-6 col-sm-6 col-xs-12 text-right">
                            <a class="btn btn-default" href="{% url 'learning_consultant' %}">Add a new Learning
                                Consultant</a>
                        </div>
                    </div>

                    <div class="table-responsive coman-table" id="owner-detail-btn">
                        <table class="table dataTables-example">
                            <thead>
                            <tr>

                                <th>LC ID</th>
                                <th>Name</th>


                                <th>Studio</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody id="studtio_detail_table_tbody">
                            {% for lc_detail in lc_details %}
                            <tr id="learning_consultant_{{lc_detail.id}}">
                                <td>{{lc_detail.learning_consultant_code}}</td>
                                <td>{{lc_detail.full_name}}</td>
                                <td>{{lc_detail.studio.studio_code|upper}}, {{lc_detail.studio.name}},
                                    {{lc_detail.studio.city}}
                                </td>
                                <td class="add-new">
                                    <a href="{% url 'details_learning_consultant' id=lc_detail.id %}" class="btn btn-default">View</a>
                                    <a href="#"
                                       class="btn btn-default lc_delete_id" data-toggle="modal"
                                       data-target="#Status-modal" data-lc-detail-id="{{lc_detail.id}}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
<div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md " role="document">
        <div class="modal-content text-center " >
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>Are you Sure You want to Delete?</p>
            <form method="POST">
                {% csrf_token %}
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" href="#cong-modal" class="btn btn-default " data-dismiss="modal"
                       data-toggle="modal" id="lc-datadelete-yes">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal coman-modal  fade" id="learning-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Add New Learning Consultants</h2>
            <div class="form-group text-left">
                <label>Name :</label>
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group text-left">
                <label>Date Of Joining :</label>
                <div class="input-group date" data-date-format="dd.mm.yyyy">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                    <input type="text" class="form-control cal-input" placeholder="Date Of Joining">
                </div>
            </div>
            <div class="form-group text-left">
                <label>Email ID :</label>
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group  text-left">
                <label>Contact :</label>
                <input type="number" class="form-control" placeholder="Number">
            </div>
            <div class="form-group text-left">
                <label>Address :</label>
                <textarea class="form-control" placeholder="Address"></textarea>
            </div>
            <div class="form-group text-left">
                <label>Date Of Birth :</label>
                <div class="input-group date" data-date-format="dd.mm.yyyy">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                    <input type="text" class="form-control cal-input" placeholder="Date Of Birth">

                </div>
            </div>
            <a href="#addS-modal" class="btn btn-default btn-small m-t-sm" data-dismiss="modal"
               data-toggle="modal">Add</a>
            <a class="btn btn-default btn-small m-t-sm" data-dismiss="modal" data-toggle="modal">Cancel</a>


        </div>
    </div>
</div>
<!-- -----------------------dlt sucess -->
<div class="modal coman-modal  fade consultant_delete_model" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
            </div>
            <h2>Deleted successfully !!</h2>
        </div>
    </div>
</div>

<!-- -----------------------add sucess -->
<div class="modal coman-modal  fade" id="addS-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

            </div>
            <h2>Added successfully !!</h2>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script>

$(document).on('click', '.lc_delete_id', function (e) {
    $("#lc-datadelete-yes").attr("data-id",this.getAttribute("data-lc-detail-id"));
 });

 $("#lc-datadelete-yes").on('click', function () {
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    var data_id= this.getAttribute("data-id");

    $.ajax({
      type: 'POST',
      url: '/learningConsultantDelete/' + this.getAttribute("data-id"),
      data: {
            'csrfmiddlewaretoken':csrf,
            'id': this.getAttribute("data-id"),
      },
      success: function (data) {
        var delayInMilliseconds = 2000;
        setTimeout(function() {
        $("#learning_consultant_"+data_id).fadeOut();
            $('.consultant_delete_model').modal('hide');
            window.location.href = "/admin/learningConsultants";
            }, delayInMilliseconds);
      }
    });
  });

</script>

<script>
$(".studio_change_id").change(function(){
    $("#studtio_detail_table_tbody").empty()
    var datatable_studio= $(".dataTables-example").DataTable();
    datatable_studio.destroy();
    console.log('inside onchange');
    $(".dataTables-example").DataTable({
        ajax : {
            url : 'learning_data_table_url',
            type : 'GET',
            data : {
                "studio": $("#studio_select_id option:selected").val(),
            }
        },
        columns: [
                {"data": "code"},
                {"data": "name"},
                {"data": "Studio"},
                {
                    "data": "id", "render": function (data) {
                        var res = '';
                        res += '<a href="learningConsultants/'+data+'" class="btn btn-default">View</a><a href="#" class="btn btn-default lc_delete_id" data-toggle="modal" data-target="#Status-modal" data-lc-detail-id="'+data+'">Delete</a>';
                        return res;
                    }
                }
            ],
            columnDefs:
            [{
                targets: '_all',
                className: 'add-new',
                }
            ],
    });

});
</script>
{% endblock %}


