{% extends 'base.html' %}
{% load static %}

{% block data %}
    <title>Lesson Details</title>
<div class="wrapper wrapper-content">
               <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <div class="ibox">
                        <div class="ibox-content" id="history">
                           <div class="box-heading">
                              <a href="{% url 'lesson' %}" class="m-b-sm">&lt;&lt; Back</a>
                              <h2 > Lesson Details
                              </h2>
                           </div>

                           <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <div class="form-group  text-right">
                                    <a data-toggle="modal" data-target="#edit-modal" onclick="set_lessonCode();" class="btn btn-default">Edit Details</a>
                                 </div>
                              </div>
                           </div>
                        <!-- <hr/> -->
                           <div class="row">
                              <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                 <div class="detail-title-a">
                                     <p><span>Studio:</span>{{queryset.studio.studio_code}},{{queryset.studio.name}},{{queryset.studio.city}}</p>
                                    <p ><span>Lesson Code:</span> <span style="color: black;" class="get_lesson_code">{{queryset.lesson_code}}</span></p>
                                    <p><span>Subject:</span>{{queryset.subject.subject_name}}</p>
                                    <p><span>Level:</span>{{queryset.level.level}}</p>
                                    <p><span>Class Strength: </span>{{total_students}}</p>
                                 </div>
                              </div>

                           </div>
                         <hr/>

                           <div class="row m-t-lg">
                              <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                 <div class="sub-title">
                                    <h3 >Students in  {{queryset.lesson_code}}</h3>
                                    </div>
                                 </div>
                                 <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group  text-right">
                                       <a data-toggle="modal" data-target="#add-subject-modal" onclick="getLesonStudent({{queryset.id}})" class="btn btn-default">Add New Student</a>
                                    </div>
                                 </div>
                              </div>

                           <div class="table-responsive coman-table" id="owner-detail-btn">
                              <table class="table dataTables-example">
                                 <thead>
                                    <tr>
                                       <th>Student ID</th>

                                       <th> Name</th>
                                         <th> Age</th>
                                           <th> Level</th>
                                              <th> Major</th>
                                       <th>Actions</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for x, age in zip_data %}
                                    <tr>
                                       <td>{{x.student_code}}</td>
                                       
                                       <td>{{x.full_name}}</td>
                                        <td>{{age}}</td>
                                       <td>{{x.current_level.level}}</td>
                                        <td>{{x.major.major}}</td>
                                       <td class="add-new"><a  class="btn btn-default student_delete_id" id="delete_studeint_button" data-student-detail-id="{{x.id}}"  data-toggle="modal" data-target="#Status-modal" >Delete</a></td>
                                    </tr>
                                 {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
      <div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
         <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
                <form action="" method="post">
               <p>Are you Sure You want to Delete?</p>
               <div class="text-center">
                  <a class="btn btn-default m-r-sm"  href="#cong-modal" class="btn btn-default " data-dismiss="modal" data-toggle="modal" id="delete_student_lesson">Yes</a>
                  <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
               </div>
                </form>
            </div>
         </div>
      </div>
      <div class="modal coman-modal  fade" id="add-subject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
         <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
               <h2>Add a new student  <br>  </h2>
                <form id="add-student-form" method="POST">
                    {% csrf_token %}
               <div class="form-group text-left">
                  <!-- <label>Select Student:</label> -->
                  <select class="form-control selected_student_detail_id" name="selected_student" id="selected_student"  required>
                      <option selected disabled value="">Please Select student</option>
                      <!-- {% for data in students %}
                        {% if data.is_active %}
                            <option value="{{data.id}}">{{data.full_name}}</option>
                        {% endif %}
                      {% endfor %} -->
                  </select>
               </div>
                    <input type="hidden" class="lession_detail_id" name="lession_id" id="lession_detail_id" value="{{queryset.id}}">
                    <button type="submit" class="btn btn-default btn-small m-r-sm add-student-submit" data-student-id="{{queryset.id}}" id="add-student-submit">Add</button>
<!--               <a href="#update-modal" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal">Add</a>-->
               <a class="btn btn-default btn-small" data-dismiss="modal" data-toggle="modal">Cancel</a>
                </form>
            </div>
         </div>
      </div>
      <div class="modal coman-modal  fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
         <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
               
               <div class="text-left">
                  <label>Lesson Code:</label>
                  <div class="show_lesson_code" ></div>
               </div>
            
                <form  method="post" id="update-lession-detail">
                    {% csrf_token %}
                <div class="form-group text-left">
                      <label>Studio:</label>
                      <select class="form-control" name="studio_edit" id="studio_edit" required>
                          {% for data in studios %}
                         <option value="{{data.studio_code}}" {% if data.studio_code == queryset.studio.studio_code %} selected {% endif %}>{{data.studio_code}}</option>
                          {% endfor %}
                      </select>
                   </div>
                   <div class="form-group text-left">
                      <label>Subject:</label>
                      <select class="form-control" name="subject" id="subject" required>
                          {% for data in subjects %}
                         <option value="{{data.id}}" {% if data.subject_name == queryset.subject.subject_name %} selected {% endif %}>{{data.subject_name}}</option>
                          {% endfor %}
                      </select>
                   </div>
                    <input type="hidden" id="update_lesson_id" value="{{queryset.id}}">
                    <div class="form-group text-left">
                      <label>Level:</label>
                      <select class="form-control" name="level" id="level" required>
                          {% for data in levels %}
                         <option value="{{data.id}}" {% if data.level == queryset.level.level %} selected {% endif %}>{{data.level}}</option>
                         {% endfor %}
                      </select>

                   </div>
                        <input type="submit" value="Update" id="update-subject-add-button" class="btn btn-default btn-small m-r-sm">
    <!--               <a href="#update-modal" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal">Update</a>-->
                   <a class="btn btn-default btn-small" data-dismiss="modal" data-toggle="modal">Cancel</a>
             </form>
            </div>

         </div>
      </div>
      <div class="modal coman-modal  fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
         <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
               <div class="success-msg-icon">
                  <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
               </div>
               <h2>Added successfully !!</h2>
            </div>
         </div>
      </div>
      <div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
         <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
               <div class="success-msg-icon">
                  <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
               </div>
               <h2>Deleted successfully !!</h2>
            </div>
         </div>
      </div>
      <div class="modal coman-modal  fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
         <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
               <h2>Reason</h2>
               <div class="form-group">
                  <textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>
               </div>
               <a href="#cong-modal" class="btn m-r-sm btn-default btn-small max-83" data-dismiss="modal" data-toggle="modal">Submit</a>
            </div>
         </div>
      </div>

    <div class="modal coman-modal fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-a" role="document">
                <div class="modal-content text-center">
                    <h1>Successful</h1>
                    <div class="success-msg-icon">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <p>Lesson updated successfully.</p>
                </div>
            </div>
        </div>

        <div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
         <div class="modal-dialog modal-a" role="document">
             <div class="modal-content text-center">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                     <span aria-hidden="true">×</span>
                 </button>
 
                 <h1>Error</h1>
                 <div class="wrong-msg-icon">
                     <i class="fa fa-times" aria-hidden="true"></i>
                 </div>
                 <p id="error-text">
                 </p>
             </div>
         </div>
     </div>      


{% endblock %}


{% block custom_js %}
<script>
   function getLesonStudent(lesson_id){
       var url = '{% url 'get_lesson_student' id=lesson_id %}';
       $.ajax({
           type: 'GET',
           url: url,
           data: 'lesson_id='+lesson_id+'' ,
           success: function (msg) {
               console.log("Success");
               var data = JSON.parse(msg)
                var options = '<option selected disabled >Please Select student</option>';
                for (i = 0; i < data.length; i++) {
                    options += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                }
                $('#selected_student').html(options);
           },
           error:function(err){
               console.log(err);
               
           }
       });
   }
</script>

<script>
   function set_lessonCode(){
      console.log("inlesson code")
      var LessonCode = $('.get_lesson_code').text();
      console.log("lesson code is ", LessonCode)
      $('.show_lesson_code').text( LessonCode.trim());
   }
</script>

      <script>
         $(document).ready(function(){
             {% if request.session.user_type == "Principal" %}
                $('#studio_edit').attr("disabled", "");
                $("#studio_edit").val("{{ user.studio.studio_code }}").change();
            {% endif %}
           $('.dataTables-example').DataTable(                       );
           /* Init DataTables */


         }
                          );

      </script>

      <!-- zoom kyc document -->
      <script type="text/javascript">
         // Get the modal
         var modal = document.getElementById("myModal");

         // Get the image and insert it inside the modal - use its "alt" text as a caption
<!--         var img = document.getElementById("myImg");-->
<!--         var modalImg = document.getElementById("img01");-->
<!--         var captionText = document.getElementById("caption");-->
<!--         img.onclick = function(){-->
<!--           modal.style.display = "block";-->
<!--           modalImg.src = this.src;-->
<!--           // captionText.innerHTML = this.alt;-->
<!--         }-->

<!--         // Get the <span> element that closes the modal-->
<!--         function openModal() {-->
<!--           document.getElementById('myModal').style.display = "block";-->
<!--         }-->

<!--         function closeModal() {-->
<!--           document.getElementById('myModal').style.display = "none";-->
<!--         }-->


</script>




<script>


function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }

$(document).on('click', '.student_delete_id', function (e) {
    $("#delete_student_lesson").attr("data-id",this.getAttribute("data-student-detail-id"));
 });

 $("#delete_student_lesson").on('click', function () {
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    var stud_id = this.getAttribute("data-id")
    $.ajax({
      type: 'POST',
      url: '/deleteLessonStudent/' + stud_id,
      data: {
            'csrfmiddlewaretoken':csrf,
            'id': this.getAttribute("data-id"),
            'lesson_id':{{queryset.id}}
      },
      success: function (data) {
           var modal = $('#cong-modal').modal('show');
        var delayInMilliseconds = 1000;
        setTimeout(function() {
         window.location.href = "{% url 'lesson'  %}";
            }, delayInMilliseconds);
      }
    });
  });

      </script>
<script>
//add-student-form
//Add_student_selected
  $("#add-student-form").validate({
    errorClass: "validateError",
        rules:{
            selected_student:{
                required: true,
            },

    },
    errorPlacement: function ( error, element ) {
        if ( $(element).hasClass("cal-input") ) {
        error.insertAfter( $(element).parents(".input-group") );
    } else {
        error.insertAfter( element );
        error.insertAfter( $(element).parents(".pro-box") );
    }
    },
});


//add-student-submit

$(".add-student-submit").click(function () {
   
    var isValid = $('#add-student-form').valid();
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    var lession_id = $(".lession_detail_id").val();
    var selected_student_id = $(".selected_student_detail_id").val();
    var url = '{% url 'lesson_details' id=lession_id %}';
    console.log(url)

    if(isValid == false){
        console.log('error')
        return false;
    }
    else{
      $.ajax({
         url: url,
         type: 'POST',
         data:{
            'csrfmiddlewaretoken':csrf,
            "add_std_id":selected_student_id,
            'lession_id': lession_id
         },
         success: function (data) {
            delayInMilliseconds = 2000;
            
            $("#add-subject-modal").modal("hide");
            
               $("#update-modal").modal("show")
               setTimeout(function() {
                     $("#update-modal").modal("hide")
                     window.location.reload();
               }, delayInMilliseconds);
         }
      });
   }
   return false;
});


 $("#update-lession-detail").validate({
    errorClass: "validateError",
        rules:{
            studio_edit: {
                required: true,
            },
            subject:{
                required: true,
            },
            level:{
                required: true,
            },

    },
    errorPlacement: function ( error, element ) {
        if ( $(element).hasClass("cal-input") ) {
        error.insertAfter( $(element).parents(".input-group") );
    } else {
        error.insertAfter( element );
        error.insertAfter( $(element).parents(".pro-box") );
    }
    },
});


//update-subject-add-button




$("#update-subject-add-button").click(function () {
    $('#loader').show();
    var isValid = $('#update-subject-add-button').valid();
    var studio_code = $('#studio_edit').val();
    var subject_name = $("#subject").val();
    var update_lesson_id = $("#update_lesson_id").val();
    var levels = $("#level").val();
    var lesson_url = '{% url 'lessonEdit' id=update_lesson_id %}'
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    

    if(isValid == false){
        console.log('error')
        return false;
        alert("error")
        $('#loader').hide();
    }
    else{
        $.ajax({
          url: '{% url 'lessonEdit' id=update_lesson_id %}',
          type: 'POST',
          data:{
            'csrfmiddlewaretoken':csrf,
            "subject":subject_name,
            "level":levels,
            "update_lesson_id":update_lesson_id,
            "studio_code": studio_code
          },
          success: function (data) {
             console.log(data)
              $('#loader').hide();
          $("#edit-modal").modal("hide")
              $('#success-msg').modal('show');
            setTimeout(function() {
               $('#success-msg').modal('hide');
               window.location.href = "/lessonDetails/"+ {{ id }};
                },2000);
          }
        });
        event.stopImmediatePropagation();
        event.preventDefault();
    }
    $('#loader').hide();
  });

</script>
{% endblock %}