{% extends 'base.html' %}
{% load static %}
{% block data %}
    <head>
    <title>All Lessons</title>
</head>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content" id="history">
                    <div class="box-heading">
                        <h2>All Lessons</h2>
                        
                    </div>
                    <div class="row ">
                    {% if request.session.user_type == "Admin" %}
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group  text-left">
                                <select class="form-control lesson_filter" id="studio_filter_id">
                                    <option value="All Studio">All Studio</option>
                                    {% for studio in studios %}
                                        <option value="{{studio.id}}">{{studio.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group  text-left">

                                <select class="form-control lesson_filter" id="level_filter_id">
                                    <option value="All Level">All Level</option>
                                    {% for levels in levels %}
                                        <option value="{{levels.id}}">{{levels.level}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group  text-left">

                                <select class="form-control lesson_filter" id="subject_filter_id">
                                    <option value="All Subject">All Subject</option>
                                    {% for subjects in subjects %}
                                        <option value="{{subjects.id}}">{{subjects.subject_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                     {% if request.session.user_type == "Admin" %}
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group  text-right">
                                <a data-toggle="modal" data-target="#add-subject-modal" class="btn btn-default" onclick="Clear();">Add New
                                    Lesson</a>
                            </div>
                        </div>
                     {% else %}
                         <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group  text-right">
                                <a data-toggle="modal" data-target="#add-subject-modal" class="btn btn-default" onclick="Clear();">Add New
                                    Lesson</a>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                    <div class="table-responsive coman-table" id="lesn-table">
                        <table class="table dataTables-example">
                            <thead id="leson_detail_table_tbody">
                            <tr>
                                <th>Studio Code</th>
                                <th>Lesson Code</th>
                                <th>Subject Name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody id="lesson_filter_tbody">
                                {% for data in lessons %}
                                    <tr>
                                        <td>{{ data.studio.studio_code }}</tD>
                                        <td>{{data.lesson_code}}</td>
                                        <td>{{data.subject.subject_name}}</td>
                                        <td class="add-new">
                                            <a href="{% url 'lesson_details' data.id %}" class="btn btn-default">View</a>
                                            <a data-toggle="modal"  studet-lesson-detail-id="{{data.id}}" onclick="getLesonStudent({{data.id}})" data-target="#add-student-modal" class="btn btn-default add_student_button_id">Add
                                                Student</a>
                                            <a class="btn btn-default lesson_delete_id" data-toggle="modal"
                                               data-target="#Status-modal" data-lesson-detail-id="{{data.id}}">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal coman-modal fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you Sure You want to Delete?</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="text-center">
                        <a class="btn btn-default m-r-sm" href="#cong-modal" class="btn btn-default "
                           data-dismiss="modal" data-toggle="modal" id="delete_lesson">Yes</a>
                        <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modal coman-modal fade" id="add-subject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                   
                    
                </button>
                <h2>Add New Lesson</h2>
                <form id="Add_new_lesson_vaidation_form">
                <div class="form-group text-left">
                        <label>Select Studio:</label>
                        <select class="form-control" name="studio_add" id="studio_add" required>
                            <option selected disabled value="Select Studio">Select Studio</option>
                            {% for data in studios %}
                                <option value="{{data.studio_code}}">{{data.studio_code}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group text-left">
                        <label>Select Subject:</label>
                        <select class="form-control" name="subject" id="subject" required>
                            <option selected disabled value="Select Subject">Select Subject</option>
                            {% for data in subjects %}
                                <option value="{{data.subject_code}}">{{data.subject_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group text-left">
                        <label>Select Level:</label>
                        <select class="form-control" name="level" id="level" required>
                            <option selected disabled value="Select Level">Select Level</option>
                            {% for data in levels %}
                            <option value="{{data.level_shortcut}}">{{data.level}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" id="lesson-submit" class="btn btn-default btn-small m-r-sm lesson-submit">Add</button>
                    <a class="btn btn-default btn-small" data-dismiss="modal" onclick="clearAddlessonSelectOption()" data-toggle="modal">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <div class="modal coman-modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2>Edit Subject</h2>

                <div class="form-group text-left">
                    <label>Subject Name:</label>
                    <select class="form-control">
                        <option>select Subject</option>
                        <option>select Subject</option>
                        <option>select Subject</option>
                    </select>
                    <input type="text" class="form-control" placeholder="Subject Name">
                </div>

                <a href="#update-modal" class="btn btn-default btn-small m-r-sm" data-dismiss="modal"
                   data-toggle="modal">Update</a>
                <a class="btn btn-default btn-small" data-dismiss="modal" data-toggle="modal">Cancel</a>


            </div>
        </div>
    </div>
    <div class="modal coman-modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

                </div>
                <h2>Updated successfully !!</h2>


            </div>
        </div>
    </div>

    <div class="modal coman-modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                </div>
                <h2 id="success-text"></h2>
            </div>
        </div>
    </div>

    <div class="modal coman-modal fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

                </div>
                <h2>Deleted successfully !!</h2>


            </div>
        </div>
    </div>
    <div class="modal coman-modal fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h2>Reason</h2>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>

                </div>
                <a href="#cong-modal" class="btn m-r-sm btn-default btn-small max-83" data-dismiss="modal"
                   data-toggle="modal">Submit</a>


            </div>
        </div>
    </div>
    <div class="modal coman-modal fade" id="add-student-modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" onclick="clearAddStudentSelectOption()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form method="POST" id="addstudent-in-lesson-validation">
                    <h2>Add a new student <br> </h2>

                    <div class="form-group text-left">
                        <label>Select Student:</label>
                        <select class="form-control" name="select_student_id"  id="select_student_id" required="">
                            <option selected disabled value="Please select student">Please select student</option>
                            <!-- {% for data in students %}
                                <option value="{{data.id}}">{{data.full_name}}</option>
                            {% endfor %} -->
                        </select>
                    </div>

                    <button  id="add-student-model-id" class="btn btn-default btn-small m-r-sm" data-dismiss="modal"
                       data-toggle="modal">Add</button>
                    <a class="btn btn-default btn-small" data-dismiss="modal" onclick="clearAddStudentSelectOption()" data-toggle="modal">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p id="error-text">
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}

<script>
    function getLesonStudent(lesson_id){
        var url = '{% url 'get_lesson_student' id=lesson_id %}';
        $.ajax({
            type: 'GET',
            url: url,
            data: 'lesson_id='+lesson_id+'' ,
            success: function (msg) {
                console.log("Success");

                var data = JSON.parse(msg)
                var options = '<option selected disabled >Please Select student</option>';
                for (i = 0; i < data.length; i++) {
                    options += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                }
                $('#select_student_id').html(options);                
                  
            },
            error:function(err){
                console.log(err);
                
            }
        });
    }
</script>


<script>
  function clearAddStudentSelectOption(){
            document.getElementById('select_student_id').value = "Please select student"
    }
    function clearAddlessonSelectOption(){
        document.getElementById('subject').value = "Select Subject"
        document.getElementById('level').value = "Select Level"
    }
</script>
<script>

$(document).on('click', '.add_student_button_id', function (e) {
    
    $("#add-student-model-id").attr("data-id",this.getAttribute("studet-lesson-detail-id"));
 });


$("#add-student-model-id").click(function (){
    $('#loader').show();
    var is_Valid = $("#addstudent-in-lesson-validation").valid();
    var std_id = $("#select_student_id").val();
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    var url = '{% url 'add_lesson_student' id=std_id %}';

    if(is_Valid == false){

        console.log('error')
        return false;
    }
    else{
        $('#loader').show();
        $.ajax({
          type: 'POST',
          url: url,
          async:false,
          data: {
                'csrfmiddlewaretoken':csrf,
                'add_Student': std_id,
                'id':this.getAttribute("data-id"),
          },
          success: function (data) {
            var delayInMilliseconds = 500;
            setTimeout(function() {
                $('#loader').show().hide();
                $('#update-modal').modal('show');    
            }, delayInMilliseconds);
            var DMS = 2000;
            setTimeout(function() {
                $('#update-modal').modal('hide');
            }, DMS);
            document.getElementById('select_student_id').value = "Please select student"
          }
        });
    }
});




</script>

<script>
function openSuccessModal(msg) {
            $('#success-text').text(msg);
            $("#add-modal").modal('show');
        }

function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }
</script>
<script>
      $(document).ready(function(){
          {% if request.session.user_type == "Principal" %}
                $('#studio_add').attr("disabled", "");
                $("#studio_add").val("{{ user.studio.studio_code }}").change();
            {% endif %}
        $('.dataTables-example').DataTable();
        /* Init DataTables */
      });

$(document).on('click', '.lesson_delete_id', function (e) {
    $('#loader').hide();
    $("#delete_lesson").attr("data-id",this.getAttribute("data-lesson-detail-id"));
 });

 $("#delete_lesson").on('click', function () {
    $('#loader').hide();
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    $('#loader').show();
    $.ajax({
      type: 'POST',
      url: '/lessonDelete/' + this.getAttribute("data-id"),
      data: {
            'csrfmiddlewaretoken':csrf,
            'id': this.getAttribute("data-id"),
      },
      success: function (data) {
        $('#loader').hide();
        var modal = $('#cong-modal').modal('show');
        var delayInMilliseconds = 2000;
        setTimeout(function() {
        $('#loader').hide();
         window.location.href = "{% url 'lesson'  %}";
            }, delayInMilliseconds);
      }
    });
  });

$("#lesson-submit").on('click', function () {
    $('#loader').show();
    var isValid = $('#Add_new_lesson_vaidation_form').valid();
    var subject_name = $("#subject").val();
    var levels = $("#level").val();
    var studios = $("#studio_add").val();

    if(isValid == false){
        document.getElementById('lesson-submit').removeAttribute('disabled',true);
        $('#loader').hide();
        return false;
    }
    else{
        document.getElementById('lesson-submit').setAttribute('disabled',true);
        $('#loader').show();
        $.ajax({
          url: '{% url 'lesson' %}',
          type: 'POST',
          async:false,
          data:{
            "subject":subject_name,
            "level":levels,
            "studio": studios
          },
          beforeSend: function(){
            $("#add-subject-modal").modal("hide");
          },
          success: function (data) {
             $('#loader').hide();
              $("#add-subject-modal").modal("hide");
              openSuccessModal(data);
              function redirect() {
                $('#loader').hide();
                 window.location.href = "{% url 'lesson'  %}";
              }
              setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
          },
          error: function (data) {
            document.getElementById('lesson-submit').removeAttribute('disabled',true);
            $('#loader').hide();
            openErrorModal(data.responseText);
          },
          complete:function(){
            document.getElementById('lesson-submit').removeAttribute('disabled',true);
          }
        });
        event.stopImmediatePropagation();
        event.preventDefault();
    }
  });

  $("#Add_new_lesson_vaidation_form").validate({
    errorClass: "validateError",
        rules:{
            studio_add: {
                required: true,
            },
            selected_subject_name:{
                required: true,
            },
            selected_levels:{
                required: true,
            },

    },
    errorPlacement: function ( error, element ) {
        if ( $(element).hasClass("cal-input") ) {
        error.insertAfter( $(element).parents(".input-group") );
    } else {
        error.insertAfter( element );
        error.insertAfter( $(element).parents(".pro-box") );
    }
    },
});

$("#addstudent-in-lesson-validation").validate({
    errorClass: "validateError",
        rules:{
            select_student_id:{
                required: true,
            },
    },
    errorPlacement: function ( error, element ) {
        if ( $(element).hasClass("cal-input") ) {
        error.insertAfter( $(element).parents(".input-group") );
    } else {
        error.insertAfter( element );
        error.insertAfter( $(element).parents(".pro-box") );
    }
    },
});



</script>


<script>

    $(".lesson_filter").change(function(){
    $("#lesson_filter_tbody").empty()
    var datatable_lesson= $(".dataTables-example").DataTable();
    datatable_lesson.destroy();
    console.log('inside onchange');
    $(".dataTables-example").DataTable({
        ajax : {
            url : '/lesson_data_table_url',
            type : 'GET',
            data : {
            {% if request.session.user_type == "Admin" %}
                "studio": $("#studio_filter_id option:selected").val(),
            {% elif request.session.user_type == "Principal" %}
                "studio": "{{ user.studio.id }}",
            {% endif %}

                "level": $("#level_filter_id option:selected").val(),
                "subject": $("#subject_filter_id option:selected").val(),
            }
        },
        columns: [
                {"data": "studio_code"},
                {"data": "code"},
                {"data": "name"},
                {
                    "data": "id", "render": function (data) {
                        var res = '';
                        res += '<a href="/lessonDetails/'+data+'" class="btn btn-default">view</a>';
                        res +='<a data-toggle="modal" data-target="#add-student-modal" class="btn btn-default">AddStudent</a>';
                        res +='<a class="btn btn-default lesson_delete_id" data-toggle="modal" data-target="#Status-modal" data-lesson-detail-id="+data+">Delete</a>';
                        return res;
                    }
                }
            ],
            columnDefs:
            [{
                targets: '_all',
                className: 'add-new',
                }
            ],
    });

});
    function Clear(){
        {% if request.session.user_type == "Admin" %}
            $('#studio_add').val('Select Studio');
        {% endif %}
        $('#subject').val('Select Subject');
        $('#level').val('Select Level');
    }
</script>


{% endblock %}