{% extends 'base.html' %}
{% load static %}
{% block data %}
    <head>
        <title>All Levels</title>
    </head>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ibox">
                    <div class="ibox-content" id="history">
                        <div class="box-heading">

                            <h2>All Levels
                            </h2>
                        </div>
                        <div class="form-group  text-right">
                            <a data-toggle="modal" data-target="#add-subject-modal" class="btn btn-default" onclick="$('#level_shortcut').val(''); $('#level_data').val(''); $('#level_data-error').remove(); $('#level_shortcut-error').remove(); $('#add-level').prop('disabled', false); ">Add New
                                Level</a>
                        </div>
                        <div class="table-responsive coman-table" id="owner-detail-btn">
                            <table class="table dataTables-example">
                                <thead>
                                <tr>
                                    <th>CURIOO Levels Codes</th>
                                    <th>CURIOO Levels</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="add-new"><a data-toggle="modal" data-target="#edit-modal"
                                                           class="btn btn-default">Edit</a><a href="#"
                                                                                              class="btn btn-default"
                                                                                              data-toggle="modal"
                                                                                              data-target="#Status-modal">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <p>Are you Sure You want to Delete?</p>
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" href="#" class="btn btn-default " data-dismiss="modal"
                       data-toggle="modal" id="delete-level"><input type="hidden" id="level-id" value>Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal coman-modal  fade" id="add-subject-modal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <h2>Add New Curioo Level</h2>
                <form id="add_level_form">
                    {% csrf_token %}
                    <div class="form-group text-left">
                        <label>Level Shortcut:</label>
                        <input type="text" class="form-control" placeholder="Please Enter Level Shortcut Code"
                               name="level_shortcut" required id="level_shortcut">
                    </div>
                    <div class="form-group text-left" id="div_add_data">
                        <label>Level:</label>
                        <input type="text" class="form-control" name="level_data" placeholder="Please Enter Level"
                               required id="level_data">
                    </div>
                    <button class="btn btn-default btn-small m-r-sm" data-toggle="modal"
                            id="add-level">Add
                    </button>
                    <a class="btn btn-default btn-small" data-dismiss="modal" data-toggle="modal">Cancel</a>

                </form>
            </div>
        </div>
    </div>
    <div class="modal coman-modal  fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

                </div>
                <h2>Added successfully !!</h2>
            </div>
        </div>
    </div>
    <div class="modal coman-modal  fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <h2>Edit Curioo Level</h2>
                <form id="edit_level_form">
                    {% csrf_token %}
                    <div class="form-group text-left">
                        <label>Level Shortcut:</label>
                        <input type="text" class="form-control" name="edit_level_shortcut"
                               placeholder="Please Enter Level Shortcut Code" required id="edit_level_shortcut">
                        <input type="hidden" value="" id="edit_short">
                    </div>
                    <div class="form-group text-left">
                        <label>Level:</label>
                        <input type="text" class="form-control" name="edit_level" placeholder="Please Enter Level"
                               required id="edit_level">
                    </div>
                    <button type="submit" class="btn btn-default btn-small m-r-sm" data-toggle="modal"
                            id="final-submit"><input type="hidden" id="edit-update" value="">Update
                    </button>
                    <a class="btn btn-default btn-small" data-dismiss="modal" data-toggle="modal"
                       onclick="$('#edit_level').val('');">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <div class="modal coman-modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                </div>
                <h2>Updated successfully !!</h2>
            </div>
        </div>
    </div>
    <div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

                </div>
                <h2>Deleted successfully !!</h2>
            </div>
        </div>
    </div>
    <div class="modal coman-modal  fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <h2>Reason</h2>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>
                </div>
                <a href="#cong-modal" class="btn m-r-sm btn-default btn-small max-83" data-dismiss="modal"
                   data-toggle="modal">Submit</a>
            </div>
        </div>
    </div>
    <div class="modal coman-modal" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p id="error-text"></p>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script>
        $(document).ready(function () {
                $('#loader').hide();
                $('#table-body').empty();
                var datatablev = $('.dataTables-example').DataTable();
                datatablev.destroy();
                $('.dataTables-example').DataTable(
                    {
                        ajax: {
                            url: 'level-api',
                            type: 'GET',
                        },
                        columns: [
                            {"data": "level_code"},
                            {"data": "level"},
                            {
                                "data": "id", "render": function (data, data2) {
                                    var res = '';
                                    res += '<a data-toggle="modal" data-target="#edit-modal" class="btn btn-default" onclick="EditButton(this, ' + data + ')" id="edit">Edit</a><a href="#" class="btn btn-default" data-toggle="modal" data-target="#Status-modal" onclick="$(\'#level-id\').val(' + data + ')">Delete</a>';
                                    //res += '<a href="teacher/' + data + '" class="btn btn-default">View</a> <a data-url="teacherDelete/' + data + '" class="btn btn-default" onclick="getfirstpopup($(this).attr(\'data-url\'))">Delete</a>';
                                    //res += '<a data-toggle="modal" data-target="#editR-modal" class="btn btn-default" id="edit_rating_' + data + '" onclick="edit_rating($(this))">Edit</a>&nbsp;<a class="btn btn-default" data-toggle="modal" data-target="#rating-dlt-modal" id="delete_rating_' + data + '" onclick="add_value_del_rating($(this))">Delete</a>';
                                    return res;
                                }
                            }
                        ],
                        columnDefs: [{
                            targets: '_all',
                            className: 'add-new',
                        }

                        ],
                    }
                );
            }
        );
    </script>
    <script type="text/javascript">
        /*
                // Get the modal
                var modal = document.getElementById("myModal");

                // Get the image and insert it inside the modal - use its "alt" text as a caption
                var img = document.getElementById("myImg");
                var modalImg = document.getElementById("img01");
                var captionText = document.getElementById("caption");
                img.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = this.src;
                    // captionText.innerHTML = this.alt;
                };
        */
        // Get the <span> element that closes the modal
        function openModal(id) {
            // document.getElementById('myModal').style.display = "block";
            $('#' + id).modal("show");
        }

        function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }

        jQuery.validator.addMethod("lettersWithSpaces", function (value, element) {
            if (value == '' || value.trim().length == 0) {
                return false;
            } else {
                return true;
            }
        }, "Level name cannot be blank");

        $("#add_level_form").validate({
            errorClass: "validateError",
            rules: {
                level_data: {
                    required: true,
                    lettersWithSpaces: true,
                },
                level_shortcut: {
                    required: true,
                    lettersWithSpaces: true,
                }
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
        });

        $("#edit_level_form").validate({
            errorClass: "validateError",
            rules: {
                edit_level: {
                    required: true,
                    lettersWithSpaces: true,
                },
                edit_level_shortcut: {
                    required: true,
                    lettersWithSpaces: true,
                },
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
        });

    </script>
    <script>
        var submit_data = function (e) {
            $('#loader').hide();
            var edit_level = $('#edit_level').val();
            var level_id = $('#edit-update').val();
            var level_shortcut = $('#edit_level_shortcut').val();
            var isValid = $("#edit_level_form").valid();
            if (isValid == false) {
                console.log('inside if ')
            } else {
                var formdata = new FormData();
                formdata.append("level", edit_level);
                formdata.append('level_shortcut', level_shortcut);
                $('#loader').show();
                $.ajax({
                    url: "/admin/level/" + level_id + '/',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formdata,
                    success: function () {
                        $('#loader').hide();
                        console.log("inside success");
                        $("#edit-modal").modal('hide');
                        $(".dataTables-example").DataTable().ajax.reload(null, false);
                        openModal("update-modal");

                        function redirect() {
                            $("#update-modal").modal('hide');

                        }

                        setTimeout(redirect, 700); //2000 is equivalent to 2 seconds
                    },
                    error: function (data) {
                        $('#loader').hide();
                        console.log('fail', data);
                        console.log('text', data.responseText);
                        openErrorModal(data.responseText);
                    }
                });
                e.stopImmediatePropagation();
                e.preventDefault();

            }
        };
        $('#final-submit').on('click', submit_data);

        
        var add_level = function (e) {
            $('#loader').hide();
            $(this).prop('disabled', true);
            var level_data = $('#level_data').val();
            var level_shortcut = $('#level_shortcut').val();
            var isValid = $("#add_level_form").valid();
            if (isValid == false) {
                $(this).prop('disabled', false);
                console.log('inside if ')
            } else {
                console.log("inside else");
                var formdata = new FormData();
                formdata.append("level", level_data);
                formdata.append('level_shortcut', level_shortcut);
                $('#loader').show();
                $.ajax({
                    url: "/admin/level",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formdata,
                    success: function () {
                        $('#loader').hide();
                        console.log("inside success level");
                        $(".dataTables-example").DataTable().ajax.reload(null, false);
                        openModal("add-modal");
                        $("#add-subject-modal").modal('hide');
                        //$(".modal-backdrop").remove()
                        //$("#level_shortcut").val("")
                        //closeModal("add-subject-modal");
                        function redirect() {
                            $("#add-modal").modal('hide');

                        }

                        setTimeout(redirect, 700); //2000 is equivalent to 2 seconds
                    },
                    error: function (data) {
                        $('#loader').hide();
                        console.log('fail', data);
                        console.log('text', data.responseText);
                        $('#add-level').prop('disabled', false);
                        openErrorModal(data.responseText);
                    }
                });
                e.stopImmediatePropagation();
                e.preventDefault();
            }
        };
        $('#add-level').on('click', add_level);



        var delete_level = function () {
            $('#loader').hide();
            var level_id = $('#level-id').val();
            $('#loader').show();
            $.ajax({
                url: "/admin/level/" + level_id,
                type: "GET",
                processData: false,
                contentType: false,
                success: function () {
                    $('#loader').hide();
                    console.log("inside success");
                    openModal("cong-modal");
                    $(".dataTables-example").DataTable().ajax.reload(null, false);

                    function redirect() {
                        $("#cong-modal").modal('hide');

                    }

                    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                },
                error: function (data) {
                    $('#loader').hide();
                    console.log('fail', data);
                    console.log('text', data.responseText);
                }
            });
        };
        $('#delete-level').on('click', delete_level);

        function EditButton(data, id) {
            console.log("inside Edit Button");
            var level_shortcut = data.parentElement.parentElement.children[0].textContent;
            var level = data.parentElement.parentElement.children[1].textContent;
            $('#edit_level').val(level);
            $('#edit_level_shortcut').val(level_shortcut);
            $('#edit-update').val(id);
            $('#edit_level-error').remove();
            $('#edit_level_shortcut-error').remove();
        }
    </script>
{% endblock %}
