{% extends 'base.html' %}
{% load static %}
{% block data %}
    <head>
    <title>All Notification</title>
    </head>

    <div class="wrapper wrapper-content">
			 <div class="row">

			 	  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			 	  	   <div class="ibox">
			 	  	   	    <div class="ibox-content" id="">
			 	  	   	    	<div class="box-heading"><h2>All Notifications</h2></div>
                                <div  class="table-responsive coman-table notification" >
                                         <table  class="table dataTables-example">
                          	
    			 					 	  	 <tbody>
                                             {% for notifications in notifications_seen %}
    			 					 	  	     <tr>
                                                 <td>{{ notifications.notification }}</td>
                                                    <td class="text-center noti-time">{{ notifications.created_at }}</td>
    			 					 	  	     </tr>

                                             {% endfor %}
    			 					 	  	     </tbody>
    			 					 	  </table>
                                </div>
                            </div>
                       </div>
			 	  </div>
			 </div>
		</div>

    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function () {
                $('.dataTables-example').DataTable();
                /* Init DataTables */


            }
        );

    </script>

    <!-- zoom kyc document -->
    <script type="text/javascript">

        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        /*img.onclick = function(){
          modal.style.display = "block";
          modalImg.src = this.src;
          // captionText.innerHTML = this.alt;
        }*/

        // Get the <span> element that closes the modal
        function openModal() {
            document.getElementById('myModal').style.display = "block";
        }

        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }
    </script>
{% endblock %}
