{% extends 'base.html' %}
{% block data %}
{% load static %}

<title>Principal</title>
		<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content" id="history">
                    <div class="box-heading">

                        <h2>All Principals
                        </h2>

                    </div>

                    <div class="form-group  text-right">

                        <a href="{% url 'principal' %}" class="btn btn-default">Add New Principal</a>
                    </div>

                    <div class="table-responsive coman-table" id="owner-detail-btn">
                        <table class="table dataTables-example">
                            <thead>

                            <tr>

                                <th>Principal ID</th>
                                <th>Name</th>
                                <th>Studio</th>


                                <th>Action</th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for data in principal %}
                            <tr id="learning_consultant_{{data.id}}">
                                <td>{{data.principal_code}}</td>
                                <td>{{data.full_name}}</td>

                                <td>{{data.studio.studio_code|upper}}, {{data.studio.name}}, {{data.studio.city}}</td>

                                <!--  <td>21</td> -->


                                <!-- <td>In process</td> -->
                                <td class="add-new"><a href="{% url 'principal_details' data.id %}"
                                                       class="btn btn-default">View</a>
                                    <a class="btn btn-default lc_delete_id" id="delete_announce"
                                       data-lc-detail-id="{{data.id}}" data-toggle="modal" data-target="#Status-modal">Delete</a>
                                </td>
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
<div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md " role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>Are you Sure You want to Delete?</p>
            <form method="POST">
                {% csrf_token %}
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" href="#cong-modal" id="delete_announcement"
                       class="btn btn-default " data-dismiss="modal" data-toggle="modal">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>

            </form>

        </div>
    </div>
</div>

<div class="modal coman-modal  fade" id="sent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Token Transfer</h2>
            <div class="form-group text-left">
                <label>Wallet Adress :</label>
                <input type="email" class="form-control" placeholder="Wallet Address">
            </div>
            <div class="form-group text-left">
                <label>Amount :</label>
                <input type="email" class="form-control" placeholder="Amount">
            </div>
            <div class="form-group  text-left">
                <label>Token Name :</label>
                <select class="form-control">
                    <option>Token 1</option>
                    <option>Token 2</option>
                </select>
            </div>
            <a href="#cong-modal" class="btn btn-default btn-small m-t-sm" data-dismiss="modal" data-toggle="modal">Send
                Token</a>


        </div>
    </div>
</div>
<div class="modal coman-modal  fade studio-delete-class" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

            </div>
            <h2>Deleted successfully !!</h2>


        </div>
    </div>
</div>
<div class="modal coman-modal  fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <h2>Reason</h2>
            <div class="form-group">
                <textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>

            </div>
            <a href="#cong-modal" class="btn m-r-sm btn-default btn-small max-83" data-dismiss="modal"
               data-toggle="modal">Submit</a>


        </div>
    </div>
</div>
<!-- Mainly scripts -->
<!--    <script src="js/jquery-2.1.1.js"></script>-->
<!--    <script src="js/bootstrap.min.js"></script>-->
<!--    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>-->
<!--    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>-->

<!--    &lt;!&ndash; Custom and plugin javascript &ndash;&gt;-->
<!--    <script src="js/inspinia.js"></script>-->
<!--    <script src="js/plugins/pace/pace.min.js"></script>-->
<!--      <script src="js/plugins/dataTables/datatables.min.js">-->
<!--    </script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
      $(document).ready(function(){
        $('.dataTables-example').DataTable(                       );
        /* Init DataTables */


      }
                       );


</script>
<!-- zoom kyc document -->
<script type="text/javascript">

// Get the modal
<!--var modal = document.getElementById("myModal");-->

<!--// Get the image and insert it inside the modal - use its "alt" text as a caption-->
<!--var img = document.getElementById("myImg");-->
<!--var modalImg = document.getElementById("img01");-->
<!--var captionText = document.getElementById("caption");-->
<!--img.onclick = function(){-->
<!--  modal.style.display = "block";-->
<!--  modalImg.src = this.src;-->
<!--  // captionText.innerHTML = this.alt;-->
<!--}-->

<!--// Get the <span> element that closes the modal-->
<!--function openModal() {-->
<!--  document.getElementById('myModal').style.display = "block";-->
<!--}-->

<!--function closeModal() {-->
<!--  document.getElementById('myModal').style.display = "none";-->
<!--}-->

    $(document).on('click', '.lc_delete_id', function (e) {
    $("#delete_announcement").attr("data-id",this.getAttribute("data-lc-detail-id"));
 });

 $("#delete_announcement").on('click', function () {
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    var data_id= this.getAttribute("data-id")
    $.ajax({
      type: 'POST',
      url: '/principalDelete/' + this.getAttribute("data-id"),
      data: {
            'csrfmiddlewaretoken':csrf,
            'id': this.getAttribute("data-id"),
      },
      success: function (data) {
      var delayInMilliseconds = 2000;
        setTimeout(function() {
        $("#learning_consultant_"+data_id).fadeOut();
            $('.studio-delete-class').modal('hide');

            }, delayInMilliseconds);
      }
    });
  });

</script>
{% endblock %}