{% extends 'base.html' %}
{% block data %}
{% load static %}
    <title>Principal Details</title>
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content" id="studentProfile">
                    <div class="box-heading">
                        <a href="{% url 'principals_list' %}">&lt;&lt; Back</a><br/><br/>
                        <!--  <h2> Principal Detail
                         </h2> -->
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                            <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                            <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">

                                <div class="pro-box">
                                    <img class="img-responsive" src="{{details.image.url}}">
                                    <div class="browse-btn">
                                        <!--                                          <span><i class="fa fa-camera" aria-hidden="true"></i></span>-->
                                        <!--                                          <input type="file">-->
                                    </div>
                                </div>
                                <div class="stu-details princi-detail">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <!-- <span style="text-transform: uppercase;font-weight: 600;">Name </span> -->
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <span style="color: #01789a;font-weight: 600;">{{details.full_name}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12 col-sm-6 col-xs-12">
                                            <span style="text-transform: uppercase;font-weight: 600;">Position ID </span>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-6 col-xs-12">
                                            <span style="color: #01789a;font-weight: 600;">{{details.positionId}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12 col-sm-6 col-xs-12">
                                            <span style="text-transform: uppercase;font-weight: 600;">Studio ID </span>
                                        </div>
                                        <div class="col-lg-4 col-md-12 col-sm-6 col-xs-12">
                                            <span style="color: #01789a;font-weight: 600;">{{details.studio.studio_code|upper}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <span style="text-transform: uppercase;font-weight: 600;">Email ID </span>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                            <span style="color: #01789a;font-weight: 600;">{{details.email}}</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                <div class="">
                                    <!-- -----------------------------------------------------------------------------------------tabbing -->
                                    <div class=" investor-details principal-detail">

                                        <!-- Tab panes -->
                                        <div class="tab-content ">

                                            <!-- -----tab1 -->
                                            <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                                <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12"><h2>Principal
                                                            Details</h2>
                                                        </div>
                                                        <div class="stu-btn col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                                                                <a class="btn btn-default full-width lc_delete_id"
                                                                   data-lc-detail-id="{{details.id}}"
                                                                   data-toggle="modal" data-target="#Status-modal">Delete
                                                                    Principal</a>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                                                                <a href="{% url 'principal_edit' details.id %}"
                                                                   class="btn btn-default full-width">Edit Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <hr>
                                                </div>
                                                <div class="clearfix"></div>


                                                <div class="princidetail">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Name</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.full_name}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Date Of Birth</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.dob}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Gender</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.gender | capfirst}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Nationality</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.nationality}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Date Of Joining</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.doj}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Position</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.position}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Position ID</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.positionId}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Studio ID</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.studio.studio_code|upper}}</h3>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Highest Education Level</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.highest_education | capfirst}}</h3>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Education Major</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.education_major}}</h3>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Email ID</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.email}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Mobile Number</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.phone}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Emergency Contact Name</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.emergency_contact_name}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <label>Emergency Contact Number</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                            <div class="form-group usr-form">
                                                                <h3>{{details.emergency_number}}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="clearfix"></div>
                                            </div>
                                            <!-- -----tab2 -->
                                            <div role="tabpanel" class="tab-pane" id="prt-tab1">


                                            </div>
                                            <!-- -----tab3 -->
                                            <div role="tabpanel" class="tab-pane " id="prt-tab2">


                                            </div>

                                            <!-- <div class="col-lg-12 text-center">
                                              <a href="#" class=" btn btn-default">Proceed</a>
                                              <a href="#" class=" btn btn-default">Cancel</a>
                                            </div> -->

                                        </div>

                                    </div>
                                    <!-- -----------------------------------------------------------------------------------------/tabbing -->

                                </div>
                            </div>

                            <div class="modal coman-modal  fade principal_delete_model" id="Status-modal" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-md " role="document">
                                    <div class="modal-content text-center">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <p>Are you Sure You want to Delete?</p>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="text-center">
                                                <a class="btn btn-default m-r-sm" href="#cong-modal"
                                                   id="delete_announcement" class="btn btn-default "
                                                   data-dismiss="modal" data-toggle="modal">Yes</a>
                                                <a href="#" class="btn btn-default" data-dismiss="modal"
                                                   data-toggle="modal">No</a>
                                            </div>

                                        </form>
                                        <div class="modal coman-modal  fade delete_principle_success" id="cong-modal" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel">
                                            <div class="modal-dialog  modal-a" role="document">
                                                <div class="modal-content text-center">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <div class="success-msg-icon">
                                                        <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                                                    </div>
                                                    <h2>Deleted successfully !!</h2>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Mainly scripts -->
      <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<!--      <script src="js/bootstrap.min.js"></script>-->
<!--      <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>-->
<!--      <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>-->
<!--      &lt;!&ndash; Custom and plugin javascript &ndash;&gt;-->
<!--      <script src="js/inspinia.js"></script>-->
<!--      <script src="js/plugins/pace/pace.min.js"></script>-->
<!--      <script src="js/plugins/dataTables/datatables.min.js"></script>-->
<!--      <script src="js/bootstrap-datepicker.min.js"></script>-->
<script>
         $(document).ready(function(){
           $('.dataTables-example').DataTable(                       );
           /* Init DataTables */


         }
                          );



</script>
<script type="text/javascript">
<!--            $('.input-group.date').datepicker(-->
<!--              {format: "dd.mm.yyyy", autoclose: true}-->
<!--              );-->
<!--            var datePicker = $(".calendar").datepicker({});-->
<!--      var t ;-->
<!--      $( document ).on(-->
<!--          'DOMMouseScroll mousewheel scroll',-->
<!--          '#myModal',-->
<!--          function(){-->
<!--              window.clearTimeout( t );-->
<!--              t = window.setTimeout( function(){-->
<!--                  $('.calendar').datepicker('')-->
<!--              }, 100 );-->
<!--          }-->
<!--      );-->


    $(document).on('click', '.lc_delete_id', function (e) {
    $("#delete_announcement").attr("data-id",this.getAttribute("data-lc-detail-id"));
 });

//delete_principle_success
 $("#delete_announcement").on('click', function () {
     $('#loader').show();
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    var data_id= this.getAttribute("data-id")
    $.ajax({
      type: 'POST',
      url: '/principalDelete/' + this.getAttribute("data-id"),
      data: {
            'csrfmiddlewaretoken':csrf,
            'id': this.getAttribute("data-id"),
      },
      success: function (data) {
          $('#loader').hide();
        var delayInMilliseconds = 1000;
        $('.consultant_delete_model').modal('hide');
        setTimeout(function() {
            $('.delete_principle_success').modal('show');
            window.location.href = "{% url 'principals_list'  %}";
            }, delayInMilliseconds);

      }

    });
  });


</script>

{% endblock %}
