{% extends 'base.html' %}
{% load static %}



{% block data %}
    <head>
    <title>Profile</title>
</head>
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ibox">
                    <div class="ibox-content" id="history">
                        <div class="box-heading">
                            <h2>Profile
                            </h2>
                        </div>
                        <div class="my-ac-section" id="my-account">
                            <div class="my-ac-img">
                                    <img src="{{ admin.image.url }}" alt="">
                            </div>
                            <h1>{{ admin.full_name }}</h1>
                            <div class="pro-detail">
                                <div class="row text-left">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-control">Name</label>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-control">{{ admin.full_name }}</label>
                                    </div>
                                </div>
                                <div class="row text-left">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-control">Contact</label>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-control">{{ admin.phone }}</label>
                                    </div>
                                </div>
                                <div class="row text-left">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-control">Email</label>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <label class="form-control">{{ admin.email }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button data-toggle="modal" data-target="#modal-change-pw"
                                        class="btn btn-primary btn-block" id="change_pswd_btn">Change Password
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- -------------------------------------cng-pwd -->
    <div class="modal fade coman-modal" id="modal-change-pw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2>Change Password</h2>
                <form data-url="{% url 'admin/changePassword/' %}" id="reset_password" method="post">
                    {% csrf_token %}

                    <div class="form-group pw-form">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" class="form-control" placeholder="Old Password" name="old_password"
                               id="old_password" required>
                    </div>
                    <div class="form-group pw-form">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" class="form-control" placeholder="New Password" id="new_password"
                               name="new_password" required>
                    </div>
                    <div class="form-group pw-form">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" class="form-control" placeholder="Confirm New Password"
                               name="confirm_password" id="confirm_password" required>
                    </div>
                    <button type="submit" class="btn btn-primary reset_password_btn" data-toggle="modal"
                            data-dismiss="modal">Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- Success pwd msg -->
    <div class="modal coman-modal fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Successful</h1>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>

                </div>
                <p id="success-text"><br></p>

            </div>
        </div>
    </div>

    <!-- Fail pwd msg -->
    <div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>

                </div>
                <p id="error-text">
                </p>

            </div>
        </div>
    </div>



    <!-- zoom kyc document -->
    <script type="text/javascript">

    $('#change_pswd_btn').on('click', function () {
        $('#old_password').val('');
        $('#new_password').val('');
        $('#confirm_password').val('');
    });

        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        // var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        // img.onclick = function () {
        //   modal.style.display = "block";
        //   modalImg.src = this.src;
        // captionText.innerHTML = this.alt;
        //}

        // Get the <span> element that closes the modal
        function openSuccessModal(msg) {
            $('#success-text').text(msg);
            // $("#modal-change-pw").modal('hide');
            $("#success-msg").modal('show');
        }

        function openErrorModal(msg) {
            $('#error-text').text(msg);
            // $("#modal-change-pw").modal('hide');
            $("#wrong-msg").modal('show');

            // document.getElementById('wrong-msg').style.display = "block";
        }

        function closeModal() {
            $("#wrong-msg").modal('hide');
        }
    </script>
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>

    <script type="text/javascript">
        var clickHandler = function (e) {
            var url_link = $('#reset_password').attr('data-url');
            var old_password = $('#old_password').val();
            var new_password = $('#new_password').val();
            var confirm_password = $('#confirm_password').val();
            var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/
            var match = false

            console.log(url_link + ' old ' + old_password + ' new ' + new_password + ' con ' + confirm_password);
            var flag = 0;

            if (old_password == '' || new_password == '' || confirm_password == '') {
                flag = 1;
                openErrorModal("Please Enter Password.");
            } else if (old_password == new_password) {
                flag = 1;
                openErrorModal("Old Password and new Password cannot be similar.");
            } else if (!new_password.match(regx)) {
                flag = 1;
                openErrorModal("Password must contain at least 6 characters, including at least one Uppercase, Lowercase, special characters and numbers.");
            } else if (new_password != confirm_password) {
                flag = 1;
                openErrorModal("Your New Password and Confirm Password Doesn't Match");
            }
            if (flag == 0) {
                $.ajax({
                    url: url_link,
                    type: "POST",
                    dataType: 'text',
                    data: {
                        'old_password': old_password,
                        'new_password': new_password
                    },
                    success: function (data) {
                        console.log('success', data);
                        openSuccessModal(data);

                        function redirect() {
                            adminLogout();
                        }

                        setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                    },
                    error: function (data) {
                        console.log('fail', data);
                        openErrorModal('Invalid Old Password.');
                    }
                });
                e.stopImmediatePropagation();
                e.preventDefault();
            } else {
                return false;
            }
        }
        $('.reset_password_btn').on('click', clickHandler);
    </script>

{% endblock %}
