<!DOCTYPE html>
<html>
{% load static %}
{% static "reset-password.html" as baseUrl %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Curiookids</title>

    <link rel="icon" type="image/ico" href="{{ MEDIA_URL }}\media/img/icon.png">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/mystyle-coman.css' %}" rel="stylesheet">
    <link href="{% static 'css/media.css' %}" rel="stylesheet">
    <link href="{% static 'css/admin-style.css' %}" rel="stylesheet">

</head>

<body>
<div id="wrapper">
    <!-- log in html -->
    <div class=" coman-modal coman-modal-a" id="sign-in">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content  text-center">
                <a href="#"><img src="{{ MEDIA_URL }}\media/img/logo-modal.png" alt=""></a>
                <h1>Reset Password</h1>
                <form data-url="{% url 'admin/password/' uidb64=uidb64 user_type=user_type %}" id="reset_password"
                      method="post">
                    {% csrf_token %}
                    <div class="form-group pass-word">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="Password" class="form-control new_password" placeholder="Enter New Password"
                               name="new_password" required>
                    </div>
                    <div class="form-group pass-word">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="Password" class="form-control confirm_password"
                               placeholder="Enter Confirm  Password" name="confirm_password" required>
                    </div>

                    <button type="submit" class="btn btn-primary reset_password_btn" data-toggle="modal"
                            data-dismiss="modal">UPDATE
                    </button>
                    <!-- <button data-toggle="modal" data-target="#sign-up" type="submit" class="btn btn-default m-t-sm" onclick="location.href='sign-up.html'">CREATE ACCOUNT </button> -->
                </form>
            </div>


        </div>
    </div>
</div>


<!-- log in html -->
</div>

<!-- forgot password -->

<div class="modal coman-modal  fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <h1>Successful</h1>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle" aria-hidden="true"></i>

            </div>
            <p>Password has been changed successfully <br><a href="{% url 'admin/' %}" target="_blank">Click Here</a> to
                login with your new password</p>

        </div>
    </div>
</div>
<div class="modal coman-modal  fade" id="forgot-pw-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <!--  <a href="dashboard.html"> <img src="img/logo-modal.png" alt=""></a> -->
            <h2>Forgot Password</h2>
            <p>Don't remember your password? No worries.
                It happens with everyone. Just enter your registered email address and we will send you an link to reset
                password </p>
            <div class="form-group">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary text-uppercase" data-dismiss="modal" data-toggle="modal"
                    data-target="#success-msg">submit
            </button>
        </div>
    </div>
</div>
<!-- Mainly scripts -->
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static 'js/inspinia.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if error %}
    <script>
        swal("", "{{ message }}", "error")
    </script>
{% endif %}

<script type="text/javascript">
    var clickHandler = function (e) {
        var url_link = $('#reset_password').attr('data-url');
        var new_password = $('.new_password').val();
        var confirm_password = $('.confirm_password').val();
        var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&\*]).{6,}/;
        var flag = 0;
        console.log('data : ', url_link, new_password, confirm_password);

        if (new_password == '' || confirm_password == '') {
            swal("", "Please Enter Password", "error")
            flag = 1
        } else if (new_password != confirm_password) {
            swal("", "Your New Password and Confirm Password doesn't Match", "error")
            flag = 1
        } else if (!new_password.match(regx)) {
            swal("", 'Password must contain at least 6 characters, including UPPER/lowercase, special characters and numbers.',
                "error")
            flag = 1
        }
        if (flag == 0) {
            $.ajax({
                url: url_link,
                type: "POST",
                dataType: 'text',
                data: {
                    'new_password': new_password
                },
                success: function (data) {
                    console.log('success', data);
                    swal("", "You've Set your password Successfully. Now You can Login.", "success")
                    swal({
                        title: "Success!",
                        text: "You've Set your password Successfully. Now You can Login.",
                        icon: "success",
                        buttons: false
                    })

                    function redirect() {
                        window.location.href = "{% url 'admin/' %}";
                    }

                    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                },
                error: function (data) {
                    console.log('error', data)
                    swal("", "Invalid Request", "error");
                }
            });
        }
        e.stopImmediatePropagation();
        return false;
    }
    $('.reset_password_btn').on('click', clickHandler);

</script>


</body>
</html>
