{% extends 'base.html' %}
{% load static %}
{% block data %}
<head>
    <title>All Scheduled Lessons</title>
</head>

    <link href="{% static 'css/core/main.css' %}" rel='stylesheet' />
    <link href="{% static 'css/daygrid/main.css' %}" rel='stylesheet' />
    <link href="{% static 'css/timegrid/main.css' %}" rel='stylesheet' />
    <link href="{% static 'css/mystyle-coman.css' %}" rel="stylesheet">
    <link href="{% static 'css/studentp.css' %}" rel="stylesheet">

		<div class="wrapper wrapper-content">

			 <div class="row">
			 	  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			 	  	   <div class="ibox">
			 	  	   	    <div class="ibox-content" id="history">
			 	  	   	    	<div class="box-heading">
                    <h2>All Scheduled Lessons
                    </h2>
                </div>

                <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group  text-left">
                        <!-- <h3><span>Date:</span> 14th February, 2020</h3> -->
                {% if request.session.user_type == "Principal" %}
                                 <h3 >Studio:<span id="studio_vals"> &nbsp;{{studio.studio_code|upper}}, {{studio.name}}, {{studio.city}}</span> </h3>
                {% else %}
                                 <h3 >Studio:<span id="studio_vals"> &nbsp;-</span> </h3>
                {% endif %}
                        </div>
                      </div>
                    {% if request.session.user_type == "Admin" %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                         <div class="form-group  text-left">

                          <select id="studio_options" class="form-control studio_delete_id"  onchange="filterStudio(this)">
                              <option selected disabled>Select a Studio</option>
                              <option id="" value="all" class="studio_delete_id1" data-studio-detail-id="">All</option>
                              <form action="" method="post">
                              {% for data in studio %}
                            <option id="stdio_{{data.id}}" value="{{data.id}}" class="studio_delete_id1" data-studio-detail-id="{{data.id}}">{{data.studio_code|upper}}</option>
                              {% endfor %}
                                  </form>
                          </select>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group  text-right">
                          <button class="btn btn-default full-width" id="newlesson" data-toggle="modal" data-target="#Scheduled-modal" disabled onclick="clearTextBox()">Schedule a new Lesson</button>
                        </div>
                    </div>

                        {% else %}
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group  text-right">
                                <button class="btn btn-default full-width" id="newlesson" data-toggle="modal" data-target="#Scheduled-modal" onclick="clearTextBox()">Schedule a new Lesson</button>
                            </div>
                        </div>
                    {% endif %}
                    </div>

		 	  	   	      <div>
                              <form action="" method="post">

		 	  	                <div id='calendar-container'>
                                <div id='calendar'>
                                </div>
                                </div>

                              </form>
			 			  </div>
			 	  	   	  </div>
			 	  	   </div>
			 	  </div>
			 </div>

		</div>

    </div>
  <div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog modal-md " role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <p>Are you Sure You want to Delete?</p>
           <div class="text-center">
                       <a class="btn btn-default m-r-sm"  href="#Delete-modal" class="btn btn-default " data-dismiss="modal" data-toggle="modal">Yes</a>
                           <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                        </div>
        </div>
      </div>
    </div>

      <div class="modal coman-modal  fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <h2>Edit a Lesson</h2>
            <div class="form-group  text-left">
                        <label>Select a Lesson:</label>
                          <select class="form-control" disabled=""><option>EX1-EN01</option><option>Select a Lesson 2</option></select>
                        </div>
                         <div class="form-group  text-left">
                        <label>Subject:</label>
                          <select class="form-control"><option>Select a Lesson 1</option><option>Select a Lesson 2</option></select>
                        </div>
                        <div class="form-group  text-left">
                        <label>Teacher:</label>
                          <select class="form-control"><option>Teacher 1</option><option>Teacher 2</option></select>
                        </div>
           <div class="form-group text-left">
                        <label>Start Time:</label>
                          <input type="email" class="form-control" placeholder="09:00AM" value="09:00AM" required>
                        </div>
                          <div class="form-group text-left">
                       <label>End Time:</label>
                          <input type="email" class="form-control" placeholder="10:00AM" value="10:00AM" required>
                        </div>

           <a href="#Update-modal" class="btn btn-default btn-small m-r-sm " data-dismiss="modal" data-toggle="modal">Update</a>
             <a  class="btn btn-default btn-small" data-dismiss="modal" data-toggle="modal">Cancel</a>

        </div>
      </div>
    </div>
      <div class="modal coman-modal  fade" id="Scheduled-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <script>
<!--            function scheduleStudio(){-->
<!--&lt;!&ndash;                console.log("current ID",document.getElementById("studio_options").value);&ndash;&gt;-->
<!--                document.getElementById("studioID").value = document.getElementById("studio_options").value;-->
<!--                console.log("current id",document.getElementById("studioID").value);-->
<!--            }-->

            </script>
            <form action="" method="post" id="schedule-form-validation">
                {% csrf_token %}
            <h2>Schedule a new Lesson</h2>

                    <div class="form-group  text-left">
                        <label>Studio:</label>

                        {% if request.session.user_type == "Principal" %}
                            <h3 id="studio_code">{{studio.studio_code|upper}}, {{studio.name}}, {{studio.city}}</h3>
                        {% else %}
                        <h3 id="studio_code">Please select studio</h3>
                        {% endif %}

                        {% if request.session.user_type == "Principal" %}
                            <input type="hidden" id="studioIdHidden" value="{{studio.id}}" class="form-control cal-input" placeholder="Studio" name="studio">
                        {% else %}
                            <input type="hidden" id="studioIdHidden" class="form-control cal-input" placeholder="Studio" name="studio">
                        {% endif %}

                      </div>
                      <div class="form-group  text-left">
                        <label>Date:<label style="color:red">*</label></label>
                        <div class="input-group date disablePastDates" data-date-format="yyyy-mm-dd">
                           <div class="input-group-addon">
                              <span class="glyphicon glyphicon-th"></span>
                            </div>
                            <input type="text" class="form-control cal-input" placeholder="Date" name="date" id="date" required>

                      </div>
                      </div>
                      <div class="form-group  text-left">
                          <label>Select a Lesson:<label style="color:red">*</label>   </label>
                          <select class="form-control" name="lesson" id="lesson" required>
                              <option selected disabled value="selected_lesson">Select a Lesson</option>
                              {% for data in lesson %}
                              <option value="{{data.id}}" >{{data.lesson_code}}</option>
                              {% endfor %}
                          </select>
                        </div>

                        <div class="form-group  text-left">
                        <label>Teacher:<label style="color:red">*</label> </label>
                          <select class="form-control" name="teacher" id="teacher" required>
                          {% if request.session.user_type == "Principal" %}
                              <option selected disabled value="selected_teacher">Select a Teacher</option>
                              {% for data in teacher %}
                              <option value="{{data.id}}">{{data.full_name}}</option>
                              {% endfor %}
                          {% endif %}
                          </select>
                        </div>
                        <div class="form-group  text-left">
                        <label>Room:<label style="color:red">*</label></label>
                          <input type="text" class="form-control" placeholder="Room" name="room" required id="room">
                        </div>
                      <div class="form-group text-left">
                        <label>Start Time:<label style="color:red">*</label></label>
                          <input type="time" class="form-control "  placeholder="09:00AM" name="start_time" id="start_time" required>
                        </div>
                          <div class="form-group text-left">
                       <label>End Time:<label style="color:red">*</label></label>
                          <input type="time" class="form-control" placeholder="11:00PM" name="end_time" id="end_time" required>
                              {% if request.session.user_type == "Principal" %}
                                <input id="studioID" type="hidden" value="{{ studio.id }}" name="send_id">
                              {% else %}
                                  <input id="studioID" type="hidden" value="" name="send_id">
                              {% endif %}
                        </div>
            <input type="submit" class="btn btn-default btn-small m-r-sm schedule-added-class" value="Schedule" required>
<!--           <a href="#sche-modal" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal">Schedule</a>-->
             <a  class="btn btn-default btn-small " data-dismiss="modal" data-toggle="modal" onclick="clearTextBox()">Cancel</a>

            </form>
        </div>
      </div>
    </div>
      <div class="modal coman-modal  fade" id="sche-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
             <div class="success-msg-icon">
              <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
             </div>
             <h2>Scheduled successfully !!</h2>

        </div>
      </div>
    </div>
      <div class="modal coman-modal  fade" id="Update-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
             <div class="success-msg-icon">
              <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
             </div>
             <h2>Updated successfully !!</h2>

        </div>
      </div>
    </div>
     <div class="modal coman-modal  fade" id="Delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
             <div class="success-msg-icon">
              <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
             </div>
             <h2>Deleted successfully !!</h2>
        </div>
      </div>
    </div>
      <div class="modal coman-modal  fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
             <h2>Reason</h2>
             <div class="form-group">
             	<textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>

             </div>
            	 <a href="#sche-modal" class="btn m-r-sm btn-default btn-small max-83" data-dismiss="modal" data-toggle="modal">Submit</a>
        </div>
      </div>
    </div>
<!--  {% for x in schedule %}-->
<!--print("x==",x.scheduled_date)-->
<input type="hidden" id="demo" name="variable" >
<!--{% endfor %}-->

<script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
<script>
      $(document).ready(function(){
        $('.dataTables-example').DataTable();
      });
</script>
<script src="{% static 'js/core/main.js' %}"></script>
<script src="{% static 'js/interaction/main.js' %}"></script>
<script src="{% static 'js/daygrid/main.js' %}"></script>
<script src="{% static 'js/timegrid/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<script src="{% static 'js/additional-methods.min.js' %}"></script>
<script>
function clearTextBox() {
    document.getElementById('date').value = "";
    document.getElementById('lesson').value = "selected_lesson";
    document.getElementById('teacher').value = "selected_teacher";
    document.getElementById('room').value = "";
    document.getElementById('start_time').value = "";
    document.getElementById('end_time').value = "";
}
</script>
<script>

$('#newlesson').click(function () {
    $('#loader').show();
    $('#lesson').children('option:not(:first)').remove();
    text = document.getElementById('lesson').parentElement.parentElement.children[2].children[1].textContent;
    $('#teacher').children('option:not(:first)').remove();
    $.ajax({
        url: '/admin/getLesson-api',
        type: "GET",
        data: {
            //"lesson": lesson_value,
            "text": text
        },
        success: function (data) {
            console.log(data);
            console.log("inside success after get teacher");
            console.log(data.length);
            $('#lesson').children('option:not(:first)').remove();
            for (var i=0; i<data.length;i++){
                option = `<option value=${data[i]['id']}>${data[i]['name']}</option>`;
                $('#lesson').append(option);
            }
            $('#loader').hide();
        },
        error: function (data) {
            console.log('fail', data);
            console.log('text', data.responseText);
            $('#loader').hide();

        }
    });
    $('#loader').hide();
});
$('#lesson').change(function(){
    $('#loader').show();
    console.log("inside change");
    lesson_value = $("#lesson option:selected").val();
    console.log(lesson_value);
    text = document.getElementById('lesson').parentElement.parentElement.children[2].children[1].textContent;
    console.log(text);
    $.ajax({
        url: '/admin/getTeachers-api',
        type: "GET",
        data: {
            "lesson": lesson_value,
            "text": text
        },
        success: function (data) {
            console.log(data);
            console.log("inside success after get teacher");
            console.log(data.length);
            $('#teacher').children('option:not(:first)').remove();
            for (var i=0; i<data.length;i++){
                option = `<option value=${data[i]['id']}>${data[i]['name']}</option>`;
                $('#teacher').append(option);
            }
            $('#loader').hide();
        },
        error: function (data) {
            console.log('fail', data);
            console.log('text', data.responseText);
            $('#loader').hide();

        }
    });
    $('#loader').hide();
});


let eventIdList = [];
{% for i in schedule %}
eventIdList.push({{i.id}});
{% endfor %}
var date = new Date();
let calObj = {}
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      defaultDate: date,
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectMirror: true,
      eventDrop: function (info) {
        var newdate = info.event.start.toUTCString().split("/").reverse().join("-");
        const droppedDate = new Date(info.event.start + ' UTC').toISOString();
        console.log("id===>",info.event.url)
        id = info.event.url
        callAjax(droppedDate, id)
      },
      dateClick: function(arg) {
  },
      select: function(arg) {
        console.log("arg==>",arg)
        if (title) {
        var title = title
        var start_time = arg.start
        var end_time = arg.end
        console.log("TITLE",title,arg.start,arg.end);
        calObj.startTime = start_time
        calObj.title = title
          calendar.addEvent({
            title: title,
            start: arg.start,
            end: arg.end,
            allDay: arg.allDay,
            groupdId : groupdId,
            studio_id: arg.studio_id,
          })
        }
        calendar.unselect()

      },
      editable: true,
      eventLimit: true,
      events: [
  {% for data in schedule %}
        {
          title: "{{data.lesson.lesson_code}}",
          url: {{data.id}},
          start: "{{ data.scheduled_date | date:'Y-m-d' }}T{{data.class_start_time | time:"H:i:s"}}",
          end : "{{ data.scheduled_date | date:'Y-m-d' }}T{{data.class_end_time | time:"H:i:s"}}",
          studio_id: "{{ data.studio.id }}",
        },
  {% endfor %}
      ],
    });

    calendar.render();
  });

let array = []
let dateObj = {}

const callAjax = (date, id) => {

  const startDate = moment().utc(date).format('L');
  console.log({startDate})
  console.log("data",id)
      $.ajax({
      type: "POST",
      url: "/admin/scheduleEdit/" ,
      data: {
        'date': date,
        'id':id
      },
      async: true,
      success: function () {
      window.location.href = "{% url 'scheduleCalander' %}";
        console.log("success ajax", this.url)
      },
      error: function (er) {
         console.log("er", er)
      }
     });
}

<!--document.getElementsByClassName(".fc-widget-content").addEventListener("click", displayDate);-->

<!--$(document).ready(function(){-->
<!--    $(".fc-content").click(function(){-->
<!--      console.log('sdfas', this);-->
<!--    });-->
<!--});-->
let studioIdConst = '';
{% if request.session.user_type != "Principal" %}
function filterStudio(studioId)
{
<!--        console.log(eventIdList);-->
<!--        console.log(studioId.value);-->
<!--        eventIdList.forEach((element)=>{-->
<!--            console.log(element)-->
<!--            console.log(studioId.value)-->
<!--            console.log(element == studioId.value);-->
<!--            if(String(element) == String(studioId.value))-->
<!--            {-->
<!--                console.log('here');-->
<!--                $('#'+element).show();-->
<!--            }else{-->
<!--                    console.log('here1');-->
<!--                    document.getElementById(element).style.display = none;-->
<!--                 // $('#'+element).hide();-->
<!--            }-->
<!--        });-->


console.log("studio value==>",studioId.value)
if(studioId.value == "all")
{
window.location.href = "{% url 'scheduleCalander' %}"
}
  var elements = document.getElementById("calendar").getElementsByTagName('a');
  studioIdConst = studioId.value
    if(studioIdConst) {
        disablefirstbutton();
    }

    {% for datastudio in studio %}
    console.log("loop ");
        if ("{{datastudio.id}}" ==  studioIdConst){
            console.log("In if ");
            document.getElementById("studio_code").innerHTML = `{{datastudio.studio_code|upper}}, {{datastudio.name}}, {{datastudio.city}}`;
            document.getElementById("studioIdHidden").value = `{{datastudio.id}}`;
            document.getElementById("studio_vals").innerHTML = `{{datastudio.studio_code|upper}}, {{datastudio.name}}, {{datastudio.city}}`;
        }
        console.log("In ");
    {% endfor %}
  console.log("iddd studio",studioIdConst)
  document.getElementById("studioID").value = studioId.value;

  $.ajax({
      type: "GET",
      url: "/admin/getTeachers" ,
      data: {
        'id':studioIdConst
      },

      success: function (data) {
        console.log("success ajax")
          var options = '<option selected disabled value="selected_teacher">Select a Teacher</option>';
                    for (i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].id + '">' + data[i].full_name + '</option>';
                    }
                    $('#teacher').html(options);
      },
      error: function (er) {
         console.log("er", er)
      }
     });


<!--  var found = [];-->
<!-- for (var i = 0; i < elements.length; i++)-->
<!--       if(elements[i].getAttribute("href") != studioId.value && elements[i].className == "fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable")-->
<!--           {-->
<!--                  elements[i].style.display = 'none';-->
<!--           }-->


}
{% endif %}
            jQuery.validator.addMethod("timeValidation", function (value, element) {
                var starttime = $('#start_time').val();
                var endtime = $('#end_time').val();
                if (endtime>starttime) {
                    return true;
                }
                return false;
            }, "Please enter valid time, end time should be larger than start time");

$("#schedule-form-validation").validate({
        errorClass: "validateError",
            rules:{
                xx:{
                    required: true,
                    maxlength: 10,
                    regex: /^[A-Za-z0-9\d=$%...-]+$/
                },
                room:{
                    required: true,
                },
                lesson:{
                    required: true,
                },
                autocomplete:{
                    required: true,
                    lettersWithSpaces:true,
                    lettersonly:true
                },
                opening_date:{
                    required: true,
                    date: true,
                    dateFormat: true
                },
                teacher:{
                    required: true
                },
                contact_name:{
                    required: true,
                    lettersWithSpaces:true,
                },
                c_number:{
                    required: true,
                    phoneUS: true
                },
                studio_email:{
                    required: true,
                    email:true,
                    minlength: 10
                },
                start_time:{
                    required: true,
                },
                end_time:{
                    required: true,
                    timeValidation:true
                }
        },
        errorPlacement: function ( error, element ) {
            if ( $(element).hasClass("cal-input") ) {
            error.insertAfter( $(element).parents(".input-group") );
        } else {
            error.insertAfter( element );
        }
        },

    });


      // $(".schedule-added-class").click(function(){
      //     var is_Valid = $("#schedule-form-validation").valid();
      //     if(is_Valid == false){
      //       $(".schedule-added-class").attr('disabled',false);
      //     }else{
      //       $(".schedule-added-class").attr('disabled',true);
      //     }
      // });

function disablefirstbutton() {
    document.getElementById("newlesson").disabled = false;
}

$(document).on('change', '.studio_delete_id1', function (e) {
console.log("eeee===?",e)
    var x = $(".studio_delete_id").attr("data-id",this.getAttribute("data-studio-detail-id"));
    console.log("x====",x)
    });

 $(".studio_delete_id").on('change', function () {
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    console.log("csrf==>",csrf)
    var data_id= document.getElementById("studio_options").value;
    console.log("data--id",data_id)
    $.ajax({
      type: 'GET',
      url: "{% url 'scheduleCalanderfilter' data_id %}",
      data: {
            'csrfmiddlewaretoken':csrf,
            'id': data_id,
      },
       success: function (data) {
          $('#calendar').empty();
       console.log("value",data.data);
       final = data.data;
       i = 0
       for (i = 0; i < final.length; i++) {
       console.log("final data",final[i].start)
<!--            text += final[i] + "<br>";-->
                }
       console.log("null===>","{{data}}")
        var date = new Date();
        let calObj = {}
        {#document.addEventListener('DOMContentLoaded', function() {#}
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      defaultDate: date,
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectMirror: true,
      eventDrop: function (info) {
        var newdate = info.event.start.toUTCString().split("/").reverse().join("-");
        const droppedDate = new Date(info.event.start + ' UTC').toISOString();
        console.log("id===>",info.event.url)
        id = info.event.url
        callAjax(droppedDate, id)
      },
      dateClick: function(arg) {
  },
      select: function(arg) {
        console.log("arg==>",arg)
        if (title) {
        var title = title
        var start_time = arg.start
        var end_time = arg.end
        console.log("TITLE",title,arg.start,arg.end);
        calObj.startTime = start_time
        calObj.title = title
          calendar.addEvent({
            title: title,
            start: arg.start,
            end: arg.end,
            allDay: arg.allDay,
            groupdId : groupdId,
            studio_id: arg.studio_id,
          })
        }
        calendar.unselect()

      },
      editable: true,
      eventLimit: true,
      events: data.data
    });calendar.render();

    }
    });
 });

 </script>
        {% endblock %}
