{% extends 'base.html' %}
{% load static %}
{% block data %}

<head>
    <title>All Scheduled Lessons</title>
</head>
		<div class="wrapper wrapper-content">

			 <div class="row">
			 	  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			 	  	   <div class="ibox">
			 	  	   	    <div class="ibox-content" id="history">
			 	  	   	    	<div class="box-heading">
                    <h2>All Scheduled Lessons
                    </h2>

                </div>

		 	  	   	    	 <div class="row">
          <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group  text-left">
                        {% for data in schedule %}
                        {% if forloop.last %}
                        <h3><span>Date:</span> {{data.scheduled_date}}</h3>
                            <input type="hidden" id="get_data" value="{{data.scheduled_date | date:'Y-m-d'}}">
<!--                         <h3><span>Studio:</span> {{data.studio.studio_code}}, {{data.studio.name}}, {{data.studio.city}}</h3>-->
                        <input type="hidden" value="{{ data.studio.studio_code }}" id="studio_code">
                            <input type="hidden" value="{{ data.studio.id }}" id="studio_id">
                        {% else %}
                        {% endif %}
                        {% endfor %}
                        </div>
                      </div>




                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group  text-right">

                         <!-- <a  class="btn btn-default"   data-toggle="modal" data-target="#Scheduled-modal" id="newlesson">Schedule a new Lesson</a> -->
                        </div>
                      </div>
               </div>

			 					 <div class="table-responsive coman-table" id="owner-detail-btn">
                      <table class="table dataTables-example">
                      	<thead>
			 					 	  	     <tr>
			 					 	  	     	<th>Lesson ID</th>
			 					 	  	     	 <th>Subject</th>
                               <th>Teacher's Name</th>
                               <th>Timings  </th>
                              <th>Day</th>
                                                    <th>Room</th>
                               <th>Action</th>
			 					 	  	     </tr>
			 					 	  	 </thead>
			 					 	  	 <tbody>
                            {% for data in schedule %}
			 					 	  	     <tr>
                                                 <td>{{data.lesson.lesson_code}}</td>
			 					 	  	     	 <td>{{data.lesson.subject.subject_name}}</td>

			 					 	  	     	  <td>{{data.teacher.full_name}}</td>
                              <td>{{data.class_start_time|date:'h:i A'}} to {{data.class_end_time|date:"h:i A"}}</td>

			 					 	  	     		<td>{{data.scheduled_date|date:"l"}}</td>
                               <td>{{data.room_number}}</td>


			 					 	  	     	 <!-- <td>In process</td> -->
			 					 	  	     	  <td class="add-new">
                                                      <a class="btn btn-default lc_edit_id" data-toggle="modal" id="edit_announce" data-target="#edit-modal{{ data.id }}" data-id ="{{data.id}}">Edit</a>
                                                      <a class="btn btn-default lc_delete_id" id="delete_announce" data-lc-detail-id="{{data.id}}"  data-toggle="modal" data-target="#Status-modal" >Delete</a>
                                                  </td>
			 					 	  	     </tr>
                                    {% endfor %}
                                         </tbody>
			 					 	  </table>
			 					 </div>

			 	  	   	    </div>
			 	  	   </div>
			 	  </div>
			 </div>
		</div>
        </div>
    </div>
  <div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog modal-md " role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <p>Are you Sure You want to Delete?</p>
           <div class="text-center">
                       <a class="btn btn-default m-r-sm"  href="#Delete-modal" class="btn btn-default " data-dismiss="modal" data-toggle="modal" id="delete_announcement">Yes</a>
                           <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                        </div>

        </div>
      </div>
    </div>
{% for data in schedule %}
      <div class="modal coman-modal  fade" id="edit-modal{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
          <form action="{% url 'schedullessonedit' %}" method="post" id="schedule-form-validations">
              {% csrf_token %}
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h2>Edit a Lesson</h2>
            <div class="form-group  text-left">
              <label>Lesson:</label>
              <h3 class="txt-blue">{{data.lesson.lesson_code}}</h3>
            </div>
                        <div class="form-group text-left">
                          <label>Room:<label style="color:red">*</label></label>
                          <input type="text" class="form-control" value="{{data.room_number}}" name="room" id="room" >
                            <input type="hidden" class="form-control" value="{{data.id}}" name="id" required>
                        </div>
                        <div class="form-group  text-left">
                        <label>Teacher:<label style="color:red">*</label></label>
                          <select class="form-control" name="teacher" id="teacher_edit" required style="padding: 0px 15px;">
                              <option disabled>Select a Teacher</option>
                              {% for x in teacher %}
                              <option {% if x.full_name == data.teacher.full_name %} selected {% endif %} value="{{x.id}}" name="teacher">{{x.full_name}}</option>
                              {% endfor %}
                          </select>
                        </div>
           <div class="form-group text-left">
                        <label>Start Time:<label style="color:red">*</label></label>
                          <input type="time" class="form-control" name="s_time" id="s_time" placeholder="09:00AM" value="{{data.class_start_time | time:'H:i' }}"  required>
                        </div>
                          <div class="form-group text-left">
                       <label>End Time:<label style="color:red">*</label></label>
                          <input type="time" class="form-control" name="e_time" placeholder="10:00AM" value="{{data.class_end_time | time:'H:i' }}" id="e_time" required>
                        </div>
            <input type="submit" class="btn btn-default btn-small m-r-sm m-t-sm " value="Update">
<!--           <a href="#Update-modal" class="btn btn-default btn-small m-r-sm m-t-sm  " data-dismiss="modal" data-toggle="modal">Update</a>-->
             <a  class="btn btn-default btn-small  m-t-sm " data-dismiss="modal" data-toggle="modal">Cancel</a>
        </div>
              </form>
          {% endfor %}
      </div>
    </div>
      <div class="modal coman-modal  fade" id="Scheduled-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <h2>Schedule a new Lesson</h2>
            <form action="" method="post" id="schedule-form-validation">
                {% csrf_token %}
            <div class="form-group  text-left">
            <input type="hidden" value="" id="studio" name="studio">
            <input type="hidden" value="" id="date" name="date">
                        <label>Select a Lesson:<label style="color:red">*</label>   </label>
                          <select class="form-control" name="lesson" id="lesson_add" required>
                              <option selected disabled>Select a Lesson</option>
                              {% for data in lesson %}
                              <option value="{{data.id}}">{{data.lesson_code}}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group  text-left">
                        <label>Teacher:<label style="color:red">*</label> </label>
                          <select class="form-control" name="teacher" id="teacher_add">
                              <option selected disabled>Select a Teacher</option>
                              {% for data in teacher %}
                              <option value="{{data.id}}">{{data.full_name}}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group text-left">
                          <label>Room:<label style="color:red">*</label> </label>
                          <input type="text" class="form-control" placeholder="Room" name="room">
                        </div>
                       <div class="form-group text-left">
                          <label>Start Time:<label style="color:red">*</label> </label>
                          <input type="time" class="form-control" placeholder="09:00AM" name="start_time" id="start_time" required>
                        </div>
                        <div class="form-group text-left">
                          <label>End Time:<label style="color:red">*</label> </label>
                          <input type="time" class="form-control" placeholder="11:00PM" name="end_time" id="end_time" required>
                        </div>
                <input type="submit" value="Schedule" class="btn btn-default btn-small m-r-sm">
<!--           <a href="#sche-modal" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal">Schedule</a>-->
             <a  class="btn btn-default btn-small " data-dismiss="modal" data-toggle="modal">Cancel</a>

            </form>
        </div>

      </div>
    </div>
      <div class="modal coman-modal  fade" id="sche-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
             <div class="success-msg-icon">
              <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

             </div>
             <h2>Scheduled successfully !!</h2>

        </div>
      </div>
    </div>
      <div class="modal coman-modal  fade" id="Update-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
             <div class="success-msg-icon">
              <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

             </div>
             <h2>Updated successfully !!</h2>

        </div>
      </div>
    </div>
     <div class="modal coman-modal  fade" id="Delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
             <div class="success-msg-icon">
              <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

             </div>
             <h2>Deleted successfully !!</h2>


        </div>
      </div>
    </div>
      <div class="modal coman-modal  fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
             <h2>Reason</h2>
             <div class="form-group">
             	<textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>

             </div>
            	 <a href="#sche-modal" class="btn m-r-sm btn-default btn-small max-83" data-dismiss="modal" data-toggle="modal">Submit</a>


        </div>
      </div>
    </div>

<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>

<script src="{% static 'js/additional-methods.min.js' %}"></script>
<script>
$(document).ready(function(){
    $('.dataTables-example').DataTable();
    /* Init DataTables */
});
</script>

<script type="text/javascript">

// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
<!--var img = document.getElementById("myImg");-->
<!--var modalImg = document.getElementById("img01");-->
<!--var captionText = document.getElementById("caption");-->
<!--/*img.onclick = function(){-->
<!--  modal.style.display = "block";-->
<!--  modalImg.src = this.src;-->
<!--  // captionText.innerHTML = this.alt;-->
<!--}*/-->

<!--// Get the <span> element that closes the modal-->
<!--function openModal() {-->
<!--  document.getElementById('myModal').style.display = "block";-->
<!--}-->

<!--function closeModal() {-->
<!--  document.getElementById('myModal').style.display = "none";-->
<!--}-->


var temporary = $(document).on('click', '.lc_delete_id', function (e) {
    $("#delete_announcement").attr("data-id",this.getAttribute("data-lc-detail-id"));
 });

 $("#delete_announcement").on('click', function () {
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    $.ajax({
      type: 'POST',
      url: '/scheduleDelete/' + this.getAttribute("data-id"),
      data: {
            'csrfmiddlewaretoken':csrf,
            'id': this.getAttribute("data-id"),
      },
      success: function (data) {
           var modal = $('#cong-modal').modal('show');
        var delayInMilliseconds = 2000;
        setTimeout(function() {
         window.location.href = "{% url 'scheduleCalander' %}";
            }, delayInMilliseconds);
      }
    });
  });


  $("#schedule-form-validation").validate({
        errorClass: "validateError",
            rules:{
                xx:{
                    required: true,
                    maxlength: 10,
                    regex: /^[A-Za-z0-9\d=$%...-]+$/
                },
                room:{
                    required: true,
                },
                lesson:{
                    required: true,
                },
                autocomplete:{
                    required: true,
                    lettersWithSpaces:true,
                    lettersonly:true
                },
                start_time:{
                    required: true,
<!--                    date: true,-->
<!--                    dateFormat: true-->
                },
                teacher:{
                    required: true
                },
                contact_name:{
                    required: true,
                    lettersWithSpaces:true,
                },
                end_time:{
                    required: true,
<!--                    phoneUS: true-->
                },
                studio_email:{
                    required: true,
                    email:true,
                    minlength: 10
                }
        },
        errorPlacement: function ( error, element ) {
            if ( $(element).hasClass("cal-input") ) {
            error.insertAfter( $(element).parents(".input-group") );
        } else {
            error.insertAfter( element );
        }
        },

    });

      $("#schedule-form-validations").validate({
        errorClass: "validateError",
            rules:{
                xx:{
                    required: true,
                    maxlength: 10,
                    regex: /^[A-Za-z0-9\d=$%...-]+$/
                },
                room:{
                    required: true,
                },
                lesson:{
                    required: true,
                },
                autocomplete:{
                    required: true,
                    lettersWithSpaces:true,
                    lettersonly:true
                },
                s_time:{
                    required: true,
<!--                    date: true,-->
<!--                    dateFormat: true-->
                },
                teacher:{
                    required: true
                },
                contact_name:{
                    required: true,
                    lettersWithSpaces:true,
                },
                e_time:{
                    required: true,
<!--                    phoneUS: true-->
                },
                studio_email:{
                    required: true,
                    email:true,
                    minlength: 10
                }
        },
        errorPlacement: function ( error, element ) {
            if ( $(element).hasClass("cal-input") ) {
            error.insertAfter( $(element).parents(".input-group") );
        } else {
            error.insertAfter( element );
        }
        },

    });


$('#newlesson').click(function () {
    $('#loader').show();
    $('#teacher_add').children('option:not(:first)').remove();
    get_date = $('#get_data').val();
    studio_id = $('#studio_id').val();
    $('#studio').val(studio_id);
    $('#date').val(get_date);
    $('#lesson_add').children('option:not(:first)').remove();
    studio_code = $('#studio_code').val();
    $.ajax({
        url: '/admin/getLesson-api',
        type: "GET",
        data: {
            //"lesson": lesson_value,
            "text": studio_code
        },
        success: function (data) {
            console.log(data);
            console.log("inside success after get teacher");
            console.log(data.length);
            $('#lesson_add').children('option:not(:first)').remove();
            for (var i=0; i<data.length;i++){
                option = `<option value=${data[i]['id']}>${data[i]['name']}</option>`;
                $('#lesson_add').append(option);
            }
            $('#loader').hide();
        },
        error: function (data) {
            console.log('fail', data);
            console.log('text', data.responseText);
            $('#loader').hide();

        }
    });
    $('#loader').hide();
});
$('#lesson_add').change(function(){
    $('#loader').show();
    console.log("inside change");
    lesson_value = $("#lesson_add option:selected").val();
    console.log(lesson_value);
    text = $('#studio_code').val();
    console.log(text);
    $.ajax({
        url: '/admin/getTeachers-api',
        type: "GET",
        data: {
            "lesson": lesson_value,
            "text": text
        },
        success: function (data) {
            console.log(data);
            console.log("inside success after get teacher");
            console.log(data.length);
            $('#teacher_add').children('option:not(:first)').remove();
            for (var i=0; i<data.length;i++){
                option = `<option value=${data[i]['id']}>${data[i]['name']}</option>`;
                $('#teacher_add').append(option);
            }
            $('#loader').hide();
        },
        error: function (data) {
            console.log('fail', data);
            console.log('text', data.responseText);
            $('#loader').hide();

        }
    });
    $('#loader').hide();
});

</script>

 {% endblock %}
