{% extends 'base.html' %}
{% load static %}
{% block data %}
    <title>Add New Studio</title>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content" id="studentProfile">
                    <a href="{% url 'studio_list' %}">&lt;&lt; Back</a><br/><br/>
                    <div class="box-heading">
                        <h2> Add New Studio
                        </h2>
                    </div>
                    <form method="POST" id="studio-form-validation">{% csrf_token %}
                        <div class="row">
                            <div class="profileContainer">
                                <div class="addtec">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Studio Code</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group usr-form">
                                                <input type="text" name="studio_code" onkeypress="return (event.charCode > 47 && event.charCode < 58) || (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
                                                       placeholder="Please Enter Studio Code"
                                                       class="form-control" id="studio_code" required="">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group usr-form">
                                                <input type="text" name="name" id="studio_name"
                                                       placeholder="Please Enter Name" class="form-control name_class"
                                                       value="" required>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Address</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                            <div class="form-group usr-form" id="locationField">
                                                <textarea class="form-control height-auto address_class"
                                                          id="studio_address" name="studio_address"
                                                          placeholder="Please Enter Address" required></textarea>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Location</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group usr-form">
                                                <input class="form-control location_class" name="location"
                                                       id="autocomplete" required>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Country</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group usr-form">
                                                <input class="form-control country_class" name="country"
                                                       placeholder="Country" id="country" value="" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>State</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group usr-form">
                                                <input class="form-control state_class" name="state" placeholder="State"
                                                       id="administrative_area_level_1" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>City</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group usr-form">
                                                <input class="form-control city_class" placeholder="City" name="city"
                                                       id="locality" readonly>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Opening Date</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group usr-form">
                                                <div class="input-group date disablePastDates" data-date-format="yyyy-mm-dd">
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-th"></span>
                                                    </div>
                                                    <input type="text" name="o_date" id="opening_date"
                                                           class="form-control cal-input"
                                                           placeholder="Please Enter Opening Date" required>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Status</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group usr-form">
                                                <select class="form-control" name="status" id="studio_status" required>
                                                    <option selected="true" disabled="disabled">Select Status</option>
                                                    <option>Active</option>
                                                    <option>Inactive</option>
                                                    <option>Future</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Contact Name</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group usr-form">
                                                <input type="text" name="c_name" id="contact_name"
                                                       placeholder="Please Enter Name" class="form-control"
                                                       value="" required>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Mobile Number</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group usr-form">
                                                <input type="number" name="c_number" id="contact_number"
                                                       placeholder="Please Enter Mobile Number" onkeypress="return (event.charCode > 47 && event.charCode < 58)" min="0" minlength="10" maxlength="15"
                                                       class="form-control" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <label>Contact Email</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group usr-form">
                                                <input type="email" name="email" id="studio_email"
                                                       placeholder="Please Enter Contact Email"
                                                       class="form-control" value="" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <hr/>
                                            <button  type="button" class="btn btn-default studio-add-submit-button">Submit</button>
                                            <a href="{% url 'studio_list' %}" class=" btn btn-default">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<div class="modal coman-modal fade" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <div class="modal-content text-center">
            <h1>Successful</h1>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
            <p>Studio created successfully.</p>
            <small>You will be redirected to Studio List.</small>
        </div>
    </div>
</div>


<div class="modal coman-modal fade" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                <span aria-hidden="true">×</span>
            </button>

            <h1>Error</h1>
            <div class="wrong-msg-icon">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <p id="error-text"></p>
        </div>
    </div>
</div>


<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDQREPH4gI-KbtFY40PfTU0s1J9PT51Lv0"></script>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/additional-methods.min.js' %}"></script>
<script>
    var submit_data = function (e) {
  
        let flag = 0;
        
        var isValid = $("#studio-form-validation").valid();
        if (isValid == false) {
            $(".studio-add-submit-button").attr('disabled',false)
            flag++;
        }
        var url_link = '{% url 'studio_add' %}';
  
        // var image = $('#image')[0].files[0];
        var studio_code = $("#studio_code").val().trim();
        var studio_name = $("#studio_name").val().trim();
        var studio_address = $("#studio_address").val();
        var autocomplete = $("#autocomplete").val();
        var country = $("#country").val();
        var administrative_area_level_1 = $("#administrative_area_level_1").val();
        var locality = $("#locality").val();
        var opening_date = $("#opening_date").val();
        var studio_status = $("#studio_status").val();
        var contact_name = $("#contact_name").val();
        var contact_number = $("#contact_number").val();
        var studio_email = $("#studio_email").val();
        var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
  
        var csrf_token = "{{ csrf_token }}";
        var formData = new FormData();
        // formData.append("student_code", student_code)
        formData.append("studio_code", studio_code);
        formData.append("name", studio_name);
        formData.append("country", country);
        formData.append("state", administrative_area_level_1);
        formData.append("location", autocomplete);
        formData.append("city", locality);
        formData.append("o_date", opening_date);
        formData.append("status", studio_status);
        formData.append("c_name", contact_name);
        formData.append("c_number", contact_number);
        formData.append("email", studio_email);
        formData.append("address", studio_address);
  
        if (flag == 0) {
            $(".studio-add-submit-button").attr('disabled',true);
            $.ajax({
                headers: {"X-CSRFToken": csrf_token},
                url: url_link,
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    console.log('success', data);
                    openSuccessModal(data);
                    function redirect() {
                      window.location.href = "{% url 'studio_list' %}";
                    }
                    setTimeout(redirect, 2000); //1000 is equivalent to 1 seconds
                },
                error: function (data) {
                    $(".studio-add-submit-button").attr('disabled',false);
                    openErrorModal(data.responseText);
              $(".studio-add-submit-button").attr('disabled',false);

                }
            });
            e.stopImmediatePropagation();
            e.preventDefault();
        } else {
            $(".studio-add-submit-button").attr('disabled',false);
            console.log('no ajax call yet');
            return false;
        }
    };
    $('.studio-add-submit-button').on('click', submit_data);
  </script>


<script>

var regx1 = /[a-zA-Z]{2}\d{2}/
var regx2 = /\d{2}[a-zA-Z]{2}/
var regx3 = /[a-zA-Z]{1}\d{2}/
var regx4 = /\d{2}[a-zA-Z]{1}/
var regx5 = /[a-zA-Z]{2}\d{1}/
var regx6 = /\d{1}[a-zA-Z]{2}/

$.validator.addMethod("regex",function(value, element, regexp) {
        var check = false;
        var re = new RegExp(regexp);
        return this.optional(element) || re.test(value);
    },"Enter a proper formatted studio code. Example :- SZ1, SZ01"
);

$.validator.methods.email = function( value, element ) {
            return this.optional( element ) || /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}/.test( value );
}

jQuery.validator.addMethod("lettersWithSpaces", function(value, element) {
            return this.optional(element) || /^[a-zA-Z\s]*$/.test(value);
        },"Please enter only letters");

$.validator.methods.email = function( value, element ) {
            return this.optional( element ) || /[a-zA-Z0-9._%+-]{1,}@[a-zA-Z0-9._%+-]{1,}[.]{1}[a-zA-Z0-9._%+-]{2,}/.test( value );
        }

$("#studio-form-validation").validate({
        errorClass: "validateError",
            rules:{
                studio_code:{
                    required: true,
                    maxlength: 4,
                    regex: /^[a-zA-Z]{2}\d{1,2}$/
                },
                studio_name:{
                    required: true,
                    lettersWithSpaces:true
                },
                studio_address:{
                    required: true,
                    rangelength:[10,250],
                },
                autocomplete:{
                    required: true,
                    lettersWithSpaces:true,
                },
                opening_date:{
                    required: true,
                    date: true,
                    dateFormat: true
                },
                studio_status:{
                    required: true
                },
                contact_name:{
                    required: true,
                    lettersWithSpaces:true,
                },
                c_number:{
                    required: true,
                    number: true,
                    min: 0,
                },
                studio_email:{
                    required: true,
                    email:true,
                    minlength: 10
                }
        },
        errorPlacement: function ( error, element ) {
            if ( $(element).hasClass("cal-input") ) {
            error.insertAfter( $(element).parents(".input-group") );
        } else {
            error.insertAfter( element );
        }
        },

    });

</script>

<script>
    function openSuccessModal(msg) {
        $(".studio-add-submit-button").attr('disabled',false);
            $("#success-msg").modal('show');
            $('#success-text').text(msg);
            
        }
  function openErrorModal(msg) {
        $(".studio-add-submit-button").attr('disabled',false);
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }
</script>


<!-- 
{% if error %}
<script>
    error = `{{ error }}`;
    Swal.fire({
      icon: 'error',
      title: 'Oops...',
      text: error,

    })
</script>
{% endif %} -->



<script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', function () {
            var places = new google.maps.places.Autocomplete(document.getElementById('autocomplete'));
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();
                var address = place.formatted_address;
                var latitude = place.geometry.location.lat();
                var longitude = place.geometry.location.lng();
                var latlng = new google.maps.LatLng(latitude, longitude);
                var geocoder = geocoder = new google.maps.Geocoder();
                geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                             var componentForm = {
                                locality: 'short_name',
                                administrative_area_level_1: 'long_name',
                                country: 'long_name',
                            };
                            var place = places.getPlace();
                            var formatted_address = place.formatted_address;
                            for (var i = 0; i < place.address_components.length; i++) {
                                var addressType = place.address_components[i].types[0];
                                if (componentForm[addressType]) {
                                    var val = place.address_components[i][componentForm[addressType]];
                                    $("#"+addressType).attr('value',val) ;
                                }
                            }
                            if (place.address_components.length == 1){
                                console.log("locality",place.address_components[0].long_name)
                                $("#locality").attr('value', place.address_components[0].long_name);
                                $("#administrative_area_level_1").attr('value',place.address_components[0].long_name);
                            }else if(place.address_components.length == 2){
                                $("#locality").attr('value',place.address_components[0].long_name);
                                $("#administrative_area_level_1").attr('value', place.address_components[0].long_name);
                            }
                        }
                    }
                });
            });
        });
    
    </script>

{% endblock %}