{% extends 'base.html' %}
{% load static %}

{% block data %}
    <head>
        <title>All Students</title>
    </head>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ibox">
                    <div class="ibox-content" id="history">

                        <div class="box-heading">
                            <h2>All Students</h2>
                        </div>
                        

                        <!-- Modal -->
                        <div id="uploadModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">File upload form</h4>
                            </div>
                            <div class="modal-body">
                                <!-- Form -->
                                <form name="uploadcsv" id="uploadcsv" method='post' action='' enctype="multipart/form-data">{% csrf_token %}
                                Select file : <input type='file' name='file' id='csv-file' class='form-control' value="" onchange="filecheck(this.files[0])"><br>
                                <input type='submit' class='btn btn-info' value='Upload' id='btn_upload' disabled>
                                </form>

                                <!-- Preview-->
                                <div id='preview'></div>
                            </div>
                        
                            </div>

                        </div>
                        </div>
                        <div class="form-group  text-right">
                            <a href="{% static 'format.csv' %}" type="button" class="btn btn-default btn-add">Download CSV</a>
                            <button type="button" class="btn btn-default btn-add" data-toggle="modal" data-target="#uploadModal" id="btn_upload_csv">Upload CSV</button>
                            <!-- <input type="file" name="uploadCSV" id="upload" value="Upload" class="btn btn-primary pull-right"/> -->
                            <!-- <a onclick="uploadcsv();" class="btn btn-default btn-add">Upload CSV</a> -->
                            <a href="{% url 'admin/student' %}" class="btn btn-default btn-add">Add New Student</a>
                        </div>

                        <div class="row">
                        {% if user_type == "admin" %}
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group  text-left">
                                    <select class="form-control dropdown-change" name="studio" id="studio">
                                        <option selected>All Studios</option>
                                        {% for studio in studios %}
                                            <option value="{{ studio.id }}">{{ studio.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group  text-left">
                                    <select class="form-control dropdown-change" name="level" id="level">
                                        <option selected>All Levels</option>
                                        {% for level in levels %}
                                            <option value="{{ level.id }}">{{ level.level }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group  text-left">
                                    <select class="form-control dropdown-change" name="major" id="major">
                                        <option selected>All Majors</option>
                                        {% for major in majors %}
                                            <option value="{{ major.id }}">{{ major.major }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group  text-left">
                                    <select class="form-control dropdown-change" name="status" id="status">
                                        <option selected value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                        <option value="Expired">Expired</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group  text-left">
                                    <select class="form-control dropdown-change" id="age-range">
                                        <option selected>Age Range</option>
                                        <option>4-5</option>
                                        <option>5-6</option>
                                        <option>6-7</option>
                                        <option>7-8</option>
                                        <option>8-9</option>
                                        <option>9-10</option>
                                        <option>10-11</option>
                                        <option>11-12</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group  text-left">
                                    <select class="form-control" id="added-by-selection"
                                            data-url="{% url 'admin/users' %}">
                                        <option value="Added By" selected>Added By</option>
                                        <option value="Admin" id="added-by-admin">Admin</option>
                                        <option value="Principal" id="added-by-principal">Principal</option>
                                        <option value="Learning Consultant" id="added-by-lc">Learning Consultant</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group  text-left">
                                    <select class="form-control dropdown-change" id="list-of-added-by">
                                        <option selected>List of Added By</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive coman-table" id="owner-detail-btn">
                            <table class="table" id="multi-column-dt-students">

                                <thead>
                                <tr>
                                    <th>Student ID</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Level</th>
                                    <th>Major</th>
                                    <th>Action</th>
                                </tr>
                                </thead>

                                <tbody id="table-body">
                                {% for student in students %}
                                    <tr>
                                        <td>{{ student.student_code }}</td>
                                        <td>{{ student.full_name }}</td>

                                        <td>{{ student.age }}</td>
                                        {% if student.level is None %}
                                            <td>None</td>
                                        {% else %}
                                            <td>{{ student.level }}</td>
                                        {% endif %}

                                        {% if student.major is None %}
                                            <td>None</td>
                                        {% else %}
                                            <td>{{ student.major }}</td>
                                        {% endif %}

                                        <td class="add-new">
                                            <a href="{% url 'admin/students/' student.id %}" class="btn btn-default">View</a>
                                            <a href="/admin/students/{{student.id}}#prt-tab2" class="btn btn-default">Reports</a>
                                            <a data-url="{% url 'admin/deleteStudent/' student.id %}"
                                               class="btn btn-default"
                                               onclick="getfirstpopup($(this).attr('data-url'))">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal coman-modal" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>

                </div>
                <p id="error-text"></p>
            </div>
        </div>
    </div>
    <div class="modal coman-modal" id="success-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <h1>Successful</h1>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <p>Data added succesfully.</p>
            </div>
        </div>
    </div>
    <div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you Sure You want to Delete?</p>
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" class="btn btn-default " data-dismiss="modal"
                       data-toggle="modal" onclick="changewindowhref()">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>


            </div>
        </div>
    </div>

    <div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

                </div>
                <h2>Deleted successfully !!</h2>


            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script>

    $('#btn_upload_csv').on('click', function () {
        $('#csv-file').val('');
    });
    function filecheck(thisVal) {
            console.log(thisVal);
            var oFile = $('#csv-file')[0].files[0].size;
            var extensionBannarImage = $('#csv-file').val().substring($('#csv-file').val().lastIndexOf('.') + 1)

            console.log(oFile, extensionBannarImage)

                if (extensionBannarImage == 'csv') {
                    document.getElementById("btn_upload").disabled = false;
                } else {
                    openErrorModal('Select file which have CSV extensions.')
                    return false;
                }
        }
    </script>
    <script>
        $('#uploadcsv').submit(function (e) {
            e.preventDefault();
            // document.getElementsByClassName("modal-backdrop fade in").remove;
            var file = document.getElementById('csv-file').files[0];
            var reader = new FileReader();
            reader.readAsText(file, 'UTF-8');
            reader.onload = shipOff;
        });
        function shipOff(event) {
            $.ajax({
                url: '/admin/uploadCsv',
                type:"POST",
                data:{
                    csv_data: event.target.result
                },
                success: function (data) {
                $("#uploadModal").modal("hide");
                // $(".modal-backdrop").remove()
                // $(".pace-done").removeClass(".modal-open")
                function redirect() {
                            window.location.href = "/admin/students";
                        }
                if (data == "success"){
                    console.log("Records added");
                    openSuccessModal("success-msg");
                    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds

                }else{
                    console.log(data);
                    openErrorModal('Invalid Data. Please try again.');
                    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                }

                },

                error: function (data) {
                    console.log('error', data);
                }
            });
        }
        $('#added-by-selection').on('change', function () {
            console.log('selected_role : ', selected_role);
            var selected_role = $('#added-by-selection').val();
            var url = $('#added-by-selection').attr('data-url');

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    selected_role: selected_role
                },

                success: function (data) {
                    console.log('success', data);
                    if (selected_role == "Added By") {
                        var options = '<option selected disabled value="List of Added By">List of Added By</option>';
                    } else {
                        var options = '<option selected>Added By ' + selected_role + '</option>';
                    }
                    for (i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].id + '">' + data[i].full_name + '</option>';
                    }
                    $('#list-of-added-by').html(options);
                    function_filter();
                },

                error: function (data) {
                    console.log('fail', data);
                }
            });
        })
    </script>


    <script>
        $('#loader').hide();

        function getfirstpopup(deleteurl) {
            openConfirmationModal()
            tid = deleteurl
        }

        function openConfirmationModal() {
            $("#Status-modal").modal('show');
        }
        
        function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }
        function openSuccessModal(id) {
            $("#"+id).modal('show');
        }

        function changewindowhref() {
            $('#loader').show();
            $.ajax({
                url: tid,
                type: "GET",

                success: function (data) {
                    $('#loader').hide();
                    console.log('success', data);
                    openSuccessModal("cong-modal");

                    function redirect() {
                        window.location.href = "/admin/students";
                    }

                    setTimeout(redirect, 2000);
                },

                error: function (data) {
                    $('#loader').hide();
                    console.log('fail', data);
                }
            })
        }
    </script>

    <script type="text/javascript">

        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        /*img.onclick = function(){
          modal.style.display = "block";
          modalImg.src = this.src;
          // captionText.innerHTML = this.alt;
        }*/

        // Get the <span> element that closes the modal
        function openModal() {
            document.getElementById('myModal').style.display = "block";
        }

        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }
    </script>
    <script>
        /*    $(document).ready(function () {
                    $('#multi-column-dt-students').DataTable();



                }
            ); */
    </script>
    <script>
        function function_filter() {
            {% if request.session.user_type == "Admin" %}
                var studio = $("#studio option:selected").val();
            {% elif request.session.user_type == "Principal" %}
                var studio = "{{ user.studio.id }}";
            {% endif %}
            var level = $("#level option:selected").val();
            var major = $("#major option:selected").val();
            var status = $("#status option:selected").val();
            var age = $("#age-range option:selected").val();
            var added_by_selection = $("#added-by-selection option:selected").val();
            var list_of_added_by = $("#list-of-added-by option:selected").val();
            $('#table-body').empty();
            var datatablev = $('#multi-column-dt-students').DataTable();
            datatablev.destroy();
            $('#multi-column-dt-students').DataTable({
                ajax: {
                    url: 'student-api',
                    type: 'GET',
                    data: {
                        "status": status,
                        "studio": studio,
                        "level": level,
                        "major": major,
                        "age": age,
                        "added_by_selection": added_by_selection,
                        "list_of_added_by": list_of_added_by
                    }
                },
                columns: [
                    {"data": "code"},
                    {"data": "name"},
                    {"data": "age"},
                    {"data": "level"},
                    {"data": "major"},
                    {
                        "data": "id", "render": function (data) {
                            var res = '';
                            res += '<a href="students/' + data + '" class="btn btn-default">View</a> <a href="#" class="btn btn-default">Reports</a> <a data-url="deleteStudent/' + data + '" class="btn btn-default" onclick="getfirstpopup($(this).attr(\'data-url\'))">Delete</a>';
                            return res;
                        }
                    }
                ],
                columnDefs: [{
                    targets: '_all',
                    className: 'add-new',
                }],
            });
        }
    </script>
    <script>
        $('.dropdown-change').change(function () {
            function_filter();
        });
    </script>
{% endblock %}
