{% extends 'base.html' %}
{% block data %}
{% load static %}
<title>Studio Details</title>
            <div class="wrapper wrapper-content">
               <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <div class="ibox">
                        <div class="ibox-content" id="history">
                           <div class="box-heading">
                              <a href="{%  url 'studio_list' %}" class="m-b-sm">&lt;&lt; Back</a>
                              <h2 > Studio Details
                              </h2>
                           </div>
                             <div class="form-group  text-right">
                                    <a href="{% url 'studio_edit' data.id %}" class="btn btn-default m-r-sm">Edit Details</a>
                                      <a data-toggle="modal" data-target="#Status-modal-detail" class="btn btn-default studio_delete_id" id="delete_studio" data-studio-detail-id="{{data.id}}">Delete Studio</a>
                                 </div>

                           <div class="row">
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                 <div class="detail-title-a">
                                <p style="text-transform: uppercase;"><span>STUDIO Code:</span>{{data.studio_code}}</p>
                                <p><span>Name:</span>{{data.name}}</p>
                                <p><span>Address:</span>{{data.address}}</p>
                                <p><span>City:</span>{{data.city}}</p>
                                <p><span>Country:</span>{{data.country}}</p>
                                 </div>
                              </div>
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="detail-title-a">
                                <p><span>Opening Date: </span>{{data.opening_date}}</p>
                                <p><span>Status: </span>{{data.status}}</p>
                                <p><span>Contact Name:</span>{{data.contact_name}}</p>
                                <p><span>Contact Number:</span>{{data.contact_number}}</p>
                                <p><span>Contact Email:</span>{{data.email}}</p>

                                 </div>
                              </div>
                           </div>
                         <hr/>

                     <div class="property-dtl-tab investor-details student-details" id="studio-details">
                       <ul class="nav nav-tabs " role="tablist">
                         <li role="presentation" class="active">
                           <a href="#prt-tab0" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="false">Teacher
                           </a>
                         </li>
                         <li role="presentation" class="">
                           <a href="#prt-tab1" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="true">Student
                           </a>
                         </li>
                       </ul>
                       <!-- Tab panes -->
                       <div class="tab-content ">

                        <!-- -----tab1 -->
                         <div role="tabpanel" class="tab-pane active" id="prt-tab0">

                           <div class="table-responsive coman-table" id="owner-detail-btn">
                              <table class="table dataTables-example">
                                 <thead>
                                    <tr>
                                       <th>Teacher ID</th>
                                       <th> Name</th>
                                       <th> Email ID</th>
                                       <th>Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for data in teacher %}
                                    <tr>
                                       <td>{{data.teacher_code|upper}}</td>
                                       <td>{{data.full_name}}</td>
                                        <td>{{data.email}}</td>
                                       <td class="add-new"><a href="{% url 'admin/teacher' data.id %}" class="btn btn-default" >View</a></td>
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </div>

                         </div>

                         <!-- -----tab2 -->
                         <div role="tabpanel" class="tab-pane " id="prt-tab1">

                           <div class="table-responsive coman-table" id="owner-detail-btn">
                              <table class="table dataTables-example">
                                 <thead>
                                    <tr>
                                       <th>Student ID</th>

                                       <th> Name</th>
                                         <th> Age</th>
                                           <th> Level</th>
                                              <th> Major</th>
                                       <th>Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for data, dob in zipped_data %}
                                    <tr>
                                       <td>{{data.student_code}}</td>
                                       <td>{{data.full_name}}</td>
                                        <td>{{ dob }}</td>
                                       <td>{% if data.level.level is not None %}{{data.level.level}}{% else %}None{% endif %}</td>
                                        <td>{% if data.major.major is not None %}{{data.major.major}}{% else %}None{% endif %}</td>
                                       <td class="add-new"><a href="{% url 'admin/students/' data.id %}" class="btn btn-default" >View</a></td>
                                    </tr>
                                   {% endfor %}
                                 </tbody>
                              </table>
                           </div>

                         </div>

                       </div>
                        <!-- /Tab panes -->
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md " role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>Are you Sure You want to Delete?</p>
            <div class="text-center">
                <a class="btn btn-default m-r-sm" href="#cong-modal" class="btn btn-default " data-dismiss="modal"
                   data-toggle="modal">Yes</a>
                <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
            </div>
        </div>
    </div>
</div>
<div class="modal coman-modal  fade" id="add-subject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Add a new student to Mr. Havey's Studio <br> pre-explorer. </h2>
            <div class="form-group text-left">
                <label>Select Students:</label>
                <select class="form-control">
                    <option>Select Students</option>
                    <option>Select Students</option>
                    <option>Select Students</option>
                </select>
            </div>

            <a href="#update-modal" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal">Add</a>
            <a class="btn btn-default btn-small" data-dismiss="modal" data-toggle="modal">Cancel</a>
        </div>
    </div>
</div>
<div class="modal coman-modal  fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Edit Subject</h2>
            <div class="form-group text-left">
                <label>Subject Name:</label>
                <select class="form-control">
                    <option>select Subject</option>
                    <option>select Subject</option>
                    <option>select Subject</option>
                </select>

            </div>
            <div class="form-group text-left">
                <label>Subject Level:</label>
                <select class="form-control">
                    <option>select Level</option>
                    <option>select Level</option>
                    <option>select Level</option>
                </select>

            </div>
            <a href="#update-modal" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal">Done</a>
            <a class="btn btn-default btn-small" data-dismiss="modal" data-toggle="modal">Cancel</a>
        </div>
    </div>
</div>
<div class="modal coman-modal  fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
            </div>
            <h2>Added successfully !!</h2>
        </div>
    </div>
</div>
<div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
            </div>
            <h2>Deleted successfully !!</h2>
        </div>
    </div>
</div>
<div class="modal coman-modal  fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Reason</h2>
            <div class="form-group">
                <textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>
            </div>
            <a href="#cong-modal" class="btn m-r-sm btn-default btn-small max-83" data-dismiss="modal"
               data-toggle="modal">Submit</a>
        </div>
    </div>
</div>

<div class="modal coman-modal  fade" id="edit-studio-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Add New Learning Consultants</h2>
            <div class="form-group text-left">
                <label>Name :</label>
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group text-left">
                <label>Date Of Joining :</label>
                <div class="input-group date" data-date-format="dd.mm.yyyy">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                    <input type="text" class="form-control cal-input" placeholder="Date Of Joining">
                </div>
            </div>
            <div class="form-group text-left">
                <label>Email ID :</label>
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group  text-left">
                <label>Contact :</label>
                <input type="number" class="form-control" placeholder="Number">
            </div>
            <div class="form-group text-left">
                <label>Address :</label>
                <textarea class="form-control" placeholder="Address"></textarea>
            </div>
            <div class="form-group text-left">
                <label>Date Of Birth :</label>
                <div class="input-group date" data-date-format="dd.mm.yyyy">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                    <input type="text" class="form-control cal-input" placeholder="Date Of Birth">

                </div>
            </div>
            <a href="#addS-modal" class="btn btn-default btn-small m-t-sm" data-dismiss="modal"
               data-toggle="modal">Add</a>
            <a class="btn btn-default btn-small m-t-sm" data-dismiss="modal" data-toggle="modal">Cancel</a>


        </div>
    </div>
</div>
<!-- Mainly scripts -->
<!--<script src="js/jquery-2.1.1.js"></script>-->
<!--<script src="js/bootstrap.min.js"></script>-->
<!--<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>-->
<!--<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>-->
<!--&lt;!&ndash; Custom and plugin javascript &ndash;&gt;-->
<!--<script src="js/inspinia.js"></script>-->
<!--<script src="js/plugins/pace/pace.min.js"></script>-->
<!--<script src="js/plugins/dataTables/datatables.min.js"></script>-->
<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script>
 $(document).ready(function(){
   $('.dataTables-example').DataTable();
   /* Init DataTables */
 });


</script>
<!-- zoom kyc document -->
<script type="text/javascript">
         // Get the modal
         var modal = document.getElementById("myModal");

         // Get the image and insert it inside the modal - use its "alt" text as a caption
         var img = document.getElementById("myImg");
         var modalImg = document.getElementById("img01");
         var captionText = document.getElementById("caption");
         img.onclick = function(){
           modal.style.display = "block";
           modalImg.src = this.src;
           // captionText.innerHTML = this.alt;
         }

         // Get the <span> element that closes the modal
         function openModal() {
           document.getElementById('myModal').style.display = "block";
         }

         function closeModal() {
           document.getElementById('myModal').style.display = "none";
         }

</script>

<!-- ----------------------------------dlt -->
<div class="modal coman-modal  fade" id="Status-modal-detail" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md " role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>Are you Sure You want to Delete?</p>
            <form method="POST">
                {% csrf_token %}
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" class="btn btn-default " data-dismiss="modal" data-toggle="modal"
                       id="delete_studios_id" href="#cong-modal">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
$(document).on('click', '.studio_delete_id', function (e) {
    $("#delete_studios_id").attr("data-id",this.getAttribute("data-studio-detail-id"));
    });

 $("#delete_studios_id").on('click', function () {
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    var data_id= this.getAttribute("data-id")
    $.ajax({
      type: 'POST',
      url: '/studioDelete/' + this.getAttribute("data-id"),
      data: {
            'csrfmiddlewaretoken':csrf,
            'id': this.getAttribute("data-id"),
      },
      success: function (data) {
        window.location.href = "{% url 'studio_list'  %}";
      }
    });
 });

</script>
{% endblock %}