{% extends 'base.html' %}
{% block data %}
{% load static %}
    <title>All studios</title>
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content" id="history">
                    <div class="box-heading">

                        <h2>All Studios</h2>


                    </div>
                    <div class="form-group text-right">

                        <a href="{% url 'studio_add' %}" class="btn btn-default">Add New Studio</a>
                    </div>
                    <div class="table-responsive coman-table" id="owner-detail-btn">
                        <table class="table dataTables-example">
                            <thead>
                            <tr>
                                <th>Studio Code</th>
                                 <th>Name</th>
                                <th>City</th>
                               <th>Action</th>
                        </tr>
                        </thead>
                          <tbody>
                          {% for data in studios %}
                          <tr id="learning_consultant_{{data.id}}">
                            <td style="text-transform: uppercase;">{{ data.studio_code }}</td>
                              <td>{{data.name}}</td>
                              <td>{{data.city}}</td>
                              <!-- <td>In process</td> -->
                              <td class="add-new"><a href="{% url 'studio_details' data.id %}" class="btn btn-default">View</a>
                                  <a  class="btn btn-default lc_delete_id"  id="delete_announce" data-lc-detail-id="{{data.id}}" data-toggle="modal" data-target="#Status-modal">Delete</a></td>
                          </tr>
                                {% endfor %}

			 					 	  	     </tbody>
			 					 	  </table>
			 					 </div>

			 	  	   	    </div>
			 	  	   </div>
			 	  </div>
			 </div>


		</div>
  <div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
      <div class="modal-dialog modal-md " role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>Are you Sure You want to Delete?</p>
            <form method="POST">
                {% csrf_token %}
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" class="btn btn-default " data-dismiss="modal" data-toggle="modal"
                       id="delete_announcement" >Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </form>


        </div>
    </div>
</div>
<div class="modal coman-modal fade" id="add-subject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Add New studios</h2>

            <div class="form-group text-left">
                <label>Select Subject:</label>
                <select class="form-control">
                    <option>Select Subject</option>
                    <option>select Subject</option>
                    <option>select Subject</option>
                </select>
            </div>
            <div class="form-group text-left">
                <label>Select Level:</label>
                <select class="form-control">
                    <option>Select Level</option>
                    <option>select Level</option>
                    <option>select Level</option>
                </select>
            </div>

            <a href="#update-modal" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal">Done</a>
            <a class="btn btn-default btn-small" data-dismiss="modal" data-toggle="modal">Cancel</a>


        </div>
    </div>
</div>
<div class="modal coman-modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Edit Subject</h2>

            <div class="form-group text-left">
                <label>Subject Name:</label>
                <select class="form-control">
                    <option>select Subject</option>
                    <option>select Subject</option>
                    <option>select Subject</option>
                </select>
                <input type="text" class="form-control" placeholder="Subject Name">
            </div>

            <a href="#update-modal" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal">Done</a>
            <a class="btn btn-default btn-small" data-dismiss="modal" data-toggle="modal">Cancel</a>


        </div>
    </div>
</div>
<div class="modal coman-modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

            </div>
            <h2>Updated successfully !!</h2>


        </div>
    </div>
</div>
<div class="modal coman-modal fade studio-delete-class" id="cong-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

            </div>
            <h2>Deleted successfully !!</h2>


        </div>
    </div>
</div>
<div class="modal coman-modal fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <h2>Reason</h2>
            <div class="form-group">
                <textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>

            </div>
            <a href="#cong-modal" class="btn m-r-sm btn-default btn-small max-83" data-dismiss="modal"
               data-toggle="modal">Submit</a>


        </div>
    </div>
</div>
<div class="modal coman-modal fade" id="add-student-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">http://202.131.123.110:8085/curiookids/principals.html
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Add a new student to Mr. Havey's studio <br> pre-explorer. </h2>
            <div class="form-group text-left">
                <label>Select Students:</label>
                <select class="form-control">
                    <option>Select Students</option>
                    <option>Select Students</option>
                    <option>Select Students</option>
                </select>
            </div>

            <a href="#update-modal" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal">Add</a>
            <a class="btn btn-default btn-small" data-dismiss="modal" data-toggle="modal">Cancel</a>
        </div>
    </div>
</div>
<div class="modal coman-modal fade" id="learning-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2>Add New Studio</h2>
            <div class="form-group text-left">
                <label>Studio Code :</label>
                <input type="text" class="form-control" placeholder="Name" id="studio_code">
            </div>
            <div class="form-group text-left">
                <label>Name :</label>
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group text-left">
                <label>Country :</label>
                <select class="form-control">
                    <option>Center</option>
                    <option>Studio</option>
                </select>
            </div>
            <div class="form-group text-left">
                <label>Opening Date :</label>
                <div class="input-group date" data-date-format="dd.mm.yyyy">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                    <input type="text" class="form-control cal-input" placeholder="Date Of Joining">
                </div>
            </div>
            <div class="form-group text-left">
                <label>Status :</label>
                <select class="form-control">
                    <option>Center</option>
                    <option>Studio</option>
                </select>
            </div>
            <div class="form-group text-left">
                <label>Contact Name:</label>
                <input type="number" class="form-control" placeholder="Number">
            </div>
            <div class="form-group text-left">
                <label>Contact Number:</label>
                <input type="number" class="form-control" placeholder="Number">
            </div>
            <div class="form-group text-left">
                <label>Contact Email ID :</label>
                <input type="email" class="form-control" placeholder="Email">
            </div>

            <div class="form-group text-left">
                <label>Address :</label>
                <textarea class="form-control" placeholder="Address"></textarea>
            </div>

            <a href="#addS-modal" class="btn btn-default btn-small m-t-sm" data-dismiss="modal"
               data-toggle="modal">Add</a>
            <a class="btn btn-default btn-small m-t-sm" data-dismiss="modal" data-toggle="modal">Cancel</a>


        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).on('click', '.lc_delete_id', function (e) {
    $("#delete_announcement").attr("data-id",this.getAttribute("data-lc-detail-id"));
});

$("#delete_announcement").on('click', function () {
    $('#loader').hide();
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    var data_id= this.getAttribute("data-id")
    $('#loader').show();
    $.ajax({
        type: 'POST',
        url: '/studioDelete/' + this.getAttribute("data-id"),
        data: {
            'csrfmiddlewaretoken':csrf,
            'id': this.getAttribute("data-id"),
        },
        success: function (data) {
            setTimeout(function() {
            $('#loader').hide();
            $("#cong-modal").modal('show');
            },750);
            var delayInMilliseconds = 2000;
            setTimeout(function() {
            $("#learning_consultant_"+data_id).fadeOut();
            $('.studio-delete-class').modal('hide');
        }, delayInMilliseconds);
    }
    });
});




</script>
{% endblock %}