<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject Behaviour List</title>
</head>
<body>

{% for subject in subjects %}
    <a href="#" data-target="{% url 'behaviour/' subject.id %}" class="subject"  >{{ subject.subject_name }}</a> <br />
{% endfor %}

<script>
    function get_behaviour(data) {
        console.log("data : ", data)
        var url_link = $('#forgot_form').attr('data-url');
        var email = $('.forgot_email').val();
        $('.forgot_email').val('')
        console.log(url_link, email)
        if (email == '') {
            swal("", "Please Enter Email", "error")
        }
        else {
            $.ajax({
                url: url_link,
                type: "POST",
                dataType: 'text',
                data: {
                    'email': email,
                },
                success: function (data) {
                    console.log('success', data);
                    swal({
                        title: "Success!",
                        text: "Mail has been Sent Successfully",
                        icon: "success",
                        buttons: false
                    });

                    {#function redirect() {#}
                    {#    window.location.href = "{% url 'admin/'  %}";#}


                    setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                },
                error: function (data) {
                    console.log('error', data)
                    swal("", "No User Signed Up with this email.", "error");
                }
            });
        }
        e.stopImmediatePropagation();
        return false;
    }
    $(document).ready(function ()
    {
        $('#loader').hide();
        $('.subject').on('click', get_behaviour(this));
    })

</script>
</body>

</html>