{% extends 'base.html' %}
{% load static %}
{% block data %}
<head>
    <title>All Subjects</title>
</head>

<body>
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-content" id="history">
                    <div class="box-heading">

                        <h2>All Subjects
                        </h2>

                    </div>

                    <div class="form-group  text-right">

                        <a data-toggle="modal" data-target="#add-subject-modal"  class="btn btn-default" id="add_new_subject">Add New
                            Subject</a>
                    </div>

                    <div class="table-responsive coman-table" id="owner-detail-btn">
                        <table class="table dataTables-example">
                            <thead>
                            <tr>
                                <th>Subject Shortcut</th>
                                <th>Subject Name</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in data %}
                            <tr>
                                <td>{{data.subject_code}}</td>
                                <td>{{data.subject_name}}</td>
                                <td class="add-new">
                                    <a data-toggle="modal" data-target="#edit-modal{{data.id}}" id="subject_edit_id"
                                       data-edit-sub="{{data.id}}" class="btn btn-default lc_delete_id" onclick="document.getElementById('subject_edit_shortcut_{{data.id}}').value = '{{ data.subject_code }}'; document.getElementById('subject_edit_name_{{data.id}}').value = '{{ data.subject_name }}';">Edit</a>
                                    <a class="btn btn-default lc_delete_id" id="delete_announce"
                                       data-lc-detail-id="{{data.id}}" data-toggle="modal" data-target="#Status-modal">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
<div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md " role="document">
        <div class="modal-content text-center">
            <p>Are you Sure You want to Delete?</p>
            <form  method="post">
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" href="#cong-modal" class="btn btn-default " id="delete_subject"
                       data-dismiss="modal" data-toggle="modal">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="modal coman-modal  fade" id="add-subject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" onclick="clearTextBox();" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <h2>Add New Subject</h2>
            <div class="form-group text-left">
                <label>Subject Shortcut:</label>
                <input type="text" class="form-control subject-create subject_class"  placeholder="Please Enter Subject Shortcut Code"
                       name="subject_code" id="subject_code" autofocus>
            </div>
            <div class="form-group text-left">
                <label>Subject Name:</label>
                <input type="text" class="form-control subject-create subject_class" placeholder="Please Enter Subject Name"
                       name="subject" id="subject_create">
            </div>

            <input class="btn btn-default btn-small m-r-sm subject-submit" id="subject-submit" type="submit"
                   value="Add">
            <a class="btn btn-default btn-small" data-dismiss="modal" onclick="clearTextBox()"  data-toggle="modal">Cancel</a>

        </div>
    </div>
</div>
{% for data in data %}
<div class="modal coman-modal  fade edit_models" id="edit-modal{{data.id}}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <a type="button" class="close"  data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
            <form  method="post">
                {% csrf_token %}
                <h2>Edit Subject</h2>
                <div class="form-group text-left">
                    <label>Subject Shortcut:</label>
                    <input type="text" class="form-control edit_subject_class subject_class" placeholder="Please Enter Subject Shortcut Code" value="{{ data.subject_code }}" id="subject_edit_shortcut_{{data.id}}" name="subject_shortcut" data-subject-id="{{data.id}}">
                </div>
                <div class="form-group text-left">
                    <label>Subject Name:</label>
                    <input type="text" class="form-control subject_class edit_subject_class" value="{{data.subject_name}}" data-subject-id="{{data.id}}" id="subject_edit_name_{{data.id}}" name="subject_name">
                </div>
                <input type="button" value="Update"  class="btn btn-default btn-small m-r-sm"  onclick="edit_subject(this,{{data.id}});">
                <!--           <a href="#update-modal" class="btn btn-default btn-small m-r-sm" data-dismiss="modal" data-toggle="modal">Update</a>-->
                <a class="btn btn-default btn-small" data-dismiss="modal" data-toggle="modal">Cancel</a>

            </form>

        </div>
    </div>
</div>
{% endfor %}
<div class="modal coman-modal  fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

            </div>
            <h2>Updated successfully !!</h2>


        </div>
    </div>
</div>
<div class="modal coman-modal  fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

            </div>
            <h2>Added successfully !!</h2>


        </div>
    </div>
</div>
<div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <div class="success-msg-icon">
                <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

            </div>
            <h2>Deleted successfully !!</h2>


        </div>
    </div>
</div>
<div class="modal coman-modal  fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-a" role="document">
        <div class="modal-content text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <h2>Reason</h2>
            <div class="form-group">
                <textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>

            </div>
            <a href="#cong-modal" class="btn m-r-sm btn-default btn-small max-83" data-dismiss="modal"
               data-toggle="modal">Submit</a>


        </div>
    </div>
</div>

<div class="modal coman-modal" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p id="error-text">
                </p>
            </div>
        </div>
    </div>

{% endblock %}
{% block custom_js %}

<script>
    $('#add_new_subject').on('click', function () {
        $('#subject_code').val('');
        $('#subject_create').val('');
    });
    $('#add-subject-modal').on('shown.bs.modal', function () {
        $('#subject_code').focus();
    });
</script>

<script>
function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');

        }

function clearTextBox() {
    document.getElementById('subject_create').value = "";
    document.getElementById('subject_code').value = "";

}
</script>

<!-- zoom kyc document -->

<script type="text/javascript">
    	
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");

// Get the <span> element that closes the modal
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

$(".subject-submit").click(function (e) {
    $('#loader').hide();
    var subject = $("#subject_create").val().trim();
    var subjectCode = $("#subject_code").val().trim();

    if (subject == '' || subject.trim().length == 0){
        
        openErrorModal('Please enter subject name.');
        // $("#subject_create").val('');
        // $("#subject_code").val('');

    }else if(subjectCode == '' || subjectCode.trim().length == 0){
        openErrorModal('Please enter subject code.');
    }
    else {
        $('#loader').show();
        $.ajax({
          url: '{% url 'subjects' %}',
          type: 'post',
          data:{
            "subject":subject,
            "subject_code":subjectCode
          },
          success: function (data) {
                $('#loader').hide();
              $("#add-subject-modal").modal("hide");
                var modal = $('#add-modal').modal('show');
                var delayInMilliseconds = 500;
                setTimeout(function() {
                 window.location.href = "{% url 'subjects'  %}";
                    }, delayInMilliseconds);
          },
          error: function (data) {
                $('#loader').hide();
                    console.log('fail', data);
                    console.log('text', data.responseText);
                    openErrorModal(data.responseText);
          }
        });
        e.stopImmediatePropagation();
        e.preventDefault();
    }
});



$(document).on('click', '.lc_delete_id', function (e) {

    $("#delete_subject").attr("data-id",this.getAttribute("data-lc-detail-id"));
 });
 $("#delete_subject").on('click', function () {
    $('#loader').hide();
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    $('#loader').show();
    $.ajax({
      type: 'POST',
      url: '/subjectDelete/' + this.getAttribute("data-id"),
      data: {
            'csrfmiddlewaretoken':csrf,
            'id': this.getAttribute("data-id"),
      },
      success: function (data) {
        $('#loader').hide();
        var modal = $('#Announce-modal').modal('show');
        var delayInMilliseconds = 2000;
        setTimeout(function() {
         window.location.href = "{% url 'subjects'  %}";
            }, delayInMilliseconds);
      }
    });
  });



</script>
<script>
<!--===============================EDIT SUBJECT===========================================-->
function edit_subject(ele,id){

    $('#loader').hide();
    var subject = $("#subject_edit_name_"+id).val().trim();
    var code = $("#subject_edit_shortcut_"+id).val().trim();
    var url = "/admin/subjectEdit/"+id;
    var csrf = $( "input[name$='csrfmiddlewaretoken']" ).val();
    var status = true;
    if (subject == '' || subject.trim().length == 0){
        openErrorModal('Please enter subject name.');
        // $("#subject_edit_"+id).val('');
        status = false;
    }else if(code == '' || subject.trim().length == 0){
        openErrorModal('Please enter subject code.');
    }else{
        if(status){
        $('#loader').show();
        $.ajax({
              url: url,
              type:"POST",
              data:{
                'id':id,
                'csrfmiddlewaretoken':csrf,
                'subject':subject,
                'code': code
              },
              success: function(data){
                $('#loader').hide();
               $("#edit-modal"+id).modal('hide');
                $('#update-modal').modal('show');
                var delayInMilliseconds = 2000;
                setTimeout(function() {
                 window.location.href = "{% url 'subjects'  %}";
                    }, delayInMilliseconds);
              },
            error: function (data) {
                $('#loader').hide();
                    console.log('fail', data);
                    console.log('text', data.responseText);
                    openErrorModal(data.responseText);
          }
        });
        event.stopImmediatePropagation();
        event.preventDefault();
        }
    }
}
</script>

{% endblock %}