<!DOCTYPE html>
<html>
<head>
	<title>Teachers List</title>
</head>
<body>
	<table border="2">
  <tr>
    <th>Tacher Id</th>
    <th>Name</th>
    <th>Center</th>
  </tr>
  {% for teacher in teachers %}
  <tr>
    <td>{{teacher.teacher_code}}</td>
    <td>{{teacher.full_name}}</td>
    <td>{{ teacher.studio }}</td>
    <td><a href="{% url 'admin/teacher' teacher.id %}"><button>View</button></a></td>
    <td><a href="{% url 'admin/teacherDelete/' teacher.id %}" data-method="delete"><button>Delete</button></a></td>
    <td><a href="{% url 'admin/teacher/' teacher.id %}"><button>Edit</button></a></td>
  </tr>
  {% endfor %}
</table>
</body>
</html>