{% extends "base.html" %}
{% load static %}
{% block data %}
<head>
    <title>
        Teacher Report
    </title>
</head>      
         <div class="wrapper wrapper-content">
            
            <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="ibox">
                     <div class="ibox-content" id="studentProfile">
                        
                        <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                             <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                              <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                <a href="{% url 'admin/teacher/reports' %}">&lt;&lt; Back</a>
                                 <div class="pro-box">
                                    <img class="img-responsive" src="{{ teacher.image.url }}">
                                  <!--   <div class="browse-btn">
                                          <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                          <input type="file">
                                     </div> -->
                                 </div>
                                 <div class="stu-details tec-detail">
                                    <div class="row">
                                      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                         <!-- <span style="text-transform: uppercase;color: #63cfe3;font-weight: 600;">Name</span> -->
                                      </div>
                                      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                         <span style="font-weight: 600;color: #63cfe3;">{{ teacher.full_name }}</span>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-8 col-md-12 col-sm-6 col-xs-12">
                                         <span style="text-transform: uppercase;font-weight: 600;">Position ID</span>
                                      </div>
                                      <div class="col-lg-4 col-md-12 col-sm-6 col-xs-12">
                                         <span style="font-weight: 600;color: #63cfe3;">{{ teacher.position_id }}</span>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-8 col-md-12 col-sm-6 col-xs-12">
                                         <span style="text-transform: uppercase;font-weight: 600;">Studio ID</span>
                                      </div>
                                      <div class="col-lg-4 col-md-12 col-sm-6 col-xs-12">
                                         <span style="font-weight: 600;color: #63cfe3;">{{ teacher.studio.studio_code }}</span>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                         <span style="text-transform: uppercase;font-weight: 600;">Email ID</span>
                                      </div>
                                      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                         <span style="font-weight: 600;color: #63cfe3;">{{ teacher.email }}</span>
                                      </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    
                                 </div>

                                 
                              </div>

                              <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                 <div class="">
                                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 pull-right">
                                       <div class="form-group usr-form tReportDate">
                                          <label>Time Period</label>
                                          <div class="input-group date" data-date-format="dd.mm.yyyy">
                                            <div class="input-group-addon">
                                               <span class="glyphicon glyphicon-th"></span>
                                             </div>
                                             <input type="text" class="form-control cal-input" name="daterange" value="" >
                                           </div>
                                       </div>
                                     </div>
                                   <!-- -----------------------------------------------------------------------------------------tabbing -->
                                   <div class="property-dtl-tab investor-details student-details">
                                      
                                      <!-- Tab panes -->
                                      <div class="tab-content">

                                       <!-- -----tab1 -->
                                        <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                          <div class="box-heading row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class=""><h2> Teacher Feedback Report</h2>
                                            </div>
                                            
                                            <hr/>
                                            </div>

                                            <div class="clearfix"></div>

                                          </div>

                                          
                                          <div id="TchartContainer" class="row">
                                            <!-- -------------------pie -->
                                              <div class="col-lg-6 col-md-12">
                                                  <div class="score-card pie-chart-card teacher border">
                                                      <h5 class="chart-title">
                                                          Overall Teacher Feedback
                                                      </h5>
                                                      <div id="chartdiv1" style="width: 80%; height: 400px; background-color: #FFFFFF;" ></div>
                                                     <div class="clearfix"></div>
                                                  </div>
                                              </div>
                                              <!-- ---------------------stack -->
                                              <div class="col-lg-6 col-md-12">
                                                  <div class="score-card pie-chart-card teacher border">
                                                      <h5 class="chart-title">
                                                          Overall Teacher Feedback Subject Wise
                                                      </h5>
                                                      <div id="stackchart1" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
                                                     <div class="clearfix"></div>
                                                  </div>
                                              </div>

                                           </div>

                                           <div id="TchartContainer2" class="row">
                                            <!-- -------------------pie -->
                                            {% for sub in teacher.subject.all %}
                                              <div class="col-lg-6 col-md-12 {{ sub.subject_name }}">
                                                  <div class="score-card pie-chart-card teacher border">
                                                      <h5 class="chart-title">
                                                         {{ sub.subject_name }}
                                                      </h5>
                                                      <div id="chart_{{sub.subject_name}}" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
                                                     <div class="clearfix"></div>
                                                  </div>
                                              </div>
                                              {% endfor %}
                                              <!-- ---------------------stack -->
                                              <!-- <div class="col-lg-6 col-md-12">
                                                  <div class="score-card pie-chart-card teacher border">
                                                      <h5 class="chart-title">
                                                          English
                                                      </h5>
                                                      <div id="chartdivE" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
                                                     <div class="clearfix"></div>
                                                  </div>
                                              </div> -->

                                              <!-- <div class="col-lg-6 col-md-12">
                                                  <div class="score-card pie-chart-card teacher border">
                                                      <h5 class="chart-title">
                                                          Entreprenuer
                                                      </h5>
                                                      <div id="chartdivEntr" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
                                                     <div class="clearfix"></div>
                                                  </div>
                                              </div> -->


                                           </div>




                                        </div>
                                                                       

                                        </div>

                                      </div>
                                      <!-- -----------------------------------------------------------------------------------------/tabbing -->

                                 </div>
                              </div>


                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

{% endblock %}
{% block custom_js %}
     
     <script>
         $(document).ready(function(){
           $('.dataTables-example').DataTable();
           /* Init DataTables */
            }
         );
         
      </script>
      <script type="text/javascript">
            $('.input-group.date').datepicker(
              {format: "dd.mm.yyyy"}
              );
            var datePicker = $(".calendar").datepicker({});
      var t ;
      $( document ).on(
          'DOMMouseScroll mousewheel scroll',
          '#myModal', 
          function(){       
              window.clearTimeout( t );
              t = window.setTimeout( function(){            
                  $('.calendar').datepicker('')
              }, 100 );        
          }
      );

      </script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>

<script>
   function setBarChart(data)
   {
     console.log("in set stacked chart chart");
     chartHtml = `<canvas id="stacked_` + 1 + `" style="display:"block"></canvas>`;
     $('#stackchart1').append(chartHtml)
     liberal_data = []
     moderate_data = []
     conservative_data = []
     strict_data = []

     liberal_color = []
     moderate_color = []
     conservative_color = []
     strict_color = []

     console.log("--------",Object.keys(data['avg']));
     var subjects = Object.keys(data['avg'])
     for (var sub in subjects){
       console.log("sub", subjects[sub])
       strict_data.push(data['avg'][subjects[sub]]["Strict"])
       strict_color.push('#F3ACB3')

       moderate_data.push(data['avg'][subjects[sub]]["Moderate"])
       moderate_color.push('#F6BE57')

       conservative_data.push(data['avg'][subjects[sub]]["Conservative"])
       conservative_color.push('#1691B3')

       liberal_data.push(data['avg'][subjects[sub]]["Liberal"])
       liberal_color.push('#EB5858')
     }
   //   console.log("-----------",Object.values(data['avg'])[0][0])
     // var ctx = document.getElementById("myChart");
     // console.log("ctx--",ctx)
     var chartId = document.getElementById("stacked_" + 1);
     mypieChart = new Chart(chartId, {
         type: 'bar',
         data: {
             labels: Object.keys(data['avg']),
             datasets: [{
                 label: "Liberal",
                 backgroundColor: liberal_color,
                 data: liberal_data
             },{
                 label: "Moderate",
                 backgroundColor: moderate_color,
                 data: moderate_data
             },{
                 label: "Conservative",
                 backgroundColor: conservative_color,
                 data: conservative_data
             },{
                 label: "Strict",
                 backgroundColor: strict_color,
                 data: strict_data
             }]
         },
         options: {
             animation: {
               duration: 10,
             },
             tooltips: {
               mode: 'label',
               
             },
             scales: {
               xAxes: [{ 
                 stacked: true, 
                 gridLines: { display: false },
                 }],
               yAxes: [{ 
                 stacked: true, 
                 }],
             }, // scales
             legend: {display: true}
         } // options
     });
   }

   var mypieChart;
   function setPieChart(data) {
       console.log("in set pie chart");
       chartHtml = `<canvas id="pie_` + 1 + `" style="display:"block"></canvas>`;
       $('#chartdiv1').append(chartHtml)
       // var ctx = document.getElementById("myChart");
       // console.log("ctx--",ctx)
       var chartId = document.getElementById("pie_" + 1);
       mypieChart = new Chart(chartId, {
           type: 'pie',
           data: {
               labels: Object.keys(data['feedback']),
               datasets: [{
                   // label: pie_labels,
                   backgroundColor: ['#F3ACB3', '#1691B3', '#F6BE57', '#EB5858'],
                   data: Object.values(data['feedback'])
               }]
           }
       });
   }

   

 $(document).ready(function () {
   //  alert('123')
   studioId = `{{ teacher.studio.studio_code }}`
   console.log("---option id studioId",studioId);
   
   $.ajax({
      method: "POST",
      url: "/admin/teacher/chart/pie/",
      data: {
         // 'studioId': studioId,
         'teacherId' : `{{ teacher.id }}`,
      },
      success: function (data) {
      console.log("teacher/charts/piee--- data----", data);
      setPieChart(data);
      },
      error: function (error_data) {
         console.log("error")
         console.log(error_data)
      }
   });

   
   $.ajax({
   method: "POST",
   url: "/admin/teacher/chart/bar/",
   data: {
       'teacherId' : `{{ teacher.id }}`,
   },
   success: function (data) {
     // alert(data);
     console.log("data bar chart----", data);
     setBarChart(data);
   },
   error: function (error_data) {
       console.log("error")
       console.log(error_data)
   }
   });
 });
</script>

<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/website/daterangepicker.min.js' %}"></script>

<script>
  $(function() {
    $('input[name="daterange"]').daterangepicker({
      opens: 'left'
    }, function(start, end, label) {
      console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });
  });

  $(document).ready(function(){
      $('input[name="daterange"]').val("")
      var teacher_id = `{{ teacher.id }}`
      showTeacherGraph(teacher_id)
   })

   

   function showTeacherGraph(teacher_id){
      //  alert(opt.value);
      // console.log("opt.value---",opt.value, typeof(opt.value))
      $.ajax({
      method: "POST",
      url: "/admin/teacher/feedback/charts/",
      // url: "/admin/teacher/feedback/",
      data: {
            'teacherID':teacher_id,
      },
      success: function (data) {
         console.log("data---", data);
         
         // function redirect() {
         //   window.location.href = "teacher/feedback/";
         // }

         // setTimeout(redirect, 1000);

         for(var sub in data["subject_total"]){
            console.log("in for")
            setSubGraph(data["subject_total"][sub], sub);
         }
         
      },
      error: function (error_data) {
            console.log("error")
            console.log(error_data)
      }
      });
   }
   
   function setSubGraph(data, sub){
      htmll = `<div class="col-lg-6 col-md-12">
                                      <div class="score-card pie-chart-card teacher border">
                                          <h5 class="chart-title">
                                              ${sub}
                                          </h5>
                                          <div id="chart_${sub.split(" ")[0]}" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
                                        <div class="clearfix"></div>
                                      </div>
                                    </div>`;
                            $('#TchartContainer2').append(htmll)
      chartHtml = `<canvas id="subject_` + sub + `" style="display:"block"></canvas>`;
      $('#chart_'+sub.split(" ")[0]).append(chartHtml)
      var chartId = document.getElementById("subject_" + sub);
      new Chart(chartId, {
         type: 'line',
         data: {
            labels: Object.keys(data),
            datasets: [{
               borderColor: 'orange',
               backgroundColor: 'orange',
               data: Object.values(data)
            }]
         },
         options: {
            responsive: true,
            scales: {
               yAxes: [{
                     ticks: {
                        min: 0,
                        max: 5,
                        stepSize: 1,
                     }
               }]
            }, 
            legend: {
               display: false
            },
         },
      })
   }

   $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
        console.log("Applied");        
        
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        console.log($(this).val());
		teacherId = `{{ teacher.id }}`
		active_status = `{{ teacher.is_active }}`
		console.log("teacherId---",teacherId, 'active_status---',active_status, 'date range--',$(this).val())
        data = {'teacherId': teacherId,"date_range":$(this).val()}
        $.ajax({
          type:'POST',
          url:'/admin/teacher/chart/pie/',
          data:data,
          success: function (data) {
              console.log("date dattaaaaa--------setPieChart", data);
              var e = document.getElementById("chartdiv1")
              var child = e.lastElementChild;
              while (child){
                e.removeChild(child)
                child = e.lastElementChild;
              }
              setPieChart(data);
            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })
        $.ajax({
          type: "POST",
          url: "/admin/teacher/chart/bar/",
          data: data,
          success: function (data) {
            // alert(data);
            console.log("dattaaaaa", data);
            var e = document.getElementById("stackchart1")
            var child = e.lastElementChild;
            while (child){
              e.removeChild(child)
              child = e.lastElementChild;
            }
            setBarChart(data);
          },
          error: function (error_data) {
              console.log("error")
              console.log(error_data)
          }
        });
      })

      function showTeacherGraph(opt){
         //   alert(`{{teacher.id}}`);
           data = {"teacherID":`{{teacher.id}}`}
         //   teacherid = opt.id;
         //   if (teacherid == "teacher-redirect"){
         //     data = {"teacherID":opt.value}
         //   }else if(teacherid == "teacher_status"){
         //     data = {"teacherStatus": opt.value}
         //   }
         //   console.log("Valuessss", data);
          //  status = document.getElementById("teacher_status").value;
          //  console.log("-----status-------", status);
         //   console.log("----teacherid-------", teacherid);
          $.ajax({
            method: "POST",
            url: "/admin/teacher/feedback/charts/",
            data: data,
            success: function (data) {
              console.log("feedback/charts/ -- dattaaaaa", data);
              var e = document.getElementById("TchartContainer2")
              var child = e.lastElementChild;
              while (child){
                e.removeChild(child)
                child = e.lastElementChild;
              }
              for(var sub in data["subject_total"]){
                setSubGraph(data["subject_total"][sub], sub);
              }
              
            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
            });
            
         }
  </script>

  

{% endblock %}

