{% extends 'base.html' %}
{% load static %}
{% block data %}
    <head>
        <title>All Teachers</title>
    </head>

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ibox">
                    <div class="ibox-content" id="history">

                        <div class="box-heading">
                            <h2>All Teachers</h2>
                        </div>

                        <div class="row">
                            {% if request.session.user_type == "Admin" %}
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group  text-left" id="to_remove">
                                    <select class="form-control dropdown-change" id="teacher_studio">
                                        <option selected>All Studio</option>
                                        {% for studio in studios %}
                                            <option value="{{ studio.studio_code }}">{{ studio.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% endif %}

                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group  text-left">
                                    <select class="form-control dropdown-change" id="teacher_status">
                                        <option disabled>Status</option>
                                        <option selected>Active</option>
                                        <option>Inactive</option>
                                    </select>
                                </div>
                            </div>

                            {% if request.session.user_type == "Principal" %}
                            <div class="col-lg-10 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group  text-right">
                                    <a href="{% url 'admin/teacher/reports' %}" class="btn btn-default m-r-sm">View Reports</a>
                                    <a href="{% url 'admin/teacher' %}" class="btn btn-default">Add New Teacher</a>
                                </div>
                            </div>

                            {% else %}
                            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group  text-right">
                                    <a href="{% url 'admin/teacher/reports' %}" class="btn btn-default m-r-sm">View Reports</a>
                                    <a href="{% url 'admin/teacher' %}" class="btn btn-default">Add New Teacher</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
                        <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
                        <script src="{% static 'js/bootstrap.min.js' %}"></script>
                        <div class="table-responsive coman-table teacher-table" id="owner-detail-btn">
                            <table class="table dataTables-example">
                                <thead>
                                <tr>
                                    <th>Teacher ID</th>
                                    <th>Name</th>
                                    <th>Studio</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="table-body">
                                {% if request.session.user_type == "Admin" %}
                                {% for teacher in teachers %}
                                    <tr>
                                        <td>{{ teacher.teacher_code }}</td>
                                        <td>{{ teacher.full_name }}</td>
                                        <td>{{ teacher.studio }}</td>
                                        {#                                <p style="display: none" id="maitri">{{ teacher.id }}</p>#}
                                        <td class="add-new">
                                            <a href="{% url 'admin/teacher' teacher.id %}"
                                               class="btn btn-default">View</a>
                                            <a data-url="{% url 'admin/teacherDelete/' teacher.id %}"
                                               class="btn btn-default"
                                               onclick="getfirstpopup($(this).attr('data-url'))">Delete</a>

                                            <script>
                                                function getfirstpopup(deleteurl) {
                                                    $('#loader').show();

                                                    console.log(deleteurl);

                                                    openConfirmationModal();
                                                    tid = deleteurl

                                                }

                                                function openConfirmationModal() {
                                                    $('#loader').hide();
                                                    $("#Status-modal").modal('show');
                                                }

                                                function openSuccessModal() {
                                                    $('#loader').hide();
                                                    $("#cong-modal").modal('show');
                                                }
                                            </script>

                                            {#                                    {% url 'admin/teacherDelete/' teacher.id %}<a href="#" class="btn btn-default" data-toggle="modal" data-target="#Status-modal">Delete</a>#}
                                        </td>
                                    </tr>
                                {% endfor %}
                                    {% else %}
                                    <script>
                                                function getfirstpopup(deleteurl) {
                                                    console.log(deleteurl);

                                                    openConfirmationModal();
                                                    tid = deleteurl

                                                }

                                                function openConfirmationModal() {
                                                    $('#loader').hide();

                                                    $("#Status-modal").modal('show');
                                                }
                                                $('#loader').show();


                                                function openSuccessModal() {
                                                    $('#loader').hide();

                                                    $("#cong-modal").modal('show');
                                                }
                                            </script>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you Sure You want to Delete?</p>
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" class="btn btn-default " data-dismiss="modal"
                       data-toggle="modal" onclick="changewindowhref()">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>


            </div>
        </div>
    </div>
    <script>
        var tid;
    </script>
    <script>
        function changewindowhref() {
            console.log(tid);
            $('#loader').show();
            $.ajax({
                url: tid,
                type: "GET",

                success: function (data) {
                    console.log('success', data);
                    openSuccessModal();

                    function redirect() {
                        window.location.href = "/admin/teachers";
                    }

                    setTimeout(redirect, 2000);
                },

                error: function (data) {
                    console.log('fail', data);
                }
            })
        }
    </script>

    <div id="myModal" class="modal kyc ">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="img01">
        <!-- <div id="caption"></div> -->
    </div>

    <div class="modal coman-modal  fade" id="sent-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2>Token Transfer</h2>
                <div class="form-group text-left">
                    <label>Wallet Adress :</label>
                    <input type="email" class="form-control" placeholder="Wallet Address">
                </div>
                <div class="form-group text-left">
                    <label>Amount :</label>
                    <input type="email" class="form-control" placeholder="Amount">
                </div>
                <div class="form-group  text-left">
                    <label>Token Name :</label>
                    <select class="form-control">
                        <option>Token 1</option>
                        <option>Token 2</option>
                    </select>
                </div>
                <a href="#cong-modal" class="btn btn-default btn-small m-t-sm" data-dismiss="modal" data-toggle="modal">Send
                    Token</a>
            </div>
        </div>
    </div>


    <div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                </div>
                <h2>Deleted successfully !!</h2>
            </div>
        </div>
    </div>


    <div class="modal coman-modal  fade" id="reject-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h2>Reason</h2>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Enter the Reason of Rejection"></textarea>

                </div>
                <a href="#cong-modal" class="btn m-r-sm btn-default btn-small max-83" data-dismiss="modal"
                   data-toggle="modal">Submit</a>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
                $('.dataTables-example').DataTable();
                /* Init DataTables */
            {% if request.session.user_type == "Principal" %}
                var x = document.getElementsByClassName("dropdown-change");
                var event = new Event('change');
                x[0].dispatchEvent(event);
            {% endif %}
            }
        );
    </script>
    <script>
        $('.dropdown-change').change(function () {
                var status = $("#teacher_status option:selected").val();
                $('#table-body').empty();
                var datatablev = $('.dataTables-example').DataTable();
                datatablev.destroy();
                if (status == "Active") {
                    $('.dataTables-example').DataTable({
                        ajax: {
                            url: '/admin/teachers-api',
                            type: 'GET',
                            data: {
                        {% if request.session.user_type == "Admin" %}
                                "studio": $("#teacher_studio option:selected").val(),
                        {% elif request.session.user_type == "Principal" %}
                                "studio": "{{ user.studio.studio_code }}",
                        {% endif %}
                                "status": $("#teacher_status option:selected").val()
                            }
                        },
                        columns: [
                            {"data": "code"},
                            {"data": "name"},
                            {"data": "center"},
                            {
                                "data": "id", "render": function (data) {
                                    var res = '';
                                    res += '<a href="/admin/teacher/' + data + '" class="btn btn-default">View</a> <a data-url="/admin/teacherDelete/' + data + '" class="btn btn-default" onclick="getfirstpopup($(this).attr(\'data-url\'))">Delete</a>';
                                    //res += '<a data-toggle="modal" data-target="#editR-modal" class="btn btn-default" id="edit_rating_' + data + '" onclick="edit_rating($(this))">Edit</a>&nbsp;<a class="btn btn-default" data-toggle="modal" data-target="#rating-dlt-modal" id="delete_rating_' + data + '" onclick="add_value_del_rating($(this))">Delete</a>';
                                    return res;
                                }
                            }
                        ],
                        columnDefs: [{
                            targets: '_all',
                            className: 'add-new',
                        }

                        ],
                    });
                }
                else {
                    $('.dataTables-example').DataTable({
                        ajax: {
                            url: '/admin/teachers-api',
                            type: 'GET',
                            data: {
                        {% if request.session.user_type == "Admin" %}
                                "studio": $("#teacher_studio option:selected").val(),
                        {% elif request.session.user_type == "Principal" %}
                                "studio": "{{ user.studio.studio_code }}",
                        {% endif %}
                                "status": $("#teacher_status option:selected").val()
                            }
                        },
                        columns: [
                            {"data": "code"},
                            {"data": "name"},
                            {"data": "center"},
                            {
                                "data": "id", "render": function (data) {
                                    var res = '';
                                    res += '<a href="/admin/teacher/' + data + '" class="btn btn-default">View</a> <a data-url="admin/teacherDelete/' + data + '" class="btn btn-default" disabled="true">Delete</a>';
                                    //res += '<a data-toggle="modal" data-target="#editR-modal" class="btn btn-default" id="edit_rating_' + data + '" onclick="edit_rating($(this))">Edit</a>&nbsp;<a class="btn btn-default" data-toggle="modal" data-target="#rating-dlt-modal" id="delete_rating_' + data + '" onclick="add_value_del_rating($(this))">Delete</a>';
                                    return res;
                                }
                            }
                        ],
                         columnDefs: [{
                            targets: '_all',
                            className: 'add-new',
                        }],
                    });
                }
            }
        );
    </script>

    <!-- zoom kyc document -->
    <script type="text/javascript">

        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            // captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        function openModal() {
            document.getElementById('myModal').style.display = "block";
        }

        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }
    </script>
{% endblock %}




