{% extends 'base.html' %}
{% load static %}
{% block data %}

<head>
    <title>Teacher Details</title>
</head>
    <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="ibox">
                        <div class="ibox-content" id="studentProfile">

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileContainer">
                                    <!-- -----------------------------------------------------------------------------------ProfileContainer -->
                                    <div class="profileDetail col-lg-3 col-md-4 col-sm-12 col-xs-12">
                                        <a href="{% url 'admin/teachers' %}">&lt;&lt; Back</a>
                                        <div class="pro-box">
                                            <img class="img-responsive" src="{{teacher.image.url}}" alt="Teacher image" />
{#                                            <img src="{{teacher.image.url}}" alt="Teacher image" />#}
                                            <!--   <div class="browse-btn">
                                                    <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                                                    <input type="file">
                                               </div> -->
                                        </div>
                                        <div class="stu-details tec-detail">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                                                    <!-- <span style="text-transform: uppercase;color: #63cfe3;font-weight: 600;">Name</span> -->
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                                    <span style="font-weight: 600;color: #63cfe3;">{{teacher.full_name}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-8 col-md-12 col-sm-6 col-xs-12">
                                                    <span style="text-transform: uppercase;font-weight: 600;">Position ID</span>
                                                </div>
                                                <div class="col-lg-4 col-md-12 col-sm-6 col-xs-12">
                                                    <span style="color: #63cfe3;font-weight: 600;">{{teacher.position_id}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-8 col-md-12 col-sm-6 col-xs-12">
                                                    <span style="text-transform: uppercase;font-weight: 600;">Studio ID</span>
                                                </div>
                                                <div class="col-lg-4 col-md-12 col-sm-6 col-xs-12">
                                                    <span style="color: #63cfe3;font-weight: 600;">{{teacher.studio.studio_code|upper}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                                                    <span style="text-transform: uppercase;font-weight: 600;">Email ID</span>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <span style="color: #63cfe3;font-weight: 600;">{{teacher.email}}</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                                        <div class="">
                                            <!-- -----------------------------------------------------------------------------------------tabbing -->
                                            <div class="property-dtl-tab investor-details student-details">
                                                <ul class="nav nav-tabs " role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#prt-tab0" aria-controls="home" role="tab"
                                                           data-toggle="tab" aria-expanded="false">Teacher Details
                                                        </a>
                                                    </li>
                                                    <!--  <li role="presentation" class="">
                                                       <a href="#prt-tab1" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Feedback Report
                                                       </a>
                                                     </li> -->

                                                    <li role="presentation" class="">
                                                        <a href="#prt-tab4" aria-controls="profile" role="tab"
                                                           data-toggle="tab" aria-expanded="true">Add Comment
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!-- Tab panes -->
                                                <div class="tab-content ">

                                                    <!-- -----tab1 -->
                                                    <div role="tabpanel" class="tab-pane active" id="prt-tab0">
                                                        <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12"><h2>
                                                                    Teacher Details</h2>
                                                                </div>
                                                                <div class="stu-btn col-lg-8 col-md-9 col-sm-12 col-xs-12">
                                                                 {% if teacher.is_active == True %}
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                        <a href="{% url 'admin/teacher/' teacher.id %}"
                                                                           class="btn btn-default full-width">Edit Details</a>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                        <a data-url="{% url 'admin/teacherDelete/' teacher.id %}"
                                                                           class="btn btn-default full-width" onclick="getfirstpopup($(this).attr('data-url'))">Delete Teacher</a>
                                                                    </div>
                                                                   {% else %}
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                        <a href="{% url 'admin/teacher/' teacher.id %}"
                                                                           class="btn btn-default full-width">Edit Details</a>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                        <a disabled class="btn btn-default full-width">Delete Teacher</a>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>

                                                            <div class="clearfix"></div>
                                                            <hr/>
                                                        </div>

                                                        <script>
                                                            var tid;
                                                        function getfirstpopup(deleteurl) {

                                                            openConfirmationModal()
                                                            tid =deleteurl

                                                        }
                                                        function openConfirmationModal() {
                                                                $("#Status-modal").modal('show');
                                                            }

                                                        function redirect() {
                                                            window.location.href = "/admin/teachers";
                                                        }

                                                        function openSuccessModal() {
                                                                $("#cong-modal").modal('show');
                                                            }

                                                        function changewindowhref() {
                                                                $.ajax({
                                                                    url: tid,
                                                                    type: "GET",

                                                                    success: function (data) {
                                                                        console.log('success', data);
                                                                        openSuccessModal();
                                                                        function redirect() {
                                                                            window.location.href = "/admin/teachers";
                                                                                            }
                                                                            setTimeout(redirect, 2000);
                                                                    },

                                                                    error: function (data) {
                                                                        console.log('fail', data);
                                                                    }
                                                                })
                                                            }
                                                         </script>
                                                         <script>
                                                        var comment_url;
                                                        function openfirstpopupComment(urldata)
                                                        {
                                                            $('#Comment-Status-modal').modal('show');
                                                            comment_url=urldata
                                                        }

                                                        function openCommentDeleteSuccessModal() {
                                                            $('#Comment-cong-modal').modal('show');
                                                        }

                                                        function deletecomment() {

                                                            $.ajax({
                                                                url: comment_url,
                                                                type: "GET",

                                                                success: function (data) {
                                                                    console.log('success', data);
                                                                    openCommentDeleteSuccessModal();

                                                                    function redirect() {
                                                                        location.reload()
                                                                    }

                                                                    setTimeout(redirect, 2000);
                                                                },

                                                                error: function (data) {
                                                                    console.log('fail', data);
                                                                    openErrorModal(data['responseText']);
                                                                    function redirect() {
                                                                        location.reload()
                                                                    }

                                                                    setTimeout(redirect, 2000);
                                                                }
                                                            })
                                                        }

                                                    </script>



                                                        <div class="tecdetail">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Name</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <h3>{{teacher.full_name}}<br/>
                                                                        </h3>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Date Of Birth</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        <h3>{{teacher.dob | date:"M d, Y" }}</h3>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Gender</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {{teacher.gender}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Nationality</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {{teacher.nationality}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Date Of Joining</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {{teacher.doj | date:"M d, Y"}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Position</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {{teacher.position}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Position ID</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {{teacher.position_id}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Studio ID</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {{teacher.studio.studio_code|upper}}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Highest Education Level</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {{teacher.education_level | capfirst}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Education Major</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {{teacher.education_major}}
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="row">

                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Email ID</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {{teacher.email}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">

                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Mobile Number</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {{teacher.phone}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">

                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Emergency Contact Name</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {{teacher.emergency_contact_name}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Emergency Number</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {{teacher.emergency_phone}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <label>Subject</label>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                    <div class="form-group usr-form">
                                                                        {% for subject in subjects %}
                                                                            {% if forloop.last == True %}
                                                                                {{subject}}
                                                                            {% else %}
                                                                                {{ subject }},
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="clearfix"></div>

                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <hr/>
                                                        </div>

                                                        <!-- ---------------------------data table -->
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="table-responsive">
                                                                <table class="table" id="multi-column-dt-teacher-lessons">
                                                                    <thead>
                                                                    <tr role="row">
                                                                        <th>Subject
                                                                        </th>
                                                                        <th>Lesson
                                                                        </th>
                                                                        <th>Timings
                                                                        </th>
                                                                    </tr>
                                                                    </thead>


                                                                    <tbody>
                                                                    {% for class in schedule_classes %}
                                                                    <tr>

                                                                        <td> {{ class.lesson.subject.subject_name }}</td>
                                                                        <td> {{class.lesson.lesson_code}}</td>
                                                                        <td> {{class.class_start_time | date:"H:i"}}</td>

                                                                    </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>


                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <!-- -----tab2 -->
                                                    <!-- <div role="tabpanel" class="tab-pane" id="prt-tab1">
                                                        <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                          <h2 class="col-lg-6 col-md-3 col-sm-12 col-xs-12"> Teacher Feedback
                                                          </h2>
                                                          <div class="clearfix"></div>
                                                          <hr/>
                                                        </div>

                                                    </div> -->
                                                    <!-- -----tab3 -->
                                                    <div role="tabpanel" class="tab-pane " id="prt-tab2">


                                                    </div>

                                                    <!-- <div role="tabpanel" class="tab-pane" id="prt-tab3">
                                                      <div class="box-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                        <div class="col-lg-6 col-md-3 col-sm-12 col-xs-12"> <h2>Contact Information</h2>
                                                        </div>
                                                        <div class="stu-btn col-lg-6 col-md-9 col-sm-12 col-xs-12">
                                                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                          </div>
                                                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                             <a href="editTeacherDetail.html" class="btn btn-default full-width">Edit Teacher</a>
                                                          </div>
                                                        </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <hr/>
                                                      </div>

                                                      <div class="teccontactdetail">
                                                      <div class="row">
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <label>Father's Name</label>
                                                      </div>
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <div class="form-group usr-form">
                                                             <h3>Mr. XYZ Khatri</h3>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <label>Father's Number</label>
                                                      </div>
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <div class="form-group usr-form">
                                                             <h3>1234567890</h3>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <label>Father's Email ID</label>
                                                      </div>
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <div class="form-group usr-form">
                                                             <h3>parent@gmail.com</h3>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <label>Mother's Name</label>
                                                      </div>
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <div class="form-group usr-form">
                                                            <h3>Mrs. ABC Khatri</h3>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <label>Mother's Number</label>
                                                      </div>
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <div class="form-group usr-form">
                                                            <h3>Mrs. ABC Khatri</h3>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <label>Mother's Email ID</label>
                                                      </div>
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <div class="form-group usr-form">
                                                            <h3>parent@gmail.com</h3>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="row">
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <label>Address</label>
                                                      </div>
                                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                         <div class="form-group usr-form">
                                                            <h3>XYZ</h3>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>

                                                      <div class="clearfix"></div>
                                                    </div> -->

                                                    <div role="tabpanel" class="tab-pane teacher-comment" id="prt-tab4">

                                                        <div class="box-heading col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                        <form data-url="{% url 'admin/comments' 'Teacher' teacher.id %}" method="POST" enctype="multipart/form-data"
                                                              id="add-comments">

                                                            <h2>Add Comment</h2>
                                                            <textarea class="form-control" rows="15" name="message"
                                                                      id="comment_text"></textarea>
                                                            <br/>
                                                            <input type="hidden" value="Teacher"
                                                                   name="commented_on_type">
                                                            <input type="hidden" value="{{ teacher.id }}"
                                                                   name="commented_on_id">
                                                            <div class="comment-btn text-right">
                                                                <button type="button" class="btn btn-default" id="add-new-comment">Post</button>&nbsp;<button type="button"
                                                                                                                class="btn btn-default " onclick="clearCommentText()">Clear</button>
                                                            </div>
                                                        </form>
                                                        </div>
                                                        <div class="box-heading col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                            <h2>Previous Comments
                                                            </h2>
                                                            <div class="pull-right col-lg-12 col-xs-12">
                                                                <div class="row">
                                                                    <div class="row">
                                                                        <div class="comment-box">
                                                                    {% for comment in comments %}

                                                                            <div class="cmt-box">
                                                                                <a data-url="{% url 'admin/commentDelete/' comment.id %}" class="cls-cmt" onclick="openfirstpopupComment($(this).attr('data-url'))">&times;</a>
                                                                                <div class="cmt-box-img">
                                                                                    <img class="img-responsive"
                                                                                         src="{{ comment.image }}">
                                                                                </div>
                                                                                <div class="cmt-box-detail">
                                                                                    <h3>{{ comment.commented_by_id }}</h3>
                                                                                    <h4>{{ comment.message }}</h4>
                                                                                    <h3><span>{{ comment.created_at }}</span>
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                    {% endfor %}

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>

                                            </div>
                                            <!-- -----------------------------------------------------------------------------------------/tabbing -->

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#    </div>#}

    <!-- ----------------------------------dlt -->
    <div class="modal coman-modal  fade" id="Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you Sure You want to Delete?</p>
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" class="btn btn-default " data-dismiss="modal"
                       data-toggle="modal" onclick="changewindowhref()">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </div>
        </div>
    </div>

    <!-- ----------------------------------dlt-conf -->
    <div class="modal coman-modal  fade" id="cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                </div>
                <h2>Deleted successfully !!</h2>
            </div>
        </div>
    </div>

    <!-- ------------------------------------post -->
    <div class="modal coman-modal  fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>

                </div>
                <h2>Posted successfully !!</h2>
            </div>
        </div>
    </div>

    <div class="modal coman-modal" id="wrong-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                    <span aria-hidden="true">×</span>
                </button>

                <h1>Error</h1>
                <div class="wrong-msg-icon">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <p id="error-text">
                </p>
            </div>
        </div>
    </div>

    <!-- ----------------------------------dlt comment -->
    <div class="modal coman-modal  fade" id="Comment-Status-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md " role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Are you Sure You want to Delete?</p>
                <div class="text-center">
                    <a class="btn btn-default m-r-sm" class="btn btn-default " data-dismiss="modal" data-toggle="modal"
                       onclick="deletecomment()">Yes</a>
                    <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal">No</a>
                </div>
            </div>
        </div>
    </div>



    <!-- ----------------------------------dlt-conf of comment -->
    <div class="modal coman-modal  fade" id="Comment-cong-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-a" role="document">
            <div class="modal-content text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="success-msg-icon">
                    <i class="fa fa-check-circle m-b-0" aria-hidden="true"></i>
                </div>
                <h2>Deleted successfully !!</h2>
            </div>
        </div>
    </div>


    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
<script>
function clearCommentText() {
    document.getElementById("comment_text").value = "";
}
</script>


<script>

$(document).ready(() => {
      let url = location.href.replace(/\/$/, "");

      if (location.hash) {
        const hash = url.split("#");
        $('.student-details a[href="#'+hash[1]+'"]').tab("show");
        url = location.href.replace(/\/#/, "#");
        history.replaceState(null, null, url);
        setTimeout(() => {
          $(window).scrollTop(0);
        }, 400);
      }

      $('a[data-toggle="tab"]').on("click", function() {
        let newUrl;
        const hash = $(this).attr("href");
        if(hash == "#home") {
          newUrl = url.split("#")[0];
        } else {
          newUrl = url.split("#")[0] + hash;
        }
        newUrl += "/";
        history.replaceState(null, null, newUrl);
      });
    });
</script>



<script>
        function openCommentSuccessModal(msg) {
            // $('#error-text').text(msg);
            $('#comment-success-text').text(msg);
            $("#update-modal").modal('show');
        }

        function openErrorModal(msg) {
            $('#error-text').text(msg);
            $("#wrong-msg").modal('show');
        }

        function closeModal() {
            $("#wrong-msg").modal('hide');
        }
    </script>

    <script>
        $(document).ready(function () {
                $('.dataTables-example').DataTable();
                /* Init DataTables */
            }
        );

    </script>
    <script type="text/javascript">
        $('.input-group.date').datepicker(
            {format: "dd.mm.yyyy", autoclose: true}
        );
        var datePicker = $(".calendar").datepicker({});
        var t;
        $(document).on(
            'DOMMouseScroll mousewheel scroll',
            '#myModal',
            function () {
                window.clearTimeout(t);
                t = window.setTimeout(function () {
                    $('.calendar').datepicker('')
                }, 100);
            }
        );

    </script>

    <script>
        var submit_data = function (e) {
            var formdata = new FormData();
            let flag = 0;
            var url_link = $('#add-comments').attr('data-url');

            var comment_text = $('#comment_text').val();
            console.log('comment_text', comment_text);
            if (comment_text == '' || comment_text.trim().length == 0) {
                console.log('sadsagdh', comment_text);
                openErrorModal("Please enter text into comment box");
            } else {
                formdata.append("message", comment_text);

                console.log(url_link);
                var csrf_token = "{{ csrf_token }}";
                if (flag == 0) {
                    $.ajax({
                        headers: {"X-CSRFToken": csrf_token},
                        url: url_link,
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: formdata,
                        success: function (data) {
                            console.log('success', data);
                            clearCommentText();
                            var cmt_div = '<div class="cmt-box"><a href="#" class="cls-cmt">&times;</a><div class="cmt-box-img"><img class="img-responsive" src="' + data.image + '"></div><div class="cmt-box-detail"><h3>' + data.comment_by + '</h3><h4>' + data.comment + '</h4><h3><span>' + data.created_at + '</span></h3></div></div>'
                            $('.comment-box').append(cmt_div);

                            openCommentSuccessModal(data);

                            function redirect() {
                                $("#update-modal").modal('hide');
                                location.reload()
                            }

                            setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                        },
                        error: function (data) {
                            console.log('fail', data);
                            console.log('text', data.responseText);
                            openErrorModal(data.responseText);
                            function redirect() {

                                location.reload()
                            }

                            setTimeout(redirect, 2000); //2000 is equivalent to 2 seconds
                        }
                    });
                    e.stopImmediatePropagation();
                    e.preventDefault();
                } else {
                    console.log('no ajax call yet');
                    return false;
                }
            }
        };
        $('#add-new-comment').on('click', submit_data);
    </script>


{% endblock %}
