<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Details</title>
</head>
<body>
<h1>Teacher Details</h1>
<img src="{{teacher.image.url}}" alt="Teacher image" /> <br>

<p>Teacher id: {{teacher.teacher_code}} </p> <br>
<p>Teacher Name:{{teacher.title}} {{teacher.full_name}} </p> <br>
<p>birth date:{{teahcer.dob}} </p> <br>
<p>gender:{{teahcer.gender}} </p> <br>
<p>nationality:{{teahcer.nationality}} </p> <br>
<p>doj:{{details.doj}} </p> <br>
<p>position: {{teacher.position}}</p> <br>
<p>position ID: {{teacher.position_id}}</p> <br>
<p>Studio: {{teacher.studio.studio_code}}</p> <br>
<p>Highest Education Level: {{teacher.education_level}}</p> <br>
<p>Education Major: {{teacher.education_major}}</p> <br>
<p>email: {{teacher.email}}</p> <br>
<p>contact:{{teacher.phone}} </p> <br>

<p>Emergency Contact Name:{{teacher.emergency_contact_name}} </p> <br>
<p>Emergency Mobile Number:{{teacher.emergency_phone}} </p> <br>
<p>subject:{% for subject in subjects %}{{subject}} {% endfor %}</p> <br>


</body>
</html>