{% extends "base.html" %}
{% load static %}
{% block data %}
<head>
    <title>
        Teacher Report
    </title>
</head>
<div class="wrapper wrapper-content">
            
  <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ibox">
           <div class="ibox-content" id="studentProfile">
              <div class="box-heading">
                <a href="{% url 'admin/teachers' %}">&lt;&lt; Back</a><br/><br/>
                <h2>Reports of Teachers
                </h2>
              </div>
              <div class="row">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                   <div class="row">
                      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group  text-left">
                          <select class="form-control dropdown-change" id="teacher_studio" onchange="setClearGraphs();">
                            <!-- <option selected>All Studio</option> -->
                            {% for studio in studios %}
                                <option id="{{studio.id}}" value="{{ studio.id }}">{{ studio.name }}</option>
                            {% endfor %}
                        </select>
                        </div>
                      </div>
                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                      <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
                      <script>
                          var mypieChart;
                          //Set charts ------------------------------------------
                          function setPieChart(data) {
                              console.log("in set pie chart");
                              chartHtml = `<canvas id="pie_` + 1 + `" style="display:"block"></canvas>`;
                              $('#chartdiv1').append(chartHtml)
                              // var ctx = document.getElementById("myChart");
                              // console.log("ctx--",ctx)
                              var chartId = document.getElementById("pie_" + 1);
                              mypieChart = new Chart(chartId, {
                                  type: 'pie',
                                  data: {
                                      labels: Object.keys(data['feedback']),
                                      datasets: [{
                                          // label: pie_labels,
                                          backgroundColor: ['#F3ACB3', '#1691B3', '#F6BE57', '#EB5858'],
                                          data: Object.values(data['feedback'])
                                      }]
                                  }
                              });
                          }
                          function setBarChart(data)
                          {
                            console.log("in set stacked chart chart");
                            chartHtml = `<canvas id="stacked_` + 1 + `" style="display:"block"></canvas>`;
                            $('#stackchart').append(chartHtml)
                            liberal_data = []
                            moderate_data = []
                            conservative_data = []
                            strict_data = []

                            liberal_color = []
                            moderate_color = []
                            conservative_color = []
                            strict_color = []

                            console.log("--------",Object.keys(data['avg']));
                            var subjects = Object.keys(data['avg'])
                            for (var sub in subjects){
                              console.log("sub", subjects[sub])
                              strict_data.push(data['avg'][subjects[sub]]["Strict"])
                              strict_color.push('#F3ACB3')

                              moderate_data.push(data['avg'][subjects[sub]]["Moderate"])
                              moderate_color.push('#F6BE57')

                              conservative_data.push(data['avg'][subjects[sub]]["Conservative"])
                              conservative_color.push('#1691B3')

                              liberal_data.push(data['avg'][subjects[sub]]["Liberal"])
                              liberal_color.push('#EB5858')
                            }
                            // console.log("-----------",Object.values(data['avg'])[0][0])
                            // var ctx = document.getElementById("myChart");
                            // console.log("ctx--",ctx)
                            var chartId = document.getElementById("stacked_" + 1);
                            mypieChart = new Chart(chartId, {
                                type: 'bar',
                                data: {
                                    labels: Object.keys(data['avg']),
                                    datasets: [{
                                        label: "Liberal",
                                        backgroundColor: liberal_color,
                                        data: liberal_data
                                    },{
                                        label: "Moderate",
                                        backgroundColor: moderate_color,
                                        data: moderate_data
                                    },{
                                        label: "Conservative",
                                        backgroundColor: conservative_color,
                                        data: conservative_data
                                    },{
                                        label: "Strict",
                                        backgroundColor: strict_color,
                                        data: strict_data
                                    }]
                                },
                                options: {
                                    animation: {
                                      duration: 10,
                                    },
                                    tooltips: {
                                      mode: 'label',
                                      
                                    },
                                    scales: {
                                      xAxes: [{ 
                                        stacked: true, 
                                        gridLines: { display: false },
                                        }],
                                      yAxes: [{ 
                                        stacked: true, 
                                        }],
                                    }, // scales
                                    legend: {display: true}
                                } // options
                            });
                          }
                          function setSubGraph(data, sub){
                            htmll = `<div class="col-lg-6 col-md-12">
                                      <div class="score-card pie-chart-card teacher border">
                                          <h5 class="chart-title">
                                              ${sub}
                                          </h5>
                                          <div id="chart_${sub.split(" ")[0]}" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
                                        <div class="clearfix"></div>
                                      </div>
                                    </div>`;
                            $('#subCharts').append(htmll)
                            chartHtml = `<canvas id="subject_` + sub + `" style="display:"block"></canvas>`;
                            $('#chart_'+sub.split(" ")[0]).append(chartHtml)
                            var chartId = document.getElementById("subject_" + sub);
                            new Chart(chartId, {
                            type: 'line',
                            data: {
                              labels: Object.keys(data),
                              datasets: [{
                                borderColor: 'orange',
                                backgroundColor: 'orange',
                                data: Object.values(data)
                              }]
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            min: 0,
                                            max: 5,
                                            stepSize: 1,
                                        }
                                    }]
                                }, 
                                legend: {
                                    display: false
                                },
                            },
                          });
                        }
                        //Set charts End------------------------------------------
                        function getPieData() {
                          console.log(document.getElementById("teacher_studio").value);
                          studioId = document.getElementById("teacher_studio").value;
                          active_status = document.getElementById("teacher_status").value;
                          console.log("---option id");
                          data = {'studioId': studioId, "teacher_status":active_status}
                          console.log("GetPieData",data);
                          $.ajax({
                          method: "POST",
                          url: "/admin/teacher/charts/",
                          data: data,
                          success: function (data) {
                            console.log("pieee dattaaaaa", data);
                            setPieChart(data);
                            for(var i in data['teacher_detail'])
                            {
                              console.log("options----", data['teacher_detail'][i]['full_name'])
                              html_teacherOptions = `<option value="${data['teacher_detail'][i]['id']}"> ${data['teacher_detail'][i]['full_name']} </option>`;
                              $("#teacher-redirect").append(html_teacherOptions);
                            }
                          },
                          error: function (error_data) {
                              console.log("error")
                              console.log(error_data)
                          }
                          });
                        }
                        function getBarData(){
                          console.log("In bar chart")
                          console.log(document.getElementById("teacher_studio").value);
                          studioId = document.getElementById("teacher_studio").value;
                          active_status = document.getElementById("teacher_status").value;
                          console.log("---option id");
                          data = {'studioId': studioId, "teacher_status":active_status}
                          $.ajax({
                          method: "POST",
                          url: "/admin/teacher/feedback/",
                          data: data,
                          success: function (data) {
                            // alert(data);
                            console.log("dattaaaaa", data);
                            setBarChart(data);
                            static_option = `<option> Teacher </option>`;
                            $("#teacher-redirect").append(static_option);
                            for(var j in data['teacher_option'])
                            {
                              console.log("options----", data['teacher_option'][j]['full_name'])
                              html_teacherOptions = `<option value="${data['teacher_option'][j]['id']}"> ${data['teacher_option'][j]['full_name']} </option>`;
                              $("#teacher-redirect").append(html_teacherOptions);
                            }
                          },
                          error: function (error_data) {
                              console.log("error")
                              console.log(error_data)
                          }
                          });
                        }
                        $(document).ready(function () {
                          getPieData();
                          getBarData();                        
                        });
                        function setClearGraphs(){ 
                          var e = document.getElementById("chartdiv1")
                          var child = e.lastElementChild;
                          while (child){
                            e.removeChild(child)
                            child = e.lastElementChild;
                          }
                          var e = document.getElementById("stacked_1")
                          var child = e.lastElementChild;
                          while (child){
                            e.removeChild(child)
                            child = e.lastElementChild;
                          }
                          var e = document.getElementById("teacher-redirect")
                          var child = e.lastElementChild;
                          while (child){
                            e.removeChild(child)
                            child = e.lastElementChild;
                          }
                          getPieData();
                          getBarData();
                        }
                      </script>
                
                      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group  text-left">
                          <select class="form-control dropdown-change" id="teacher_status" onchange="setClearGraphs();">
                            <option selected >Status</option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                        </div>
                      </div> 
                      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group  text-left">
                          <select id="teacher-redirect" class="form-control">
                            
                            
                          
                            
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 pull-right">
                        <div class="form-group usr-form tReportDate">
                           <label>Time Period</label>
                           <div class="input-group date" data-date-format="dd.mm.yyyy">
                             <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                              </div>
                              <input type="text" class="form-control cal-input" name="daterange" value="" >
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
             </div>

             <div id="TchartContainer" class="row">
              <!-- -------------------pie -->
                <div class="col-lg-6 col-md-12">
                    <div class="score-card pie-chart-card teacher border">
                        <h5 class="chart-title">
                            Overall Teacher Feedback
                        </h5>
                        <div id="chartdiv1" style="width: 60%; height: 500px; background-color: #FFFFFF;" ></div>
                       <div class="clearfix"></div>
                    </div>
                </div>
                <!-- ---------------------stack -->
                <div class="col-lg-6 col-md-12">
                    <div class="score-card pie-chart-card teacher border">
                        <h5 class="chart-title">
                            Overall Teacher Feedback Subject Wise
                        </h5>
                        <div id="stackchart" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
                       <div class="clearfix"></div>
                    </div>
                </div>
              </div>
                <!-------------subject wise-->
                <div id="subCharts" class="row">
                
              </div>

             

          </div>
       </div>
    </div>
 </div>
</div>
{% endblock %}
{% block custom_js %}
       <!-- ----------chartjs -->
      <!-- <script src="{% static 'js/amcharts.js' %}"></script>
      <script src="{% static 'js/pie.js' %}"></script>  
      <script src="{% static 'js/piechart.js' %}"></script>
      <script src="{% static 'js/serial.js' %}"></script>  
      <script src="{% static 'js/light.js' %}"></script> 
      <script src="{% static 'js/stackchart.js' %}"></script>  -->

      <script type="text/javascript" src="{% static 'js/website/moment.min.js' %}"></script>
      <!-- <script type="text/javascript" src="js/daterangepicker.min.js"></script> -->


      <script>
         $(document).ready(function(){
           $('.dataTables-example').DataTable(                       );
           /* Init DataTables */
           console.log("Select option", document.getElementById("teacher_studio").value);
           
            
            // $("#teacher-redirect").on('change', function(){
            //   /*alert(this);*/
            //   window.location.href = "./teacherFeedbackReport.html" ;
            // });

         });
         
         
      </script>

      <script>
      $(function() {
        $('input[name="daterange"]').daterangepicker({
          opens: 'left'
        }, function(start, end, label) {
          console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
      });
      $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
        console.log("Applied");        
        // setClearGraphs();
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        console.log($(this).val());
        studioId = document.getElementById("teacher_studio").value;
        active_status = document.getElementById("teacher_status").value;
        data = {'studioId': studioId, "teacher_status":active_status, "date_range":$(this).val()}
        $.ajax({
          url:'/admin/teacher/charts/',
          type:'POST',
          data:data,
          success: function (data) {
              console.log("date dattaaaaa", data);
              var e = document.getElementById("chartdiv1")
              var child = e.lastElementChild;
              while (child){
                e.removeChild(child)
                child = e.lastElementChild;
              }
              setPieChart(data);
              for(var i in data['teacher_detail'])
              {
                console.log("options----", data['teacher_detail']['full_name'][i])
                html_teacherOptions = `<option value="${data['teacher_detail'][i]['id']}"> ${data['teacher_detail'][i]['full_name']} </option>`;
                $("#teacher-redirect").append(html_teacherOptions);
              }
              
            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
        })
        $.ajax({
          type: "POST",
          url: "/admin/teacher/feedback/",
          data: data,
          success: function (data) {
            // alert(data);
            console.log("dattaaaaa", data);
            var e = document.getElementById("stackchart")
            var child = e.lastElementChild;
            while (child){
              e.removeChild(child)
              child = e.lastElementChild;
            }
            setBarChart(data);
            // for(var j in data['teacher_option'])
            // {
            //   console.log("options----", data['teacher_option'][j]['full_name'])
            //   html_teacherOptions = `<option value="${data['teacher_option'][j]['id']}"> ${data['teacher_option'][j]['full_name']} </option>`;
            //   $("#teacher-redirect").append(html_teacherOptions);
            // }
          },
          error: function (error_data) {
              console.log("error")
              console.log(error_data)
          }
        });
      })
//particular teacher
$("#teacher-redirect").on('change',function(){
    var tid = $("#teacher-redirect").val()
    var sid = $("#teacher_status").val()
    var status = $("#teacher_studio").val()
    console.log("tid---",tid, typeof(tid))
    $.ajax({
            method: "GET",
            // url: "/admin/teacher/feedback/charts/",
            url: "/admin/teacher/feedback/"+tid,
            data: {
                'teacherID': tid,
            },
            success: function (data) {
              console.log("dattaaaaa", data);
              
              function redirect() {
                window.location.href = "/admin/teacher/feedback/"+tid;
              }
              redirect()
              // setTimeout(redirect, 1000);

              // for(var sub in data["subject_total"]){
              //   setSubGraph(data["subject_total"][sub], sub);
              // }
              
            },
            error: function (error_data) {
                console.log("error")
                console.log(error_data)
            }
          });
  })
      </script>
<script type="text/javascript" src="{% static 'js/website/daterangepicker.min.js' %}"></script>
      
{% endblock %}
